[2022-08-22 06:56] stewrutledge commented on #1088
We are building packages locally:

`pip install  --target=".python_packages/lib/site-packages"  -r requirements.txt`

Then deploying with `--no-build`

@kkrellwitz or @Leonidas-MOH are you building locally or remotely?

[2022-08-22 06:57] poulDanielsen commented on #1061
This has now been resolved for my currently deployed functions on "Europe West", without me changing any code.

Seems like the workers running in that region have been updated.

[2022-08-22 07:44] Leonidas-MOH commented on #1088
Hello

I do publish with --build remote

I have set FUNCTIONS_WORKER_PROCESS_COUNT to 1 and this seems to work.I will wait till the app gets in a really busy state to confirm if it is OK.

I will try the solution you mention later on.
This will upload the libs source to ".python_packages/lib/site-packages" to prevent the build process to fetch them again;

Καπασακάλης Λεωνίδας

IT Department

[Mot

[2022-08-22 08:58] stewrutledge commented on #1088
I found this commit:

https://github.com/Azure/azure-functions-python-worker/commit/b1085b5bbba2b4e71043f1de3d3bbfab9efa0d0b

Related to a preview feature. It seems like the new default conflicts with the documentation:

[PYTHON_ISOLATE_WORKER_DEPENDENCIES_DEFAULT](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#python_isolate_worker_dependencies-preview)

Which state

[2022-08-22 12:32] kkrellwitz commented on #1088
@stewrutledge We use Azure DevOps pipeline to do the build and deploy.  The function has been running fine for about a year without issue.  Recently we upgraded it to the v4 runtime, maybe a month or two ago, and it has been working fine until Saturday morning.  After changing the FUNCTIONS_WORKER_PROCESS_COUNT to 1 it works fine, but there was a performance hit setting it to 1.   Our other functi

[2022-08-22 12:37] stewrutledge commented on #1088
@kkrellwitz If you change `PYTHON_ISOLATE_WORKER_DEPENDENCIES` to 0 on the app, do you get the "opposite" problem? That is, only 1 out of n fails?

[2022-08-22 12:53] Leonidas-MOH commented on #1088
Hello

Thank you for your answer i appreciate it a lot.

My function started as v4 and is running fine for about 3 month till the day you mention.
I dont think than i will downgrade it to v3 because ms is unable to set up a working enviroment (v4 is not beta and the consumption plan is still available and receiving revenues)
I have set FUNCTIONS_WORKER_PROCESS_COUNT to value higher than 1 after a

[2022-08-22 14:10] JoseTrigueiro commented on #1088
Currently and since Wednesday, I've been experiencing a similar issue to @kkrellwitz, also deploying from Azure DevOps. In my case, it is the azure-durable-function module that is not found by the worker, setting FUNCTIONS_WORKER_PROCESS_COUNT to 1 seems to be a temporary fix to the issue.

[2022-08-22 14:52] Leonidas-MOH commented on #1088
Hello

The problem i have is not running the function in every execution with random 500 import error occurrences.(after manually executing the function in the second third try the function recovers from the zombie state and all imports are found, if you try once more you are in the same chaotic state)

I notify this after 1 day of the function failure.
Due to the app scope, I have same trigger fu

[2022-08-22 14:53] Leonidas-MOH commented on #1088
The same with me.
Beware for lost runs due to timeout if you are in a consumption plan

Καπασακάλης Λεωνίδας

IT Department

[MotorOil_logo_200-60]

Ηρώδου Αττικού 12Α

151 24 Μαρούσι, Αττική

Τηλ: +302108093570

Κινητό:+306979111998

Email: ***@***.*** -

________________________________
Από: JoseTrigueiro ***@***.***>
Στάλθηκε: Δευτέρα, 22 Αυγούστου 2022 5:10 μμ
Προς: Azure/azure-functions-pytho

[2022-08-22 15:42] Ved2806 commented on #1091
Hi @stewartadam Closing this issue as duplicate, it is already being tracked at [#1088 ](https://github.com/Azure/azure-functions-python-worker/issues/1088)

[2022-08-22 15:42] #1091 closed

[2022-08-22 16:54] kshyju commented on #1089
@shreyabatra4 FYI

[2022-08-23 22:41] gavin-aguiar opened #1094 "ModuleNotFoundError: No module named '__main__'"
# Announcement
We have identified an issue with a subset of python functions apps which have imported libraries like python-dotenv are seeing an error with functions runtime 4.9.1 and above.

The function apps are failing with the following error:
[code]
 ## Mitigation
Add the app setting PYTHON_ISOLATE_WORKER_DEPENDENCIES to 0 as described in the documentation [here](https://docs.microsoft.com/en

[2022-08-24 11:42] vickithedeveloper opened #1095 "Azure function reading processed/old/duplicate events from Azure event hub"
#### What binding does your question apply to, if any? (e.g. Kafka trigger for event hubs)

#### Question
Please find below the summary of the issue -
What we are observing is that function app deployment in AKS with KAFKA based KEDA scaler is repeatedly reading the old events causing duplicates in processing. In some cases even when there is not input data, it continues to read and process old da

[2022-08-24 16:55] BartoszCki commented on #899
Still not available...

[2022-08-24 21:31] tbock commented on #1088
Same started occurring on our function ~2 days ago.  Switching to runtime version ~3 resolved the issue.

[2022-08-24 21:43] pievalentin opened #1116 "Missing binaries to run numpy"
#### Investigative information

Please provide the following:

- Function App version: v4
- Function App name: datadrift
- Region: eastus2

#### Repro steps

Provide the steps required to reproduce the problem:

Set numpy as a dependecy in the `requirements.txt`
Have the python function import numpy like `import numpy as np`
This is very [similar to this issue](https://github.com/Azure/azure-funct

[2022-08-24 21:52] pievalentin commented on #904
Hello I am running into the same issue with python 3.8 and function v4
As suggested here, I used the ubuntu vm to publish my .zip to azure functions. But I still run into that issue. I detailed my [issue here](https://github.com/Azure/azure-functions-host/issues/8663)

Beside using ubuntu in the build steps, what was the solution?

[2022-08-24 21:53] pievalentin opened #1096 "Missing binary to run numpy in py38 and function v4"
#### Investigative information

Please provide the following:

- Function App version: v4
- Function App name: datadrift
- Region: eastus2

#### Repro steps

Provide the steps required to reproduce the problem:

Set numpy as a dependecy in the `requirements.txt`
Have the python function import numpy like `import numpy as np`
This is very [similar to this issue](https://github.com/Azure/azure-funct

[2022-08-25 07:37] Leonidas-MOH commented on #1088
I tried the PYTHON_ISOLATE_WORKER_DEPENDENCIES 0,1 and all the results are 500
I removed it and it started working OK
I think the only solution is setting  FUNCTIONS_WORKER_PROCESS_COUNT = 1 with the penalty of missed executions

[2022-08-25 08:34] erik-citterberg commented on #899
It is not available yet the issue is closed.

[2022-08-25 12:53] thomasfrederikhoeck commented on #911
@rbudnar Yeah I'm struggling with this too https://github.com/Azure-Samples/fastapi-on-azure-functions/issues/4

[2022-08-25 14:32] Ceglowa opened #1098 "Azure-functions with dill - failing on importing dill. No module named '__main__`"
Hi, I am trying to deploy a function to Azure that is using a `dill` library. Right now the function returns 500 immediately after calling. It fails when importing `dill`. What is interesting is that the same procedure with deploying the function worked around 3 weeks ago - and it was also using `dill` as a requirement. It shows the following error:

Please check the requirements.txt file for the

[2022-08-26 06:34] mc55boy commented on #477
Tried this and it looks to have fixed the issue for me. Thank you!

[2022-08-29 09:46] adradr commented on #915
I have been successfully start using the combination of steps mentioned above:
[code]
Then I had to create a conda env and use that:
[code]
Acquired the following versions:
[code]
At this point I was finally able to launch the local function service with `func start`
[code]
There is still an issue with it, as noted in the following line: `[2022-08-29T09:37:26.278Z] System.Private.CoreLib: Exceptio

[2022-08-29 10:01] martin-greentrax commented on #1096
We face the same problem with another package (nest-asyncio). Have a look here: https://docs.microsoft.com/en-us/answers/questions/976311/modulenotfounderror-on-external-packages.html
Sadly the proposed solution there made things worse for us. The function did not even start up

[2022-08-30 16:53] souvikg10 commented on #1088
Hello,
We have been facing the same issue and i have tried several different workaround and so far none of them has worked. We use the Function App Consumption Plan

Here are a few things we tried so far..
1. Using LinuxFx Image: Python3.7, added Function worker process count to 1 and isolate worker dependencies to 0, all results to error 500.
2. We tried the following workaround listed here: http

[2022-08-31 00:58] DinnerMonster commented on #915
I am trying to use Azure Event hubs and @lucafrost 's [comment](https://github.com/Azure/azure-functions-python-worker/issues/915#issuecomment-1191522270) fixed the error for my environment. Many thanks from :octocat:

[2022-08-31 06:51] Leonidas-MOH commented on #1088
Hello

The only working solution working for me in a consumption plan is
FUNCTIONS_WORKER_PROCESS_COUNT = 1
NOT PYTHON_ISOLATE_WORKER_DEPENDENCIES in config

[2022-08-31 08:01] souvikg10 commented on #1088
I tried that as well. It shows error 500 😢

[2022-08-31 08:53] Leonidas-MOH commented on #1088
Azure Function 4
Python 3.8
When in used the DOCKER|azure-functions/python:4.8.0-python3.8 the oryx build use Python 3.6 and I end up with a not working function at all

[2022-08-31 09:00] souvikg10 commented on #1088
same here. we used Azure Function 4, python 3.8, the image for Docker didn't work for us either.

[2022-08-31 09:07] Leonidas-MOH commented on #1088
I used the following for the working one
    "name": "BUILD_FLAGS",    "value": "UseExpressBuild",
    "name": "ENABLE_ORYX_BUILD",    "value": "true",
    "name": "FUNCTIONS_EXTENSION_VERSION",    "value": "~4",
    "name": "FUNCTIONS_WORKER_PROCESS_COUNT",    "value": "1",
    "name": "FUNCTIONS_WORKER_RUNTIME",    "value": "python",
    "name": "PYTHON_THREADPOOL_THREAD_COUNT",    "value": "6",

[2022-08-31 15:20] gavin-aguiar commented on #1088
The fix for this issue is being rolled out with runtime version 4.10.2.
For a mitigation, try and set the flag PYTHON_ISOLATE_WORKER_DEPENDENCIES to 0.

[2022-08-31 15:22] Takadonet commented on #1088
Any timeline provided or update feed to follow?

[2022-09-01 14:09] Leonidas-MOH commented on #1088
I just checked it and works fine. (With FUNCTIONS_WORKER_PROCESS_COUNT > 1)

[2022-09-02 11:24] Manfrin92 commented on #867
Any update on that?

[2022-09-02 19:48] kkrellwitz commented on #1088
Looks like they rolled the runtime back to 4.8.0.0, at least in my environment.

[2022-09-07 11:12] polavishnu4444 commented on #898
Is this updated and fixed? Or still being tracked internally and someday appear suddenly in App Insights?

[2022-09-08 01:15] hjlarrea commented on #915
@shreyabatra4 is everything still on track for the end of September? Thanks!

[2022-09-08 12:35] hjlarrea commented on #899
Check this out @tintin10q @DCMattyG @BartoszCki @erik-citterberg, seems they are planning the release for the end of this month: https://github.com/Azure/azure-functions-python-worker/issues/915#issuecomment-1205832739 🤞

[2022-09-08 13:48] c56444 opened #1100 "[BUG] Invalid requirement: snowflake-connector-python[pandas]"
### Investigative information
###### Please provide the following:

- Timestamp: 9/8/2022, 8:30:42.226 AM
- Function App name: tavda-snowflake-naics-acct
- Function name(s) (as appropriate): snowexample
- Core Tools version: 3.0.4753

### Repro steps
###### Provide the steps required to reproduce the problem:

### Expected behavior
###### Provide a description of the expected behavior.
Function su

[2022-09-08 13:55] c56444 commented on #1100
Repro steps
1. Create VS Code project
2.  install requirements.txt
3.  execute locally (success)
4.  deploy to resource group
5.  trigger using ADF

Known workarounds:
Use native pandas instead of snowflake connector pandas

requirements.txt
azure-functions
# Generated on: Python 3.9.13
asn1crypto==1.5.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==36.0.2
filelock==3.8.0

[2022-09-08 15:05] Vasiharan commented on #915
@shreyabatra4 Any update on when we will get a fix please?

[2022-09-08 20:40] pdthummar commented on #1096
@pievalentin I have tried deploying the function through VSCode to dedicated app and tested basic function with utilizing NumPy and it is working as expected.
1) Are you still facing this issue?
2) If yes, could you please provide more details for reproducing issue?

Thanks

[2022-09-08 23:28] hcs-bernardo-rufino commented on #1083
Any news on this issue?

[2022-09-09 06:04] tonybaloney commented on #1083
<img width="703" alt="screenshot 2022-09-09 at 15 35 29" src="https://user-images.githubusercontent.com/1532417/189278589-2101ef93-c0f7-4089-9b67-ccb64811201e.png">

I've written a test app to recreate this. The main issue is that the docs site doesn't forward the code key to the openapi.json request.

There are a few solutions I can think of (the first is the most practical)

1. Changing the auth

[2022-09-09 19:33] vrdmr commented on #1088
Hi All, We identified an issue with the dependency isolation feature, which caused the issue here. We have rolled it back to 4.8.4 and rolled the new 4.10.4 release with the feature disabled.

I sincerely apologize that you had to face this issue. The fix was done to prevent the Protobuf rollout (major version change causing the apps depending on protobuf not running) and this was an unintended co

[2022-09-09 19:33] #1088 closed

[2022-09-11 00:44] thegamebegins25 commented on #683
I still have the same issue. It has been a few months. Here is an example:
[code]

[2022-09-13 06:55] Ceglowa commented on #1098
Here is an issue that says about this problem - https://github.com/Azure/azure-functions-python-worker/issues/1088. Current workaround is to rollback to the working runner version.

[2022-09-13 06:55] #1098 closed

[2022-09-13 13:33] sudarrshan commented on #567
can we write a `XML` file inside the `wwwroot` folder from function's `__init__.py` file  by using
```python open('abs-file-path', 'wb+') ```
?

[2022-09-14 05:05] Francisco-Gamino opened #1101 "Python language worker (for integration testing) build for the v3.x-dev branch fails"
The pipeline that builds the Python language worker for the `v3.x-dev` branch has been falling since mid-August 2022. Building this component is a prerequisite to build the Core Tools for integration testing. As a result, integration testing for V3 is blocked. For the time being, I will remove the Python language worker from integration testing to unblock the test pass. Once the build is working a

[2022-09-16 16:25] gavin-aguiar commented on #1101
This error is fixed with the above PR and builds are succeeding now.

[2022-09-16 16:25] #1101 closed

[2022-09-16 21:03] #1096 closed

[2022-09-19 21:23] christina13181 commented on #249
@nickpeterson I have the same issue. Have you solved it? Thanks

[2022-09-20 11:26] yks0000 opened #1104 "[BUG] Azure Function AsgiMiddleware Not Responding"
### Investigative information
###### Please provide the following:

- Timestamp: Tue 20 Sep 2022 16:43:04 IST
- Function App name: locally testing in VSCode
- Core Tools version: 4.0.4736

### Repro steps
###### Provide the steps required to reproduce the problem:

1. Create a new Function App of type HTTP trigger and the following code in `__init__.py`:

[code]

Complete code including config is

[2022-09-21 10:02] imshinto commented on #773
Hi @amotl , Were you able to crack this issue ? We are also trying to send a batch of events using the admin api (and keys). But unfortunately the structure we receive in functions is not what we are expecting.

[2022-09-21 13:31] nickpeterson commented on #249
@christina13181

I ended up having to change the pip install syntax on the bash step from

`- bash: |
        pip install --target="./.python_packages/lib/site-packages" -r ./requirements.txt
        workingDirectory: $(workingDirectory)`

to
`- bash: |
        pip install --target="$(System.DefaultWorkingDirectory)/.python_packages/lib/site-packages" -r requirements.txt`

[2022-09-22 00:47] Francisco-Gamino opened #1105 "Investigate Python language worker integration tests failures in Functions V3 for 9/20/22"
### Investigative information
Investigate Python language worker tests failures in Functions V3 for 9/20/22

Here is the link to the pipeline executions with the test failures:
https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=96327&view=ms.vss-test-web.build-test-results-tab

![image](https://user-images.githubusercontent.com/12720858/191634389-d402a4e9-8352-4d89-8a66-4ddc0

[2022-09-22 06:33] maurycyblaszczak-tj commented on #1083
Try to allow Cross Origin Requests, see example here
[](https://intility.github.io/fastapi-azure-auth/single-tenant/fastapi_configuration/)

See also [](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=in-process%2Cfunctionsv2&pivots=programming-language-python) for documentation on auth levels for functions.

[2022-09-22 10:59] ramya894 commented on #1104
@yks0000 We will check this issue with our next level team and update you.

[2022-09-22 12:31] mathrb commented on #752
Hello,

I faced the same issue today and ended up googling this double loading.
As mentioned by @Hazhzeng, I changed my script from `__init__.py` to `main.py`, updated the scriptFile in the function.json file and now my code outside main is loaded only once.
What surprise me is:
1. It seems a fix was published Jan 27th 2021 #811
2. The label of this tag is in-progress

`func --version` -> `4.0.448

[2022-09-23 07:00] pietz commented on #1083
thank you for your help.

@tonybaloney the auth option in fastapi is not something id want to do because i like the fact that azure is taking care of the authentication. its part of the service id like to use. the second suggested option is not something i was able to figure out.

@maurycyblaszczak-tj this looked most promising and i tried to implement it but failed. are you sure this works with f

[2022-09-23 07:29] maurycyblaszczak-tj commented on #1083
Have not tested it but something like this:

[code]

This in order to work requires `x-functions-key ` with the function key header to be send when you `GET /docs`.

[2022-09-25 13:10] Danmyrer opened #1106 "[BUG] Bug Title"
### Investigative information
###### Please provide the following:

- Timestamp: 2022-09-25T12:43:18Z
- Function App name: smartFME-API-Functions
- Function name(s) (as appropriate): dFunc_manageDomPlattformen, dFunc_manageDomArtPersonen
- Core Tools version: [4.0.4785](https://github.com/Azure/azure-functions-core-tools/releases/tag/4.0.4785)
- Extension Bundle: Microsoft.Azure.Functions.Extensio

[2022-09-26 08:55] ramya894 commented on #1106
@Danmyrer We will investigate this issue further and let you know findings soon.

[2022-09-26 11:03] pietz commented on #1083
Thanks again but setting the `x-functions-key` in the header instead of setting `code` in the url query is not really an option given that I want to open the `/docs` route in the browser.

I also found [this](https://github.com/tiangolo/fastapi/issues/2678) thread but I fail to apply the changes to my Azure Function use case.

[2022-09-26 13:14] pietz commented on #1083
I found a workaround that at least brings me to the docs page. however, trying out the API doesn't work this way for obvious reasons.

[code]

[2022-09-26 15:47] wahidstephen commented on #867
Hi, following up on this.

A python validator, part of the tech in my current org keeps having the same issue.

[2022-09-26 23:53] YunchuWang commented on #898
sorry for late reply, the root cause of the issue is identified as event_loop.run_in_executor is executing the functions in eventloop's default threadpoolexecutor (https://docs.python.org/3/library/asyncio-eventloop.html#executing-code-in-thread-or-process-pools) which does not set the invocation id in thread local variable(_invocation_id_local). please try the following example which executes run

[2022-09-29 10:30] natdan commented on #373
Is there anything we can do about logging format? When azure function is deployed in AKS and set to send logs to Log Analytics - all sysout lines are treated separately and log format that insists logging result in two lines is quite unhelpful.

Having logs output in single line is what we are after.

[2022-09-29 22:40] r00ta commented on #1073
@nicholas-ebert is this a feature request or a bug?

[2022-09-30 05:55] ramya894 commented on #1106
@Charles-Gagnon/ @vrdmr can you have a look into the above issue.

[2022-10-02 17:33] rdruzhkov commented on #915
Hi, @shreyabatra4 ! Could you estimate when will the Python worker support M1 Macs?

[2022-10-03 04:29] m3ck0 opened #1110 "Function app memory increase on each new invocation"
#### Is your question related to a specific version? If so, please specify: 4

#### What binding does your question apply to, if any? Event Hub Binding

#### Question
Hello, currently we have cloud function v4 using Python3.9 runtime which is triggered by the event hub binding and is intended for lightweight ETL.

The problem we're facing is that, the memory consumption is being increased from inv

[2022-10-03 18:20] nicholas-ebert commented on #1073
Based on the fact that this seems to be completely unsupported currently I suppose it's a feature request. But if this feature isn't intended to be present it'd be great if this was made more obvious.

Since `$return` is used by other output bindings it's not crazy that someone would try with the kafka binding, and the error that gets generated above is not obvious to the issue at all.

[2022-10-03 19:18] shreyabatra4 commented on #915
Hi all, due to a delay with a release that support for Python 3.10 is dependent on, this has been delayed to end of October. Thanks a lot for your patience here and apologies for the delay.

[2022-10-03 19:44] yks0000 commented on #1104
@vrdmr @YunchuWang Any update on this please?

[2022-10-04 21:24] liliankasem commented on #1057
@vrdmr can we prioritize this for the next sprint?

[2022-10-04 21:37] liliankasem commented on #1057
Documentation to help with implementation: https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/OOPWorkers/WorkerMetadata.md&version=GBmaster&_a=preview

[2022-10-05 04:51] SeaDude commented on #602
Hello,

The above is a rare example of `async` Azure Python Functions on the internet. All examples I've seen of the `async` pattern seems to use the `main()` function differently than I'm used to.

**Instead of the synchronous pattern of:**

[code]

Aside from the [Azure-python-sdk](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_contain

[2022-10-05 05:08] SeaDude commented on #1090
This has happened to me before.

**Some things to try:**
0. If using `venv`, be sure to activate the `venv` then `pip install requests`
1. From within the Function directory, `pip freeze > requirements2.txt`
    - Note the **"2"**
    - You don't want to `pip freeze` over your existing `requirements.txt` file
    - Diff these two files. Be sure `requests` is there.
2. There is a Formal doc on what

[2022-10-05 05:54] aersamkull commented on #915
If you're doing Python 3.10.... how about 3.11, too :) ?

[2022-10-06 11:18] ramya894 commented on #1110
@m3ck0 please use the below link for more information,
https://stackoverflow.com/questions/25823708/memory-occupied-by-my-application-keeps-increasing-with-time
If the issue is not resolved, please provide us the functiona app name, invocation ID and timestamp details so that we can investigate the issue further.

[2022-10-07 13:48] waltherg commented on #1007
Creating a custom container doesn't resolve the issue @pdthummar as this just opens another can of worms.
When will this issue be resolved? It's disheartening investing time in the Azure Function V4 stack just to be told that a very common use case won't be doable with it and to just invest in some other stack.

If this issue won't be resolved a clear top-level disclaimer as to the shortcomings of

[2022-10-10 15:01] vrdmr commented on #1106
@Danmyrer - Thanks for posting the issue.

questions:
- `data["Inaktiv"] = True` - can you confirm if the schema has the "Inaktiv" column present? Most of the time, the issue with "Invalid column names" arise when either the column name is misspelled or is not present.
- Does this happen with every subsequent call, then? If you do 100 calls, would all throw this exception? Can you also check the t

[2022-10-10 15:07] vrdmr commented on #1110
Hi @m3ck0 -
1. Did you profile your memory usage with core tools, locally? Instructions on [how to profile memory are here](https://learn.microsoft.com/en-us/azure/azure-functions/python-memory-profiler-reference).
2. Can you share your function app name? If you want to share it privately, please use [this to share app name privately (invocation id)](https://github.com/Azure/azure-functions-host/w

[2022-10-10 15:09] vrdmr commented on #1073
@shrohilla - Could you please take a look at this issue? And if can this be supported or not?

[2022-10-10 17:04] Danmyrer commented on #1106
@vrdmr thank you for your reply, I'll come back to you soon!

[2022-10-10 18:41] Danmyrer commented on #1106
Yes, the column is present. The DDL can be found here:
<details>
<summary>DDL</summary>

_Azure SQL DB_
[code]
</details>

Yes, restarting Core Tools is able to work around this. I recreated the error again, calling _create >> update >> delete >> delete_ subsequently and the error does not occur for update, since create and update use the same columns. Delete however fails, as stated in my origina

[2022-10-10 21:09] Charles-Gagnon commented on #1106
@ramya894 @vrdmr Can you move this over to https://github.com/Azure/azure-functions-sql-extension and we'll follow up there? I agree this doesn't seem like a general python worker issue.

[2022-10-10 22:21] Charles-Gagnon commented on #1106
@Danmyrer - could you please enable debug logging by setting the default logLevel to "Debug" in your host.json?

[code]

And then attaching the log generated from that after you repro the issue again?

I tried to set up a repro myself using what you gave above but it seems to be working fine for me.

[2022-10-12 02:46] m3ck0 commented on #1110
Hi, sorry for late reply due to the holidays.

Thanks @vrdmr - I've tried the 1st one and from that I got the results I'm describing in the original post. I'm going to send the feedback to the team using the 2nd (thanks).

@ramya894 thanks for the link, we have similar static methods which returns connection, but as I've mentioned we've implemented manual object deletion (w/o success).

**This are

[2022-10-12 18:36] gavin-aguiar commented on #1110
Hi @m3ck0,
I checked the memory usage of your function app. I do see high memory usage over the past 3 days.
I couldn't find any evidence that the python worker is leaking memory from our tests. This needs some more investigation. Can you create a support ticket so that we can get some more information on your function app? https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to

[2022-10-13 13:16] fritzcruz opened #1121 "Python/Linux Azure Function is taking a long time to execute and sometimes create new workers in the middle of concurrent calls"
- Timestamp: _2022-10-13T12:49:35Z_
- Function App version: _Python ~4_
- Invocation ID: _e865b2fe-a1b4-4180-95e4-28b79f5aad8d_
- Region: _Australia East_

#### Repro steps

Provide the steps required to reproduce the problem:
_We are in a consumption plan. After we invoke the azure function with 32 concurrent calls with 160~ calls overall, I noticed that at the first run it will finish the concur

[2022-10-15 03:21] pievalentin commented on #1116
I found a fix for my issue.
In the `azure-pipelines.yaml` building my Azure function zip, I now run this command:
`pip install --only-binary=:all: --target="./.python_packages/lib/site-packages" -r ./requirements.txt`

Specifically asking for `--only-binary`
This solved my issue of missing binaries once the function is running

[2022-10-15 03:23] pievalentin commented on #1096
I found a fix for my issue.
In the `azure-pipelines.yaml` building my Azure function zip, I now run this command:
`pip install --only-binary=:all: --target="./.python_packages/lib/site-packages" -r ./requirements.txt`

Specifically asking for `--only-binary=:all:`
This solved my issue of missing binaries once the function is running

[2022-10-15 03:27] pievalentin commented on #1096
@martin-greentrax It's been a while but maybe my solution will help you

[2022-10-17 09:24] martin-greentrax commented on #1096
@pievalentin Thank you for your solution. Back then we found this proposed workaround on-line and we have not seen the issue afterwards. Adding this to the main entry point file of our function:

[code]

Last week we were notified by Microsoft support staff that this work around would no longer be necessary. Since this issue only occurred occasionally, was not able to be triggered by artificial tr

[2022-10-17 14:59] kshyju opened #1122 "Send IncludeEmptyEntriesInMessagePayload capability to host to get empty entries in payload"
For trigger payloads of collection type(ex: event hub trigger payload with batched messages), host will [skip empty entries ](https://github.com/Azure/azure-functions-host/issues/8499)by default. We [recently made a host level change](https://github.com/Azure/azure-functions-host/pull/8642) so that host will not skip empty entries if worker includes `IncludeEmptyEntriesInMessagePayload` capability

[2022-10-17 15:35] ramya894 commented on #1121
@fritzcruz We have investigated the issue and the reason for the latency to execute is the functions process worker count has been set maximum limit i.e 10, We are recommending you to please lower this value to reduce latency period.
you should keep the setting to a low number, starting from 1 and increasing as you experiment with your workload. This suggestion is to reduce the time spent on conte

[2022-10-17 15:52] fritzcruz commented on #1121
Appreciate the turnaround. I would like to ask if it is recommended for us to move to durable function and we will not encounter such issue as we want to have many concurrent calls as possible that is why I set it to max of 10 workers. Or, we can just utilized threading instead? We are using this function app for I/O bound task. Thanks in advance.

[2022-10-17 19:47] henrikhansen428 commented on #1050
@waltherg Have you tried any of the mitagation options mentioned in the issue description? Setting PYTHON_ISOLATE_WORKER_DEPENDENCIES  to 1 in AppSettings worked for me

[2022-10-17 20:20] waltherg commented on #1050
Good call. Yes setting that environment variable did help, thanks. I would've just hoped all runners had been upgraded by now. As others have commented this issue is extremely time consuming to work out because the App Insights exception logs aren't descriptive at all.

[2022-10-19 16:31] ineam commented on #915
Till Microsoft thinks of adding support to ARM µP, the only hack is to emulate an X86 unfortunately

[2022-10-19 16:49] waltherg opened #1124 "[BUG] AzureML on Azure Functions Consumption Plan Linux"
### Investigative information
###### Please provide the following:

- Function App name: happy to provide privately
- Core Tools version: V4

### Repro steps

Using the `azureml` package in Python in an Azure Function on a consumption plan (linux) breaks for basic operations such as

[code]

with the following error message:

[code]

### Expected behavior

I expect a Microsoft stack such as Azure

[2022-10-19 19:33] cgreco-cm commented on #654
I'd also be interested in utilizing this functionality!

[2022-10-19 23:55] paulyuk opened #1125 "Feature: Default functionapp python file `__init__.py` should be feel more like main file and pythonic"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

This might be broader than python, but I really notice it with Python in the user experience.

Typically I'm used to the main code file in Python or any language either being something domain specific (e.g. `calculate_rates.py`)., or something more generic and pleasing like `app.py` or `index.py` or `f

[2022-10-20 01:44] ejizba commented on #1125
@paulyuk transferred this to the Python repo, but suffice to say this has already been completely revamped as a part of the new programming model. I'll let the Python folks give more detail

[2022-10-23 17:39] CaishenNefri commented on #899
Not yet releases as far as I know :/

[2022-10-24 02:27] wallflower762 opened #1127 "[BUG] Memory usage remains high after memory exhaustion failure"
### Investigative information
- Timestamp: 21/10/2022 2:30AM UTC -> 24/10/2022 2:30AM UTC
- Function App name: stg-imt-analytics-functions
- Function name(s) (as appropriate): func_queue_rock_clustering
- Functions runtime: ~4
- Python version: 3.8

Memory usage remains high after a failure due to insufficient memory. A reboot of the function app resolves the issue. You can see on the below graph,

[2022-10-24 02:38] wallflower762 opened #1128 "[BUG] Failure due to memory exhaustion does not log an exception to App Insights"
### Investigative information
- Timestamp: 10/2022 10:05AM UTC
- Function App name: prd-imt-analytics-functions
- Function name(s) (as appropriate): func_queue_rock_clustering
- Functions runtime: ~4
- Python version: 3.8

One of my functions failed due to memory exhaustion. No exception was logged to App Insights. I can see the exception when using the function app diagnostic tools

### Repro ste

[2022-10-24 13:11] asgallu opened #1129 "No module named 'confluent_kafka.cimpl' - Python 3.7 and confluent-kafka"
#### Is your question related to a specific version? If so, please specify:

python3.7/3.9/3.9 and confluence-kafka 1.7.0

#### What binding does your question apply to, if any? (e.g. Blob Trigger, Event Hub Binding, etc)

function azure

#### Question

Hi I have to upgrade the version of a funcion App on Azure from python 3.6 to 3.7 or 3.8 or 3.9 (I don't mind what version but I vhave to do it be

[2022-10-25 08:35] thiezn opened #1133 "[FeatureRequest] Python 3.11 support in Azure Functions"
Hi,

Python 3.11 was just released and comes with a lot of great improvements.  The potential 10-60% speedup over 3.10  (which also provided speedups over 3.9) will make a lot of people happy when used in serverless setups as it will directly affect the duration.

[Python 3.11 release notes](https://www.python.org/downloads/release/python-3110/)
[Details on speed improvements](https://docs.python.

[2022-10-25 08:39] davfre commented on #915
Thanks Inseam, got my environment working using your description. I added the following to my .zshprofile to have brew working normally in a standard terminal

if [[ $CPUTYPE == x86_64 ]]; then
    echo "i386 brew selected for the Azure functions workaround"
    eval "$(/usr/local/bin/brew shellenv)"
else
    echo "ARM brew selected"
    eval "$(/opt/homebrew/bin/brew shellenv)" # m1 arch
fi

[2022-10-25 09:08] ramya894 commented on #1100
@c56444 Would it be possible to share a simple repo to reproduce this issue, so that we can investigate the issue easily.

[2022-10-25 09:40] ramya894 commented on #1127
@wallflower762 We are investigating this issue, we will let you know the findings soon

[2022-10-25 11:27] thomasfrederikhoeck commented on #911
@rbudnar This is fixed now here https://github.com/Azure/azure-functions-python-library/pull/143 which also removes the need for `nest_asyncio`

[2022-10-25 13:11] c56444 commented on #1100
I discovered that having 2 snowflake connector entries in the requirements.txt file, caused the issue.  I removed both and replaced them with, snowflake-connector-python[pandas]==2.7.12.  This loads all the required snowflake packages.

[2022-10-25 13:11] #1100 closed

[2022-10-25 16:33] thomasfrederikhoeck opened #1134 "HTTPTrigger: Recommend way to keep connections hot?"
#### Is your question related to a specific version? If so, please specify:

#### What binding does your question apply to, if any? (e.g. Blob Trigger, Event Hub Binding, etc)
HTTPTrigger

#### Question
We are using Azure Functions with Python (with custom Docker Image) using the Premium Plan to build rest api. It is important for these to reply fast. Hence we would like to ensure that connections

[2022-10-25 16:56] thomasfrederikhoeck commented on #1134
I had missed warm-up trigger so I guess that solves 2. https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup?tabs=in-process&pivots=programming-language-python but my question for 1 still stands :-)

[2022-10-25 21:57] Stropek commented on #1110
Same here. Any update on this?

[2022-10-26 05:54] wallflower762 commented on #1127
I have further observed that the increased memory issue is not just after failures due to memory exhaustion. The below graph starts with a baseline ~20% memory used, and after processing completes around 1:20PM, the memory remains elevated at around 50%. No memory exhaustion failures occurred in this instance, although a handful of other transient network failures occurred , and were resolved thro

[2022-10-26 09:13] m3ck0 commented on #1110
Hi, no updates yet, still processing internally to create the support ticket on Azure. @Stropek @AL1027015 welcome to share any news here if you got any

[2022-10-26 10:04] thomasfrederikhoeck opened #1135 "[BUG] warmupTrigger doesn't work as documented"
### Investigative information
###### Please provide the following:

- Timestamp: 2022-10-26
- Function App name:
- Function name(s) (as appropriate):
- Core Tools version: 3.0.4727

### Repro steps
###### Provide the steps required to reproduce the problem:

1. Create a very basic function with a `httpTrigger `and a `warmupTrigger `following the official guide https://learn.microsoft.com/en-us/azu

[2022-10-26 11:16] ramya894 commented on #1124
@waltherg We will discuss this issue with our next level team and update you.

[2022-10-26 15:05] zinyosrim commented on #915
@davfre - thanks for your code. fixed my issue

[2022-10-26 15:08] gavin-aguiar commented on #1134
Hi @thomasfrederikhoeck,
Can you give more context on what `connections stay alive/ tokens stay fresh` you are referring to here?
Also, could you give an example on how the connections are being used?

[2022-10-26 15:14] vrdmr commented on #1096
Similar to #1116. Will post updates in there.

[2022-10-26 15:27] thomasfrederikhoeck commented on #1134
Hi @gavin-aguiar something like a static client like the following
[code]

The first time this client calls it fetches it (slow) and subsequent calls uses a cache until the token expires.

[2022-10-26 15:40] vrdmr commented on #1127
Hi @wallflower762 - Thanks for reporting. Looking at the memory usage, we do see elevated memory levels for a long time -
<img width="1189" alt="image" src="https://user-images.githubusercontent.com/1047040/198059284-550e3915-e97d-4fec-8723-6bced03188a2.png">

As we don't have any insights on where the memory might be used, my recommendation is to [profile memory](https://learn.microsoft.com/en-us

[2022-10-26 15:50] thomasfrederikhoeck commented on #1134
So something that warms up by calling `.get_token()` and then keeps calling it every minute so there is always a cached token without delay.

[2022-10-26 17:00] gavin-aguiar commented on #1121
Hi @fritzcruz, moving to durable functions might not help in your case since it would still create more workers depending on the worker count set. I would recommend setting the `FUNCTIONS_WORKER_PROCESS_COUNT` to the cores available on your system and try adjusting the `PYTHON_THREADPOOL_THREAD_COUNT` to maximize the throughput.

[2022-10-26 18:07] davfre commented on #915
Hm not sure what's going on there. I've started the azure functions server in the terminal by `func start host`

I do also have the conda env initiated by default in my .zshrc. Not sure if that is even related to your issue though. Maybe others can help.

[code]

[2022-10-26 20:14] reubano commented on #915
If you don't want to bother w Rosetta, see https://github.com/Azure/azure-functions-python-worker/issues/915#issuecomment-1230035468 or https://github.com/Azure/azure-functions-core-tools/issues/2834#issuecomment-1136311048.

[2022-10-26 21:44] pdthummar commented on #1124
Hi @waltherg,
Thanks for creating the issue.
Would you be able to provide code snippet for replicating the issue? Thanks

[2022-10-27 06:49] ramya894 commented on #1129
@chandrod / @shrohilla Can anyone you help me on this issue

[2022-10-27 06:54] ramya894 commented on #1095
@chandrod / @shrohilla Can anyone of you have a look and help on the above issue.

[2022-10-27 07:02] ramya894 commented on #1104
@YunchuWang Could you please have a look into the above issue

[2022-10-27 07:27] waltherg commented on #1124
Thanks for taking care of this issue @pdthummar!

With the requirements I posted in my bug report, the following should reproduce the issue when run in a consumption plan function deployed from a zipped package (I use Azure DevOps release jobs):

[code]

[2022-10-27 11:28] ramya894 commented on #1129
@jgadelevopment thanks for reporting, have you tried the trouble shootings steps provided below.
https://aka.ms/functions-modulenotfound
.

[2022-10-27 13:09] shrohilla commented on #1129
I think @jgadelevopment, Can you try this with -- confluent-kafka[avro]==1.7.0 ?

[2022-10-27 13:20] jgadelevopment commented on #1129
Sorry, I've made I mistake when I wrote 'confluent_kafka[avro]==1.7.0', I've got confluent-kafka[avro]==1.7.0 in my requirements.txt. @shrohilla you meant? => -- confluent-kafka[avro]==1.7.0 o confluent-kafka[avro]==1.7.0

[2022-10-27 23:17] Francisco-Gamino opened #1137 "Investigate Python language worker integration tests failures in Functions V4 for 10/27/22"
### Investigative information
Investigate Python language worker tests failures in Functions V4 for 10/27/22

Here is the link to the pipeline executions with the test failures:
https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=102187&view=ms.vss-test-web.build-test-results-tab

![image](https://user-images.githubusercontent.com/12720858/198415198-3ce0797e-a9b6-4ced-9030-951

[2022-10-28 14:28] waltherg commented on #1124
@vrdmr @pdthummar thank you very much for looking into this issue.
If possible, can you please share any initial insights or rough estimates if and when this issue may be resolved?

We need to be able to use the `azureml` package in an ETL pipeline of ours and need to decide how to proceed.
Building a custom Docker image to achieve this would also mean switching to a Premium subscription from our

[2022-10-28 20:12] pdthummar commented on #1124
hi @waltherg, we are trying to reproduce the issue and investing it. Unfortunately, at this time, we cannot provide any timelines without completely investing the issue. Thanks

[2022-10-31 09:47] roekoe-loterij opened #1139 "[BUG] AsgiMiddleware starts an event loop which is never closed"
Timestamp: Tue 31 Oct 2022 10:45 CET
Python azure-functions v1.10

The current AsgiMiddleware class starts a new event loop in its constructor. As can be seen here:

https://github.com/Azure/azure-functions-python-library/blob/8fb366baee8851c6dc1056ccede512694b3bcc70/azure/functions/_http_asgi.py#L149

The deprecated `handle()` method was responsible for closing this loop once a request was handle

[2022-10-31 14:48] ramya894 commented on #1139
@roekoe-loterij We are investigating on the above issue, will update you with the fix soon. Thanks.

[2022-10-31 15:15] YunchuWang commented on #1128
@ramya894 Hello can you share the code and I left a comment in issue #898 containing example of async function using event which sends logs to appinsights. thank you

[2022-10-31 16:49] rdruzhkov commented on #915
Hi, @shreyabatra4 ! Could you estimate when the Python worker will support M1 Macs?

[2022-11-01 00:51] aescolastico commented on #915
Hi @shreyabatra4, is there still a release planned for 3.10?

[2022-11-01 10:36] thomasfrederikhoeck commented on #1134
Cross-linking to issue with warmup trigger for full picture: https://github.com/Azure/azure-functions-python-worker/issues/1135

[2022-11-01 19:00] gavin-aguiar commented on #1137
Fixed. Incorrect connection string.

[2022-11-01 19:00] #1137 closed

[2022-11-01 19:29] Francisco-Gamino commented on #1137
Thank you @gavin-aguiar for the follow-up.

[2022-11-01 20:50] tonybaloney commented on #1139
Submitted a fix to the library repo.

Thanks for the report.

[2022-11-02 14:40] ramya894 commented on #1128
@wallflower762 Please go through the discussion in the below link for more information on this issue.

https://github.com/Azure/azure-functions-python-worker/issues/898

[2022-11-02 14:41] wallflower762 commented on #1128
Thanks for the reply, I should have time to have a look through next week.

[2022-11-02 14:46] ramya894 commented on #1133
@thiezn Thanks for reporting, Yes we are working on that the target it to do it by mid Jan, Feb early months of next year i.e2023.

[2022-11-03 10:46] mohammed-workfellow commented on #915
@shreyabatra4 I am losing my faith in Azure as cloud native ready platform, and so does my team members. Python 3.11 was released last month, the same month you promised (3.10). Based on this velocity, we expect 3.11 to land in late 2023. We are going to containerize our compute loads to escape the dependency on Azure function team's release schedule -or lack thereof-.

[2022-11-03 12:02] #1121 closed

[2022-11-03 15:14] ineam commented on #915
you can switch to the other architecture using this command `arch -x86_64 bash` or instead of bash put your used shell, in my case for example I use zsh `arch -x86_64 zsh`
You can switch back from the `x86` terminal back to arm by using the same command `arch -arm64 zsh`

[2022-11-03 15:51] ramya894 commented on #1129
@shrohilla Can you provide your inputs on above. Thanks.

[2022-11-03 16:01] asgallu commented on #1129
Finally, I could pass the error "ModuleNotFoundError: No module named 'confluent_kafka.cimpl'." What I did was to install the modules inside the .pythn_packages\lib\site-packages. However I've got another error:

Result: Failure Exception: ImportError: cannot import name 'WinDLL' from 'ctypes' (/usr/local/lib/python3.7/ctypes/__init__.py). Please check the requirements.txt file for the missing mod

[2022-11-04 06:55] m3ck0 commented on #1110
just leaving progress note here for others if it's helpful. Seems like the issue is related to the logging library we're using in the project (python logzio), they have an special section for the serverless deployment, the implementation aims to flush the loggers, but so far it does not help.

[2022-11-04 10:22] thomasfrederikhoeck commented on #1135
Hi @gavin-aguiar . I can see @vrdmr assigned you to this. Have you been able to replicate?

[2022-11-07 14:45] sjoerdsantema commented on #915
That is a bit harsh. AWS does not support 3.10 either. Most companies adhere to n-1 and that makes sense.

[2022-11-07 15:00] shreyabatra4 commented on #915
Hi, I understand the frustration and want to share that though the release timeline has been longer than we anticipated for the support for Python 3.10, we are already working on support for Python 3.11. We foresee the release of 3.11 support being significantly shorter than with Python 3.10.

One of the reasons we faced a long and unpredictable rollout is due to an internal platform upgrade for w

[2022-11-08 07:16] #1110 closed

[2022-11-08 09:10] wallflower762 commented on #898
I am trying to apply the above work around but have encountered 2 issues:
1. I am using the Azure storage queue trigger rather than http, so the `context` object is not available. How do I get the `invocation_id`?
2. Where you call `wrapper_function`, you pass 3 arguments to a function that accepts 2 arguments. How does this work?

[2022-11-08 10:35] rdruzhkov commented on #915
Hi @shreyabatra4! Could you estimate time you need to introduce the support for M1?

[2022-11-08 16:43] BSickmillerArchaea commented on #1061
Same issue.

We have an Azure function that runs every hour. It was running successfully until midnight UTC 2022-11-08. Now it's failing.

Is anyone in a position to know what changed and if it's going to be fixed?

[2022-11-08 18:32] vrdmr commented on #1061
@BSickmillerArchaea - Can you please share the function name? https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately for us to investigate?

/cc @gavin-aguiar

[2022-11-08 18:38] BSickmillerArchaea commented on #1061
(Reason='Timer fired at 2022-11-08T00:01:39.5694520+00:00', Id=dcf90174-94e4-45b7-9e40-2a4599a7261e)

Is this enough information for you?

Thanks!

[2022-11-09 00:14] wallflower762 opened #1145 "[INFO] Task scheduling behavior with multiple processes"

[2022-11-10 03:11] i-am-dan opened #1143 "Result: Failure Exception: TypeError: unable to encode outgoing TypedData: unsupported type "<class 'azure.functions.http.HttpResponseConverter'>""
#### Is your question related to a specific version? If so, please specify:

#### What binding does your question apply to, if any? (e.g. Blob Trigger, Event Hub Binding, etc)
BlobTrigger, Output Binding
#### Question

I have a function that gets triggered through a blob trigger. A Blob storage gets updated with a CSV. It triggers the function. I want to Convert it to JSON (which is not included)

[2022-11-10 03:49] i-am-dan commented on #1143
Solved. I had to remove the http binding:

[code]

[2022-11-10 03:49] #1143 closed

[2022-11-10 13:26] ramya894 commented on #1129
Closing as resolved

[2022-11-10 13:26] #1129 closed

[2022-11-11 21:03] YunchuWang commented on #898
@wallflower762 updated the example, can you try again? thanks for feedback

[2022-11-12 11:56] JeroenMBooij opened #1144 "Visual Studio Code Azure Functions Python Multi-root project import shared code"
In my workspace I have two azure function projects, one for durable functions and one for regular functions

[code]

How do I import the shared modules into my functions and into my durable functions?

if I try a relative import I get a `Exception: ValueError: attempted relative import beyond top-level package`

`from ....workspace.shared.my_pack_one.class_one import ClassOne`

[2022-11-12 13:52] kummerer94 commented on #1144
From what I know, only the folder above the functions is deployed. That means if you deploy your `durable_functions` project, just the `durable_functions` folder is deployed. That is why you cannot import something from the `Workspace` folder. (Might also have to do with the way the package discovery works in connection to the python runner.)

I suggest something else from personal experience:

[c

[2022-11-14 06:44] ramya894 commented on #1144
@JeroenMBooij We are investigating the above issue and let you the findings soon.

[2022-11-14 09:06] ramya894 commented on #1145
@wallflower762 We will check this issue with our next level team and update you.

[2022-11-14 10:20] MagnusWagner-WIT commented on #1061
Microsoft has changed their documentation accordingly now:
https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-azure-sql?tabs=in-process%2Cextensionv4&pivots=programming-language-python

It works with azure-functions==1.11.3b1
and "PYTHON_ISOLATE_WORKER_DEPENDENCIES": "1" in your application settings (local and deployed).

At least it does for me.

![image](https://user-imag

[2022-11-14 15:21] ramya894 commented on #1116
Closing it as resolved.

[2022-11-14 15:21] #1116 closed

[2022-11-14 18:19] davidmrdavid commented on #1144
In terms of folder structure and importing behavior: a Durable Functions app and an Azure Functions app should behave the same. This is because a Durable Functions app is just an Azure Functions app with an extra SDK :-) . So, to simplify the question, we should probably think of this as: if a user has two **separate** Azure Functions apps in one workspace, and wants to share code between them, ho

[2022-11-14 23:09] pamelafox commented on #1083
Hm, if the "try it out" isn't working, could the optional `servers` argument be useful here?

Discussion of it in the FastAPI docs:
https://fastapi.tiangolo.com/advanced/behind-a-proxy/#additional-servers

[2022-11-15 08:51] thomasfrederikhoeck commented on #1135
@gavin-aguiar @vrdmr is this actively worked on? :-)

[2022-11-15 21:14] BSickmillerArchaea commented on #1061
I rolled back the `azure-functions==1.11.0` workaround to `azure-functions` in `requirements.txt` and set `PYTHON_ISOLATE_WORKER_DEPENDENCIES` to `1` in the Azure AppSettings as suggested by @MagnusWagner-WIT and things are still working as expected.

This seems like the "correct" solution (correct me if I'm wrong), so we are going to stick with this solution unless things break or we hear otherwi

[2022-11-17 11:28] ramya894 commented on #1135
@thomasfrederikhoeck We are investigating on this will update you the findings soon.

[2022-11-17 13:47] thomasfrederikhoeck commented on #1135
@ramya894 sounds good!

[2022-11-21 13:11] rhl2401 commented on #793
@balag0

Is there any chance you will publish a list of reserved environment variable names or possibly throw an error when running a function if such variable is used? When using Application Insights, no error is thrown except `The listener for function 'Functions.<functionName>' was unable to start.` which does not reveal anything about this error.

[2022-11-21 15:16] ramya894 commented on #1135
@thomasfrederikhoeck We are able to reproduce the problem and working on the solution to fix it. Thanks.

[2022-11-21 21:01] gavin-aguiar commented on #1135
Hi @thomasfrederikhoeck , apologies for the late response.
We are looking into this error. In the mean time for mitigation, remove the type in the definition as you mentioned.
Locally, you can invoke the warmup trigger by calling http://localhost:7071/admin/warmup.
In Azure, the warmup trigger will be called only during scale out operations.

[2022-11-22 07:31] vinayakbhanoo commented on #497
For anyone having an issue in Azure app service python app, add the following BEFORE 'import cv2' in your app.py:

from subprocess import STDOUT, check_call
import os
check_call(['apt-get', 'update'], stdout=open(os.devnull,'wb'), stderr=STDOUT)
check_call(['apt-get', 'install', '-y', 'libgl1'], stdout=open(os.devnull,'wb'), stderr=STDOUT)
check_call(['apt-get', 'install', '-y', 'libglib2.0-0'], s

[2022-11-24 04:00] tkutcher opened #1149 "Support HTTPStatus IntEnum for status code return values."
I wound up using the `HTTPStatus` IntEnum for a status code in my `func.HttpResponse` returns but noticed the actual web response I was getting was always 200, even when doing something like `status_code=HTTPStatus.BAD_REQUEST`.

Just to verify, I did confirm that returning `int(HTTPStatus.BAD_REQUEST)` on my side of things seemed to fix. So maybe this is addressable in the azure-functions-python-

[2022-11-24 06:45] ramya894 commented on #1095
@vickithedeveloper The latest version of Kafka extension is 3.6.0, if you are using the older version kindly update it the latest and check. Thanks,

[2022-11-24 06:58] ramya894 commented on #1144
Closing it as resolved.

[2022-11-24 06:58] #1144 closed

[2022-11-24 07:03] ramya894 commented on #1149
@tkutcher Thanks for reporting, we will discuss this enhancement with our next level team and update the status.

[2022-11-28 23:58] tonybaloney commented on #1104
@yks0000 I'll clone your repo and isolate the issue.

There is a new API for the sample that removes the need for `nest-asyncio` and changes the main function to:

[code]

[2022-11-29 01:45] tonybaloney commented on #1104
@yks0000 I've submitted a PR to your sample with the changes to the sample for v1.12 of the functions library

https://github.com/yks0000/az-function-fastapi/pull/1

This fixes the hanging process problem, but the app returns no response and if the `add_process_time_header()` function is commented out it works correctly.

I'll continue looking at this to see how the middleware chains calls to othe

[2022-11-29 02:53] tonybaloney commented on #1104
Looking deeper into the issue with a debugger, when the custom middleware is added, the `http.response.body` message is never sent to the Azure functions library code for handling ASGI applications. I don't think it's an issue specifically with the middleware, but having 2 items in the FastAPI middleware collection seems to cause some issue

[code]

[2022-11-29 06:08] yks0000 commented on #1104
Thanks @tonybaloney for checking this.

[2022-11-29 21:32] shreyabatra4 commented on #915
Hi all, to provide an update here, support for Python 3.10 in Azure Functions will officially be released on 12/14. This will not include M1 support. The team is prioritizing this feature and I will update on this thread once I have additional insight to a timeline. Thanks so much for your patience on this.