[2018-12-03 05:44] #250 closed

[2018-12-03 17:30] pragnagopa commented on #203
As a first step testing should include:
- Publishing package to [test.pypi](https://test.pypi.org/)
- Pulling in packages from test.pypi into Core Tools and Docker
- Invoke a function locally

We can then investigate automating deploying to Azure

[2018-12-03 17:34] maiqbal11 commented on #203
Echoing @pragnagopa's sentiment here, we should make this the highest priority work item with respect to Python and the Python-on-Linux/Docker experience. We have a lot of moving parts and hidden assumptions/dependencies between Core-Tools, the Python Worker and the Docker/Linux deployment experience. Ideally these would all be modular and not take such dependencies but, given that we might not se

[2018-12-03 19:07] brettcannon commented on #248
@asavaritayal Probably documenting how to do that for an active, deployed function would be helpful.

[2018-12-03 22:11] pragnagopa opened #251 "Verify placeholder changes in host"
Please use artifacts from:
https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/builds/20741868/job/6t1n5opkoisahphe/artifacts

[2018-12-04 14:00] monteledwards commented on #249
Hi @asavaritayal
azure-functions==1.0.0a5
azure-functions-worker==1.0.0a6

[2018-12-04 16:45] monteledwards opened #252 "Unable to import python-dateutil in 1.0.0a6, can do so in 1.0.0a4"
requirements.txt
[code]

A function with an import statement of `from dateutil import parser as date_parser`
throws a "Module not found" error. Switching back to 1.0.0a4 from 1.0.0a6 resolves the issue.

[2018-12-04 18:57] asavaritayal commented on #252
@ankitkumarr can you please look into this issue?

[2018-12-04 19:32] monteledwards opened #254 "Unable to send output to Service Bus queue"
Following documentation @ https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#outputs, there are a couple of issues:

1. The function.json file has the Service Bus binding type set as `queue` - according to https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#output---configuration this should be set as `serviceBus`

When I try and lau

[2018-12-04 19:58] ankitkumarr commented on #252
I could not reproduce this issue using the latest version of `azure-functions-core-tools (2.3.148)`.

@monteledwards could you try using the new version of `azure-functions-core-tools` and let me know if you still see the error?

Thanks for reporting!

[2018-12-04 20:19] monteledwards commented on #254
Nonissue - Did not realize documentation was for storage queue, not service bus queue.

[2018-12-04 20:19] #254 closed

[2018-12-04 20:50] asavaritayal commented on #252
Closing issue due to no repro. Please feel free to re-open if you're still running into the error.

[2018-12-04 20:50] #252 closed

[2018-12-05 17:06] priyaananthasankar opened #256 "Investigate supporting Conda"
This issue is a case for enabling conda/miniconda in the context of Python on Functions.

#### Investigative information

Customer wanted to use fbprophet library which does not get installed through pip in both Windows and Mac. It depends on pystan library whose compilation options are best handed by conda.

#### Repro steps

Create a new function, use HttpTrigger
in __init__.py

import fbprophet

[2018-12-05 19:18] monteledwards commented on #256
Try updating to the latest version of the function core tools that was released about 5 days ago. This resolved package issues I was having.

[2018-12-05 19:22] priyaananthasankar commented on #256
That doesn't matter as this is more related to "how to support libraries that get installed the right way in conda vs pip install"
Func core tools isn't really an issue here, although I really wonder how is it going to package such libraries. As of now I am having trouble to pip install this library while conda install works perfectly fine.

[2018-12-05 20:02] #241 closed

[2018-12-05 20:02] owenwhenry commented on #249
Hey,

Chiming in here as I'm also struggling with this problem - I have a daemon (named Cespanar, for you ToB fans out there) that uses pyodbc to try and connect to a database in Azure, do some simple monitoring, and trigger an email to me/other admins when an issue is detected.

I've been able to get things working locally, but after publishing my function using --build-native-deps I'm seeing ano

[2018-12-06 02:04] zmurphy-ms opened #258 "Unable to use Key Vault references"
#### Investigative information

I'm trying to enable a KeyVault reference, but it's failing with KEY_ERROR both locally, and when deployed.

#### Repro steps

I followed the steps in https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references to create a KeyVault reference and added it to my App Settings.

#### Expected behavior

```os.environ['<key>']``` returns the secret

[2018-12-06 22:00] #246 closed

[2018-12-06 23:59] #251 closed

[2018-12-07 22:05] asavaritayal commented on #258
KeyVault references use MSI behind the scenes to authenticate, which is not available on the Linux consumption preview offering today. Adding it to the backlog for prioritization and tracking. @mattchenderson @dariagrigoriu

[2018-12-09 07:16] ashfondu opened #259 "Where to set the Connection string to BlobTrigger ?"
Hi , i am trying to setup a blob trigger using Python Function CLi , really stuck on how to make a connection the blob that will be monitored.

My questions is how to setup the connection to blob
i ran the func azure storage fetch-connection-string command to populate the local.settings.json and the output looks as follows after
{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME

[2018-12-10 16:13] owenwhenry commented on #249
Hey @asavaritayal, did you all have any insights into why pyodbc would be continuing to fail to build? I don't seem to have access to much in the function due to the way it was built out as a package, so I'm not sure if unixodbc-dev is actually getting added to the machine running the function or not.

[2018-12-10 19:46] brettcannon opened #260 "HTTP payloads get modified by Function when content-type is application/json"
#### Investigative information

Please provide the following:

- Timestamp :2018-11-28 20:25:05.885
- Function App name: pvscbot
- Function name(s) (as appropriate): github

#### Repro steps

POST an `application/json` HTTP payload with a body of `b'{"action": "opened"}'`.

#### Expected behavior

Get the exact HTTP payload in the Function.

#### Actual behavior

Get a POST payload of `b'{\n  "act

[2018-12-10 19:48] brettcannon opened #261 "No logs when 500 caused by issue preventing function from being loaded"
If you have something like an unhandled `ImportError` that occurs at load time of your function code, the user gets a 500 (which is correct), but there is no log produced anywhere for that 500. In my case I had to realize that trying to execute the function manually may show some traceback issue. But otherwise nothing shows up in the streaming logs, Application Insights, etc. to help debug this or

[2018-12-10 19:53] priyaananthasankar commented on #259
Its the "{AzureWebJobsStorage}" that;s causing this issue.
First run `func extensions install`
Set connection string in AzureWebJobsStorage (what you set in blob_STORAGE) in your local.settings.json and then refer to **AzureWebJobsStorage** in your function.json
See example here:
https://github.com/priyaananthasankar/parseltongue/tree/master/PyFunctionsOnACI/ForecastingApp

[2018-12-10 19:53] priyaananthasankar commented on #261
Yes the logging.info isnt showing up even when functions is run inside a container,

[2018-12-10 19:54] brettcannon opened #262 "Provide a fake HttpRequest class for testing"
If you want to unit test your function, you need to be able to provide a fake `HttpRequest` object. Unfortunately the [`azure.functions._abc.HttpRequest`](https://github.com/Azure/azure-functions-python-library/blob/a1cdbc0063a5ed1faed4551fe916083cd9717e60/azure/functions/_abc.py#L46) has 7 methods/attribute to override. You can use [`azure.function_workers.bindings.http.HttpRequest`](https://gith

[2018-12-10 20:04] elprans commented on #260
I'm pretty sure this is a host issue.  The worker passes the body exactly as received from the host:

https://github.com/Azure/azure-functions-python-worker/blob/e03026773f57145530224ab3a918e321a2c3efb9/azure/functions_worker/bindings/http.py#L129-L131

[2018-12-10 20:09] Sarah-Aly commented on #227
This is absolutely a needed feature. I do have a customer who uses Python in Azure Functions for manipulating CSVs & creating time series with Pandas and they are an ideal case for function chaining in DF.

[2018-12-10 20:11] elprans commented on #261
Errors like the `ImportError` are reported by the worker via `FunctionLoadResponse`:

https://github.com/Azure/azure-functions-python-worker/blob/e03026773f57145530224ab3a918e321a2c3efb9/azure/functions_worker/dispatcher.py#L334-L340

We can double the `FunctionLoadResponse` with a `logger.exception()` there if that makes sense.

[2018-12-10 20:18] brettcannon commented on #260
@elprans I actually know that it is a host issue, but @asavaritayal told me to file it here for tracking purposes  (along with all of the other issues I filed today).

[2018-12-10 20:37] priyaananthasankar commented on #213
@jmo808 : What is joblib? Are you able to use keras API's themselves to load a model directly from a byte stream? I know Keras API's don't support reading from a blob.

[2018-12-11 04:37] ashfondu commented on #259
Priya for the win :D

[2018-12-11 06:38] asavaritayal commented on #258
This issue was moved to Azure/Azure-Functions#1065

[2018-12-11 06:38] #258 closed

[2018-12-11 06:39] asavaritayal commented on #260
This issue was moved to Azure/azure-functions-host#3875

[2018-12-11 06:41] asavaritayal commented on #232
This issue was moved to Azure/Azure-Functions#1066

[2018-12-11 06:41] #232 closed

[2018-12-11 06:44] #259 closed

[2018-12-11 06:45] asavaritayal commented on #259
Closing as this seems to be resolve. Please feel free to re-open if you're still blocked.

[2018-12-11 06:49] asavaritayal commented on #249
I can confirm that `unixodbc-dev` is installed in the Python image. See here - https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/python.Dockerfile#L48

@ankitkumarr can you please investigate this issue?

[2018-12-11 19:35] ankitkumarr commented on #249
Hi @owenwhenry, I was able to reproduce the issue in the latest version of the core-tools published. I do have a [PR](https://github.com/Azure/azure-functions-core-tools/pull/910/files) out for the cause of this problem. This fix should be part of the next release (most likely this week).

As a mitigation for now, you can use the flag `--no-bundler`. More information about this flag and our publis

[2018-12-11 19:42] owenwhenry commented on #249
No apologies necessary @ankitkumarr, especially not after such a prompt response - mostly just glad to have helped you all move Python closer to being fully implemented, since I'm really excited about using it.

Tagging @monteledwards for his benefit as I assume he'll be as interested in this fix as I am.

[2018-12-11 19:49] ankitkumarr commented on #249
Thanks @owenwhenry, we appreciate all the testing and the bug reports. We still have some ways to go, but are very excited about getting Python functions where it should be.

[2018-12-11 19:50] owenwhenry commented on #249
@ankitkumarr You're welcome - also enjoying the one line fix. It's always something small isn't it?

[2018-12-11 19:58] ankitkumarr commented on #249
@owenwhenry, It really is! A little embarrassing of me to not have caught this earlier. But, better late than ever.

[2018-12-11 20:30] fernandrez commented on #234
@Chan9390 were you able to solve this, it seems I will need to upload a video given that we have got no help so far...

[2018-12-11 21:57] fernandrez opened #263 "Guys!!! I have filed three issues and no resolution so far!!!"
Guys!!! I have filed three issues and no resolution so far!!!
Please heeeeelp!!!! I need to get a python function working asap! please please help help!
#229 and #234 !!!

[2018-12-11 21:57] fernandrez commented on #263
I can pay if necessary!

[2018-12-11 21:58] fernandrez commented on #263
%%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

Azure Functions Core Tools (2.3.148 Commit hash: f9b3db04f9833b431f1b001efb3e5783a169ebfc)
Function Runtime Version:

[2018-12-11 22:02] fernandrez commented on #229
come on please guys please, I implore you!

[2018-12-11 22:30] elprans commented on #263
Judging from the traceback the worker seems to fail to open the gRPC channel to the functions host.  I would check that nothing is blocking network connections to high ports on the localhost (i.e. antivirus, firewall, etc).

[2018-12-12 01:53] fernandrez commented on #263
I can say though that even if I start the azure function in a high port, the connection from the browser works and also fails at the worker

[2018-12-12 15:31] owenwhenry commented on #249
Hey,

I fiddled with this a bit and it (almost) works. While it no longer chokes on loading pyodbc, the construction of the connection string is different for Linux than it is for Windows.

[Here's the official pyodbc documentation](https://github.com/mkleehammer/pyodbc/wiki/Connecting-to-SQL-Server-from-Linux-or-Mac).

[Here's the Microsoft documentation. ](https://docs.microsoft.com/en-us/sql/co

[2018-12-12 17:12] fernandrez commented on #263
I am behind a proxy, but I did not mention this given the calls are going to be local anyways. Please help us out, the debugging cycle with us having to deploy to azure to test, is going to kill us.

[2018-12-12 17:18] fernandrez commented on #263
I also see it's listening in both ports (host and worker):
TCP    127.0.0.1:59415        0.0.0.0:0              LISTENING
TCP    0.0.0.0:7071           0.0.0.0:0              LISTENING

[2018-12-12 19:59] fernandrez commented on #263
Hi all, @elprans @maiqbal11, would you please redirect me somewhere?

[2018-12-13 00:44] priyaananthasankar commented on #229
Can you try an actual storage? If you are looking for a time series forecast check out this sample: https://github.com/priyaananthasankar/parseltongue/tree/master/PyFunctionsOnACI/ForecastingApp

[2018-12-13 00:50] priyaananthasankar commented on #234
Ive been working with Py Functions and havent faced any issues so far, so can you describe your environment? Do you have the latest version of func core tools, or python3.6 . Sometimes in a mac I have seen it saying Application shutting down and not responding, killall func worked. It seems like the function started properly. Also it is possible to debug using VS Code as well.

[2018-12-13 18:07] ashfondu opened #264 "Steps to install Azure Functions for Python locally using WSL/Ubuntu"
**Not an Issue** but wanted to post these steps for usefulness of others...
These are the steps to get Azure Functions with Python to work locally using either an Ubuntu image via MSFT store or WSL using ConEmu or via Visual Studio Code WSL.

**1-Install .NET CORE SDK on Linux**
 https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current

**2-Install Azure CLI with apt**
h

[2018-12-13 23:12] priyaananthasankar commented on #264
Great. First of all this should not be an issue here. Secondly, you can convert this into a bash script and create a DevOps pipeline like this - this uses Ubuntu 16.04
https://github.com/priyaananthasankar/parseltongue/tree/master/DevOps/azure-python-pipeline.yaml

[2018-12-14 02:16] ashfondu commented on #264
Fantastic work as always.

 Thought it might be useful for noobs such as .

-------- Original message --------
From: Priya Ananthasankar <notifications@github.com>
Date: 12/13/18 3:13 PM (GMT-08:00)
To: Azure/azure-functions-python-worker <azure-functions-python-worker@noreply.github.com>
Cc: ashfondu <asfand.zaman@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [Azure/azure-function

[2018-12-14 08:19] priyaananthasankar opened #265 "Docker image size comparison"
I wrote a forecasting app and launched it in ACI using Python Functions on Container, through func core tools, this uses Blob binding and is triggered through HTTP

`func --init Docker` and compiled the docker image. The code for this is here:

https://github.com/priyaananthasankar/parseltongue/tree/master/PyFunctionsOnACI/ForecastingApp

I also wrote the exact same forecasting app in my own custo

[2018-12-14 09:42] StefanVanDyck opened #266 "Issue migrating existing V1 environment to V2"
I am having issues deploying my code to the azure functions cloud environment.
I don't know if this is the right place to log this issue, let me know if I should use another channel.

I managed to migrate an existing V1 function runtime project to V2.
Everything is working perfectly fine locally, however when deploying on Azure I am running into issues.
I am trying to convert an existing environme

[2018-12-17 13:18] monteledwards commented on #263
This is not the way to ask for support. This is an in progress, highly beta service that the front page explicitly marks as to not use in production. This project, at the moment, is only for testing. I promise you the MSFT team is busy working to fix these issues... never spam a project like this.

[2018-12-18 15:59] StefanVanDyck commented on #266
I just realized the problem was my function app was using Windows instead of linux (Preview).
Pleas disregard, although the error might have been a bit more descriptive rather then a null-pointer

[2018-12-18 15:59] #266 closed

[2018-12-18 18:34] asavaritayal commented on #264
This issue was moved to Azure/azure-functions-core-tools#941

[2018-12-18 18:34] #264 closed

[2018-12-18 18:34] asavaritayal commented on #264
Moved issue to the Core Tools repo.

[2018-12-18 18:36] asavaritayal commented on #265
This issue was moved to Azure/azure-functions-docker#60

[2018-12-18 18:36] #265 closed

[2018-12-18 20:57] asavaritayal commented on #263
Closing issue in favor of the duplicate - https://github.com/Azure/azure-functions-python-worker/issues/229

[2018-12-18 20:57] #263 closed

[2018-12-18 21:07] stuartleeks opened #267 "Custom binding support"
Is it possible to use custom bindings with the python worker? The wiki has a page on [adding new bindings](https://github.com/Azure/azure-functions-python-worker/wiki/Adding-support-for-a-new-binding-type), but it isn't clear if this is guidance for custom bindings or just for adding new bindings to the python worker project.

#### Repro steps

Running the code with the custom binding [here](https

[2018-12-18 21:08] asavaritayal commented on #249
Thanks @owenwhenry. I'm closing the issue since it no longer requires any work from engineering. Appreciate your sharing the script here for others' perusal.

[2018-12-18 21:08] #249 closed

[2018-12-18 21:11] #166 closed

[2018-12-18 21:12] #52 closed

[2018-12-18 21:14] asavaritayal commented on #267
@stuartleeks the wiki page provides instructions on how to add new bindings to the python worker project. Any contributions are welcome.

The work to enable all custom bindings (node functions like behavior) is captured by the issue here - https://github.com/Azure/azure-functions-python-worker/issues/66

Out of curiosity, which binding are you hoping to use?

[2018-12-18 21:14] #267 closed

[2018-12-18 21:18] asavaritayal commented on #216
This issue was moved to Azure/Azure-Functions#1076

[2018-12-18 21:18] #216 closed

[2018-12-18 21:18] asavaritayal commented on #216
This issue was moved to Azure/Azure-Functions#1077

[2018-12-18 21:42] stuartleeks commented on #267
@asavaritayal - I have created a custom binding in the repo I originally linked to and want to be able to used that from python :-)

[2018-12-18 22:59] t-eckert commented on #227
+1 Happy to contribute

[2018-12-19 16:38] andrebriggs commented on #248
@elprans are you suggesting to do this on deploy? Couldn't an App Config setting also do the trick?

[2018-12-19 16:51] elprans commented on #248
I'm not sure core-tools have this wired-in. @ahmelsayed?

[2018-12-20 23:24] ankitkumarr opened #268 "Request to add an __init__.py file"
Would it be possible to add an `azure/__init__.py` file with this content (explicit namespace)?-
[code]

**Problem-**
I am blocked on this to be able to remove `azure-functions-worker` dependency from user's `site-packages`. Doing so, makes `azure` namespace in two different path. I understand that PEP 420 allows namespace support with no `__init__.py` file. But, right now, several other azure pac

[2018-12-20 23:40] elprans commented on #268
@ankitkumarr `__import__('pkg_resources').declare_namespace(__name__)` is a bit more robust with respect do different kinds of packages and does essentially the same thing as `extend_path`.

[2018-12-20 23:41] elprans commented on #268
Also, `azure-functions-python-library` would need to be modified in the same way.

[2018-12-20 23:50] ankitkumarr commented on #268
@elprans, Thanks for the fast response!
Looks like `__import__('pkg_resources').declare_namespace(__name__)` doesn't support implicit namespace though.

So, if I have

user-site-packages/
----------azure (no `__init__.py`)/
------------------a_package/

container-site-packages/
user-site-packages/
----------azure/
--------------`__init__.py`(with `pkg_resources.declare_namespace`)/
--------------a

[2018-12-21 00:12] elprans commented on #268
You're right about the PEP 420 compatibility in `extend_path`.  However, it is my understanding that the root issue is the incompatibility with packages using `pkg_resources.declare_namespace`.  It seems to me that the most robust way is to use the same namespace mechanism across all packages under the `azure` namespace.  Using `extend_path` in the worker might not fix all import issues with `user

[2018-12-21 00:42] elprans commented on #268
Well, the edge case is if any pure namespace package is imported _before_ the worker itself.  It may be impossible due to how the things are structured now, but this case still exists.  Ignoring that `extend_path` would work.

[2018-12-21 00:48] ankitkumarr commented on #268
By pure namespace package, do you mean something like `azure/pythonfile.py`? Then, trying to do `import azure.pythonfile`?

[2018-12-21 00:51] elprans commented on #268
No, sorry. By pure namespace I meant 'implicit namespace', i.e. a PEP 420 package, i.e a package without `__init__.py`.

[2018-12-21 00:59] ankitkumarr commented on #268
Thanks for the clarification. I think that works fine. Even if the pure package is imported before the worker.

[2018-12-27 01:14] eragonriddle opened #269 "Python DateTime Error For Blob Events In Event Grid Azure Function"
# Issue Description
The Azure Event Grid Trigger function in python throws an error on receiving a blob event. The error is related to DateTime format. The date returned by the blob event to the python function cannot be parsed by python as the millisecond value has seven digits. E.g. the date '2018-12-09T23:47:03.285137Z'  cannot be parsed by python as the millisecond value has seven digits which

[2018-12-28 22:37] vtbassmatt commented on #165
I've written a [small Python package](https://pypi.org/project/azf-wsgi/) to convert Azure Functions requests/responses into WSGI. I got it working with a boilerplate Django app in production. No reason it wouldn't work with Flask, either.

I'm not sure if I properly handled error states -- this was more "proof of concept" than "battle-hardened deployment strategy". That said, I'm open to contribu

[2018-12-28 23:35] sptramer opened #270 "`func host start` does not properly load azure.functions"
#### Investigative information

Env: Windows 10 CMD, Python 3.6 w/venv installed via installer, Azure Functions Core Tools installed via chocolatey package

Function created with:

`func init` (Python)
`func new` (HTTP Trigger)

Following instructions on:

#### Repro steps

Provide the steps required to reproduce the problem:

1. `func host start`

#### Expected behavior

Application and python wo

[2019-01-01 15:49] gattjoe opened #271 "Data persists across function execution"
#### Investigative information

Please provide the following:

- Timestamp: 1/1/19 10:30 AM EST
- Function App name: SecEngFunctionTestV2
- Function name(s) (as appropriate): SSLScan

#### Repro steps

1. Run the function against microsoft.com and receive results for microsoft.com
2. Run the function against hotmail.com and receive results for both microsoft.com and hotmail.com

#### Expected beha

[2019-01-02 19:09] aluong opened #272 "Storage Queue Trigger does not pass dequeued message to Azure Linux Consumption Function"
I am testing with the auto-generated Python Storage Queue trigger template. When I publish the function to a **Linux Consumption Function App**, the messages are dequeued but don't appear to get "passed" into the Function for processing. Eventually the message will move to the "dead letter" queue after 5 unsuccessful dequeues.  However, this issue does not reproduce locally.

#### Repro steps

- h

[2019-01-02 20:10] aluong commented on #272
The issue seems to go away when I use an earlier version of the Storage extension.
`func extensions install -p Microsoft.Azure.WebJobs.Extensions.Storage -v 3.0.0.`

I presume there are some assembly issues with what is installed in the Linux Consumption worker environment.

[2019-01-02 21:38] asavaritayal opened #347 "Investigate cold start improvements for Python Functions"
Meta issue to investigate possible runtime optimizations to improve cold start for Python.

/cc @fabiocav @maiqbal11

[2019-01-02 21:40] asavaritayal opened #346 "Start Python language worker in placeholder mode"
(sub-issue of https://github.com/Azure/azure-functions-host/issues/3912 )

Tracking issue to warm up Python language worker when using placeholders.

/cc @fabiocav @maiqbal11

[2019-01-02 22:03] asavaritayal commented on #272
This issue was moved to Azure/azure-functions-host#3914

[2019-01-02 22:03] #272 closed

[2019-01-02 22:06] asavaritayal commented on #270
This issue was moved to Azure/azure-functions-core-tools#954

[2019-01-02 22:06] #270 closed

[2019-01-03 19:47] elprans commented on #244
I seems like we mostly need to provide a way to construct mock input for the supported binding types.  #262 is related.

[2019-01-03 22:53] asavaritayal opened #273 "Noisy Error Messages for Import Module Failure"
_From @raahmed on January 3, 2019 21:35_

Context: Running Python on Functions in Linux (Preview)
Severity:
Medium( Time Confusing - causes Developer Frustration)

Reproduction Steps:
0.  Add an 'import azure.storage' to your code - without installing azure.storage locally.
1. Execute 'func host start'.
2. Notice that Functions error messages are quite noisy - which makes it difficult to find rele

[2019-01-03 22:53] asavaritayal commented on #273
/cc @fabiocav @maiqbal11

[2019-01-04 19:38] asavaritayal commented on #271
@elprans can you investigate this?

[2019-01-07 17:42] asavaritayal commented on #244
Correct - we'll also need a wiki page enlisting examples of how to construct the mock input, best practices for unit testing and suggested CI script with Azure DevOps.

[2019-01-07 19:29] asavaritayal opened #274 "Integration testing for language worker, core tools and docker image"
Details below

[2019-01-07 20:58] maiqbal11 commented on #274
We will need to create a setup which can replicate end to end user scenarios: Using core tools to create functions and then publishing them to Linux. We would use the latest core tools, language worker and docker image for this. Will provide further updates once I have further clarity on what all we need to include.

[2019-01-08 16:32] TecumsehSamp opened #275 "Trying to publish Function App with --build-native-deps access to the path is denied"
#### Investigative information

Please provide the following:

- Timestamp: 08/01/2019
- Function App name: awinningstrat
- Function name(s) (as appropriate): TimerTrigger

#### Repro steps

Provide the steps required to reproduce the problem:

Trying to publish a function app with --build-native-deps flag immediately exists with a "access to the path 'C:\Users\{myfullname}\AppData\Local\Temp\tmp7

[2019-01-08 22:41] owenwhenry commented on #249
@Torwalt Unfortunately not yet, my experience with Linux and CI is somewhat lacking. It's also going around the block to get next door - the entire allure of Functions is that you don't have to set up and configure a machine to run your code, but that's exactly what you have to do in order to get pyodbc to work.

There's a good chance that Microsoft will eventually implement a Windows VM, though!

[2019-01-09 01:21] asavaritayal commented on #275
This issue was moved to Azure/azure-functions-core-tools#965

[2019-01-09 01:21] #275 closed

[2019-01-09 20:57] maiqbal11 opened #276 "Replicate AppVeyor testing in Azure DevOps"
Part of the larger effort to start utilizing Azure DevOps. Also a step in achieving #274 where we perform full integration testing for Python scenarios.

[2019-01-09 21:48] asavaritayal commented on #261
Needs to be tested on both Linux consumption and dedicated.

[2019-01-09 22:43] asavaritayal commented on #268
@elprans do you have an update on this?

[2019-01-09 22:43] asavaritayal commented on #262
@elprans do you have an update on this?

[2019-01-09 23:01] elprans commented on #268
@asavaritayal: #277

[2019-01-09 23:12] elprans commented on #262
@asavaritayal I'm working on a PR

[2019-01-10 15:32] DheerendraRathor opened #278 "Add support for absolute imports"
Currently only relative imports are supported for local packages, however that is definitely not the pythonic way to do things. In Python absolute imports are preferred over relative imports.
Also few things are difficult by just using relative imports:
[code]

By this behaviour, Python functions app forces `from ... import ...` syntax which is not always preferred and many times against organizat

[2019-01-10 16:38] marshallford commented on #229
I am also running into this issue. Ubuntu 18.04 WSL. Default timer trigger.

[2019-01-10 17:27] maiqbal11 opened #279 "Release 1.0.0b3"
We should do a release with the current bits in the repo. We were planning to do this before the break but did not want to risk interrupting the public preview.

Once the release is done, I can make the corresponding changes to the core tools and the Docker image.

[2019-01-10 17:58] maiqbal11 commented on #274
Created an issue from core-tools perspective so we can ensure that deployment options do not break when changes are made to worker: https://github.com/Azure/azure-functions-core-tools/issues/971. The eventual goal should be to decouple them entirely and simply expose a config that the core tools use as an entry point.

[2019-01-10 20:09] ashfondu opened #280 "Is there a Twilio out binding available yet ?"
Hi wondering if there is a twilio binding available to use with Azure Python functions. I tried "func extension install --package Twilio --version 5.24.1" but the binding still show up as unregistered.
I also tried the twilioSms binding as recommended by https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio but not having any luck either.

I am able to get Twilio to work

[2019-01-10 21:35] maiqbal11 commented on #280
Hi @ashfondu, there are no out-of-the-box implementations yet for Python. There are plans to expose raw data binding types (#66) so that users can implement their own bindings as needed.

[2019-01-10 21:35] #280 closed

[2019-01-11 03:34] jaycle opened #281 "Body formatted when 'application/json' causing incorrect Content-Length"
`HttpRequest`'s `get_body()` method returns bytes and should therefore be unformatted. When `Content-Type` is 'application/json' the body is formatted (adding CRLF characters) which can break certain functionality. This is especially problematic for source which depends on the `Content-Length` header, which remains unmodified from the original request. Implementations needing to parse the bytes th

[2019-01-11 14:12] nkma1989 commented on #249
Unfortunately I am stuck as the exact same place. Have a solution been found?

[2019-01-14 15:53] elprans commented on #281
@pragnagopa This looks like a host issue.  Is it possible to avoid JSON reformatting of request bodies?

[2019-01-14 15:55] #268 closed

[2019-01-14 16:14] #262 closed

[2019-01-14 19:16] asavaritayal commented on #281
This issue was moved to Azure/azure-functions-host#3951

[2019-01-14 19:16] #281 closed

[2019-01-14 19:47] elprans commented on #271
@gattjoe You are using a global variable to accumulate the results across multiple invocations.   The global state is not guaranteed to be pristine on every invocation in the same way it's not guaranteed in a regular app server.  This behavior is also desirable for cases where you need to cache the result of an expensive computation between function invocations.

@asavaritayal We should probably d

[2019-01-15 12:33] nkma1989 commented on #249
@owenwhenry Don't know if it applicable for you, but I ended up using table storage as my data dump.
Works just fine. Here is the package I used:
https://pypi.org/project/azure-cosmosdb-table/

[2019-01-15 18:12] asavaritayal commented on #227
/cc @cgillum @kashimiz as FYI

[2019-01-15 22:43] maiqbal11 commented on #276
Completed in #283

[2019-01-15 22:43] #276 closed

[2019-01-16 20:44] ahmelsayed opened #286 "Create a nuget package with the worker that can be included in the runtime build"
Today [node, powershell, and java ](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/WebJobs.Script.csproj#L38-L40) all have nuget packages that put the right files for their workers under `/workers/` when building `azure-functions-host` repo. The python worker is the only one that doesn't do that, causing the build process for CLI, and Docker to explicitly download the wo

[2019-01-16 20:45] ahmelsayed commented on #286
/cc @maiqbal11  @asavaritayal

[2019-01-17 20:52] maiqbal11 commented on #261
The issue here is that we are not logging exceptions at the point where a function fails to load.  We log exceptions when the failed function is **invoked**. @brettsam is working on a fix that will allow logging to ApplicationInsights when these kinds of exception occur - currently the logger design has limitations that prevent this from happening.

[2019-01-17 22:31] maiqbal11 commented on #261
This issue was moved to Azure/azure-functions-host#3975

[2019-01-17 22:31] #261 closed

[2019-01-18 15:48] mikespub opened #287 "Publish python template fails on Ubuntu due to pkg_resources==0.0.0"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

On Ubuntu 18.04, when you follow the Python in Functions quickstart guide, the template generated contains a requirements.txt file with the following content:

[code]
The invalid package pkg-resources==0.0.0 causes publish to Azure to fail:

[code]
If you remove or comment out that line, publish succeeds

[2019-01-18 18:22] maiqbal11 commented on #287
@ankitkumarr, did we recently make a change to have the pkg-resources include? I don't recall that being there previously.

[2019-01-18 18:43] ankitkumarr commented on #287
@maiqbal11, no, we aren't adding that. It's an Ubuntu bug.

Sources-
https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1635463
https://github.com/pypa/pip/issues/4022

Although a bit hacky, on the tooling side, we could filter out `pkg-resources` on Ubuntu after running `pip freeze`. But, maybe it's better if we reference the issue in our documentation and let users remove that manually. I

[2019-01-18 18:49] maiqbal11 commented on #287
Thanks Ankit! Agree that we should have this as part of our documentation rather than hacking to remove it when publishing. We can remove the guidance once the Ubuntu bug itself is fixed. @mikespub, the guidance right now would be to manually remove the include when publishing. You should be able to track the bug fix in the link that Ankit shared above.

@asavaritayal, can we make a note in our do

[2019-01-20 19:40] QaiserAli commented on #229
I am also runnning the same issue as described above. Any idea how to fix this?

[2019-01-21 17:58] asavaritayal commented on #279
@elprans do you have an update on this?

[2019-01-21 18:12] elprans commented on #279
I'll post a release as soon as https://github.com/Azure/azure-functions-python-library/issues/7 lands

[2019-01-21 23:21] asavaritayal commented on #286
I'm not aware of any downsides. @pragnagopa @fabiocav thoughts? For context, the Python worker is currently a PyPI package.

[2019-01-22 12:17] fbaeuerlein opened #288 "Add device_id to EventHubEvent"
Please add a property device_id to EventHubData similar to EventHub reader implementation (https://github.com/Azure/azure-event-hubs-python/blob/master/azure/eventhub/common.py).

[2019-01-22 17:38] sptramer commented on #229
I've figured out the issue: It's related to a socket configuration problem on WSL. See https://github.com/Microsoft/WSL/issues/1419 and https://github.com/grpc/grpc/issues/16998

[2019-01-22 20:24] fernandrez commented on #229
Thank you @sptramer, have you found out any workaround to make this work under windows?

[2019-01-22 20:50] sptramer commented on #229
Unfortunately not, because the socket issue is in WSL itself. There may be a later version of GRPC that works, but I haven't investigated in depth.

[2019-01-23 01:28] priyaananthasankar opened #291 "Failed to start language worker process for: python"
Deploying a python function with the following requirements.txt

azure-functions==1.0.0a5
azure-functions-worker==1.0.0a6
grpcio==1.14.2
grpcio-tools==1.14.2
protobuf==3.6.1
six==1.12.0
PyYAML~=3.13
azure-cli-core==2.0.54
azureml-sdk==1.0.8
azure-functions==1.0.0a5
azure-functions-worker==1.0.0a6
requests==2.20.1

The portal says this
<img width="376" alt="screen shot 2019-01-22 at 5 22 38 pm" src

[2019-01-23 01:39] pragnagopa opened #292 "Update Grpc dependencies"
Move to 1.18.0

[2019-01-23 06:47] takumats commented on #256
I've tried it on my environment, too.
(just confirmed, fbprophet.__version__, ...)

My environment is,
- Windows 10 pro
- docker for windows (assigned 4GB memory to VM)
- wsl (ubuntu)
- azure function core tools: 2.3.199
- command: func azure functionapp publish XXXXX --build-native-deps --no-bundler

Hope it helps you!

[2019-01-23 12:18] lightenup commented on #229
I've had a similar issue on linux, which was caused by a corporate proxy. I needed to set no_proxy environment variable for localhost/127.0.0.1

[2019-01-23 13:23] FlippieCoetser opened #294 "Blob Trigger Throw OutOfMemoryException"
#### Description of Issue and steps to reproduce
Using default Blobtrigger type Azure Functions App:
1. Using a large file: 100Mb
1.1. Start debug in VS Code
1.2. Add file to Azure blob storage container
1.3. Blobtrigger app throws an OutOfMemoryException.
![image](https://user-images.githubusercontent.com/3672126/51608121-e5673a80-1f16-11e9-99a1-215b29f96f43.png)

2. Using a small file: 1Kb
2.1.

[2019-01-23 18:10] fabiocav commented on #273
@asavaritayal assigning this to Triaged for review today.

[2019-01-23 19:50] priyaananthasankar commented on #294
The actual problem aside: The recommendation for such types of scenarios is to use Event Grid. Using a Blob trigger is polling at the storage while event grid is highly event based and you can use a blob binding and pull out stuff.
Blob -> Event Grid -> Event Grid Trigger on Python functions (recommended). That said this seems like a bug because I have read 2 GB worth of data from C# blob trigger

[2019-01-23 21:12] asavaritayal commented on #291
@ankitkumarr could you please investigate this?

[2019-01-24 00:04] maiqbal11 commented on #274
Testing from Core-tools perspective: https://github.com/Azure/azure-functions-core-tools/issues/971

[2019-01-24 00:14] ankitkumarr commented on #291
Looks like adding `azureml-sdk==1.0.8` causes the failure. I am not sure why. I will look more into it. I don't think it's related to packaging.

\cc @elprans

[2019-01-24 00:20] priyaananthasankar commented on #291
@ankitkumarr : Tested it locally with azureml-sdk==1.0.8 and it worked fine. We did --build-native-deps as well because this pulls in PyYAML

[2019-01-24 03:02] ankitkumarr commented on #291
@priyaananthasankar, is this something that used to work before and broke recently, or is this a new app?

While debugging, this is the error I saw-
[code]

@elprans, I suspect this is because one of the dependencies in the `requirements.txt` is bringing in an older version of `concurrent.futures`, and their `concurrent.futures` gets imported when our worker tries to import `futures`. If this is t

[2019-01-24 12:23] FlippieCoetser opened #296 "Using multiple outputs as parameters not working"
## Background Info
### Send data to a single output binding
Two options are available to send data to an output binding (HTTP Request / Response example below).

#### Using `func.Out[T]`
a HTTP Response message is produced by using `.set(T)` method on `func.out[T]`.
The parameter `reponse` in `main.py` and name `response` in `function.json` is the same

#### `main.py`

[code]

#### `function.json`

[2019-01-24 18:38] elprans commented on #279
Done.

[2019-01-24 18:38] #279 closed

[2019-01-24 18:46] priyaananthasankar commented on #291
@ankitkumarr Interesting. This is a new app being tested. I think this is the first time we are trying to use aml sdk for python services through functions. We are trying to get python functions to trigger an aml job, So in case of C#, if the host uses NewtonSoft version 9 and if the code uses version 11 as a sub dependency, then today we can specify version 11 as a main dependency in the code and

[2019-01-24 20:13] ankitkumarr commented on #291
@priyaananthasankar, I think this was problem caused by user's dependencies taking precedence over the dependencies in our docker container.

This should be fixed by https://github.com/Azure/azure-functions-docker/pull/66.
It will be available in our docker containers by next week I believe.

Let us know if you continue seeing issues.

[2019-01-24 20:45] pragnagopa opened #298 "[Placeholder]Add support for reloading environment variables"
Implement handlers for environment reload requests
defined here: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/73896fd4bf1ec13183ad638e80e3d5a9c19c58cb/src/proto/FunctionRpc.proto#L69-L71

FunctionEnvironmentReloadRequest  is sent by the functions host during specialization when a language worker is started in placeholder mode.

cc @asavaritayal @maiqbal11

[2019-01-24 20:56] pragnagopa opened #299 "[Placeholder]Add support for reloading modules"
This is tracking issue to investigate the work needed on the python worker when JobHost restarts.
As of now when JobHost restarts, python language worker is restarted as well.
If a python worker is started in placeholder mode, on a jobhost restart -> functions host will send a new message JobHost restart event Python worker needs to :
- Reload modules for a python function https://docs.python.org/

[2019-01-24 20:56] pragnagopa commented on #299
cc @asavaritayal

[2019-01-27 02:17] abhinavbom opened #301 "Error launching app locally"
Launching `azure host start` command is throwing below error:

The App does launch after this error, but when I trigger the function(QueueTrigger), it shows below error:

[code]

[2019-01-27 08:28] t-eckert opened #302 "Update Contributor Guide to Include Common Error"
On MacOS Sierra and newer, the OS' included OpenSSL is depreciated and no longer used by Python 3.6 and above. Rather, a copy of OpenSSL is included in the download of Python and a bash command must be manually run to install default root certificates.

If the user has not run the command, they will not be able to download the Microsoft.Azure.WebJobs.Script.WebHost.dll when running `python setup.p

[2019-01-28 16:45] asavaritayal commented on #302
Thanks @t-eckert

[2019-01-28 16:47] asavaritayal commented on #301
@abhinavbom did you install the required extensions for Queue trigger (`func extensions install`) ?

[2019-01-28 16:49] asavaritayal commented on #296
@elprans can you investigate this issue?

[2019-01-28 16:52] asavaritayal commented on #294
@elprans can you investigate this issue?

[2019-01-28 16:53] #291 closed

[2019-01-28 17:45] elprans commented on #294
Judging by the error, this is a host issue.

[2019-01-28 19:18] abhinavbom commented on #301
The suggestion helped. Thanks! closing the issue.

[2019-01-28 19:18] #301 closed

[2019-01-28 20:13] FlippieCoetser commented on #294
@elprans What leads you to believe this is a host issue?
Using an HTTP Trigger with Blob binding works: retrieving the content is done on function execution. Using a BLOB Trigger causes an error.

Also, loading a small file produces no error, but loading a large file causes the exception.
I the execution of both, I did monitor the amount of memory used to make sure the system does not run out of m

[2019-01-30 04:38] asavaritayal opened #303 "Investigate XAR feasibility"
Derived from Epic - https://github.com/Azure/azure-functions-host/issues/3912

There is some investigation required to determine if we can package the user dependencies alone into the .xar format, leaving aside the Python executable.

[2019-01-30 11:00] suntracks opened #304 "Dependency error with python function"
Had the similar that is closed here https://github.com/Azure/azure-functions-python-worker/issues/237

Does not compile and push the functions with `func pack`
While `func azure functionapp publish <function name> --build-native-deps`
was used , build was successful , however Function does not run and throws this error

2019-01-30T10:23:53.073 [Error] Executed 'Functions.calibration' (Failed, Id=7

[2019-01-30 17:39] Jingnan-Cao opened #305 "Error importing modules into Python function"
#### Investigative information
Error importing modules into Python function

Timestamp: Jan 30, 2019
Azure Function Python V2
Work with Azure Functions Core Tools
Running locally, start in terminal with $func host start

#### Repro steps

1. source .env/bin/activate, build a Blob Trigger Function, func extensions install
2. install module azure-common and azure-storage
3. import module in function

[2019-01-30 20:16] priyaananthasankar commented on #269
High priority for many customers looking at this pattern @asavaritayal

[2019-01-30 22:05] elprans commented on #288
How does "device_id" get encoded in the host message?  As far as I can see, there is no mention of it in the `EventData` documentation.  What is the best way to test this?   /cc @asavaritayal

[2019-01-30 22:21] elprans commented on #244
I've provided some guidance and examples in the Wiki: https://github.com/Azure/azure-functions-python-worker/wiki/Unit-Testing-Guide

[2019-01-30 23:21] asavaritayal opened #307 "Failure to write bytes to Service Bus output"
Writing `str` type to Service Bus queue works but the same function fails on using `bytes`:

[code]

Error message received:
[code]

[2019-01-30 23:32] elprans commented on #307
It looks like an error in your code: `get_body()` already returns bytes, so there is no need to encode it.

[2019-01-31 00:33] asavaritayal commented on #307
Thanks, that worked.

[2019-01-31 00:33] #307 closed

[2019-01-31 00:46] debanandaghosh opened #308 "azure function python error"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):

#### Repro steps
Regarding published one gives below error
App is running

 https://demoappascendas.azurewebsites.net/
But trigger is not working any clue?

http://https//demoappascendas.azurewebsites.net/api/httpTrigger?name=DebanandaGhosh

error message inside az

[2019-01-31 01:05] asavaritayal commented on #288
It should be available as part of the (trigger metadata)[https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---event-metadata]

Just chatted with @pragnagopa and looks like there's a known issue on the extension itself - https://github.com/Azure/azure-webjobs-sdk/issues/2068

[2019-01-31 14:37] AlverezYari opened #309 "Always on functionality?"
[code]

[code]

</details>
-->

[2019-01-31 17:06] asavaritayal commented on #309
@AlverezYari I'm not sure what your question is. Could you please elaborate?

[2019-01-31 17:10] AlverezYari commented on #309
Sorry, was in rush when I put that in. My apologies! Anyway, we've got our new function running on a App Service plan, but the start up time for it after it sleeps seems excessively long. I would like to have it always up and ready to go (ie: no sleep or very quick startup time). What's the best way to accomplish that with the Python based function apps?

[2019-01-31 17:21] asavaritayal commented on #309
No worries, thanks for the context.

`Always On` is available as an application setting when running on an App Service Plan. There are two ways to set this:

1. Portal UI

![image](https://user-images.githubusercontent.com/8435148/52071910-cf6e0100-2538-11e9-9ad7-1507b55767b5.png)

2. CLI

https://docs.microsoft.com/en-us/cli/azure/functionapp/config?view=azure-cli-latest#az-functionapp-config-set

[2019-01-31 17:22] #309 closed

[2019-01-31 17:56] AlverezYari commented on #309
![image](https://user-images.githubusercontent.com/13000137/52074302-2aaaee00-254f-11e9-9068-7fe7b97e1add.png)

@asavaritayal

I'm going to assume I'm missing this option because I've selected the wrong kind of AppService plan?

[2019-02-01 03:39] asavaritayal opened #310 "Function Apps on Linux Consumption show WarmUp function"
Currently if you publish your functions to a Linux Function App running on the Consumption Plan, an additional function called `WarmUp` starts to surface in the project. This is a **known issue** and we're currently working on the fix.

## Where does this function show up?

The WarmUp function can surface in two ways:

1. Core Tools
    example -
    ![image](https://user-images.githubusercontent.

[2019-02-01 14:09] AlverezYari commented on #309
@ahmelsayed Specifically it was/is a EastUSLinuxDynamicPlan which I think is the default if you follow the guides. I was able to get this working redeploying to a new Linux App Serivce plan in the (PremiumV2: 1 Small) tier. I had to completely redeploy the function to make that switch however, as I could not find a good way to trigger a switch from the portal or cli. Probably working as intended b

[2019-02-01 19:22] ahmelsayed commented on #309
Yes, as you pointed out Always On is only available for **dedicated** app service plans, not consumption a.k.a: dynamic. You also can't move a Linux app between dedicated and consumption since the underlying resources are very different. I'm actually not sure if you can do that for the Windows apps, I'll have to check.

Recreating the application as dedicated like you did is the right way to go, a

[2019-02-01 23:07] maiqbal11 commented on #286
PR is out for this: https://github.com/Azure/azure-functions-python-worker/pull/311/

[2019-02-04 14:52] mr3bn commented on #310
Happy to see this issue out, noticed late on Thursday 1/31 and had me scratching my head. I have a behavior potentially related to this issue that I also started around the time this issue was opened.

**Description** A locally-developed Linux Consumption function app with 4 functions total -- 2 with EventHub triggers (`StreamingA` and `StreamingB`) and 2 with HTTP triggers (`HTTPA` and `HTTPB`) o

[2019-02-04 20:24] priyaananthasankar opened #312 "Functions hangs calling a async method from AML SDK"
Triggering a job in AML SDK uses their async method run.submit which is not supposed to block.
On a standalone script it comes back under 30secs, but when triggered within an Azure function it calls the AML service job and triggers an experiment successfully inside AML service, but does not return back to the function. The function hangs.

We need a way to spawn off a job in AML Service and return

[2019-02-04 20:32] michhar commented on #312
For repro:  we are following steps [here](https://github.com/michhar/deeplearning-aml-and-azure-functions)and the standalone script for testing AzureML only is [here](https://github.com/michhar/deeplearning-aml-and-azure-functions/blob/master/dnn/HttpTrigger/test.py).  @priyaananthasankar Please amend if you have additional notes.  Thanks.

[2019-02-04 21:18] maiqbal11 commented on #248
There are two parts to this issue: (1) The root logger not having the proper level set in the worker and (2) the Functions Host filtering logs that are at the debug level and below.

1. The issue here is not related to the specification of `--log-level` since that is used for the logger that logs system logs. The user logs are configured to flow over the GRPC channel using the root logger. Current

[2019-02-05 14:34] elprans commented on #269
@kavithamadhavaraj In this particular case, unfortunately, there are no workarounds.

[2019-02-05 17:04] asavaritayal commented on #66
@elprans this should be unblocked now. /cc @maiqbal11

[2019-02-05 17:05] joshuapwalton commented on #66
Thanks!

From: Asavari Tayal <notifications@github.com>
Reply-To: Azure/azure-functions-python-worker <reply@reply.github.com>
Date: Tuesday, February 5, 2019 at 12:05 PM
To: Azure/azure-functions-python-worker <azure-functions-python-worker@noreply.github.com>
Cc: Joshua Walton <Joshua.Walton@sas.com>, Manual <manual@noreply.github.com>
Subject: Re: [Azure/azure-functions-python-worker] Implement

[2019-02-05 17:11] joshuapwalton commented on #66
What do I have to do to see the fix?
Redeploy the function?
Otherwise, I’m still seeing the error today.

From: Asavari Tayal <notifications@github.com>
Reply-To: Azure/azure-functions-python-worker <reply@reply.github.com>
Date: Tuesday, February 5, 2019 at 12:05 PM
To: Azure/azure-functions-python-worker <azure-functions-python-worker@noreply.github.com>
Cc: Joshua Walton <Joshua.Walton@sas.com>

[2019-02-05 17:40] elprans commented on #66
@asavaritayal @pragnagopa We need to bump the host version used for testing as well.  Which version should I use?

[2019-02-05 17:42] pragnagopa commented on #66
@elprans - host is not rolled out yet. You can the build from appveyor to unblock development: https://ci.appveyor.com/api/buildjobs/k1sofl9yt8n9ocpr/artifacts

[2019-02-05 17:43] joshuapwalton commented on #66
Are you saying the fix is still not available upstream in FunctionApps?

From: Pragna Gopa <notifications@github.com>
Reply-To: Azure/azure-functions-python-worker <reply@reply.github.com>
Date: Tuesday, February 5, 2019 at 12:42 PM
To: Azure/azure-functions-python-worker <azure-functions-python-worker@noreply.github.com>
Cc: Joshua Walton <Joshua.Walton@sas.com>, Manual <manual@noreply.github.com

[2019-02-05 17:45] pragnagopa commented on #66
@joshuapwalton - This feature is still in development. This issue will be updated as we make progress.

[2019-02-05 18:12] elprans commented on #66
@pragnagopa I am not seeing the `data_type` field in metadata with that build.

[code]

The function.json file looks like this:

[code]

[2019-02-05 18:56] pragnagopa commented on #66
@elprans - data_type is a new field added in the protobuff: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L318
Python worker needs to pull in the latest proto file

[2019-02-05 18:58] maiqbal11 commented on #66
@elprans, I am able to see the `data_type` field while running locally. The worker `dev` branch is updated with the latest protobuf so you should be able to pull it to have the same version as the host.

[2019-02-05 20:37] kushalmangtani commented on #310
Quick question regarding Warm-up function here:
Does the Warm-up function reduces the cold-start time of the function app OR impacts the performance of cold-start in any way?

I was testing a python cloud-function with Linux Consumption plan, and observed the cold-start time significantly reduces when the warmup function is enabled vs disabled (Cold start: ~ 9 sec to 400 msec respectively)?

[2019-02-06 01:34] nicklooo commented on #269
After we publish linux function app to Azure, we will be able to find a ZIP file in project folder, which is uploaded to storage and our function app will run from it.
https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-V2-hosting-options

So we can unzip the ZIP file and chance the code as https://github.com/Azure/azure-functions-python-worker/pull/306/commits/ecab0cf2ac64720b76c9e61cbf

[2019-02-06 13:24] asavaritayal opened #313 "HTTP payloads get modified by Function when content-type is application/json"
_From @asavaritayal on December 11, 2018 6:39_

_From @brettcannon on December 10, 2018 19:46_

#### Investigative information

Please provide the following:

- Timestamp :2018-11-28 20:25:05.885
- Function App name: pvscbot
- Function name(s) (as appropriate): github

#### Repro steps

POST an `application/json` HTTP payload with a body of `b'{"action": "opened"}'`.

#### Expected behavior

Get t

[2019-02-06 13:24] asavaritayal commented on #313
_From @elprans on December 10, 2018 20:4_

I'm pretty sure this is a host issue.  The worker passes the body exactly as received from the host:

https://github.com/Azure/azure-functions-python-worker/blob/e03026773f57145530224ab3a918e321a2c3efb9/azure/functions_worker/bindings/http.py#L129-L131

[2019-02-06 13:24] asavaritayal commented on #313
_From @brettcannon on December 10, 2018 20:18_

@elprans I actually know that it is a host issue, but @asavaritayal told me to file it here for tracking purposes  (along with all of the other issues I filed today).

[2019-02-06 13:24] asavaritayal commented on #313
_From @fabiocav on December 12, 2018 22:49_

Assigning this to sprint 39 for investigation.

[2019-02-06 13:24] asavaritayal commented on #313
_From @fabiocav on January 7, 2019 19:24_

@mhoeger; moving this to sprint 40 for investigation. Feel free to reassign if a different sprint would be more appropriate.

[2019-02-06 13:24] asavaritayal commented on #313
_From @mhoeger on January 17, 2019 22:26_

@asavaritayal and @elprans - the host gives this information as [rawBody](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/73896fd4bf1ec13183ad638e80e3d5a9c19c58cb/src/proto/FunctionRpc.proto#L371) in the `RpcHttp` protobuf message. In the node worker, we surface this as [`req.rawBody`](https://github.com/Azure/azure-functions-nodejs

[2019-02-06 13:24] asavaritayal commented on #313
I think `rawBody` should actually be the default. With the pretty printing in the current HTTP request  body, other fields such as `Content-Length` become inaccurate as well, leaving the users to decipher these fields all over from the raw input.

Adding a few others to ack in case there is v1 history here :) @fabiocav @mathewc @pragnagopa

/cc @maiqbal11

[2019-02-06 13:24] asavaritayal commented on #313
_From @mhoeger on February 1, 2019 1:9_

@asavaritayal - for other languages, we can't change the behavior (since it's a breaking change). For python, you probably could, although I'm also not sure if there were other reasons for pretty-ing the body that the people you tagged earlier would know :)

[2019-02-06 14:45] #244 closed

[2019-02-06 14:47] asavaritayal commented on #310
Closing dupe in favor of - https://github.com/Azure/azure-functions-host/issues/4015

[2019-02-06 14:47] #310 closed

[2019-02-06 18:29] #269 closed

[2019-02-06 18:31] elprans commented on #66
It was my mistake, I needed to recompile the protobuf.  I pushed the updated PR which incorporates the dataType change.

[2019-02-06 20:55] maiqbal11 opened #314 "Profile Python Worker cold start"
We need to breakdown the cold start numbers that the Python Worker is experiencing. Will need to include the following areas, among others potentially:

1. Host starting on Service Fabric Mesh
2. Worker process start up - including function loading
3. Latency from downloading and unzipping files

[2019-02-06 21:27] fabiocav commented on #303
Completed in sprint 42

[2019-02-06 21:27] #303 closed

[2019-02-07 06:47] kavithamadhavaraj commented on #269
@nicklooo Tried the option you had shared but after restarting, my function is not listed anymore. (Both in portal & vscode, I could not see my function). This is how I generated the SAS.

![image](https://user-images.githubusercontent.com/12605428/52394916-242df080-2ad2-11e9-9775-b2c316600a59.png)

[2019-02-07 07:28] dajor opened #315 "Output Cosmos multi documents"
In C# it is possible to output more than one document to cosmos. Is there a way to output in python as well more than one document.

It works with one document but I found now way to pass to doc.set a array

[2019-02-07 12:01] nicklooo commented on #269
@kavithamadhavaraj  You need both **Read** and **List** Permissions

![image](https://user-images.githubusercontent.com/39934445/52410378-206e8e00-2b13-11e9-964f-ec60cad55d23.png)

[2019-02-07 15:55] nroypf commented on #227
+1 Need it asap :)

[2019-02-07 20:31] asavaritayal commented on #315
I believe you can pass a Tuple. @elprans can confirm

[2019-02-07 20:38] kavithamadhavaraj commented on #269
@nicklooo @elprans  I made changes to the meta.py file present in` /worker_venv/lib/python3.6/site-packages/azure/functions_worker/bindings/` of the zip file. Uploaded to blob storage and updated the SAS url, restarted the app, still facing the same error. The app is picking up the zip provided. However it doesn't seem to use the ./site packages folder from the zip. Am I missing something? Will be

[2019-02-07 20:50] elprans commented on #315
Any iterable containing instances of `azure.functions.Document` should work.

[2019-02-07 22:43] asavaritayal commented on #315
@dajor I'm closing the issue. Please feel free to re-open if the suggestion above doesn't work for you.

[2019-02-07 22:43] #315 closed

[2019-02-08 03:41] nicklooo commented on #269
@kavithamadhavaraj
Should be this folder: {zip folder}\.python_packages\lib\python3.6\site-packages\azure\functions_worker

Works well for me:
![image](https://user-images.githubusercontent.com/39934445/52457739-63be1080-2b96-11e9-9551-07ccd43fbe7b.png)

[2019-02-08 05:28] tinaj2505 opened #318 "AttributeError in worker.py when running function locally"
#### Investigative information
I am following the documentation [https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python?toc=%2Fpython%2Fazure%2FTOC.json](url) to create an azure function in python. Everything goes smoothly and breaks when I execute "func host start".

![image](https://user-images.githubusercontent.com/7771840/52460326-b61c1480-2b37-11e9-93c9-

[2019-02-08 05:35] asavaritayal commented on #318
@tinaj2505 what version of the Core Tools are you using?

[2019-02-08 05:45] tinaj2505 commented on #318
@asavaritayal I tried it both on "2.2.103" and  "2.4.317" but  got same issue.

[2019-02-08 17:33] maiqbal11 commented on #318
Can you try `choco uninstall azure-functions-core-tools` and then `choco install azure-functions-core-tools`? Not likely, but might be due to some inconsistent state during installation. If `choco` installations do not work, you can also try `npm install -g azure-functions-core-tools` after uninstalling the `choco` version. Feel free to circle back with the results if these steps don't work.

[2019-02-08 18:14] tinaj2505 commented on #318
Interesting, now it's working when I reboot my computer after uninstall/install azure core tools in choco. Thank you!

[2019-02-08 18:14] #318 closed

[2019-02-08 21:22] asavaritayal opened #1450 "[packapp] Support conda install"
If `environment.yaml` is present, `conda install` the dependencies instead of pip install-ing them.

[2019-02-08 21:40] tjhgit opened #319 "Unclear how to parse multipart form-data"
Hi,

I am sending an image with multipart form-data to an azure function based on linux docker container. It is not clear to me how I can parse the multipart binary contained in req.get_body(). Can you help?

What I am currently doing is really hacky:
[code]
That is I am extracting the image by a byte search :(

[2019-02-08 21:40] tjhgit opened #841 "Unclear how to parse multipart form-data"
Hi,

I am sending an image with multipart form-data to an azure function based on linux docker container. It is not clear to me how I can parse the multipart binary contained in req.get_body(). Can you help?

What I am currently doing is really hacky:
[code]
That is I am extracting the image by a byte search :(

[2019-02-11 13:30] kavithamadhavaraj commented on #269
@nicklooo Hi, my zip folder has `/worker_venv/lib/python3.6/site-packages/azure/functions_worker/bindings/` this path only. I'm using --build-with-native-deps flag. This makes the folder structure to the above mentioned one. If not, I can see `{zip folder}\.python_packages\lib\python3.6\site-packages\azure\functions_worker` in my zip file. Nevertheless, when i made changes to the packages & my fun

[2019-02-11 20:31] maiqbal11 opened #320 "Linux timer-triggered function stopped firing"
_From @swt2c on February 11, 2019 14:28_

I have a Linux (Python) function that is timer triggered to fire once an hour on the :15 mark:
`"schedule": "0 15 * * * *"`

This was working fine until 2019-02-09 00:15:00.217, but the timer has not fired since.  Is this a known issue?

_Copied from original issue: Azure/Azure-Functions#1124_

[2019-02-12 00:41] priyaananthasankar opened #321 "func init does not init project properly in Debian container"
Using a Debian container to develop:

Azure Functions tooling for python 3.6 (debian) does not init if the directory already exists.

​See the attached docker file, and attempt to run the func init in a newly created directory.

build the docker file

run the docker file:

docker run -it <myrepo>/cloud-custodian-python36

mkdir 'mydir'

# In Bash
python3.6 -m venv .env
source .env/bin/activate

#

[2019-02-12 11:05] Flexron opened #322 "AttributeError: module 'azure.functions_worker' has no attribute 'start'"
Had the similar that is closed here #304

I have published my Python Azur function using the Azure Functions Core Tools command **func azure functionapp publish app_name --build-native-deps**

But when I go to the function published I see the following error :

 Error:
` Function (confluence_call) Error: Failed to start language worker process for: python. bash exited with code 255 [90] Failed to

[2019-02-12 18:42] asavaritayal commented on #322
@Flexron what version of the Core Tools are you running?

[2019-02-12 18:59] Flexron commented on #322
@asavaritayal I'm using 2.4.299  (I think it's the latest, I installed it last week).

For information, I re-published my function adding --no-bundler option and I didn't get this error.

[2019-02-12 21:02] ankitkumarr commented on #321
@priyaananthasankar can you please share the Dockerfile or the error you are seeing?

[2019-02-12 21:23] asavaritayal commented on #322
@Flexron yes, the default path is not expected to work for all packages due to PyInstaller limitations. Please continue to use `--no-bundler`.

More info here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#publishing-to-azure

![image](https://user-images.githubusercontent.com/8435148/52668738-37253400-2ec9-11e9-9b9f-e4676b22ba2a.png)

An an FYI, we're working

[2019-02-12 21:23] #322 closed

[2019-02-12 21:35] maiqbal11 commented on #248
@elprans, we should be fine to keep the system logs at the informational level. Those are already being sent to the table where keep our debugging information.

As for the original issue noted here, the desired behavior can be achieved with a combination of two steps:
1. Setting the root logger in user code to use the `debug` level (it is set to to `info` by default).
2. Configuring the `host.json

[2019-02-12 22:38] maiqbal11 commented on #274
OGF Testing for user experience: https://github.com/Azure/azure-functions-core-tools/issues/1040.

[2019-02-13 09:57] holwech commented on #229
For those who find this via Google and working on Windows, as mentioned above, the fix is simply to set the environmental variable `NO_PROXY=localhost,127.0.0.1`. The error probably occurs because you are working behind a corporate proxy and have the variables `HTTP_PROXY` and `HTTPS_PROXY` set, but not `NO_PROXY`. This is an issue with gRPC, see https://github.com/grpc/grpc/issues/9989.

[2019-02-14 05:51] docgregt opened #334 "imaplib.IMAP4.error: Unknown IMAP4 UID command: MOVE"
I am receiving the following error in my python function app deployed in azure. This error does not exist in local 3.6 environment running in VS Code.
An Error occuredTraceback (most recent call last):
  File "/home/site/wwwroot/SharedCode/EmailReader.py", line 27, in moveMessage
    result = M.uid('MOVE', msg_uid, '/Processed')
  File "/root/.pyenv/versions/3.6.6/lib/python3.6/imaplib.py", line 8

[2019-02-14 23:23] asavaritayal opened #326 "Release 1.0.0b4"
Required fixes:
- https://github.com/Azure/azure-functions-python-worker/pull/306
- https://github.com/Azure/azure-functions-python-worker/pull/316
- https://github.com/Azure/azure-functions-python-worker/pull/317

Nice to have:
- https://github.com/Azure/azure-functions-python-worker/pull/239
- https://github.com/Azure/azure-functions-python-worker/pull/325

[2019-02-15 15:19] IainColledge opened #327 "Exception with declaring list type for EventHub binding to allow multiple messages"
When declaring a return type of list in the main function which one may want to do for enabling multiple messages to be put onto an event hub then the function cashes out with:

[code]

#### Investigative information

Please provide the following:

- Timestamp: 15/02/2019
- Function App name: N/A - local development on OSX in VSCode
- Function name(s) (as appropriate): N/A
- Core Tools version:  I

[2019-02-15 15:55] elprans commented on #327
The correct output annotation should be a typed list, i.e. `typing.List[str]`.

That said, this should be handled better, I'll make a fix.

[2019-02-15 16:42] IainColledge commented on #327
Thanks, the documentation only shows an example for a single message:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#output---python-example

Just so everyone, including me is clear, what should this be please?

`def main(mytimer: func.TimerRequest) -> str:`

Also can you confirm you want a list of strings to be returned from main?

[2019-02-15 17:43] elprans commented on #327
For queue bindings, either a list of strings or a list of `func.QueueMessage` instances:

[code]

or

[code]

[2019-02-15 19:36] IainColledge commented on #327
Thank you very much.

[2019-02-15 19:43] maiqbal11 opened #328 "Cannot import email.mime with Python (v3.6) Azure Function v2"
_From @chisqrd on February 14, 2019 20:4_

I cannot seem to email from an python azure function on linux consumption plan. I created a function with Visual Studio Code and it does locally run fine.

`requirements.txt` has the following

`azure-functions==1.0.0b3 `
`azure-functions-worker==1.0.0b3  `
`grpcio==1.14.2  `
`grpcio-tools==1.14.2  `
`protobuf==3.6.1  `
`six==1.12.0  `
`psycopg2==2.7.6.1

[2019-02-15 22:10] maiqbal11 commented on #328
@chisqrd, could you provide the following info:

Timestamp:
Function App name:
Function name(s) (as appropriate):
Core Tools version:

Sharing your source code would also be very helpful.

[2019-02-15 22:43] chisqrd commented on #328
Timestamp: 2019-02-14T17:46:30.945 [Error] An error occurred: No module named 'email.mime'
Function App: multi-scenario-env-alerting
Function Name: multi-scenario-env-alert
Version: azure-functions-core-tools@2.4.317

related part of the code is as follows

    def send_my_mail(self,to, fr, subject, text, files={},server='smtp.office365.com'):
        slib = self.import_library('smtplib')

[2019-02-18 16:08] JasonBSteele opened #330 "Empty Service Bus messages cause an error"
#### Investigative information

- Developing locally
- Core Tools version: 2.4.317

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a Function with a Service Bus Topic trigger using VS Code Azure Functions Extension
2. Update  the bindings to reference a topic subscription
3. Populate the Topic with test messages, some of which have UserProperties and an actual me

[2019-02-19 16:54] Flexron commented on #322
Hello,

Publish function using **func azure functionapp publish app_name --build-native-deps --no-bundler** was working perfectly.
I have updated my function and so I have tried to re-publish the function build but I got the same error again :

Error :

My requirement.txt didn't change.

The only difference with the previous error is

Now :

Before :

[2019-02-19 18:14] sjvdm commented on #328
Same issue here!

[2019-02-19 21:20] maiqbal11 commented on #328
@ankitkumarr, can you see if you are able to repro this? I'm on Antares servicing loop and might not be able to get to this for some time.

[2019-02-19 23:42] ktdinh opened #331 "Deploying and publishing Azure Function (Python) with custom Docker image."
I followed [this guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image), to create a custom Docker image hosting an HttpTrigger using Python.

Step 2: When it is time to deploy and publish my Azure Function to Azure, I followed [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image#crea

[2019-02-20 01:30] asavaritayal commented on #331
@ktdinh are you able to successfully run the function locally?

[2019-02-20 01:31] asavaritayal commented on #327
Closing as this seems to now be resolved.

[2019-02-20 01:31] #327 closed

[2019-02-20 01:45] ktdinh commented on #331
There was no issue in running the function locally.

[2019-02-20 08:06] abhinavbom opened #333 "Error when Azure function is getting executed through Queue message trigger"
#### Investigative information
Running my Python function leads to this exception message. Seems to be related with f-strings in Python3. My python venv is built using Python version 3.6.
The function loads currectly when I run "func host start". When I trigger it by adding a new message to th queue, it results into this exception

Please provide the following:

- Timestamp:[2/20/19 7:54:58 AM]
-

[2019-02-20 10:29] Flexron opened #335 "Failed to execute script worker,AttributeError: module 'azure.functions_worker' has no attribute 'start'."
#322 was closed, so I open a new one issue for the same error.

Publish function using **func azure functionapp publish app_name --build-native-deps --no-bundler** was working perfectly (That is why #322 was closed)
I have updated my function and so I have tried to re-publish the function but I got the same error again.

Error :

There is my requirement.txt : (It didn't change since #322 )

I have

[2019-02-20 16:30] CommonCrisis commented on #328
Same issue!

[2019-02-20 16:38] abhinavbom commented on #333
I noticed that when I do a func start, it runs the python worker with following command:

`Starting language worker process:python  "/usr/local/Cellar/azure-functions-core-tools/2.4.317/workers/python/worker.py" --host 127.0.0.1 --port 52813 --workerId 9b70529f-d338-400b-9960-1a2b5e60262d --requestId f20afb07-bab9-4b1b-aba1-1c5d8ed24754 --grpcMaxMessageLength 134217728`

Should it not invoke pytho

[2019-02-20 16:42] abhinavbom commented on #333
Above comment solves the issue. Closing this case.

[2019-02-20 16:42] #333 closed

[2019-02-20 17:28] fabiocav commented on #288
Duplicate of https://github.com/Azure/azure-webjobs-sdk/issues/2068

[2019-02-20 17:30] fabiocav commented on #288
Reopening as there will be Python specific tasks once the linked issue is fixed.

[2019-02-20 18:14] #296 closed

[2019-02-20 18:16] #260 closed

[2019-02-20 18:22] ankitkumarr commented on #335
@Flexron, can you update your azure-functions-core-tools version and try again? The latest version is `2.4.317`.

[2019-02-20 21:50] fabiocav commented on #278
@maiqbal11 moving this to sprint 44 to track the remaining work.

[2019-02-20 21:52] fabiocav commented on #299
@asavaritayal this work is blocked and beyond capacity for this sprint. So I'm moving this to Triaged.

[2019-02-20 21:52] fabiocav commented on #298
@asavaritayal this work is blocked and beyond capacity for this sprint. So I'm moving this to Triaged.

[2019-02-20 21:55] fabiocav commented on #314
@maiqbal11 this issue may need to be broken down so we can better track the individual tasks.

[2019-02-21 01:33] gbowerman opened #338 "VS Code extension 0.14.0 not prompting for Storage account on Windows"
Azure Functions VS Code extension 0.14.0.
VS Code 1.31.1.
Windows 10.

Create Azure Function, select Timer Trigger.
In side by side tests, on Mac this prompted user for a storage account, on Windows it didn't.

Subsequently running function locally fails due to AzureWebJobsStorage not set.

[2019-02-21 01:34] gbowerman opened #339 "Creating new project in VS Code is very slow on Windows"
VS Code 1.31.1
Azure Functions extension 0.14.0.
Create a new project, use browse to create new folder, and select Python as language.
Project creation takes minutes on Windows compared to seconds on Mac.

[2019-02-21 01:52] asavaritayal commented on #339
@EricJizbaMSFT I can't transfer this issue to the VS Code repo due to permission issues.

[2019-02-21 01:52] asavaritayal commented on #338
@EricJizbaMSFT I can't transfer this issue to the VS Code repo due to permission issues.

[2019-02-21 02:00] gbowerman opened #340 "Relative file paths don't work as expected in Azure Functions"
Suppose you create an Azure function which opens a config file in the same folder as __init__.py.
Running locally the code might look like:

    with open('myconfig.json') as configFile:
        configData = json.load(configFile)

As a published function, the working folder is the parent, so the code would need to be changed to:

    with open('functionname/myconfig.json') as configFile:
        c

[2019-02-21 11:42] eduardomourar opened #342 "Get target route parameters when using proxies"
#### Investigative information

Please provide the following:

- Function App version: 2.0.12285
- Python worker version: 1.0.0b3
- Function name: test-list

#### Repro steps

1. Create sample function based on source code below
2. Hit API `/api/list_proxy/group_1/product_a?validate=true`
2. It should be routed to `/api/list/`

#### Expected behavior

I expected to have route parameter from the ta

[2019-02-21 19:14] rdlucas2 opened #343 "Only _master host key is valid"
My scenario:
Created two function apps in different regions. let's say blue and green. Create a traffic manager, listing blue and green as app service endpoints. Route all traffic to blue to start. Using authLevel admin on the function. Send x-functions-key header with _master key for blue. In green function app, add a custom host key that matches the _master blue key. Update traffic manager to se

[2019-02-21 19:32] ankitkumarr commented on #328
Apologies for the delay here.
I was able to reproduce this issue. You can mitigate it by using the `--no-bundler` flag while publishing.
So, you can use `func azure functionapp publish <appname> --build-native-deps --no-bundler`.

We are working on improving our publishing pipeline through platform changes. Until then, please continue to use that flag if you experience issues with certain modules.

[2019-02-22 00:00] chisqrd commented on #328
This worked for me. You may need to delete your function app and do the deployment from scratch

[2019-02-22 00:07] ankitkumarr commented on #328
@chisqrd thank you for the update! You shouldn't have to do that ideally. There might have been a different issue with your function app.
So, I wouldn't recommend doing that unless it doesn't work otherwise.

@maiqbal11, feel free to close this issue, I don't have the right access.

If you continue to see related problems, please re-open this issue.

[2019-02-22 01:24] #328 closed

[2019-02-22 17:57] EricJizbaMSFT commented on #338
We have an open issue to track improvements to AzureWebJobsStorage. Copied and added a comment here: https://github.com/Microsoft/vscode-azurefunctions/issues/976#issuecomment-466487139

[2019-02-22 17:59] EricJizbaMSFT commented on #339
Copied here: https://github.com/Microsoft/vscode-azurefunctions/issues/1029

[2019-02-25 09:12] JK87iab opened #344 "Importing from other .py file"
After deployment I getting error while loading code from a different .py file

Folder structure is
- Function
-- `__init__.py`
- SharedCode
-- `test.py`

to import  in `__init__.py` I call `from ..SharedCode import test`

[code]

#### Investigative information

Please provide the following:

- Timestamp: 02/25/2019
- Function App name:
- Function name(s) (as appropriate): cpgai_opt_dev
- Core Tool

[2019-02-25 23:14] maiqbal11 commented on #278
With #325, `__app__` is the function application's top level module and can be used as an anchor for performing absolute imports.

Taking the following function example:

[code]
We have support for the following sytaxes (as examples):

1. `from __app__ import HelperCode`
2. `from __app__.HelperCode import helper_module`
3. `import __app__.Function1`
4. `import __app__.HelperCode`

We do not curren

[2019-02-26 04:28] JK87iab opened #345 "Queue Trigger not firing"
Locally my function consumes new messages. After deployment new messages are not being consumed by the function

__Script__:
[code]

Function.json
[code]

When run locally I get the expected result.
[code]

After deployment the trigger does not fire.  Using an app service plan with always on.

* Azure Functions Core Tools (2.4.401 Commit hash: 4e571e60f94a95283abf8a9fa363ec4d20b964a7)
* Microsoft.

[2019-02-26 04:36] JK87iab commented on #345
Ok replaced  the connection string with  `"connection": "AzureWebJobsStorage"`

I created the function using VS code extension.

[2019-02-26 17:33] dajor commented on #227
+1

[2019-02-26 17:42] asavaritayal commented on #345
@JK87iab what value were you using earlier for "connection"?

Closing as the core issue seems to be resolved.

[2019-02-26 17:42] #345 closed

[2019-02-26 17:43] asavaritayal commented on #344
@JK87iab how are you referencing `sql_test` in your code?

[2019-02-26 17:46] asavaritayal commented on #343
@fabiocav @ahmelsayed do we support custom keys for Linux?

[2019-02-26 17:48] asavaritayal commented on #342
@alexkarcher-msft can you take a look at this?

[2019-02-26 17:49] asavaritayal commented on #339
Closing issue in favor of the one in the VS Code repo.

[2019-02-26 17:49] #339 closed

[2019-02-26 17:49] asavaritayal commented on #338
Closing issue in favor of the one in the VS Code repo.

[2019-02-26 17:49] #338 closed

[2019-02-26 17:51] asavaritayal commented on #335
@Flexron are you still seeing the error? Closing as issue should be resolved with a Core Tools update. Please feel free to re-open if this is not the case.

[2019-02-26 17:51] #335 closed

[2019-02-26 17:53] asavaritayal commented on #334
@elprans can you take a look at this? May or may not be a language worker error but would be great if you can help narrow down.

[2019-02-26 17:59] asavaritayal commented on #278
Thanks @maiqbal11 . Assigning myself for documenting.

[2019-02-26 18:06] alexkarcher-msft commented on #342
This is fascinating. I know that Proxies calling a local function take a different code path compared to remote Proxies.

When you call the python Function directly do the correct values get placed in the "route_params" variable? Also, if you put the same proxy in a different Function App, does that work as expected?

[2019-02-26 18:38] fabiocav commented on #343
Yes, this should work.

@rdlucas2 can you share more details on how you've added the key?

[2019-02-26 19:13] asavaritayal commented on #236
+ @anirudhgarg

[2019-02-26 20:58] asavaritayal commented on #340
@elprans know we've spoken about this before a couple of times. Seems to pop up very frequently as users don't find the current pattern(s) intuitive. What do we need to enable the relative file path?

[2019-02-26 21:24] elprans commented on #340
The correct access pattern is not to rely on the value of the current working directory and use an absolute path obtained from `__file__`.  This is true for any Python script, not just Python functions:

Example:

[code]

[2019-02-26 21:51] eduardomourar commented on #342
Yes, I get the proper `route_params`.

I will check this, but I assume that if I run with another python Function App I will get the same result.

[2019-02-26 21:57] docgregt commented on #334
Is python 3.7 available? I saw somewhere it was available soon. Maybe that will solve it?

[2019-02-27 00:18] asavaritayal commented on #340
@elprans I think there's a need here to distinguish between the correct access pattern and the intuitive pattern. **Is there a reason we cannot enable both?** This would match the experience provided by any Python script.

[2019-02-27 00:29] elprans commented on #340
@asavaritayal There is no way to do it safely.  The current working directory is shared for the entire process which runs multiple functions.  Switching the current directory on every function invocation is impossible to do due to concurrency.

[2019-02-27 02:38] eduardomourar commented on #342
Tested with the following setup:

1. Azure Functions Core Tools
  - Functions Core Tools (2.4.299 Commit hash: 0f105e9bc6e2faed71e8521d7541a909a6dcc389)
  - Function Runtime Version: 2.0.12285.0
  - Python worker version: 1.0.0b4
  - Result: `route_params` is wrong just as mentioned before in any Function App.

2. Python Docker Image
  - Function Runtime Version: 2.0.12309.0
  - Python worker vers

[2019-02-27 03:43] JK87iab commented on #344
`sql_test()` is a function in test.py

[2019-02-27 17:32] alexkarcher-msft commented on #342
Cool!
I was able to repo this issue on my own with a JS function, and setting the app setting [AZURE_FUNCTION_PROXY_DISABLE_LOCAL_CALL](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionproxydisablelocalcall) to true restored the correct behavior.

We're going to take a look at the root cause for this, but that app setting should mitigate the issue for the

[2019-02-27 17:44] jeffhollan commented on #342
Thanks @alexkarcher-msft and @eduardomourar for investigation.  Closing this one and will track work item here:
https://github.com/Azure/azure-functions-host/issues/3593

[2019-02-27 17:44] #342 closed

[2019-02-27 18:08] asavaritayal commented on #340
@fabiocav @pragnagopa I imagine we have a similar issue for JavaScript and .Net as well. What's the behavior and recommended pattern for other languages?

[2019-02-27 18:39] fabiocav commented on #340
@asavaritayal that's not really an issue there, as using the pattern mentioned by @elprans above is common and what we recommend. We also provide a context with the function directory, which is often use to create the needed paths.

[2019-02-27 19:17] asavaritayal commented on #340
Discussed with @fabiocav offline and we think the way to mitigate here is with better error handling and documentation.

Here's the error I receive on trying to directly access a file in the function directory -

[code]

[code]

@elprans can we add more info to the error above clarifying the required syntax?

[2019-02-27 23:54] asavaritayal commented on #344
@JK87iab I mean how are you calling it in `__init__.py`

[2019-02-28 00:47] berndverst opened #349 "Support for Multipart / MIME request data"
**Feature Request: Provide support for multipart / MIME request data**

Currently it is difficult to handle multipart data requests, e.g. file uploads (as are typical for HTML FORM POSTs) as multipart/formdata. Only with the help of third party libraries (such requests-toolbelt) or deep understanding of the multipart MIME RFCs can such request data be accessed at this time.

#165 would be a possib

[2019-02-28 01:44] berndverst opened #350 "Cannot publish Python 3.6 function app with 3.7 system Python"
Unable to publish a strictly Python 3.6 app when the system Python is 3.7 or higher

Note: workaround exists

#### Investigative information

- Core Tools version: 2.4.401
- Virtual Env: 3.6.6
- System Python: 3.7.2

#### Repro steps

- Install Python 3.7 as your system Python (`brew install python` via Homebrew on Mac will do)
- Create a Python 3.6 virtualenv for your function app and activate it

[2019-02-28 07:30] jeffhollan commented on #273
Guessing since this is popping up on the Day 1 experience stuff this should be a P1.  Potentially a P0.  Wondering if we should also have a day-1 label as that's been an important workstream across languages.

[2019-02-28 19:15] elprans commented on #334
Looks like https://bugs.python.org/issue33336 Updating to the last 3.6.x should help

[2019-02-28 19:22] docgregt commented on #334
@elprans , that is what i figured, but how do i do that? I am using following to deploy function app:
func azure functionapp publish i4servicespyapi --build-native-deps --no-bundler
I am using latest 3.6.x on my system and the code works fine there. But once deployed it seems the function app service is using an older version (like 3.6.6). How to upgrade it?

[2019-02-28 19:27] elprans commented on #334
This is something that needs to be updated in the base image. Cc @maiqbal11

[2019-02-28 19:29] maiqbal11 commented on #334
@ahmelsayed to confirm. The latest release should have Python 3.6.8 in the image. Has that Docker release gone out yet?

[2019-02-28 19:54] ahmelsayed commented on #334
It's in West US, rolling the update to East US today.

[2019-02-28 23:29] ahmelsayed commented on #334
should be in West US, East US, and West Europe now.

[2019-03-01 01:09] docgregt commented on #334
I just verified that my issue is now resolved. Thanks for resolving the python version issue. From my view this issue can be closed.

[2019-03-01 01:09] #334 closed

[2019-03-01 01:12] ahmelsayed commented on #334
Thanks for verifying. South east Asia should be updated now as well.

[2019-03-01 02:03] ankitkumarr opened #354 "Create a wiki page for the end to end tests"
There should be a wiki page explaining the structure of end to end tests, how to run them and how to go about adding new tests.

[2019-03-01 18:31] asavaritayal commented on #330
@elprans Ping, can you look into this?

[2019-03-02 19:07] pragnagopa opened #355 "Implement all the message types in StreamingMessage"
Functions host will start sending various messages defined under StreamingMessage: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L20

To avoid breaking language worker, please implement all of them otherwise grpc will start throwing errors.
Note: only dummy implementations needed for now to avoid breaking changes

[2019-03-02 19:08] pragnagopa commented on #355
cc: @asavaritayal @maiqbal11

[2019-03-03 15:40] rdlucas2 commented on #343
I added via ther portal interface for "Function app settings"

![image](https://user-images.githubusercontent.com/1649129/53697584-a7c0c180-3da0-11e9-88fa-aefca864720f.png)

[2019-03-04 18:03] asavaritayal commented on #288
@elprans quick update - the issue is now unblocked for you to make the language worker changes.

[2019-03-04 18:12] pragnagopa commented on #288
Issue https://github.com/Azure/azure-webjobs-sdk/issues/2068 is fixed. Next runtime release will include the fix.

[2019-03-04 18:26] maiqbal11 commented on #243
Closing as equivalent work is happening in https://github.com/Azure/azure-functions-python-worker/issues/286

[2019-03-04 18:27] #243 closed

[2019-03-04 21:54] jeffhollan commented on #248
@asavaritayal just cleaning up old sprint items.  Should this move to current sprint / next sprint with a docs label?

[2019-03-04 23:49] #286 closed

[2019-03-04 23:58] jeffhollan commented on #312
Hey @maiqbal11 know you have some profiling work - have you had the chance to look at this at all? This sounds like it may take priority over profiling if there is deadlock.

[2019-03-05 00:00] maiqbal11 commented on #312
@jeffhollan, I'll get on this tomorrow with priority. Was working on closing out some packaging issues.

[2019-03-05 15:46] Dammi87 opened #356 "ModuleNotFoundError: No module named 'PyInstaller'"
When publishing my Python module, I get the following error
` ModuleNotFoundError: No module named 'PyInstaller'`

Which happens when I run this command
`func azure functionapp publish <name> --build-native-deps`

Even though I can see that it has installed properly during the build.

Adding the --no-bundle does not work either (I added PyInstaller to requirements.txt, remove it there as well to v

[2019-03-05 19:29] mdudis opened #357 "Can't open lib 'ODBC Driver 13 for SQL Server' : file not found (0)"
I developed a function which inserts data to Azure SQL Server when an excel file is uploaded to Azure storage container. Function works perfectly fine on local machine. After testing locally I deployed the function using below command:-

func azure functionapp publish 'functionname' --build-native-deps --additional-packages "python3-dev libevent-dev unixodbc-dev" --force --no-bundler

On Uploading

[2019-03-05 23:10] ankitkumarr commented on #354
Added a comprehensive initial wiki page here- https://github.com/Azure/azure-functions-python-worker/wiki/End-to-End-publishing-tests

[2019-03-05 23:10] #354 closed

[2019-03-07 02:36] ericdrobinson commented on #236
I'm fairly new to concurrency in Python (the points above about Python and its GIL definitely noted) but I think that I-as-a-user may have bumped into some limitations associated with this issue.

### My Use Case
I've built an HttpTrigger Python Function. It works as follows:

1. Receive HTTP Request for some stored resource based on request metadata.
1. Check in Azure Storage to see if up-to-date

[2019-03-07 22:57] elprans commented on #222
@pragnagopa Is there a way to determine the required version of .NET for the latest host build?

[2019-03-08 00:14] maiqbal11 commented on #312
@michhar, @priyaananthasankar, I was able to find the reason for the function hanging. Looks to be the following line of code in `__init__.py`:

`shutil.copy(os.path.join(os.getcwd(), 'HttpTrigger', 'pytorch_train.py'), project_folder)`

https://github.com/michhar/deeplearning-aml-and-azure-functions/blob/4419a6cdd0ac1289ff88452e29c1a004574ff6b5/dnn/HttpTrigger/__init__.py#L67

When the file `pyto

[2019-03-08 00:38] vikasapr commented on #357
I assume you also use os-type Linux. Did you test the function locally on Windows or Linux. But regardless one thing is that pyodbc may not install seamlessly (i.e. just with pip) on Linux VM where Azure function will run and hence the issue. I am also interested in a solution to this problem.

[2019-03-08 00:46] mdudis commented on #357
I am using Windows 10 machine to develop locally and deployed after testing locally.

Found a work around today afternoon. If I replace {ODBC Driver 13 for SQL Server} to {ODBC Driver 17 for SQL Server} in connection string then it is working fine. But I am not really sure if this is the right way to do it because Azure SQL DB connection string has {ODBC Driver 13 for SQL Server} in connection str

[2019-03-08 00:50] vikasapr commented on #357
Wow. Great. Thanks for sharing. I do not see any problem if that can work. Related question. How do you store connection string / DB password? Is it in Python code itself? If not in the code or securely, would you mind sharing how?

[2019-03-08 00:55] mdudis commented on #357
I am storing connection string in application settings but would be exploring if azure-key-vault can be used as well.

[2019-03-08 00:57] vikasapr commented on #357
Thanks. I tried that way. os.environ['<App setting>'] gives me key error in my code. How do I access it?

[2019-03-08 01:00] mdudis commented on #357
first you need to fetch application settings in your local environment..
func azure functionapp fetch-app-settings xxxxxxx(your func name)

then you can access it as below:-

con=os.environ.get('CONSTRING')

[2019-03-08 01:03] vikasapr commented on #357
Cool. thanks. I will give it a try.

[2019-03-08 01:23] priyaananthasankar commented on #312
Thanks @maiqbal11 . This is interesting. Is this specific to Python language worker? Or a host issue? will C# functions have the same issue?
I would suggest to package whatever files needed for training through AzDevOps. Will check with @michhar as well.

[2019-03-08 01:43] priyaananthasankar commented on #321
@plooploops : Can you please give the info asked by Ankit?

[2019-03-08 06:29] polarapfel commented on #236
This is one of the most insightful issue discussions I've come across in a while. Thanks to everyone providing their insights and reasoning. I would really appreciate if part of the outcome of this issue is taking agreed upon insights and position these as guidance in the documentation for Python Azure Functions developers. Thanks!

[2019-03-08 16:59] pragnagopa commented on #222
I do not know if there a any other way apart from looking at the `<TargetFramework></TargetFramework>` on the webhost project.

Host generally moves to the latest minor version on a regular basis. As long as the CI installs the latest
version, tests should be ok.

[2019-03-08 18:09] asavaritayal commented on #349
We should expand the `azure.functions.HttpRequest` API surface to include `files` for all uploaded files and `form` for form data.

@elprans assigning you to the issue, let me know if you have any thoughts/comments on the proposal.

[2019-03-08 18:11] asavaritayal commented on #355
Re-assigning to @elprans for this sprint.

[2019-03-08 18:15] asavaritayal commented on #312
The functionality is imposed by design from the host. The goal is to enable users to edit locally and in the portal without having to manually restart the site each time.

[2019-03-08 18:22] jeffhollan commented on #312
You can configure this in the `host.json` as well - I would expect here an empty array may mean we don't watch any files

https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#watchdirectories

/cc @mathewc to confirm if you can disable all watching

[2019-03-08 22:57] ericdrobinson commented on #236
I have done a bit more exploration/experimentation and have some findings to report that expands/corrects some of what I wrote in my [previous comment](https://github.com/Azure/azure-functions-python-worker/issues/236#issuecomment-470360431).

### The `vscode-python` Extension Doesn't Like `ProcessPoolExecutor`
I mentioned in my previous comment that I was running into issues using `ProcessPoolExe

[2019-03-09 01:17] asavaritayal commented on #344
Closing due to inactivity. Please feel free to re-open if you're still seeing any issues.

[2019-03-09 01:17] #344 closed

[2019-03-09 01:31] ankitkumarr commented on #356
This is related to Pyinstaller having issues with pip 19.0. See workaround- https://github.com/Azure/azure-functions-core-tools/issues/1100

I can make an update to work around this problem when I am back.

[2019-03-09 01:34] ankitkumarr commented on #356
Oh, and the workaround flag is `--no-bundler` and not `--no-bundle`.

[2019-03-09 18:04] ericdrobinson opened #359 "How to Verify Running Function Instance Count During Scale Out?"
I'd love to verify the number of Azure Python Function instances that are spawned and running at once. From anecdotal evidence, it _looks_ like I'm only able to get one instance to start at a time. This would seem to imply that the Linux Consumption Plan doesn't properly scale as [the documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale) would suggest.

The _one_ b

[2019-03-09 19:30] ericdrobinson commented on #236
I've a bit more information to share based on more experience playing around with the async version of my function (as reported my last few comments).

It _looks_ as though the `ProcessPoolExecutor` approach may not be the performance salve that I previously reported. In testing, when I run my function in a "worst case" context, it appears that the _non-async_  version actually runs _far faster_ t

[2019-03-11 15:08] maiqbal11 commented on #312
Tried using an empty directory but it still restarts when the file is copied. We also don't recommend using the function folder for temporary file storage because of unexpected behavior like this. @priyaananthasankar, aside from using Azure DevOps, it is also possible to use temp directory constructs built directly into Python. The following StackOverflow provides some good insight: https://stacko

[2019-03-11 15:08] maiqbal11 commented on #312
Closing this as temporary file behavior should be easily achievable via alternatives.

[2019-03-11 15:08] #312 closed

[2019-03-11 18:21] FlippieCoetser commented on #296
@maiqbal11 @asavaritayal I am still not able to send data to multiple output bindings. However, this time, no error is thrown the app just freezes. Could you please reopen this issue again?

[2019-03-11 22:05] maiqbal11 commented on #296
Hi @FlippieCoetser, I was unable to repro locally based on the original example you provided. Could you share what core tools version you're using as well as your requirements.txt?

[2019-03-11 22:38] maiqbal11 opened #360 "Time taken for Zip handling"
Numbers for how long it takes to perform the following steps:

1. Retrieve Zip (i.e. head)
2. Download
3. Write
4. Extract

[2019-03-11 22:39] maiqbal11 opened #361 "Host Startup + Specialization Timing"
Establish how long it takes for the host to startup and for the worker process to get specialized. Needed to evaluate the benefit of placeholders.

[2019-03-11 22:40] maiqbal11 commented on #314
Tracking latency related to zip files: https://github.com/Azure/azure-functions-python-worker/issues/360

Host startup and specialization: https://github.com/Azure/azure-functions-python-worker/issues/361

[2019-03-12 15:04] FlippieCoetser commented on #227
currently running large data transformations with Python. Execution time is around 30 min. Having durable functions will help a lot!

[2019-03-12 15:44] ericdrobinson commented on #227
I'm saddened to see that Python support for Durable Functions isn't available yet. I've chronicled my efforts to make my usage of the HTTPTrigger more effective/efficient for my workflow in the comments of issue #236. The documentation, however, [keeps suggesting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices#avoid-long-running-functions) that I take the [Durable

[2019-03-12 15:48] ericdrobinson commented on #359
Any information on this would be greatly appreciated. From watching the log flow in the Function's Monitor tab on the Azure Portal it _**really**_ looks like there's only a single instance running at a time, which would be... problematic.

I fear that I'm doing something to stop scale-out and yet I can't even figure out if scaling is working at all, let alone how to troubleshoot what may be stoppi

[2019-03-12 16:27] maiqbal11 commented on #359
@ahmelsayed, @balag0, how can we verify the scale out behavior of the application? Do we have logs or some other mechanism?

[2019-03-12 17:02] maiqbal11 commented on #296
Hi @FlippieCoetser, I was able to run the app you provided using both Visual Studio Code and via the command line without any modifications. Can you confirm that your requirements.txt has `azure-functions-worker==1.0.0b4`?

[2019-03-12 17:25] balag0 commented on #359
@ericdrobinson Please share the sitename.

[2019-03-12 17:46] FlippieCoetser commented on #296
@maiqbal11 thanks for the help!
in my `requirements.txt` I have the following:

[code]
I need to upgrade the azure-functions-worker.
Let me do that and check.

Thanks for the help!

[2019-03-12 19:41] ericdrobinson commented on #359
@balag0 I'm so not interested in sharing it here in public. Please provide an email address to which I can send the name of the Function app.

[2019-03-12 20:07] JK87iab commented on #359
I use azure app insight, on the live metric tab you can see number of servers running.

In the past I only see a maximum of 2 servers. Right now I can actually see 4 servers running.

[2019-03-12 20:24] ericdrobinson commented on #359
@JK87iab What is the "Live Metric Tab" of which you speak?

[2019-03-12 20:36] ericdrobinson commented on #359
Is it the "Live Metrics Stream"? If so, then I've located it. I see in the top-left corner that it says "**2** servers online".

The whole display is really odd there... only Request Rates values actually show anything. There is no information whatsoever in the Outgoing Requests or Overall Health sections. Is that normal?

[2019-03-12 20:50] JK87iab commented on #359
@ericdrobinson  Yes that the correct one. I get 4 servers online, which is new for me too, in the past I only got a maximum of 2.

overall health doesn't show anything for me either. I am using a pay by execution plan.

[2019-03-12 21:08] ericdrobinson commented on #359
I'm going to drop my `maxConcurrentRequests` to something super low to see what, if any, affect it has on things.

The lack of any memory/CPU reporting here is worrisome. Could it be that the dynamic scaling doesn't work because the autoscale system is simply seeing constant zeros from each instance? But, at the same time, what else would trigger the second instance to start up?

[2019-03-12 21:36] balag0 commented on #359
@ericdrobinson Can you try these instructions and share the Execution Id
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

Is this a http function you are trying to scale?

[2019-03-12 22:05] ericdrobinson commented on #359
@balag0 Thanks! Responses below:

https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

So apparently that resource is out of date? I saw no logs that matched the formatting suggested in the above resource. What's more, any reported UUIDs appeared to be for the purpose of tracking specific invocations of the function...

Is there another way I can get you tha

[2019-03-12 22:08] balag0 commented on #359
Yes. You are right , the log format might have changed a bit. But the GUID is what we are looking for.
Something like

Executing 'Functions.http' (Reason='This function was programmatically called via the host APIs.', Id=**_a3ca600c-975d-4bfa-8234-0de584015679_**)

[2019-03-12 22:08] ericdrobinson commented on #359
Let me answer my own question:

Yes. That is the case. Here is some sample information for you:

* **Execution ID:** bddd5bcc-a482-4283-b54d-09695c7af6e5
* **Execution Time:** 2019-03-12 21:57:55.782
* **Region:** USEast

[2019-03-12 22:24] ericdrobinson commented on #359
@JK87iab Does your app have two Functions perhaps? Could it be that the 2 instance limit is per-function, rather than per-app?

[2019-03-12 23:49] polarapfel commented on #236
Hey everyone,

I am fairly new to Python, but familiar with Java and how multi-threading works on the JVM. I've done some reading on Python and how the GIL affects multi-threading because I was not aware of that limitation in CPython.

I am quoting from [Julien Danjou's "Serious Python" book](https://www.amazon.com/dp/1593278780):

To me, **this** seems like a pretty steep hurdle to meet the expec

[2019-03-13 01:47] JK87iab commented on #359
@ericdrobinson
Nope its one functions getting triggered by a message in a storage queue.  Since python support is still in preview I guess they limit the scalability as off now.

[2019-03-13 02:25] balag0 commented on #359
Just to add some information on the current state of scaling while we are in preview.
Each app is limit is restricted to 2 instances max by default. This is at the app level not the function level. Number of functions in the app doesn't impact the number of instances the app scales to.

@ericdrobinson Did the function execution succeed, I can't seem to locate your site based on the guid.
Please em

[2019-03-13 16:03] maiqbal11 commented on #292
Checked in: https://github.com/Azure/azure-functions-python-worker/issues/299.

[2019-03-13 16:03] #292 closed

[2019-03-13 16:09] maiqbal11 commented on #274
Should be in a good state with our testing for Python: CI on Python worker, OGF testing and integration testing with Core Tools/Docker. Any improvements at this point should be incremental and can be tracked in new work items.

[2019-03-13 16:09] #274 closed

[2019-03-13 16:10] ericdrobinson commented on #359
@balag0:

Each app is limit is restricted to 2 instances max by default. This is at the app level not the function level. Number of functions in the app doesn't impact the number of instances the app scales to.

Thanks for the rundown. It's good to get some clarification. Helps me consider how best to take what I'm learning about performance characteristics and devise a more efficient solution.

P

[2019-03-13 16:13] maiqbal11 commented on #256
@priyaananthasankar, is this still an issue? We're doing preliminary investigations on how to add Conda support (\cc @asavaritayal) to broaden support for package installation. Were you able to use the suggestion in the thread to get a workaround?

[2019-03-13 16:13] ericdrobinson commented on #359
The following image shows what I'm referring to in the above paragraph:
![image](https://user-images.githubusercontent.com/9142587/54295291-182dc680-4589-11e9-9b6d-4f8067c3b14c.png)

There's no data other than what is found in the **Incoming Requests** section. Is this expected? Why wouldn't I be getting any information on CPU/memory usage?

[2019-03-13 16:18] maiqbal11 commented on #219
The following issue has the approach that we'll be using for handling absolute imports with our current layout: https://github.com/Azure/azure-functions-python-worker/issues/278. Docs on this coming shortly. Closing this as they have significant overlap.

[2019-03-13 16:18] #219 closed

[2019-03-13 16:46] maiqbal11 commented on #135
@pragnagopa, @asavaritayal, reviving this old thread because I've got some time on my hands. Work on exposing generic data types is almost finished (https://github.com/Azure/azure-functions-python-worker/issues/66). Once that is checked in, we can potentially get rid of `azure.functions` altogether + the binding specific code in the language worker. Wanted to lay out some top-of-mind benefits and

[2019-03-13 16:58] ericdrobinson commented on #236
@polarapfel Did you read through my previous two follow-up comments [[1](https://github.com/Azure/azure-functions-python-worker/issues/236#issuecomment-471105287)][[2](https://github.com/Azure/azure-functions-python-worker/issues/236#issuecomment-471214503)]? Do those help answer your questions? Are you asking about the current Thread Pool approach used by the azure-function-python-worker to hand

[2019-03-13 21:19] maiqbal11 commented on #299
Spoke to @pragnagopa and this work is only required if we want to support live editing (i.e. Portal). Since that is not a mainline scenario, moving this down in priority.

[2019-03-14 13:23] IainColledge commented on #356
func azure functionapp publish funcname --build-native-deps --no-bundler --force fails for some reason.

[2019-03-14 15:18] maiqbal11 commented on #356
Can you share your `requirements.txt`? Might be the case that you still have `PyInstaller` listed in your requirements even though it is not required for the `--no-bundler` path.

[2019-03-14 15:34] IainColledge commented on #356
Thanks for the reply, this is the requirements.txt

[code]

[2019-03-14 16:24] maiqbal11 commented on #356
@IainColledge, can you try upgrading pip to 19.03 for now? A fix was released in 19.02: https://github.com/pypa/pip/issues/6163#issuecomment-462014864.

@Dammi87, realized that you were the one who had originally posted the issue. Is it resolved now?

[2019-03-14 16:44] IainColledge commented on #356
Isn't this the pip in the docker container that is being run, not the host?

On the host am running 18.1

[2019-03-14 16:58] maiqbal11 commented on #356
@IainColledge, yes, you're correct. This is running in the Docker and I can see that 19.0 is the current pip version in Docker. Is this the first error you see when you run publish or is there a stack before this?

@ahmelsayed, did we make any changes recently that might cause this error to manifest? Can we update the image to use pip 19.3? I'm also not sure why this would get triggered in the `--

[2019-03-14 17:04] IainColledge commented on #356
Thanks, yup this is the first error.

Updating the image to pip 19.3 would be awesome.

[2019-03-14 18:44] polarapfel commented on #236
@ericdrobinson Thanks for your responses.

I think I am trying to understand if multi-threading in Python in general is a legit way to introduce true parallelism to execution (from what I've read, the answer seems to be no), hence if that's the case, then why use multi-threading on Azure Functions within a single execution host other to avoid blocking calls. I've compared how Azure Functions with

[2019-03-14 19:45] balag0 commented on #359
@ericdrobinson Got your sitename. I see it did scale to 2 instances and was throttled after that.
So the 2 servers online from the dashboard seems correct.

Azure portal is misleading, since it will only connect to one instance at a time currently even if you have multiple instances.

As for why CPU and Memory is missing, we need to investigate. I opened this issue to track this - https://github.c

[2019-03-14 19:59] ericdrobinson commented on #236
@polarapfel Some followup responses:

The latest version of Node/JavaScript _does_ support multithreading. Please see the [Worker Threads](https://nodejs.org/api/worker_threads.html) module.

That said, JavaScript processing **_is_** a typically single-threaded thing. The asynchronous processing happens thanks to the [Event Loop](https://developer.mozilla.org/en-US/docs/Web/JavaScript/EventLoop).

[2019-03-14 20:02] ericdrobinson commented on #359
Oh man. Is that something that could be communicated? It's pretty huge in terms of understanding/reading the metrics!

Awesome, thanks very much. It's good to know that we _should_ be seeing those. Those metrics not working has had me wondering what I've done to break my function and reaching out to various channels to figure out what's going on...

[2019-03-14 21:16] balag0 commented on #359
Just want to make sure we are talking about the same thing. Portal connecting to just 1 instance is specific to logging. Metrics should still work with multiple instances. I will add this information also the tracking issue.

Yes, Not having the cpu and memory metrics is a bug.

[2019-03-14 21:24] polarapfel commented on #236
Hey @ericdrobinson,

here is an example (taken from "Serious Python") for a CPU intensive workload, there is no IO:

[code]

Running this on an idle CPU with 4 cores looks like this:

[code]

This means that out of the 4 cores, only 32 percent (129/400) were used.

The same workload rewritten for multiprocessing:

[code]

Executed on the same idle CPU with 4 cores:

[code]

It results in more than

[2019-03-14 21:32] ericdrobinson commented on #359
Was about to ask for clarification on which interface you were referring to with respect to the logging. Saw on the tracking issue that you were referring to the Functions Monitor tab. I assume that's this:
![image](https://user-images.githubusercontent.com/9142587/54392902-23fbb480-467f-11e9-8749-c664d476b398.png)
Yeah?

[2019-03-14 21:35] ericdrobinson commented on #236
Sure. But what is your point, exactly? That the Python Function invocations _themselves_ should be spawned into a Process pool rather than a Thread pool?

I'm asking because even with the current model, I believe that you _can_ access those 4 cores from a single Python Function invocation with _your own Process Pool implementation_. Does that make sense?

[2019-03-14 23:35] polarapfel commented on #236
I guess I have more questions than points here. :)

I guess it goes back to your point that when it comes to documentation, the expectation *can be* that Python developers would know about parallel computing when it comes to generic Python language and run-time features, but while it *can be* does that mean it *should be*?

Take these two excellent articles on the subject for example:

[Data and c

[2019-03-15 18:56] brettcannon commented on #236
@ericdrobinson @polarapfel as a Python core developer I can tell you that under CPython -- which is what Azure Functions runs under -- you will not gain anything with a CPU workload with threads. The only benefit to threads under CPython is when I/O is blocking in a thread, allowing another thread to proceed (which is the same effect as using `async`/`await` except more explicitly).

[2019-03-16 06:45] michhar opened #363 "Latest versions of packages gives AttributeError for "start" when running locally"
Installed latest Azure Functions and Azure Functions Python Worker packages today and getting a `AttributeError: module 'azure.functions_worker' has no attribute 'start'.` when running `func host start` for local testing.  The previous version of the packages worked without errors.

Package versions used (latest as of today):
[code]

Package versions that worked previously, with same code:
[code]

[2019-03-16 07:26] michhar commented on #363
UPDATE:  I upgraded my `azure-functions-core-tools` to `2.4.419` and it fixed this problem.  Thanks.  Closing.

[2019-03-16 07:26] #363 closed

[2019-03-16 15:56] explora21 commented on #227
+1, of course

[2019-03-18 10:29] sinaakhtar opened #364 "Python Func App returning 429"
I have a python func app on a dedicated app service plan which is receiving requests from a streaming analytics job. The streaming analytics job fails with this error:

 "properties": {
        "Message Time": "2019-03-18 10:04:09Z",
        "Error": null,
        "Message": "A 429 (429) error was return from Azure functions. Error encountered after writing [2] batches.",
        "Type": "AzureFun

[2019-03-18 20:27] pjboardman opened #366 "__pycache__ creation causing restarts"
I'm deploying some python functions via a container hosted in an app service and am seeing continuous restarts due to the __pycache__ folder being created. Is there anyway I can prevent this?

#### Investigative information

Sample logs:
[code]
#### Repro steps
Update docker image (```az webapp config container set...```)

#### Related information

Base docker image: microsoft/azure-functions-pyth

[2019-03-18 21:58] mdudis opened #365 "Trigger function from Azure Sql Database"
I want to trigger Azure python functions from a row insert into Azure SQL Database. Is there any binding available for this?

[2019-03-18 22:42] maiqbal11 commented on #366
There are ways to configure your Python build/run commands to not generate a cache.

1. During pip installation: https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-no-compile
2. During module import: https://docs.python.org/3.6/using/cmdline.html#envvar-PYTHONDONTWRITEBYTECODE

Can you elaborate more on how you are building/publishing? Right now it is unclear what step in the process i

[2019-03-19 01:46] brettcannon commented on #278
One key point that I want to make sure gets documented is if you're going to require `__app__` as the top-level directory, then anyone who wants to run their Function code outside of the Function runtime (e.g. CI for unit tests) **must** keep their entire Function directory in an `__app__` folder in order for those imports to resolve appropriately. IOW this will will essentially dictate the folder

[2019-03-19 14:34] pjboardman commented on #366
@mabalija, I was familiar with the 2nd option, but not the first -- thanks!

However, wouldn't either option lead to suboptimal performance? I was hoping there might be something similar to [watchDirectories](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#watchdirectories) that would allow directories to be ignored.

The docker file is being built with az acr tools (```

[2019-03-19 19:01] pragnagopa commented on #355
ping!

[2019-03-19 20:33] elprans commented on #355
@pragnagopa I'll submit a PR shortly

[2019-03-20 00:11] maiqbal11 commented on #361
Results are present in the shared OneNote.

[2019-03-20 00:11] #361 closed

[2019-03-20 00:11] maiqbal11 commented on #360
Results are present in the shared OneNote.

[2019-03-20 00:11] #360 closed

[2019-03-20 00:13] maiqbal11 commented on #314
Closed #360 and #361 as we have high level profiles from our metrics tables. Keeping this issue open as low level profiling might be useful as well.

[2019-03-20 15:16] Chris-May opened #367 "Issue publishing function interacting with azure blobs"
#### Investigative information

Please provide the following:

- Timestamp: 2019-03-20 10am EDT
- Function App name: mkldsfxappexternaldatalx002
- Function name(s) (as appropriate):
- Core Tools version: 2.4.419

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create an azure function (any kind)
2. `pip install azure-storage-blob`
3. Try to publish

#### Expected behavio

[2019-03-20 18:08] fabiocav commented on #66
Closing as resolved.

[2019-03-20 21:52] asavaritayal commented on #288
@elprans do you have an update on this?

[2019-03-20 21:53] asavaritayal commented on #349
@elprans do you have an update on this?

[2019-03-20 21:53] asavaritayal commented on #330
@elprans do you have an update on this?

[2019-03-20 21:54] pragnagopa commented on #288
Unfortunately, runtime release got delayed. ETA for complete roll out is end of this week.

[2019-03-20 22:16] christian-vorhemus opened #380 "Function get_body() or req.body doesn't seem to return the actual HTTP request body"
I have a simple HTTP triggered function which should receive a binary image and upload it to Azure Storage. The upload process fails because the HTTP request body seems to be malformed.

#### Investigative information

azure-common==1.1.18
azure-functions==1.0.0b3
azure-functions-worker==1.0.0b4

#### Repro steps

1) Create a Python Function App with the following code (note: same behaviour on Jav

[2019-03-21 05:58] priyaananthasankar commented on #256
@maiqbal11 : Yes this is still an issue.

[2019-03-21 15:18] elprans commented on #349
@asavaritayal Working on a PR, will submit shortly.

[2019-03-21 20:12] priyaananthasankar opened #368 "DevOps Strategy for Python Functions"
The current pipeline: https://github.com/Azure/azure-functions-devops-build/blob/master/sample_yaml_builds/linux/consumption/python-consumption.yml does not work.

Currently the pipeline that uses a bash script is the one that works. This performs CI and CD in one single script, which isn't ideal. There are multiple issues:

1. Declaring service principal as variables.
2. No clear separation of CI

[2019-03-22 17:54] michhar commented on #312
@priyaananthasankar @maiqbal11 Thank you for all  of your work.  I've updated the code - there needs to be a permanent folder, `project`, with the training script and related assets for running the experiment with Azure ML (basically it copies the contents of this folder up to a separate compute for the actual training job).  I do know Azure ML creates a folder `aml_config` as well, but this now d

[2019-03-22 21:58] maiqbal11 commented on #366
@pjboardman, you're right in saying that it would lead to a performance hit. Is there a particular reason why you're using a web app rather than a function app? Has this web app setup worked for you in the past? We have instructions on how you can bring your own container and publish it to a function app: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom

[2019-03-25 15:23] maiqbal11 commented on #368
Thanks for pointing this out @priyaananthasankar. There are some limitations in the approach right now that we're working to address. \cc @Hazhzeng, @Francisco-Gamino, @asavaritayal.

[2019-03-25 15:55] maiqbal11 commented on #365
Hi @mdudis, currently there is no implementation for this and it's difficult to say when we would be able to provide it. That being said, you should be able to use logic apps for triggering using SQL: https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-sqlazure#add-sql-trigger. Once you have the data, and depending on your workload, you should be able to call into your running

[2019-03-25 15:55] #365 closed

[2019-03-25 18:26] pjboardman commented on #366
I changed to a function app. Image updates are now accomplished with ```az functionapp config container set ...```. Still seeing same results

[2019-03-25 18:37] elprans commented on #355
@pragnagopa The current implementation seems to already handle unknown message gracefully, so I don't think any action is necessary on this one at this time:

https://github.com/Azure/azure-functions-python-worker/blob/b31ede864d664e10388a7b0802ae162c0ea6abaa/azure/functions_worker/dispatcher.py#L186-L192

[2019-03-25 19:10] pragnagopa commented on #355
Ask here is to support all messages explicitly. For any messages that have a response message, for example: FunctionEnvironmentReloadResponse send success as host will use this information.

When host starts sending these messages to take advantage of the new support, language worker needs to be updated to handle messages best suited for that language.

[2019-03-25 19:54] elprans commented on #355
@pragnagopa So the worker should send a Success response even if the requested feature is not supported?  Maybe adding an explicit `StatusResult.NotSupported` would be better?  How would we handle scenarios where the worker is unable to handle a particular request *in principle*?

[2019-03-25 20:49] carterpy commented on #249
I'm like @owenwhenry - I've been making .py files to do little tasks on windows vms and now I'm using python preview linux distro for azure and it's like, where's the odbc drivers? But I'm also greening on Ubuntu on my on-prem rig and just did a bunch of apt-gets to get some mssql drivers. @asavaritayal [says we've got unixodbc](https://github.com/Azure/azure-functions-docker/issues/32). Sooooo, i

[2019-03-25 21:01] carterpy commented on #249
Watch @asavaritayal be like, [use a custom docker image](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image)

[2019-03-25 21:41] pragnagopa commented on #355
Yes. Good point. For the messages we have now, it is required by the worker to either handle it or return success.  For future messages, host will be responsible for sending new types of messages only to supported workers.

[2019-03-26 17:17] danielcarletti commented on #229
I had this problem and @lightenup/@holwech fixes solved it. I am begin a corporate proxy and have the variables set. I just set NO_PROXY and my function works fine now.

[2019-03-27 17:14] Frantche opened #370 "Deploy on Azure Function with private python package"
Hi

I am using Azure Python Function for tasks that need to be done once a day. They are triggered by MS Flow using http.

Some code is shared between functions and functionapps. This code is now contained in a python package host in a private Azure DevOps repository.

When i’m using Azure Function locally. I have no issues.

But when I am deploying the app from my laptop using : Function azure Fu

[2019-03-28 10:45] mebibou commented on #234
I have pretty much the same here, followed the tutorial and when running `func host start`:

[code]

[2019-03-28 15:05] maiqbal11 commented on #234
Hi @mebibou, could you share your requirements.txt?

[2019-03-28 15:09] mebibou commented on #234
[code]

[2019-03-28 15:10] maiqbal11 commented on #234
@mebibou, which OS are you running on?

[2019-03-28 15:18] mebibou commented on #234
MacOS `10.14.3`

[2019-03-28 15:49] maiqbal11 commented on #234
@ankitkumarr, would we expect any difference in behavior here between Mac and Windows? I couldn't repro this with the latest version of the core tools on my Windows machine.

[2019-03-28 16:19] ankitkumarr commented on #234
Do you have Python 2 installed as well? I think `func` might be spawning a Python 2 process instead of Python 3. This could be because we spawn a process with name `python` and maybe in your case, `python3` refers to Python 3.

 @mebibou, would you mind doing a quick test for me and adding these lines on top of `/usr/local/Cellar/azure-functions-core-tools/2.4.498/workers/python/worker.py`:
[code]

[2019-03-28 17:27] mebibou commented on #234
Ok so I changed to:
[code]
and running `func start`:
[code]

[2019-03-28 17:35] maiqbal11 commented on #234
@mebibou, you might need to call `sys.stdout.flush()` to see the printed output if you are in fact using python 2. The `flush=True` is not supported for python 2.

[2019-03-28 17:40] mebibou commented on #234
@maiqbal11 sorry I am not a python developer, what do you mean exactly?

FYI, before running func start, I did this:
[code]
like they say on the getting started python azure function apps. So I guess it should use python3 no?

[2019-03-28 17:52] ankitkumarr commented on #234
@mebibou, thanks for sharing that. My bad, because this is syntax error, it didn't show the `print` output.

You might hate me for this, but could you remove everything other than these two lines temporarily from `worker.py`.
[code]
And then share the output for `func host start`. I just want to see the version of python that is running when `worker.py` is launched.

If it is indeed version 2, the

[2019-03-28 19:21] mebibou commented on #182
Do you guys have a working example to build using gitlab-ci ? i tried to use some node image but docker is not available, and they have a `services: docker:dind` but I think it only works with the image `docker` which doesnt have `apt-get` to install the required packages. I'm a little bit lost on how to make this work

[2019-03-28 20:03] ahmelsayed commented on #182
/cc @ankitkumarr @maiqbal11

@ankitkumarr would you mind helping @mebibou. It looks like the CI environment they are running in doesn't allow docker, but they can choose to build in whatever docker image they want.
I think they should be able to build in a python image (for example: `mcr.microsoft.com/azure-functions/python:2.0-python3.6` or even just `python:3.6` really) and then run the same bui

[2019-03-29 08:07] mebibou commented on #234
yes looks like it is using python `2.7.0`:
[code]

[2019-03-29 10:34] mebibou commented on #182
@ahmelsayed I followed your example at https://github.com/ahmelsayed/python-functions to try and deploy using travis temporary (until I get it working in gitlab), it worked the first time but then when I make changes, even though the build passes, the code visible on azure portal does not get updated. However, if I try to upload from my computer (the same code), it does get updated.

Here is the l

[2019-03-29 16:33] ankitkumarr commented on #182
@mebibou, for gitlab, after the next release (happening in a couple of days), if you can choose `mcr.microsoft.com/azure-functions/python:2.0-python3.6` docker image for your CI environment, then you can publish using these commands-
[code]
This way you are manually installing the dependencies and making `func` to publish without spawning a docker instance and trying to "build".

For the travis is

[2019-03-29 16:46] ankitkumarr commented on #234
@mebibou, thanks for verifying that. I created this issue https://github.com/Azure/azure-functions-core-tools/issues/1164 in `azure-functions-core-tools`.  We can provide updates there.

For a mitigation, you could point your `python` to `python3` and this should work.

[2019-03-30 21:35] asavaritayal commented on #370
To install a private package, you'll need to setup a DevOps pipeline. Here's a sample template - https://github.com/Azure/azure-functions-devops-build/blob/master/sample_yaml_builds/linux/consumption/python-consumption.yml

You can use the `az functionapp devops-build command` to help you create the pipeline.

[2019-03-30 21:35] #370 closed

[2019-03-30 21:37] asavaritayal commented on #368
@priyaponders have you tried the `azure functionapp devops-build create` command to setup the pipeline? This should provision E2E CD without the bash script.

[2019-03-30 21:37] asavaritayal commented on #368
@priyaponders have you tried the `azure functionapp devops-build create` command to setup the pipeline? This should provision E2E CD without the bash script.

[2019-04-01 11:34] asavaritayal commented on #330
Ping. @elprans

[2019-04-01 13:53] elprans commented on #330
@asavaritayal I'm looking into this today.

[2019-04-01 21:32] elprans commented on #355
@pragnagopa Should we add the new `StatusResult` to the protocol?

[2019-04-01 21:36] pragnagopa commented on #355
For now, all the messages in the proto file are required to be supported by the language worker.  I will update proto file to add `StatusResult.NotSupported` for future breaking changes.

[2019-04-02 15:37] gkgaurav31 opened #372 "Performance degradation | subprocess.call()"
The requirement is to convert PDF to PNG using ImageMagick on Azure WebApp for Containers.

Using base image: ubuntu:16.04

This works perfectly fine on a VM but takes too long on Azure WebApp for Containers. (with similar configurations). Since custom image is being used, everything is the same.

The following method is the slowest:

subprocess.call([
        "convert",
        "-density",

[2019-04-02 16:05] asavaritayal commented on #372
@gkgaurav31 this repo is dedicated to Azure Functions only. Please use the channels here - https://azure.microsoft.com/en-us/support/create-ticket/ to create a support ticket for Web Apps for Containers.

[2019-04-02 16:05] #372 closed

[2019-04-02 16:30] carterpy commented on #331
I can't see the function either

[2019-04-02 17:47] joal42 opened #373 "Overwrite logging format"
I am running an eventhub trigger azure function in python in Docker. I want to ship the azure function logs to my logging pipeline. The logs are written to /tmp/Functions/Function/EventhubTrigger/.
The log format is `Timestamp Level Message`. The format I need is '%(message)s'. How could I overwrite the log format to only keep message without Timestamp and level ahead.

Example:
The log I got now

[2019-04-03 10:41] Kagigz commented on #278
Hello, I keep trying to import a local module into a Python function, without success.

Here's my project structure:

[code]
I want to import model_helper into init, and here are some of the things I tried:

from . import model_helper (no module named model_helper)
from ..ml-service import model_helper (Invalid syntax)
from functions_python.ml-service import model_helper (Invalid syntax)
import fu

[2019-04-03 12:49] SpicySyntax commented on #227
+1, This would be very useful for long running ML Workloads

[2019-04-03 14:58] maiqbal11 commented on #278
Hi @Kagigz, would it be possible to move your description to a separate issue? We can address it there. Just trying to keep this issue focused on what was originally being discussed :)

[2019-04-03 15:08] Kagigz opened #374 "Importing local module into Python function fails"
Hello,

I've looked at these issues already: [#278](https://github.com/Azure/azure-functions-python-worker/issues/278) and [#219](https://github.com/Azure/azure-functions-python-worker/issues/219) but I keep having an issue when trying to import a local module into a Python function.

I'm using Python 3.7 and not 3.6 so it could be the reason why I can't get this to work. I'm working on a function

[2019-04-03 15:08] Kagigz commented on #278
@maiqbal11 no problem! I've created another issue: [#374](https://github.com/Azure/azure-functions-python-worker/issues/374)

[2019-04-03 15:38] Kagigz commented on #374
I don't have the code on GitHub yet, I need to generalize first (but I'm planning on doing it soon). In the meantime, here's what it looks like:

\_\_init.py__
[code]

model_helper
[code]

When I try to make a request, after importing model_helper with `from . import model_helper`, here's what I get:
![image](https://user-images.githubusercontent.com/16519462/55491888-90425600-5636-11e9-8a06-91606

[2019-04-03 15:45] maiqbal11 commented on #374
From with your `__init__.py` file, can you do a dump of your modules (using `sys.modules`) and include it here? Want to check if our namespace is being registered.

[2019-04-03 16:18] Kagigz commented on #374
Here it is:
[modules.txt](https://github.com/Azure/azure-functions-python-worker/files/3039689/modules.txt)

[2019-04-03 16:25] maiqbal11 commented on #374
The `modules.txt` file you've shared looks to be in a binary format. Something like the following should be sufficient to get a string representation:

[code]

[2019-04-03 16:31] Kagigz commented on #374
You're right sorry I used 'wb' instead of just 'w'. Here it is (for good this time):
[modules.txt](https://github.com/Azure/azure-functions-python-worker/files/3039747/modules.txt)

[2019-04-03 16:50] maiqbal11 commented on #374
Searching for `__app__` in the `modules.txt` file I'm seeing that the modules are getting registered correctly so they should be importable. We can try to see if this is an issue with Python 3.7 (or perhaps even the Anaconda distro which I see that you're using). Can you try creating a Python 3.6 virtual environment and running the function from within that?
1. Instructions here on creating the en

[2019-04-03 19:02] maiqbal11 opened #376 "File Mounting in Linux"
Placeholder issue for enabling file mounting in Linux containers. Users may have very large files/number of files that they want to be able to access in their function application. Currently, they would need to package these with their function code and downloading would add to cold start each time the function is run. The users might instead want to upload these files once at the start and then a

[2019-04-03 19:09] #349 closed

[2019-04-06 00:04] reynoldsa commented on #227
Absolutely +1.

[2019-04-08 11:48] FlippieCoetser opened #378 "No settings for blob storage encoding"
Reading data from blob storage is done using **blob.read()** method.
When the blob is not encoded using **UTF-8** an error is thrown.

In Python, the encoding is set like this: **open(File, encoding='ISO-8859-1', mode='r').read()**
But it is not possible to set the encoding with bindings or extra parameters when using blob storage in azure python functions.

Please add a mechanism to set the encod

[2019-04-08 12:19] Kagigz commented on #374
@maiqbal11 I have tried in a Python 3.6 virtual environment and it now works. The issue was indeed linked to the Python version. Do you know if v3.7 will be supported soon?

Thanks for your help

[2019-04-08 17:31] maiqbal11 commented on #374
@Kagigz, glad to hear! We need to be able to support both Python 3.6 and 3.7 since many core ML libraries currently have not been ported over to 3.7. This requires some infrastructure work on our part which will happen over the next few months. We are expecting to be able to support 3.7 within the year.

[2019-04-08 17:31] #374 closed

[2019-04-08 20:15] jimbobbennett commented on #380
@maiqbal11 - there is a reproduction at https://github.com/jimbobbennett/PythonFunctionsBodySizeBugRepo

If I upload binary file data the data that arrives is different to the data sent - the size of the body of the request is larger and the data is different.

If you launch the function app in that repo, then run the app.py file in the App folder you will see the bug in action.

I am using:
Azure

[2019-04-08 21:42] #330 closed

[2019-04-09 18:41] genscape-agodfrey commented on #368
To expand on this, when attempting to setup ci/cd we identified that without zipdeploy being an option, deploying from a server OS seems impossible. Attempting to run "func azure functionapp publish" when using Docker EE on windows server 2019 (which is using LCOW) we get the error "filesystem operations against a running hyper-v container are not supported "

[2019-04-09 19:38] pragnagopa opened #381 "How to add new binding type without changing python worker"
Wiki https://github.com/Azure/azure-functions-python-worker/wiki/Adding-support-for-a-new-binding-type describes how to add a new binding type that requires updating python worker.

@elprans - Can python worker handle binding type converters defined in a referenced library?

cc @anthonychu @jeffhollan @asavaritayal @maiqbal11 @fabiocav

[2019-04-09 20:12] elprans commented on #381
@pragnagopa As long as the binding adapter is registered by the virtue of being imported and extending the `InConverter` and `OutConverter`, the worker doesn't care where the code is at.  That said, loading and importing that third-party library is likely going to be a hassle.  Fortunately, Python has a standard mechanism that allows building "plugins" by declaring a special pkgresources entrypoin

[2019-04-09 20:33] anthonychu commented on #381
This sounds pretty good to me. I'm happy to test this out by writing the first adapter if you can add the extensibility point to the worker.

@pragnagopa I'm assuming that, like Java, we're going to ask the service teams to create and maintain their own packages. My main concern is around CI/CD infrastructure. We were lucky that the SignalR Service team had the expertise to build the maven pipelin

[2019-04-09 21:25] pragnagopa commented on #381
@elprans  - Can you please look into  what needs to be updated /provided to load third-party library in the python worker?

@anthonychu - Yes, service teams should own the binding. I will open a tracking issue to provide better CI/CD pipeline for partner teams. Until then, binding owners need to test and release to PyPI manually.

[2019-04-09 23:14] maiqbal11 commented on #380
This is looking to be an issue on our end. Will update with details on the fix.

[2019-04-10 07:19] Kagigz opened #382 "Deploying to Azure fails (python_docker_build killed)"
When trying to deploy my python function to Azure with the command `func azure functionapp publish funcname --build-native-deps`, I have this error after a while:

![image](https://user-images.githubusercontent.com/16519462/55858730-ba34d480-5b70-11e9-9b41-445a15bcbbe1.png)

I created a new python 3.6 environment, created the function app, installed all the libraries I needed, did `pip freeze > re

[2019-04-10 10:05] Kagigz commented on #382
Apparently the problem is with spacy, as when you remove it the function app can be built.

[2019-04-10 17:33] maiqbal11 commented on #382
Could you also share the version of core tools you're running using `func --version`? @ankitkumarr, have you seen this issue with building native dependencies before?

[2019-04-10 18:33] christian-vorhemus commented on #382
Potentially, this is an out-of-memory issue. I was in the same situation, then I gave docker more RAM (2GB -> 6GB) and now _pip install_ runs through without problems.

[2019-04-10 18:49] svartkanin opened #383 "Access metadata for Python BlobTrigger"
I'm using Python for my function apps and I've created a `BlobTrigger` which works fine. Hoever the created endpoint doesn't seem to have an option to have the metadata as a parameter:

[code]

Accodirng to the documentation and the examples for C# and JS this seems to be possible:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---metadata.

Is there

[2019-04-10 18:49] #383 closed

[2019-04-11 13:18] Kagigz commented on #382
@maiqbal11 my version is 2.4.498

The problem was the memory, thanks @christian-vorhemus!

[2019-04-11 15:46] gerwin3 opened #384 "502 Bad Gateway on Python Azure Function"
I have a small python Azure Function that intermittently fails with a 502 Bad Gateway response. Usually it works a few times and then stops working, sometimes it starts working again. Everything is fine locally BTW.

I attached Application Insights to get some logs, but only the logs of successful runs are there. It seems like the request never even hits my Azure Function at all. The 502 Bad Gatew

[2019-04-11 17:24] #382 closed

[2019-04-11 21:51] polarapfel commented on #219
I still don't get it. I followed the instructions in the documentation page (matching the quoted comment here).

I get this in pylint and at runtime:

`Attempted relative import beyond top-level package`

Clearly, the documentation is wrong. What is the right way to share code between multiple functions in the same app? Can someone please fix the [documentation](https://docs.microsoft.com/en-us/az

[2019-04-12 16:31] rquintino opened #385 "best/better/quicker way of publishing changes to function __init__.py or function.json without publishing all app content?"
Hi, I'm testing azure functions new linux consumption plan with python.
Is there any way of making publishing/updating faster for function code/settings changes only? Currently takes several minutes even when nothing in requirements was changed. :(
Doing something wrong?
thanks!

[2019-04-13 16:14] WalidMustapha opened #386 "Python function execution consistency"
### Issue
I'm having a strange consistency issue when I try running one of my functions. When I make small, seemingly insignificant, modification to my python script, the likelihood of the function running decreases. When it doesn't run, I get following log output:

2019-04-13T14:24:53 Welcome, you are now connected to log-streaming service.
2019-04-13T14:24:56.773 [Information] Executing 'Functio

[2019-04-16 08:43] gerwin3 commented on #384
A screenshot of the error in Azure portal:

![image](https://user-images.githubusercontent.com/1304177/56195026-67599200-6034-11e9-80fe-5230e4b31c03.png)

[2019-04-16 17:43] maiqbal11 commented on #373
You should be able to use regular expressions to accomplish what you need here. All languages should have regex support and you can use that to pull out the relevant parts of the message that you need. Once you have that, you can rewrite the relevant logs to a separate file and then export that to whatever logging pipeline you have.

[2019-04-16 17:57] joal42 commented on #373
Thanks. I tried with config logging format in the python like this
logging.basicConfig(
    stream=sys.stdout,
    level=logging.DEBUG,
    format='%(message)s',
)
However, the log output still contains timestamp and level ahead. I wonder whether azure function defines the log format I cannot override like this way.

[2019-04-16 17:58] maiqbal11 commented on #219
Hi @polarapfel, could you create a separate issue? We can follow up there with further details.

[2019-04-16 18:00] maiqbal11 commented on #385
@ankitkumarr to comment this. I believe there were some caching changes landing soon that would account for specifically this case.

[2019-04-17 09:33] touhonoob commented on #384
Same here

[2019-04-17 17:38] maiqbal11 commented on #384
Would you be able to share the name of your function app? We can look at the logging on our side to figure out what's going on.

[2019-04-17 17:44] maiqbal11 commented on #386
Are you making edits to your app directly via portal?

[2019-04-17 17:50] WalidMustapha commented on #386
As far as I know, that's not possible with Python as it's in preview mode. I'm making the changes locally and deploying with the Functions Core Tools.

[2019-04-17 17:50] maiqbal11 commented on #373
The Timestamp and Level are not controlled by the worker but are added on by the Host process. Formatting them from within the Python function itself will not change the addition of these entries. @brettsam, might be able to suggest if there is a way to do this directly using some configuration etc. I don't believe we have direct support for scenarios like this one. My suggestion would be to read

[2019-04-17 18:54] maiqbal11 commented on #386
Can you describe your scenario in more detail? I'm seeing that the function in question is timer triggered once every minute. That might be related to why reducing execution time leads to the function working correctly more often.

[2019-04-17 19:24] gerwin3 commented on #384
I cannot publicly unfortunately. Can I contact you some other way?

[2019-04-17 20:37] fabiocav commented on #298
Blocked on breaking changes announcement period

[2019-04-17 20:42] maiqbal11 commented on #380
The raw body behavior is not consistent across different content types. For `application/json`, it will use the actual raw body and send as is. However, for `application/octet-stream` types, the raw body is transmitted as a string instead of raw bytes (https://github.com/Azure/azure-functions-host/blob/71a6ab35770c33165f1543c51397013d0446a32f/src/WebJobs.Script/Rpc/MessageExtensions/RpcMessageConv

[2019-04-17 21:16] ahmelsayed opened #392 "Reduce final package size by removing grpc_tools from python worker"
[code]

That dir shouldn't be needed for the python worker. It's 4 MB on Windows, 14 on OSX and 70 on Linux.

[2019-04-17 23:28] touhonoob commented on #384
@maiqbal11 https://akv-functions-python.azurewebsites.net/api/create-test-transaction

deployed with

[code]

[2019-04-17 23:56] touhonoob opened #387 "Published Native Functions Can't Be Updated"
#### Investigative information

Please provide the following:

- Timestamp: 04/17/2019 @ 11:49pm (UTC)
- Function App name: akv-functions-python
- Function name(s) (as appropriate): akv-functions-python
- Core Tools version: 2.5.553

#### Repro steps

Provide the steps required to reproduce the problem:

1. Publish function with `func azure functionapp publish akv-functions-python --publish-local-

[2019-04-18 11:41] WalidMustapha commented on #386
I think I figured out the issue. If you take a look at Operation ID "uS6GQyRpdbg=" for function _finn-old-homes_ you will see it failed due to the timeout value being exceeded. The script executes somewhat faster on my local machine than what I had originally allocated as "functionTimeout" in _host.json_, so I was a bit surprised the timeout value had been reached. I'm uncertain why there are perf

[2019-04-18 17:48] maiqbal11 commented on #386
This could potentially be the case. The App Service Plan has a 30 minute timeout by default in v2.x (https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout), but there is no upper limit. It's hard to say why this might be happening without knowing the specifics of what your function is doing.

[2019-04-18 17:52] maiqbal11 commented on #387
@touhonoob, what changes were made to the function/config from the time it was published to when you tried to republish?

[2019-04-18 19:05] bigdatamoore commented on #227
+1 agreed.  We could use this now.

[2019-04-18 19:18] bigdatamoore opened #388 "Issue deploying python function to westus"
I am getting the following error trying to deploy a python function app to a resource group located in the westus.  This is via an ARM template.   Not sure if anyone else is having the same issue.

[code]

[2019-04-18 19:49] maiqbal11 commented on #384
@gerwin3, can you include a log line like the following from your function execution:

"Executed 'Functions.HttpTrigger' (Succeeded, Id=ef8b4f0c-2615-479a-afe9-e5ba7a03cedb)"

You can execute the function from Portal to see these logs. Using Application Insights would be more reliable since Portal logging can be inconsistent. Could you also provide the time stamp during which the function executio

[2019-04-18 20:26] bigdatamoore commented on #388
This appears to be working now.  So I guess it's been "Fixed"

[2019-04-18 21:29] bigdatamoore commented on #388
Well, it's happening again.  Failure when trying to deploy to westus.  Same error as before

[2019-04-18 21:31] maiqbal11 commented on #388
@balag0 is looking into this. Will follow up on the thread.

[2019-04-18 22:28] balag0 commented on #388
This should be fixed now. The inconsistent behavior from earlier was due to the fix still being rolled out and hadn't been deployed to all instances in the region.

[2019-04-18 22:51] touhonoob commented on #387
@maiqbal11 Like absolutely nothing.

[2019-04-18 22:52] touhonoob commented on #387
@maiqbal11 You can see an example that I am working on here: https://github.com/touhonoob/bc-community-samples/tree/akv-functions-python/akv-functions-python

[2019-04-19 10:17] gerwin3 commented on #384
@maiqbal11 It failed twice with a 502 but on the third try I got a successful execution at 2019-04-19 10:08:09.853 UTC (Note that a 500 Internal Server error is returned but that's OK because I used a dummy argument value). The log in Azure shows the ID so you should be able to find it.

Again, the failed attempt does not show up in the logs at all.

Thanks for your help!

[2019-04-19 12:48] todddube commented on #388
@balag0 thanks for response - @bigdatamoore will look at this for us this morning.

[2019-04-19 16:15] bigdatamoore commented on #388
Thanks.  It is working now.  I am able to deploy the python azure function app to the westus region.
 Appreciate the quick resolution.

[2019-04-19 16:15] #388 closed

[2019-04-19 17:54] maiqbal11 commented on #384
Hi @gerwin3, we'll need the log with the ID line to be provided from your end. Given just the timestamp, we would not be able to find the function logs for your app given all the other functions executing during that time.

Here are full instructions on how you can configure Application Insights for your function app to retrieve the information (since Portal log streaming experience is not ironed

[2019-04-19 18:43] gerwin3 commented on #384
@maiqbal11 Ah, I misunderstood. This is the ID: b5924b90-677f-4954-ad1c-7c9381320bff

[2019-04-19 22:09] pragnagopa commented on #381
@elprans  - Any update on this?

[2019-04-22 16:01] pragnagopa commented on #381
Ping!

[2019-04-22 17:10] elprans commented on #381
@pragnagopa Working on a PR right now.

[2019-04-22 17:45] maiqbal11 commented on #387
@ankitkumarr, have you seen behavior like this before?

[2019-04-22 19:09] ankitkumarr commented on #387
Looks like an `azure-functions-core-tools` issue. @maiqbal11, feel free to transfer it that repo.

@touhonoob, I think this may have happened because your Azure Function App has an invalid value for `AzureWebJobsStorage`. We publish your function app code to a storage account that's attached to your Function App.

To fix this, you can go to your Function App, edit the `AzureWebJobsStorage` app set

[2019-04-23 18:47] pragnagopa commented on #381
@elprans  - Once you have the changes, please update the instructions  in the wiki [Adding-support-for-a-new-binding-type](https://github.com/Azure/azure-functions-python-worker/wiki/Adding-support-for-a-new-binding-type)

[2019-04-23 18:57] elprans commented on #381
@pragnagopa Will do!

[2019-04-24 05:55] vikasapr commented on #357
Today April 23, 2019, I tried to spin up a new Azure function 2.0 on OS-type Linux and runtime Python 3.6
When I add **pyodbc** in requirements file, I am unable to publish the app (without it, the app publishes)
**I am using --build-native-deps
and running docker locally on my Windows 10 box.**

This is the error I get,
`Building wheels for collected packages: pyodbc, pycparser
  Building wheel f

[2019-04-24 12:45] sachidanand opened #390 "The function runtime is unable to start. Microsoft.Azure.WebJobs.Script: Failed to start Language Worker Channel for language :python. System.Diagnostics.Process: Cannot allocate memory."
Hi,
   We are getting the below error in all the Python Azure Function..
Could you please let me know fix for this...
The function runtime is unable to start. Microsoft.Azure.WebJobs.Script: Failed to start Language Worker Channel for language :python. System.Diagnostics.Process: Cannot allocate memory.

[2019-04-24 16:57] #288 closed

[2019-04-24 17:41] maiqbal11 commented on #390
Hi @sachidanand, could you provide more information about your scenario and what plan you're running on (Consumption or App Service)?

[2019-04-24 17:41] maiqbal11 commented on #386
Hi @WalidMustapha, is this issue resolved with the timeout change?

[2019-04-24 17:44] maiqbal11 commented on #385
Transferring to the core tools repo as this is related to publishing. @ankitkumarr should be able to follow up on when the tooling changes are landing that would make this possible.

[2019-04-24 18:15] ankitkumarr commented on #385
@rquintino, this is actually taken care of in the latest `azure-functions-core-tools` release. We have started to cache dependencies, and if your `requirements.txt` hasn't changed, we don't try and redownload the dependencies.

Please give it a try and let us know if it works out for you!

[2019-04-24 18:33] WalidMustapha commented on #386
Hi @maiqbal11,

Sorry I didn't get back to you sooner. I ended up deploying using Apache Airflow which accomplishes what I was looking for from Azure functions by using DAG file definition. I never managed to get the function working with the timeout change, but I didn't have time to debug.

[2019-04-24 18:35] vikasapr commented on #357
This happened because docker image was missing gcc. Adding these options --additional-packages "build-essential libevent-dev unixodbc-dev" fixed it.

[2019-04-24 20:57] maiqbal11 commented on #380
\cc @asavaritayal

[2019-04-24 21:01] kabirkhan commented on #331
I've also seen this issue but the functions will appear after 5-20min. It's confusing and seems broken only because there's no status message and logging is disabled by default.

[2019-04-25 09:45] LukeGahan commented on #357
Thanks @vikasapr worked for me. Is that image missing gcc by design?

[2019-04-26 07:45] priyaananthasankar opened #393 "Bindings Contribution Strategy - Python"
The contribution workflow for Python bindings seem cumbersome in terms of local implementation and testing. It is possible through a hacky method of tweaking the func core tools path to a python deps location where new rich type binding needs to be copied.

Need  a cleaner approach.

[Python Functions Binding Contribution.docx](https://github.com/Azure/azure-functions-python-worker/files/3120236/P

[2019-04-26 22:52] maiqbal11 commented on #393
Thanks for compiling this @priyaananthasankar!

[2019-04-26 23:53] elprans commented on #393
I’m working on a way to make this process easier.

[2019-04-27 05:53] priyaananthasankar commented on #393
@elprans : I have raised PR's for the Kafka trigger/bindings in both azure-functions-python-worker and library repos. Can this be merged soon?

[2019-04-27 22:35] ericdrobinson opened #394 "MemoryErrors Began Recently, Breaking our Python Function App"
## Investigative information

- **Timestamp:** 2019/04/26 @ 3pm
- **Function App name:** [PRIVATE] Contact if needed.
- **Function name(s) (as appropriate):** [PRIVATE]
- **Core Tools version:** 2.6.1048

### Function App Overview

We built a system that processes audio files. Each input file is a compressed format (m4a and mp3 are the most common). The main processing function uses `ffmpeg`, whic

[2019-04-29 16:57] pragnagopa opened #395 "Update grpc dependencies"
Update grpc dependencies to  1.20.1

[2019-04-29 16:58] pragnagopa commented on #381
Ping!

[2019-04-29 17:31] maiqbal11 commented on #394
There's nothing that's change on the worker side with respect to memory handling. @fabiocav, I believe this shouldn't have anything to do with functions runtime level changes either, though I do know that there are some perf improvements that might already have landed. @ahmelsayed, @balag0, @divyagandhii, the largest change that's landed during this timeframe is LCOW. Is it likely that shared memo

[2019-04-29 17:37] ericdrobinson commented on #394
I've managed to narrow down the memory error to a specific **_amount_** of memory that causes the issue. In a **freshly** booted Function App instance, if I add a message to the Queue that contains a request to process an audio file who's unpacked size is **~100MiB**, then the `Memory Error` will trigger when the underlying Python code attempts to allocate a new `ndarray` of equivalent size (it is

[2019-04-29 18:29] maiqbal11 commented on #386
@WalidMustapha, sorry to hear about that. I'll close the issue for now. Feel free to re-open if you need more assistance on this.

[2019-04-29 18:29] #386 closed

[2019-04-29 18:31] maiqbal11 commented on #385
@rquintino, closing the issue as the changes in question should already have landed and be usable. Feel free to re-open if you face any challenges.

[2019-04-29 18:31] #385 closed

[2019-04-29 18:50] pragnagopa opened #397 "Add VS Code OGFs"
Tracking item of VSCode debugging OGFs.

[2019-04-29 19:02] elprans commented on #381
See #398. I also updated the Wiki page.

[2019-04-29 19:39] maiqbal11 commented on #397
Added to OneNote.

[2019-04-29 19:39] #397 closed

[2019-04-29 19:44] #395 closed

[2019-04-29 20:03] anthonychu commented on #381
Thanks. I'll test this out with the SignalR Service bindings in mid-May. Any plans to create a repo with a sample binding? Would be extremely useful since the end-to-end tests that require the function host aren't necessarily easy to setup.

[2019-04-29 20:39] priyaananthasankar commented on #390
https://github.com/priyaananthasankar/parseltongue/tree/master/LDAModeling is the sample that uses gensim with Python functions and deployed successfully. Are some heavy word embeddings bundled as part of the function app? Would be great if you can share the function app contents and sizes.

[2019-04-29 20:58] pragnagopa opened #400 "Remove disabled property from function.json"
`disabled` property is not  valid for functions V2. This is a legacy property carried over from V1

[2019-04-29 20:58] pragnagopa commented on #400
cc: @asavaritayal

[2019-04-29 21:18] ericdrobinson commented on #394
Another update with more information. Back in March our tests showed that our Function App was running on a "system" with **4** [logical] CPUs (via `os.cpu_count()`). When running today, we have access to only **2** CPUs.

[2019-04-29 22:05] ericdrobinson commented on #394
Another update. We emulated what `audioread` does to run `ffmpeg` (`subprocess.Popen`) to determine precisely what error was being triggered to cause the `ffmpeg` run to fail.

We were able to verify that the `Popen` never completes. The Traceback points to [this line of code](https://github.com/python/cpython/blob/fbe2a1394bf52f5a4455681e1b1f705a31559585/Lib/subprocess.py#L723) and reports the fo

[2019-04-29 22:27] balag0 commented on #394
@eric Thanks for all the information. While this may or may not be applicable for this app, for consumption sku a limit of 1.5 GB memory will apply. Some more information here https://github.com/Azure/azure-functions-host/issues/2501
We will investigate and provide an update/mitigation soon.

[2019-04-29 23:23] #381 closed

[2019-04-30 07:05] xiacijie opened #402 "No gcc for mcr.microsoft.com/azure-functions/python:2.0 image"
When it is executing pip install -r requirements.txt and comes to regex,
the error shows up.

`gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -fPIC -I/usr/local/include/python3.6m -c regex_3/_regex.c -o build/temp.linux-x86_64-3.6/regex_3/_regex.o unable to execute 'gcc': No such file or directory error: command 'gcc' failed with exit status 1`

**My Docker file**
[co

[2019-04-30 14:24] ericdrobinson commented on #394
@balag0 I'm aware of the 1.5GB memory limitation, yes. However, isn't there something like 10GB in storage space? Wouldn't large memory allocations simply bump some memory out into swap?

This is separate from the 100MiB issue I've outlined above, of course: 100MiB doesn't even come _close_ to the 1.5GB limit...

[2019-04-30 15:54] ericdrobinson opened #403 "Suggestion: Provide Option to use asyncio ProcessPool instead of ThreadPool"
One of the major use cases for Python is data science computation. This type of computation typically features _lots_ of complex, heavy math that may take a very long time to compute. This type of computation is _terrible_ for Python threads due to each thread sharing the [GIL](https://wiki.python.org/moin/GlobalInterpreterLock) and blocking all other threads. This is even mentioned in the `azure-

[2019-04-30 16:38] xiacijie commented on #402
solved. By apt-get install -y gcc in RUN command

[2019-04-30 16:38] #402 closed

[2019-04-30 16:47] pragnagopa opened #404 "Setup devops to publish to PyPI"
- Enable publishing python worker and python library to PyPI via devops
- Investigate providing similar setup for partner teams who need to publish  extensions packages to PyPI

[2019-04-30 16:50] pragnagopa commented on #381
@anthonychu  - I have opened tracking items to improve E2E test setup and publishing extension packages by the partner teams:
- https://github.com/Azure/azure-functions-host/issues/4364
- https://github.com/Azure/azure-functions-python-worker/issues/404
I do not have an ETA on when these issues will be addressed. Until then, please test manually and follow https://github.com/Azure/azure-functions-

[2019-04-30 16:56] pragnagopa commented on #135
Removing azure.functions reference from the worker and loading them as out-out-tree bindings following the guidance #398 will allow users to update azure.functions without requiring a python worker release.

@elprans - Can you please look into this?

@asavaritayal  - This will establish the right pattern where loading bindings is not tied to the worker. Please triage and assign appropriate priorit

[2019-04-30 20:06] ericdrobinson commented on #394
I'm back with more information.

I decided to take a look at what's going on with the memory in the function environment. I added the [`psutil`](https://pypi.org/project/psutil/) module and wrote a simple informational function:

[code]

I then called this function in two locations:

1. Immediately upon function invocation.
1. Immediately after catching the initial `MemoryError`.

Here is the outp

[2019-04-30 20:44] maiqbal11 commented on #393
@elprans, can you provide details on how the entry point will be used once it is loaded? For example, is it sufficient to just include `import kafka` at the top of a function and then use the type annotation `kafka.KafkaEvent` or is there something else that needs to happen? Currently, the wiki has information on what we can do to register the binding but not how we use it.

[2019-04-30 21:11] elprans commented on #393
Nothing special needs to be done. Just import and use.

[2019-05-01 17:07] asavaritayal commented on #404
Closing as a duplicate of https://github.com/Azure/azure-functions-python-worker/issues/141

[2019-05-01 17:07] #404 closed

[2019-05-01 17:12] asavaritayal commented on #403
/cc @pragnagopa

The work for this is already in progress. Closing as a duplicate of https://github.com/Azure/azure-functions-host/issues/4194. PR - https://github.com/Azure/azure-functions-host/pull/4210

[2019-05-01 17:12] #403 closed

[2019-05-01 17:36] asavaritayal commented on #376
Closing as a duplicate of https://github.com/Azure/Azure-Functions/issues/1078

[2019-05-01 17:36] #376 closed

[2019-05-01 17:37] asavaritayal commented on #373
Closing due to inactivity. Please feel free to re-open if the solution proposed above does not work for you.

[2019-05-01 17:37] #373 closed

[2019-05-01 17:45] asavaritayal commented on #367
This'll be solved by the DevOps integration and Cloud Build. @ColbyTresness do you have any doc pointers or existing issues to share for this one?

[2019-05-01 17:54] asavaritayal commented on #356
This should now be fixed in the base docker image - https://github.com/docker-library/python/blob/fac7efee47f0c188f3ea21a328ec3109612fd0cf/3.6/stretch/slim/Dockerfile#L103. Please feel free to re-open if you still see any issues.

[2019-05-01 17:54] #356 closed

[2019-05-01 17:55] asavaritayal commented on #355
@elprans do you have any update on this one? Please let us know if you need any help from the onsite team.

[2019-05-01 17:57] asavaritayal commented on #314
Closing as this is now done. Thanks @maiqbal11 !

[2019-05-01 17:57] #314 closed

[2019-05-01 18:03] balag0 commented on #394
Thanks for the detailed information @ericdrobinson  (got the name right this time :) ). This was very helpful.

Turns out this was due to a bad configuration setting on our side which limited the amount of memory allocated to the container. Unfortunately it would be sometime next time before we can fix this.

Once the configuration is fixed, you should start seeing more available memory on functio

[2019-05-01 18:11] balag0 commented on #390
This could be due to a bad configuration which limited the amount of memory available to the app.
More details here - https://github.com/Azure/azure-functions-python-worker/issues/394

In general you can expect to have 1.5 GB (less memory taken by the functions runtime) , so if your function app memory profile exceeds that limit you will still be getting Out of memory errors (after the config fix)

[2019-05-01 18:14] ColbyTresness commented on #367
@ahmedelnably has a set of docs for the pipelines integration being released in about a week.

[2019-05-01 18:21] ahmedelnably commented on #367
This will be the link for the documentation, should be live by early next week

https://aka.ms/functions-azure-devops

[2019-05-01 18:31] ericdrobinson commented on #394
@balag0 I'm glad to hear that a culprit was found!

### On Misconfiguration

@balag0 Any indication as to _how much_ memory was being withheld by this misconfiguration? This information will help set expectations so we can best plan our mitigation strategy.

### On Base Memory Usage

I would not be surprised if yours was simpler. Our function application has two functions. Each of those uses the `

[2019-05-01 18:58] ankitkumarr commented on #357
This is fixed in the latest release (`2.6.1048` <=) of `azure-functions-core-tools` . https://github.com/Azure/azure-functions-core-tools/issues/1211 for more information.

[2019-05-01 20:00] balag0 commented on #394
We expect to have an additional ~600MB available to the container.

I will try to add a wiki page to the host repo soon once I have more information. The limits will be configured such that the function app will be able to use all of 1.5 GB (minus whatever the functions runtime takes). We will account for the 400MB and adjust the overall limit accordingly if required.

The limit of 1.5 GB is just

[2019-05-01 20:42] fabiocav commented on #298
/cc @pragnagopa can you please follow up?

[2019-05-01 21:04] #298 closed

[2019-05-01 22:22] ericdrobinson commented on #394
### On Additional Memory

Excellent. Thanks very much!

@balag0 Was the change that caused this issue in response to something? Was it the first time a proper limitation was actually set on Azure Functions for Linux (or in general)? I'm really curious to understand _how_ we were able to decompress a ~2GB file without hitting memory errors back in March.

### On Documenting and Handling Memory Limi

[2019-05-01 22:29] jaryder commented on #227
+1 - Is there a timeline for when this will be available?

[2019-05-03 02:13] Hazhzeng commented on #368
@genscape-agodfrey Sorry for the inconvenience. There's an alternative way to deploy your local function app into Azure.
You may want to try `az functionapp devops-build create` command in Azure CLI to setup an Azure DevOps build/release pipeline for your functionapp. https://docs.microsoft.com/en-us/cli/azure/functionapp/devops-build?view=azure-cli-latest

Azure CLI is an Azure resource managemen

[2019-05-03 10:49] vihangs opened #407 "GA availability for python Azure Functions 2.x ?"
Any idea when Python will be GA available for Azure Functions 2.x ?

[2019-05-03 23:13] prbans commented on #219
@maiqbal11 I logged the issue here https://github.com/MicrosoftDocs/azure-docs/issues/30588

[2019-05-06 05:41] asavaritayal opened #408 "Custom binding error"
I created an HTTP triggered function with an output binding of type Azure Table Storage. Here is the `function.json` definition:

[code]

I see the following error when trying to run locally:

[code]

I expected this to work since the issue here - https://github.com/Azure/azure-functions-python-worker/issues/66 has been closed.

[2019-05-06 14:21] asavaritayal commented on #407
Unfortunately, we're unable to share this information publicly at this time. Please tune into https://azure.microsoft.com/en-us/updates/?product=functions for future announcements.

[2019-05-06 14:21] #407 closed

[2019-05-06 15:18] bigdatamoore commented on #219
I was having the same issue as the original poster, and was able to get things working by adding the sys.path.append workaround.  However we have found that fails occasionally when deployed with an error of unable to import module.

So I tried the method suggested by @elprans:
[code]
That works but now my tests are failing.    So, my question is now, what is the recommended folder structure for un

[2019-05-06 17:12] elprans commented on #408
@asavaritayal #66 laid the foundation for the unstructured bindings, but we didn't explicitly enable support for *arbitrary* binding types, only the bindings that are supported (registered) otherwise.  If this is desired, I can make a PR to enable this behavior.

[2019-05-06 17:40] asavaritayal commented on #408
@elprans the primary purpose of https://github.com/Azure/azure-functions-python-worker/issues/66 was to enable bindings that are not supported out of the box in Functions. The current functionality does not provide any net new addition to the platform. I'll re-open the issue to track the work required.

[2019-05-06 17:42] asavaritayal commented on #66
Re-opening as the work does not satisfy the primary requirement which was to enable support for bindings that don't have rich binding support in the azure.functions library.

[2019-05-07 08:30] nkma1989 opened #497 "Python Dependency issue: Issues installing opencv"
Hello.

I'm having issues installing opencv. I'm publishing my function through the CLI using the following command:

[code]
The publishing is not a problem and it worked just fine a couple of months ago, but when I got back to the project to make some changes I get the following error when running the function:

[code]

My requirements.txt looks the following:

[code]

I have posted a similar iss

[2019-05-07 15:51] aorsten commented on #367
I'm getting this issue, and do not have Docker available.
It is exactly as stated, I have created an Azure Function blob-trigger, and am using `azure-storage-blob`. And I get this error:

[code]

[2019-05-08 14:58] ericdrobinson commented on #359
For the past several weeks we have noticed that the Live Metrics system reports the existence of only a single server. The server name field is now "(none)" and the "Application map" seems to also verify that we only ever see a single server up at a time ("1 instance").

When I opened this bug [we were able to see](https://github.com/Azure/azure-functions-python-worker/issues/359#issuecomment-4721

[2019-05-08 15:12] bmc-msft commented on #368
While not one of the above supported methods, I wanted to use slots for my deployment.  I went with building docker containers & using the az cli to deploy.

My Dockerfile:
[code]

In my CD, I use this to set a specific functions container instance to use container version I want:
`az webapp config container set --ids ${RESOURCE_ID} --slot ${TARGET_SLOT_NAME} -i ${TARGET_IMAGE_ID}`

Later on in th

[2019-05-08 19:18] mhoeger opened #410 "Old environment variables should be cleared on reload"
On handling an environment reload request, we should remove any existing. In other words, the only environment variables should be those that come from the reload request as [here](https://github.com/Azure/azure-functions-java-worker/blob/12dcee7ca829a5f961a23cfd1b03a7eb7feae5e0/src/main/java/com/microsoft/azure/functions/worker/handler/FunctionEnvironmentReloadRequestHandler.java#L53)

cc: @pragn

[2019-05-08 22:14] joal42 opened #411 "How to receive events batch in Eventhub triggered function"
#### Investigative information
I have a eventhub triggered function in python and want to receive events in batch.

In function.json set `cardinality` to `many`
  "cardinality": "many",
What should the parameter in main function to pass a list of events?

This example can only get one event data:
`def main(event: func.EventHubEvent):`

[2019-05-09 01:56] Pratyusha91 opened #412 "I am trying to deploy python function to azure"
#### Investigative information

Please provide the following:

- Timestamp:05/08/2019
- Function App name:NA
- Function name(s) (as appropriate):NA
- Core Tools version: Visual Studio Code

#### Repro steps

Provide the steps required to reproduce the problem:
Following the doc https://code.visualstudio.com/docs/python/tutorial-azure-functions#_visual-studio-code-python-and-the-azure-functions-ext

[2019-05-09 03:16] ygpark80 commented on #390
We are having a similar problem using Consumption plan. Any updates on this issue?

[2019-05-09 03:24] balag0 commented on #390
The fix for this issue will start deploying next Monday.

[2019-05-09 12:14] lanrongwen opened #413 "Cosmos Gremlin Binding"
The current binding options for Cosmos include getting all records, a single record based off ID, or a SQL statement.  This limits the Graph Capabilities of the Gremlin instance.  Can we get a Gremlin Query added to the binding options?  It would be mutually exclusive to the ID/SQL Query that are already supported.

[2019-05-09 12:18] lanrongwen opened #414 "Service Bindings for Python"
In other languages such as C#, you can get an instance of the client through the binding, allowing you to do more queries or updates in code than you can do in the functions.json document.  This is especially helpful when you need to query and update a record.  Is this on the roadmap or even possible in Python Functions?

[2019-05-09 18:50] pragnagopa commented on #135
@elprans - can you give an estimate how large/small this workitem is?

[2019-05-09 19:07] elprans commented on #135
@pragnagopa With the new binding plugin support we can move the concrete binding implementation out of the worker to `azure.functions`

[2019-05-09 19:11] elprans commented on #135
That said, we need to figure out the dependency on protobuf definitions.  Especially in the HTTP case.

[2019-05-09 21:14] asavaritayal commented on #414
Renaming to reflect the feature name - "Service Bindings". This is currently not available for any of the out-of-process languages in Functions 2.0 (Node, Java, PowerShell). Currently unplanned, will put it on the backlog to gauge traction. Any info you can share about the specific scenarios you're hoping to enable would help us prioritize better.

[2019-05-09 21:18] pragnagopa commented on #135
Minor version updates to azure-functions-python-library will not have breaking changes. Python worker is the layer that is exposed to protobuf. I do not anticipate any breaking changes in the current version of protobuf. Even if protobuf introduces breaking changes, worker will be able to handle  them.

[2019-05-09 21:38] lanrongwen commented on #414
I see it break down into 3 things that I've done in C# to make the code easier/more efficient that are hard to do in just a straight function.json binding currently available in Python.
* Reading data by doing multiple queries against the data set made visible from the binding.
* Updating entries, such as in a storage table.
* More control over the objects created, such as manipulating things that

[2019-05-10 01:17] pragnagopa commented on #411
@asavaritayal  - This needs to be documented. Receiving a batch of eventhub events is the recommended approach.
@elprans  - Can you share sample code for receiving an array or list of eventHubEvent?

[2019-05-10 06:23] asavaritayal commented on #412
Closing in favor of the known issue tracked here - https://github.com/Azure/azure-functions-core-tools/issues/1194. As mitigation, you can manually run `pip install azure-functions` in your local environment. Feel free to re-open if this doesn't fix the issue.

[2019-05-10 06:23] #412 closed

[2019-05-10 11:54] arnav31 commented on #256
Hey, this is still an issue for me, Could anyone give any kind of solution for this?
Error says - failed with an error code 1.
I have installed pystan 2.19.0.0 in my venv but fbprophet is giving an error.

[2019-05-10 12:42] Ace139 commented on #256
I'm also having the same issue while installing fbprophet. It's working fine with the same requirement.txt file in the local but giving error pystan is not found.

I'm using docker to build the dependencies for Consumption Plan.

[2019-05-10 16:11] AEYWang opened #415 "event hub body cannot be decompressed, when use gzipped event hub as trigger"
#### Actual behavior

I use event hub binding as a trigger. The event content is compressed by gZip.
The message body of input object event: azure.functions.EventHubEvent.get_body()
can not be decompressed.

#### Known workarounds

When I read the message using azure-eventhub, it can be decompressed.

#### Example Code:
Function TimerTrigger.py sends gZipped string message to eventhub.
Function Ev

[2019-05-10 16:31] elprans opened #416 "Feature: consider adding generic support for dataclass-based bindings"
Following up on the conversations in #66, and #409.

One possible way to implement generic handling of bindings is to allow users to annotate function parameters with a [dataclass](https://docs.python.org/3/library/dataclasses.html).  The argument data is then treated as a conforming JSON object.

For example:

[code]

In `function.json` such bindings would then have to specify `dataType: json`.

[2019-05-10 17:14] pragnagopa commented on #416
given the annotation `arg: MyType`, can you please explain why `dataType: json` is needed?

[2019-05-10 17:16] elprans commented on #416
@pragnagopa How does host decide which format to use when sending data to the worker?

[2019-05-10 17:24] pragnagopa commented on #416
default behavior is to check if a string is a json valid. For example, queue trigger like `{"id":99, "name":"test"}` should be sent with TypedData set to json: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L284

[2019-05-10 18:47] elprans commented on #135
Bindings are also exposed to the protobuf.  Primarily because of how the HTTP binding works.  Are you saying we should create an abstraction over the protobuf and have the binding implementations use that instead?  I'm a bit confused by this, to be honest.

[2019-05-10 19:17] pragnagopa commented on #135
That is correct. Protobuf should not be exposed to the user. This is an internal implementation details. azure.functions should have an abstraction for http bindings

[2019-05-10 19:24] elprans commented on #135
OK, then I think we need to discuss the "Binding API" interface as the way to describe the data sent by the Functions Host in all cases.

[2019-05-10 19:50] pragnagopa commented on #135
Apologies if that was not clear earlier. Types defined in azure.functions package should not rely on proto messages. Only worker needs to be aware of protobuf. For any breaking changes, only worker needs to be updated.

Given this context, can you please give an estimate on this work item?

[2019-05-10 21:00] elprans commented on #135
I think we need to discuss this a bit more.  Let's put this on the agenda for the next meeting. \cc @asavaritayal

[2019-05-12 22:08] asavaritayal commented on #413
With the current bindings, it's not possible to query through the Gremlin API. You can work around this by using your own Gremlin client and not the bindings.

Adding to the 'unknown' to gauge traction.

[2019-05-13 14:25] j08lue commented on #394
Please notify us, @balag0, when the memory allowance has been increased to 1.5 GB and Azure Functions becomes usable for us again. Or why not make it 3 GB, like λ has? ;-)

[2019-05-13 18:30] mhoeger commented on #410
@asavaritayal - i think this may be more important than a Backlog item because 1. the other implementation may cause incorrect behavior and 2. the fix is likely a breaking change

[2019-05-13 18:31] pragnagopa commented on #410
Right. Added P1 label as this is a required change for placeholders.

[2019-05-13 19:06] asavaritayal commented on #368
Closing the issue as there don't seem to be any pending items here.

[2019-05-13 19:06] #368 closed

[2019-05-13 19:10] asavaritayal commented on #367
If Docker is not available, the recommendation is to set up a Continuous Deployment pipeline using Azure DevOps. More information is available here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops

[2019-05-13 19:10] #367 closed

[2019-05-13 19:30] genscape-agodfrey commented on #368
@asavaritayal a pending item would be allowing the CLI to be used by CI/CD systems besides azure devops. The current approach violates build once, deploy to many.

[2019-05-13 20:52] maiqbal11 commented on #410
@pragnagopa, @mhoeger, I'm assuming that this does not refer to system environment variables and simply the app settings that are loaded as environment variables?

[2019-05-13 21:15] pragnagopa commented on #410
Process environment variables need to be replaced as we do not want anything left over from the process that started in placeholder mode.

@maiqbal11 - Are there any environment variables you are concerned about?

[2019-05-14 00:26] Atala commented on #380
Hey,
Thanks for pointing this out (I was getting mad). I have two questions here :
(1) is there any workaround for now
(2) if I manage to patch this, how to be sure my code won't break once it is fixed ?
(Sorry to hurry you up I need this quickly for a project)
Thanks,

[2019-05-14 02:52] mhelb commented on #390
Is there an ETA as to when this change will be fully deployed?  I'm still experiencing the same error.

[2019-05-14 04:22] balag0 commented on #390
We are starting the deployment to stage / test regions tomorrow (5/14) and will proceed to prod regions over the next few days. We expect to have most if not all regions deployed by end of the week,
We apologize for the inconvenience.

[2019-05-14 11:53] Chris-May commented on #367
Thanks!

[2019-05-14 14:19] casparjespersen opened #417 "Feature: pipenv as dependency manager"
pipenv is a modern package dependency management system, allowing for better handling of requirements and virtual environments. This is a request to use Pipfile as requirement handler for Python Azure Functions.

#### Expected behavior

- Having a Pipfile in top-level directory should dictate required packages
- Packages under ‘—dev’ should be ignored

#### Known workarounds

- Using ‘freeze’ to g

[2019-05-14 18:16] joal42 opened #418 "Eventhub event metadata is None"
I followed the example code in Eventhub triggerred Azure function in python. However, I got `None` for event enqueue time, offset, and etc.
[code]
EnqueuedTimeUtc, SequenceNumber, Offset are all `None`.
`event.getbody()` return the right payload I sent to evetnhub. Do I need to modify the payload I sent to eventhub to get the EnqueuedTimeUtc and other metadata?

[2019-05-15 15:16] asavaritayal commented on #418
@elprans can you investigate this?

[2019-05-15 15:21] asavaritayal opened #419 "Timer trigger sample"
The binding reference doc for Timer trigger - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#example is missing a Python example.

/cc @ggailey777

[2019-05-15 16:12] elprans opened #420 "Test generic binding support via SignalR"
As a continuation of #66 and #409, add tests for SignalR and Table Storage bindings.

[2019-05-15 16:13] pragnagopa commented on #420
updated the title to reflect singnalR only. Testing table storage should be trivial. PR #409 should include E2E test for table storage bindings

[2019-05-15 16:18] pragnagopa commented on #135
@maiqbal11 - Let me know if you need any clarifications for this issue. We need to investigate and make sure addressing this issue does not have any breaking changes.

[2019-05-15 22:21] maiqbal11 opened #421 "Azure Functions Python Runtime 5/25/2019 [breaking]"
We are planning to release a breaking change affecting Python function apps in the third week of May 2019.

**TL;DR**

**You will need azure-functions-core-tools version 2.5.553 or greater for this to work**. If you previously published your function app using the flag `--build-native-deps` and do not want your function app to break, you will need to re-publish using `func azure functionapp publis

[2019-05-15 23:01] balag0 commented on #394
Update - The updated memory config is available in East Asia now. It will be deployed to rest of the regions tomorrow.

Currently consumption sku doesn't support > 1.5 GB workloads. App service plan function apps should though..

[2019-05-15 23:04] balag0 commented on #390
Update - The updated memory config is available in East Asia now. It will be deployed to rest of the regions tomorrow.

[2019-05-15 23:58] #400 closed

[2019-05-17 01:56] svartkanin commented on #227
+1 - Definitely needed

[2019-05-17 20:50] mhelb commented on #390
Thanks for the work fixing this, my function is working again.

[2019-05-18 11:54] itshemant09 commented on #390
@balag0 : is it deployed globally now ?

[2019-05-18 15:30] balag0 commented on #390
Yes. The deployment is complete.

[2019-05-20 16:40] maiqbal11 commented on #380
\cc @pragnagopa

[2019-05-20 17:03] pragnagopa commented on #135
continuing the discussion from #409
This issue is a GA requirement because, we need to ensure that static reference of current version of azure.functions does not interfere with loading future versions of the same package.

@elprans - Please let me know what further clarifications you need to make progress on this issue.

[2019-05-20 17:14] pragnagopa commented on #135
cc: @maiqbal11
Also, updated the title to reflect the change this issue is driving. Removing azure.functions reference from the worker completely will break existing apps.  Worker needs to be updated to load azure.functions from a well known location to fall back to a default version if the package is not found in [ExtensionBundle](https://github.com/Azure/azure-functions-extension-bundles/tree/ma

[2019-05-20 18:10] asavaritayal opened #425 "Supportability detectors for runtime version errors"
**Scenario**
Function apps built using a version different than 3.6.x can be published to Azure today. In the event that the app is using features incompatible with the version supported in Azure, we want to provide basic supportability detector(s) to catch the errors and recommend mitigation.

[2019-05-20 18:31] asavaritayal opened #426 "[Docs] Managed Identity sample for Python"
Working with Managed Identities from within a function is documented here: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity#obtaining-tokens-for-azure-resource

There is currently no example for Python. Given that MIs are now supported on Linux App Service and Premium plans, we should provide a Python sample as well.

/cc @ggailey777

[2019-05-20 18:33] asavaritayal opened #427 "[Samples] VM Start/Stop"
**Scenario**
Python Azure Function that runs on a daily schedule to start/stop VM resources in an Azure subscription.

/cc @eamonoreilly

[2019-05-20 18:40] asavaritayal opened #428 "[Samples] Azure Monitor Alerts"
**Scenario**
Python Azure Function to trigger on Azure Monitor Alerts (high CPU usage, low memory/storage, etc.) and subsequently take the relevant action.

/cc @eamonoreilly

[2019-05-20 18:42] asavaritayal opened #429 "[Samples] Scheduled SQL procedures"
**Scenario**
Python Azure Function to run a specified SQL procedure on a regular schedule.

/cc @eamonoreilly

[2019-05-20 18:45] asavaritayal opened #430 "[Samples] Event Grid alerts"
**Scenario**
Python Azure Function to trigger on a resource update in Azure and take the relevant action - resource tagging, clean up, etc.

/cc @eamonoreilly

[2019-05-20 21:35] pragnagopa opened #431 "Remote debugging python functions"
cc @asavaritayal
Tracking item to test and document remote debugging python functions.

See https://github.com/Azure/azure-functions-host/issues/4430 for more details.

[2019-05-21 12:33] matiaslahticgi opened #432 "Adding binary wheels to a Function App"
I'm having issues trying to add a custom, binary wheel (GDAL) to an Azure Functions app on Consumption. Unfortunately, manylinux wheels for GDAL are not provided in PyPI and building it is a bit of a chore (developing on Windows) so we have used a pre-built wheel in the function app directory to be able to use it.

Previously, deployment used to work with requirements.txt containing a path to the

[2019-05-21 15:41] pragnagopa commented on #135
@elprans - ping!

[2019-05-21 15:55] elprans commented on #135
@pragnagopa I'm afraid I don't fully understand what "loading from a well known location" means in this case.  If you mean setting `PYTHONPATH` to an appropriate setting, then this does not require any code changes on the worker side, only core-tools adjustments.

[2019-05-21 16:28] pragnagopa commented on #135
There are two parts to this issue:
1. Remove any direct dependency on protobuf for any types defined in azure.functions
2. Load azure.functions similar to any other custom binding library.

   a.  Removing dependency from the worker will be breaking change

   b.  Removing reference from python worker and updating core tools to add azure.functions to pythonpath is also breaking change as this woul

[2019-05-21 16:45] elprans commented on #135
So, `PYTHONPATH`?

[2019-05-21 16:47] pragnagopa commented on #135
Yes, if you recommend updating python path from within the worker and not the tooling.

[2019-05-21 16:49] elprans commented on #135
Generally, updating `PYTHONPATH` from within a running Python app is considered bad style.  The path should be set in the tooling.

[2019-05-21 16:51] pragnagopa commented on #135
So what are the options? As I explained earlier, going forward extension bundles will include bindings for each language and they will be present in Azure. We need the worker to be able to discover libraries from the extension bundle path.

[2019-05-21 16:53] elprans commented on #135
Well, the CLI already sets `PYTHONPATH`.  Why can't we update code in `StartHostAction.cs` to do the bundle path discovery as well?

[2019-05-21 17:25] pragnagopa commented on #135
@maiqbal11 / @ankitkumarr  -  Is it possible to update PYTHONPATH to load azure.functions withtout breaking existing apps?

@elprans  - while we discuss the approach where to load azure.functions from,  can you start looking into removing any direct dependency on protobuf for any types defined in azure.functions? Feel free to open a separate issues if needed.

[2019-05-21 18:23] SpicySyntax opened #433 "Python worker channel restarted when using Tensorflow model"
I am attempting to expose Tensorflow Object Detection API using a python Azure Function running on Azure Kubernetes Service (See [gist](https://gist.github.com/SpicySyntax/7244117ba3f1eb19e32bdc13ca3da584)) The python functions receive a queue message and then perform inference on an image. This is successful about half the time. The other half log the error message in the logs of the attached ima

[2019-05-21 20:47] pragnagopa opened #434 "Update pythonpath in cli and docker to allow user dependencies to take precedence"
In order to give control to the users to pick a version of azure.function library, worker needs to use package that comes as part user code and not worker dependency. This is needed for
- Users to opt-in when to upgrade extension bundles version
- To able to pin to a version of azure.functions
   - Need to remove installing azure.function from https://github.com/Azure/azure-functions-docker/blob/m

[2019-05-21 20:49] pragnagopa commented on #135
Opened new issue https://github.com/Azure/azure-functions-python-worker/issues/434 to track best approach to load azure.functions.

[2019-05-21 20:49] pragnagopa commented on #434
Lets discuss this offiline

[2019-05-21 21:10] elprans commented on #434
The crux of the issue here is how to replace the `RpcHttp` protobuf.

[2019-05-21 21:24] pragnagopa commented on #434
@elprans - Assuming you meant comment in the issue #135 . Let's discuss on the other issue.

[2019-05-21 21:26] pragnagopa commented on #135
From @elprans

Can you explain what is the dependency for the types defined in : [_http.py](https://github.com/Azure/azure-functions-python-library/blob/master/azure/functions/_http.py) on protobuf?

[2019-05-21 21:29] elprans commented on #135
@pragnagopa HTTP request is a structured type that contains headers and other metadata, *and* a possibly binary blob of data as the body.  The protobuf encodes that typed information nicely.  If we are hiding the protobuf, then what is the replacement here?  We cannot use JSON since the body data can be binary (and base64-encoding it is inefficient).

[2019-05-21 21:42] pragnagopa commented on #135
oK. I understand now.  [_http.py](https://github.com/Azure/azure-functions-python-library/blob/master/azure/functions/_http.py) is abstraction that is needed and we have that already.

Protobuf is still python worker dependency. Worker converts RpcHttp to types defined in _http.py.  Protobuf is a contract between host and the worker.  Minor version updates of the protobuf will not be breaking.

Th

[2019-05-21 21:42] #135 closed

[2019-05-22 01:11] akshaybabloo opened #435 "cryptography dependency issue"
**Edit:**

I tried doing

[code]

It's been more than an hour and I just don't see any result.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App name: neucube-instance-function
- Function name(s) (as appropriate): CreateNeuCubeInstance
- Core Tools version: 2.7.1158

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create an HttpT

[2019-05-22 03:00] akshaybabloo commented on #435
OK, there was an issue with `az` CLI, building locally worked for me

[2019-05-22 03:00] #435 closed

[2019-05-22 20:19] asavaritayal commented on #434
Notes from offline sync: We won't remove the library. Instead, will prioritize user provided dependencies over system dependency.

[2019-05-22 20:52] anindya5 commented on #219
Hi,

My issue is if I want to import a function say function1 in module1 of SharedCode

Usually I'd have done
`from ShareCode.module1 import function1`

That does not work.

`from .ShareCode.module1 import function1` also gives module not found error

[2019-05-22 21:01] anindya5 commented on #81
Hi,

My issue is if I want to import a function say function1 in module1 of SharedCode, but for me the SharedCode is inside the API folder, like below

[code]
The functions are defined inside module1 and module2

Usually I'd have done
`from ShareCode.module1 import function1`

That does not work.

`from .ShareCode.module1 import function1` also gives module not found error, shown below

[5/22/19 8

[2019-05-22 21:06] anindya5 opened #436 "Local Module import issue"
Hi,

My issue is if I want to import a function say function1 in module1 of SharedCode, but for me the SharedCode is inside the API folder, like below

[code]
The various functions I want to run are in module1 and module2

Usually I'd have done
`from ShareCode.module1 import function1`

That does not work.

`from .ShareCode.module1 import function1` also gives module not found error, shown below