[2018-01-18 18:54] asavaritayal opened #2 "Programming Model : Basics"
## Script File
Python support for Functions will follow the existing scripting model and support a run file of **.py format**. We'll use the workflow below to determine which file to run:

_If_ the **"scriptFile"** attribute is set in **function.json**
_Else if_ the project contains a single **.py file**
_Else if_ **main.py** is present
_Else_ throw an error
## Entry Point
Instead of wrapping ever

[2018-01-18 18:56] asavaritayal opened #3 "Programming Model : Binding Data"
Trigger data and bindings will be communicated to the main() function via method arguments whose **name**s are specified in **function.json**.

#### Inputs
There are two types of inputs: 1. trigger input and 2 . additional input. Although they are different in function.json, their usage is identical in the Python code.

[code]

#### Outputs

Outputs can be expressed both in 1. return value and 2.

[2018-01-18 18:57] asavaritayal opened #4 "HTTP Triggers and Bindings"
HTTP webhook triggers and HTTP output bindings will use  request and response objects to represent the HTTP messaging.

#### Request Object
The **request** object has the following attributes.

**Attribute** | **Data Type** | **Description**
-------------|----------|----------------
method | str | HTTP method of the request
url | str | Url of the request
headers | dict | HTTP headers sent with the

[2018-01-18 18:58] asavaritayal opened #5 "Execution Context"
The  runtime will use a **context** object to pass data to and from the Python function. This is primarily used to reference metadata and  information related to a specific execution of the function. For example -

[code]
Similarly, the following attributes can be accessed using context:

**Attribute** | **Description**
-------------|----------------
**invocation_id** | Unique identifier of the fu

[2018-01-18 18:59] asavaritayal opened #6 "Creating the deployment package (BYOF)"
**bring-your-own-files**

To deploy Python functions to Azure along with the required dependencies, follow the steps below.

_Note: If the only dependencies are other user defined modules already contained in the `functionapp` directory, no action is required. Please make sure to reference these modules correctly in your code._

## 1. Generate the requirements manifest

The `requirements.txt` file

[2018-01-19 20:56] asavaritayal opened #8 "Entry point decorator"
In order to indicate an entry point in the script, the user can add an **@azure_functions.export** decorator. That is, it's perfectly fine to have a Python file with many helper functions none of which should be directly runnable:

[code]
Since the behavior is redundant to specifying the "entry point" attribute in function.json, we'll consider this out of scope for now.

[2018-01-23 18:52] asavaritayal opened #9 "Feature planning: first class Python support"
_From @christopheranderson on May 4, 2016 23:4_

This is a tracking item for First Class Python Support. We'll be tracking the requirements and issues for first class Python support via this item. Feel free to leave comments about features/design patterns.

The Functions team and the Microsoft Python team have engaged in a partnership to investigate first class Python support for the Azure Functio

[2018-01-23 18:52] asavaritayal commented on #9
_From @edevil on May 5, 2016 13:45_

Support a requirements.txt file and runtime specification for specifying Python 2 or 3.

[2018-01-23 18:52] asavaritayal commented on #9
_From @brettcannon on May 5, 2016 17:57_

I would take it further than "2 or 3" and make it be by major.minor version.

[2018-01-23 18:52] asavaritayal commented on #9
_From @anthonyeden on May 16, 2016 12:20_

The first step may be to publish some Python-specific documentation and examples.

For the benefit of anyone else trying to do HTTP Functions with Python right now, here's some basic example code I threw together: https://github.com/anthonyeden/Azure-Functions-Python-HTTP-Example/

[2018-01-23 18:52] asavaritayal commented on #9
_From @ryanga on August 17, 2016 0:14_

Add python examples for the Azure Functions DocumentDB bindings: https://azure.microsoft.com/en-us/documentation/articles/functions-bindings-documentdb/

[2018-01-23 18:52] asavaritayal commented on #9
_From @thdeltei on August 19, 2016 10:6_

Azure ML Studio currently let you publish Python and R webservices, which work in a similar way as Azure Functions. It would be great if Python in Azure Functions came installed with the Anaconda bundle. That would allow for a simpler integration between Azure ML and Azure Functions.

[2018-01-23 18:52] asavaritayal commented on #9
_From @paulbatum on November 29, 2016 17:50_

Support 64-bit Python.

[2018-01-23 18:52] asavaritayal commented on #9
_From @davidebbo on November 29, 2016 18:12_

Note that short term, it's possible to use a custom Python version using these steps: https://github.com/Azure/azure-webjobs-sdk-script/wiki/Using-a-custom-version-of-Python

[2018-01-23 18:52] asavaritayal commented on #9
_From @rawlukMike on February 2, 2017 13:34_

### EDITED : NOT TRUE
Solution above is not working anymore. I tried every step but in the end as long as you run inside home\site directory, you will always end up with Python 2.7.8.
###
Also why Python is so slow? It can takes up to 20s only at importing additional library. I tried virtual env and uploading full directory and running it from C# runni

[2018-01-23 18:52] asavaritayal commented on #9
_From @davidebbo on February 2, 2017 15:54_

I just retested that technique and it works fine. Did you make sure to **expand** the zip as you dropped it in `D:\home\site\tools`?

The better perf will come with the first class support that this thread is tracking. No ETA, but we will get there.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rawlukMike on February 2, 2017 19:39_

I am sorry for writing wrong. I tried Python 2.7.13 which have no embeddabled version.
Simply used zipped python with my site-packages.
Is there a way to use latest python 2.7.* with some libraries like pandas, xmltodict, numpy and so on... ?

[2018-01-23 18:52] asavaritayal commented on #9
_From @brettcannon on February 2, 2017 19:47_

See https://blogs.msdn.microsoft.com/pythonengineering/2016/08/04/upgrading-python-on-azure-app-service/ on how to upgrade Python.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rawlukMike on February 2, 2017 20:0_

Is there any special step for functions? I managed to install python through site extension gallery, but how can i bind it to functions? Basicly how to translate Configuring Your Site from guide above to functions :). Sorry maybe its a simple dummy question.

[2018-01-23 18:52] asavaritayal commented on #9
_From @brettcannon on February 2, 2017 20:1_

Unfortunately for Functions I don't know.

[2018-01-23 18:52] asavaritayal commented on #9
_From @davidebbo on February 3, 2017 0:4_

@rawlukMike the instructions I liked to shoudl work for any Python version. If you drop Python in the Tools folder it should get picked up because it's on the path.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rawlukMike on February 3, 2017 8:41_

Yep my bad. I used my python folder packed, but forgot msi installer puts python27.dll in system. Did not included it in zip. When I used unpacked but not installed folder from msi it works fine. Sorry for troubles.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rawlukMike on February 3, 2017 10:48_

_Coping fully working Python 2.7.13 to the \home\site\tools is not working.
It worked for 3.x for some reason._
**EDIT: After hour or more it started using Python from \home\site\tools**

_@davidebbo You said that site\tools is in the PATH however Kudu show otherwise. It says '\site\deployments\tools' is in the path.
I unzip python in \home\site\deploy

[2018-01-23 18:52] asavaritayal commented on #9
_From @davidebbo on February 3, 2017 16:6_

@rawlukMike `site\tools` is what's on the path for Functions execution. Kudu uses a different one which is for deployment tools, and is not on the path in the Functions runtime. Anyway, glad it's working for you now!

[2018-01-23 18:52] asavaritayal commented on #9
_From @rcarmo on February 17, 2017 9:2_

So I'm going down this particular rabbit hole, and keep bumping my head against the peculiarities of git deployment.

As nice as the portal UI is, I think there ought to be a hard requirement/user story that a Mac/Linux developer should only need to `git push` source code to the service to get a function going, and libraries be deployed either via Kudu (whi

[2018-01-23 18:52] asavaritayal commented on #9
_From @thdeltei on March 8, 2017 10:3_

I am running into extreme slowness when trying to run the [Azure Batch Shipyard](https://github.com/Azure/batch-shipyard) python-based CLI on Azure Function. A single call using the subprocess takes 2min30 (to load the python files) which in turns brings my Function to timeout after 5min because I require two calls to do my orchestration. Any reasons why it

[2018-01-23 18:52] asavaritayal commented on #9
_From @rcarmo on March 8, 2017 22:11_

Hmmm. My experience with wsgi apps on App Service has been very good (even before the new Python extensions came out) so I suppose there'a a penalty involved with forking a subprocess for whatever reason (maybe loading/startup time?).

Just a thought: can you output a log with some timestamps down to the millisecond? That might help figure out where the delay

[2018-01-23 18:52] asavaritayal commented on #9
_From @thdeltei on March 9, 2017 8:12_

I switched to the hosted plan and it became much more manageable ~5 seconds per subprocess call.
A simple subprocess call to a 'hello world' python script took between 2-7s on the consumption plan.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rcarmo on March 9, 2017 8:33_

Ah, right. But it's still a penalty. Can you figure out the split between startup time and your code execution? And if you're using 3.5, have you considered coroutines? (if they fit your problem, that is)

[2018-01-23 18:52] asavaritayal commented on #9
_From @quangv on April 14, 2017 21:20_

sorry slightly off-topic, but what languages/os are currently a first-class citizen on Azure?

Just from a short Google search, I'm seeing:

.Net
Node.js
Java
Docker
Linux
Windows (assuming)
Open-Source

is anything else a first-class citizen? Or where can I find out that information.

----

@paulbatum Sorry, I moved my question to StackOverflow [here](http:

[2018-01-23 18:52] asavaritayal commented on #9
_From @paulbatum on April 14, 2017 21:33_

@quangv this issue is not the appropriate forum for such a general question. Please keep this issue focus on Python. Thanks!

[2018-01-23 18:52] asavaritayal commented on #9
_From @oribarilan on May 15, 2017 11:53_

Looking forward to Python support in VS Tools for Azure Functions and of course for Python templates in the Azure portal. Thanks!

[2018-01-23 18:52] asavaritayal commented on #9
_From @Krande on May 20, 2017 12:29_

Hey, could you provide some sample code for python using a blob storage trigger of a specific file and performing some operations on the content (say a simple textfile/xml/json) and return a new/updated version of the file back to the storageblob?

**EDIT**

Nevermind, I figured it out using the following code:
[PyFuncnBlob.zip](https://github.com/Azure/azure-

[2018-01-23 18:52] asavaritayal commented on #9
_From @oribarilan on May 20, 2017 16:1_

@Krande - Did this sample code works for you using VS Tools For Azure Functions? Or do you use this inside the portal?

[2018-01-23 18:52] asavaritayal commented on #9
_From @Krande on May 20, 2017 16:42_

I used the portal for testing the sample code.

[2018-01-23 18:52] asavaritayal commented on #9
_From @rcarmo on August 7, 2017 11:19_

I think an update is in order here - I need visibility on when/how this is coming along...

[2018-01-23 18:52] asavaritayal commented on #9
_From @ttelfer on October 24, 2017 16:5_

An update would be much appreciated. It has been over a hear since this thread was started. Will Python ever be a first class language for Azure functions?

[2018-01-23 18:52] asavaritayal commented on #9
_From @fabiocav on October 24, 2017 18:55_

There has been a significant amount of work done in the language extensibility feature we're introducing in 2.0 (the next version of the Azure Functions runtime). And although that work is not Python specific (hence the lack of updates here) it is a foundational component that will enable the Python support with the model we have planned for the next ite

[2018-01-23 18:52] asavaritayal commented on #9
_From @LarsKemmann on October 30, 2017 13:39_

@fabiocav Is the "experimental" Python support that's visible in the Azure Portal today based on the 2.0 runtime?

[2018-01-23 18:52] asavaritayal commented on #9
_From @paulbatum on October 30, 2017 18:35_

@LarsKemmann No. In fact its based on an implementation that we do not intend to port to 2.0 because it will never perform well. So you'll notice if you make a function app and switch its version to beta (i.e. 2.0) and then go to make a new function, the python templates disappear (along with a bunch of others).

[2018-01-23 18:52] asavaritayal commented on #9
Adding our current thinking on this. Please feel free to leave comments about features/design patterns. @brettcannon thanks for your contribution and feedback on the first draft!

[2018-01-23 18:52] asavaritayal commented on #9
_From @Krande on January 12, 2018 9:54_

Is python 2.7 no longer supported?

[2018-01-23 18:54] asavaritayal opened #10 "Feature planning: first class Python support"
_From @christopheranderson on May 4, 2016 23:4_

This is a tracking item for First Class Python Support. We'll be tracking the requirements and issues for first class Python support via this item. Feel free to leave comments about features/design patterns.

The Functions team and the Microsoft Python team have engaged in a partnership to investigate first class Python support for the Azure Functio

[2018-01-23 18:54] asavaritayal commented on #10
_From @edevil on May 5, 2016 13:45_

Support a requirements.txt file and runtime specification for specifying Python 2 or 3.

[2018-01-23 18:54] asavaritayal commented on #10
_From @brettcannon on May 5, 2016 17:57_

I would take it further than "2 or 3" and make it be by major.minor version.

[2018-01-23 18:54] asavaritayal commented on #10
_From @anthonyeden on May 16, 2016 12:20_

The first step may be to publish some Python-specific documentation and examples.

For the benefit of anyone else trying to do HTTP Functions with Python right now, here's some basic example code I threw together: https://github.com/anthonyeden/Azure-Functions-Python-HTTP-Example/

[2018-01-23 18:54] asavaritayal commented on #10
_From @ryanga on August 17, 2016 0:14_

Add python examples for the Azure Functions DocumentDB bindings: https://azure.microsoft.com/en-us/documentation/articles/functions-bindings-documentdb/

[2018-01-23 18:54] asavaritayal commented on #10
_From @thdeltei on August 19, 2016 10:6_

Azure ML Studio currently let you publish Python and R webservices, which work in a similar way as Azure Functions. It would be great if Python in Azure Functions came installed with the Anaconda bundle. That would allow for a simpler integration between Azure ML and Azure Functions.

[2018-01-23 18:54] asavaritayal commented on #10
_From @paulbatum on November 29, 2016 17:50_

Support 64-bit Python.

[2018-01-23 18:54] asavaritayal commented on #10
_From @davidebbo on November 29, 2016 18:12_

Note that short term, it's possible to use a custom Python version using these steps: https://github.com/Azure/azure-webjobs-sdk-script/wiki/Using-a-custom-version-of-Python

[2018-01-23 18:54] asavaritayal commented on #10
_From @rawlukMike on February 2, 2017 13:34_

### EDITED : NOT TRUE
Solution above is not working anymore. I tried every step but in the end as long as you run inside home\site directory, you will always end up with Python 2.7.8.
###
Also why Python is so slow? It can takes up to 20s only at importing additional library. I tried virtual env and uploading full directory and running it from C# runni

[2018-01-23 18:54] asavaritayal commented on #10
_From @davidebbo on February 2, 2017 15:54_

I just retested that technique and it works fine. Did you make sure to **expand** the zip as you dropped it in `D:\home\site\tools`?

The better perf will come with the first class support that this thread is tracking. No ETA, but we will get there.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rawlukMike on February 2, 2017 19:39_

I am sorry for writing wrong. I tried Python 2.7.13 which have no embeddabled version.
Simply used zipped python with my site-packages.
Is there a way to use latest python 2.7.* with some libraries like pandas, xmltodict, numpy and so on... ?

[2018-01-23 18:54] asavaritayal commented on #10
_From @brettcannon on February 2, 2017 19:47_

See https://blogs.msdn.microsoft.com/pythonengineering/2016/08/04/upgrading-python-on-azure-app-service/ on how to upgrade Python.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rawlukMike on February 2, 2017 20:0_

Is there any special step for functions? I managed to install python through site extension gallery, but how can i bind it to functions? Basicly how to translate Configuring Your Site from guide above to functions :). Sorry maybe its a simple dummy question.

[2018-01-23 18:54] asavaritayal commented on #10
_From @brettcannon on February 2, 2017 20:1_

Unfortunately for Functions I don't know.

[2018-01-23 18:54] asavaritayal commented on #10
_From @davidebbo on February 3, 2017 0:4_

@rawlukMike the instructions I liked to shoudl work for any Python version. If you drop Python in the Tools folder it should get picked up because it's on the path.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rawlukMike on February 3, 2017 8:41_

Yep my bad. I used my python folder packed, but forgot msi installer puts python27.dll in system. Did not included it in zip. When I used unpacked but not installed folder from msi it works fine. Sorry for troubles.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rawlukMike on February 3, 2017 10:48_

_Coping fully working Python 2.7.13 to the \home\site\tools is not working.
It worked for 3.x for some reason._
**EDIT: After hour or more it started using Python from \home\site\tools**

_@davidebbo You said that site\tools is in the PATH however Kudu show otherwise. It says '\site\deployments\tools' is in the path.
I unzip python in \home\site\deploy

[2018-01-23 18:54] asavaritayal commented on #10
_From @davidebbo on February 3, 2017 16:6_

@rawlukMike `site\tools` is what's on the path for Functions execution. Kudu uses a different one which is for deployment tools, and is not on the path in the Functions runtime. Anyway, glad it's working for you now!

[2018-01-23 18:54] asavaritayal commented on #10
_From @rcarmo on February 17, 2017 9:2_

So I'm going down this particular rabbit hole, and keep bumping my head against the peculiarities of git deployment.

As nice as the portal UI is, I think there ought to be a hard requirement/user story that a Mac/Linux developer should only need to `git push` source code to the service to get a function going, and libraries be deployed either via Kudu (whi

[2018-01-23 18:54] asavaritayal commented on #10
_From @thdeltei on March 8, 2017 10:3_

I am running into extreme slowness when trying to run the [Azure Batch Shipyard](https://github.com/Azure/batch-shipyard) python-based CLI on Azure Function. A single call using the subprocess takes 2min30 (to load the python files) which in turns brings my Function to timeout after 5min because I require two calls to do my orchestration. Any reasons why it

[2018-01-23 18:54] asavaritayal commented on #10
_From @rcarmo on March 8, 2017 22:11_

Hmmm. My experience with wsgi apps on App Service has been very good (even before the new Python extensions came out) so I suppose there'a a penalty involved with forking a subprocess for whatever reason (maybe loading/startup time?).

Just a thought: can you output a log with some timestamps down to the millisecond? That might help figure out where the delay

[2018-01-23 18:54] asavaritayal commented on #10
_From @thdeltei on March 9, 2017 8:12_

I switched to the hosted plan and it became much more manageable ~5 seconds per subprocess call.
A simple subprocess call to a 'hello world' python script took between 2-7s on the consumption plan.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rcarmo on March 9, 2017 8:33_

Ah, right. But it's still a penalty. Can you figure out the split between startup time and your code execution? And if you're using 3.5, have you considered coroutines? (if they fit your problem, that is)

[2018-01-23 18:54] asavaritayal commented on #10
_From @quangv on April 14, 2017 21:20_

sorry slightly off-topic, but what languages/os are currently a first-class citizen on Azure?

Just from a short Google search, I'm seeing:

.Net
Node.js
Java
Docker
Linux
Windows (assuming)
Open-Source

is anything else a first-class citizen? Or where can I find out that information.

----

@paulbatum Sorry, I moved my question to StackOverflow [here](http:

[2018-01-23 18:54] asavaritayal commented on #10
_From @paulbatum on April 14, 2017 21:33_

@quangv this issue is not the appropriate forum for such a general question. Please keep this issue focus on Python. Thanks!

[2018-01-23 18:54] asavaritayal commented on #10
_From @oribarilan on May 15, 2017 11:53_

Looking forward to Python support in VS Tools for Azure Functions and of course for Python templates in the Azure portal. Thanks!

[2018-01-23 18:54] asavaritayal commented on #10
_From @Krande on May 20, 2017 12:29_

Hey, could you provide some sample code for python using a blob storage trigger of a specific file and performing some operations on the content (say a simple textfile/xml/json) and return a new/updated version of the file back to the storageblob?

**EDIT**

Nevermind, I figured it out using the following code:
[PyFuncnBlob.zip](https://github.com/Azure/azure-

[2018-01-23 18:54] asavaritayal commented on #10
_From @oribarilan on May 20, 2017 16:1_

@Krande - Did this sample code works for you using VS Tools For Azure Functions? Or do you use this inside the portal?

[2018-01-23 18:54] asavaritayal commented on #10
_From @Krande on May 20, 2017 16:42_

I used the portal for testing the sample code.

[2018-01-23 18:54] asavaritayal commented on #10
_From @rcarmo on August 7, 2017 11:19_

I think an update is in order here - I need visibility on when/how this is coming along...

[2018-01-23 18:54] asavaritayal commented on #10
_From @ttelfer on October 24, 2017 16:5_

An update would be much appreciated. It has been over a hear since this thread was started. Will Python ever be a first class language for Azure functions?

[2018-01-23 18:54] asavaritayal commented on #10
_From @fabiocav on October 24, 2017 18:55_

There has been a significant amount of work done in the language extensibility feature we're introducing in 2.0 (the next version of the Azure Functions runtime). And although that work is not Python specific (hence the lack of updates here) it is a foundational component that will enable the Python support with the model we have planned for the next ite

[2018-01-23 18:54] asavaritayal commented on #10
_From @LarsKemmann on October 30, 2017 13:39_

@fabiocav Is the "experimental" Python support that's visible in the Azure Portal today based on the 2.0 runtime?

[2018-01-23 18:54] asavaritayal commented on #10
_From @paulbatum on October 30, 2017 18:35_

@LarsKemmann No. In fact its based on an implementation that we do not intend to port to 2.0 because it will never perform well. So you'll notice if you make a function app and switch its version to beta (i.e. 2.0) and then go to make a new function, the python templates disappear (along with a bunch of others).

[2018-01-23 18:54] asavaritayal commented on #10
Adding our current thinking on this. Please feel free to leave comments about features/design patterns. @brettcannon thanks for your contribution and feedback on the first draft!

[2018-01-23 18:54] asavaritayal commented on #10
_From @Krande on January 12, 2018 9:54_

Is python 2.7 no longer supported?

[2018-01-23 18:56] #9 closed

[2018-01-23 18:56] #10 closed

[2018-01-23 18:57] asavaritayal commented on #10
Closing issue since all comments did not get copied as intended.

[2018-01-23 18:58] asavaritayal commented on #9
Closing issue since all comments did not get copied as intended.

[2018-01-25 22:27] asavaritayal opened #11 "Logging"
In order to write traces during an execution, we'll use Python's **logging** module. The runtime will instantiate ```logger``` as a keyword-only required argument of type **logging.Logger**.

The module provides various convenience methods that let you write to the console at more than one trace level.

Method | Description
--------|------------
**debug**(message)|Detailed information, typically o

[2018-01-25 22:28] asavaritayal opened #12 "Environment variables"
To retrieve information about the current process or user environment, use the ```os.environ``` method of the ```os``` module in Python. For example -

[code]

[2018-02-15 21:50] 1st1 commented on #12
Yeah, this is a standard way of accessing environment variables, so I believe we don't need to do anything special on our end.

[2018-02-15 21:58] 1st1 commented on #4
I'm wondering if we actually want to pass `Response` object as an argument.  It seems that Azure Java allows users to just return it, which would look like this in Python:

[code]

There's really no requirement for us to instantiate the `Response` object outside of the `main()` function.  I believe that JavaScript worker allows to simply return `{status: 404}` hash.

[2018-02-15 22:25] 1st1 commented on #3
A few thoughts on this topic:

1. `azure.functions.Out` should behave like `typing.Generic`, i.e. allow to specify its subtype in square brackets: `azure.functions.Out[int]`. `Out` parameters should define `Out.set(val)` method to set a new value for the argument, and `Out.get()` to get the current value of the argument.

    * BTW, what happens if a user calls `Out.get()` on a variable that has n

[2018-02-15 23:23] 1st1 commented on #11
I'm looking at our GRPC schema:

[code]

And it seems like Azure Functions logging is a bit different from the standard Python `logging` module:

* Python doesn't have a `Trace` debug level.
* Python doesn't have `event_id` and `category`. What are these two used for, by the way?
* Python doesn't have support for attaching arbitrary `properties`.

All in all, it seems that it would be easier to de

[2018-02-16 04:01] monteledwards commented on #6
Option 3 that might want to be advertised is creating a deployment package.
Instead of using pip to install packages on the Function app, one could configure their app to install libraries in the root of their project with something like
`pip install requests -t /path/to/project
`
ZIP, upload project dir to wwwroot or FTP. This could be an easier approach in a CI/CD type workflow.

[2018-02-16 17:23] elprans commented on #3
The return value is described in `function.json`, so the worker can obtain the actual type from function metadata.

[2018-02-16 17:26] 1st1 opened #19 "Validate and add meta data to loaded functions"
The `FunctionLoadRequest` message contains information about bindings, including the type of the `$return` binding.  We can use that information to validate the signature of the loaded function, as well as creating a dedicated codec for its return value.

[2018-02-16 17:27] 1st1 commented on #3
Makes sense. I've created an issue for that: https://github.com/Azure/azure-functions-python-worker/issues/19

[2018-02-17 00:49] 1st1 commented on #11
After a chat with @elprans we concluded that this would be a bad idea. Lots of existing Python packages use the standard `logging` module, so instead of developing a new system we should adapt the existing one.

So we'll add a new `logging.Handler` implementation that will stream all logging messages back to the WebHost (via `RpcLog` messages).  I'll update this issue with a mapping of Python Log

[2018-02-20 18:09] 1st1 commented on #11
Logging has been implemented in the `dev` branch; the exception bit is commented out until https://github.com/Azure/azure-functions-host/issues/2433 is resolved.

[2018-02-20 22:31] 1st1 opened #24 "Support for metadata in InvocationRequest.trigger_metadata"
`InvocationRequest` message has a `trigger_metadata` field.

For HTTP requests it contains the following:

[code]

Do we need to make any of this available via the `Context` or `HttpRequest` objects?

cc @asavaritayal @christopheranderson @pragnagopa

[2018-02-20 22:46] 1st1 opened #26 "Load functions using an importlib.Finder API"
@elprans Please take a look at this.

[2018-02-21 00:26] brettcannon commented on #4
I say just return it. Pre-allocating is not worth it and feels like boilerplate overhead in the function signature to me.

[2018-02-21 00:27] 1st1 commented on #4
Yep, working on a PR to implement that right now.

[2018-02-21 00:30] 1st1 commented on #3
Done.

Will create an issue for this to discuss.

Done. Types are now optional.  Need to create an issue to implement a check that would enforce that types in functions.json match with Python annotations.

Done.

Done.

WIP.

[2018-02-21 00:33] 1st1 commented on #2
"Else if the script contains a single function" —this can be problematic. It's hard to detect if a module defines one function, or if it imports it.  We would need to parse the file and analyze the AST to implement this.

Instead, I suggest to shorten this to:

* If the "entryPoint" attribute is set in function.json
* Else if `main()` is present
* Else throw an error

[2018-02-21 00:34] 1st1 commented on #5
This has been implemented in full and committed to the `dev` branch. Closing this issue, please open a new one if we need to add new methods/properties to the `Context` object.

[2018-02-21 00:34] #5 closed

[2018-02-21 00:38] 1st1 commented on #26
See also issue #2, specifically the "Script File" section.

[2018-02-21 20:38] pragnagopa commented on #24
Here is an example for  accessing [queue trigger metadata](https://github.com/Azure/azure-functions-host/blob/1ab54a94916c8180105af1e43b24a483f070a53f/sample/QueueTrigger/index.js
). Metadata properties are available by accessing: context.bindingData. We should do the same here.

[2018-02-22 03:42] 1st1 opened #29 "Enable mypy type checker"
Maybe even run it as a unittest.

[2018-02-22 17:45] elprans commented on #2
What about also looking for `main()` in `__init__.py`, if present?  Or maybe make that the default `scriptFile` altogether.  Seems a bit more pythonic to me.

[2018-02-22 18:16] 1st1 commented on #26
Closing this one.

[2018-02-22 18:16] #26 closed

[2018-02-22 18:32] #12 closed

[2018-02-22 19:21] #29 closed

[2018-02-23 15:31] elprans commented on #6
In my mind, the ideal UX would be when the dependencies are built automatically using a dedicated service, which downloads and builds the packages, zips them and uploads to object storage.  The worker host can then download and unzip on startup.

[2018-02-25 05:06] asavaritayal opened #52 "Python Version"
Currently, the Python version is locked down at `3.6.4`

Once support for further versions is added, we'll make it configurable using the workflow below:

1. Use the version specified in `requirements.txt` in the root folder.
2. Use the value specified in the `Python version` app setting in the Azure Portal.
3. Default to 3.6.4 if none of the above are specified.

[2018-02-26 07:53] asavaritayal commented on #4
What if the the HttpResponse is not bound to the method return value? Can the user still set its value in the function?

[2018-02-26 15:59] 1st1 commented on #4
Yes, you can declare it as an "out" binding with a different name from $return, and it will work too.

[2018-03-01 19:08] 1st1 commented on #24
We've already figured out how to use `triggerMetadata` for queue bindings, so this PR can be now closed.

[2018-03-01 19:08] #24 closed

[2018-03-01 19:11] 1st1 commented on #4
Everything here is now implemented in the `dev` branch.

[2018-03-01 19:11] #4 closed

[2018-03-01 19:18] 1st1 commented on #3
Everything described in this issue is now, except the question about `Out.get()` behaviour:

Consider the following function:

[code]

So the current behaviour is to return `None` for `Out` bindings that don't have a value set (instead of raising an error).  This is similar to how NodeJS binding is implemented and I think it's OK for Python too.

[2018-03-01 19:19] 1st1 commented on #3
Closing this issue.

[2018-03-01 19:19] #3 closed

[2018-03-02 17:39] 1st1 opened #64 "Drop the 'Samples' directory?"
We now have a section with examples in the documentation. Probably we no longer need the "Samples" directory.

cc @asavaritayal @christopheranderson

[2018-03-02 19:26] pragnagopa opened #66 "Implement base object for handling triggers with basic data types"

[2018-03-02 20:28] christopheranderson opened #67 "Pass pytype to InConverter.from_proto"
Problem:

In order to support multiple types for input/trigger bindings in the future, we must know the pytype of the argument for that given binding.

Proposed solution:

Pass the `pytype` to the `InConverter.from_proto` method

https://github.com/Azure/azure-functions-python-worker/blob/dev/azure/worker/bindings/meta.py#L132

[2018-03-04 11:13] Krande opened #68 "Azure Functions Beta runtime error "Status: 404 Not Found""
Hi,

I tried running the code examples located in the docs using the beta version of Azure Functions but I am getting a "Status: 404 Not found" error when trying to run it. I have tried restarting the function server and re-writing/stripping the code, but without luck. Any ideas as to why this is happening?

main.py
[code]

function.json
[code]

[2018-03-05 17:27] 1st1 commented on #68
You should run `$ python -m azure.worker.testutils --script-root=<dir with your functions>` command, otherwise it's configured for serving a `tests/http_functions` folder.  I'll go ahead and make `--script-root` required, so that it's less confusing.

[2018-03-05 17:35] 1st1 commented on #2
+1.

@brettcannon would do you think about this? cc @asavaritayal @christopheranderson @pragnagopa

[2018-03-05 19:21] brettcannon commented on #2
SGTM

[2018-03-05 19:22] 1st1 commented on #2
Elvis, can you take a look at it then?

[2018-03-05 21:16] Krande commented on #68
Hi, thank you for the quick answer. This is the first time I am testing the Beta runtime, so I think I have missed something essential in my initial set-up compared to using the v1.0 runtime. After switching my function to a beta runtime, are you suggesting that I should use Kudu for setting my script-root? I tried but it could not find the "azure.worker module". And I notice the default python is

[2018-03-05 21:20] 1st1 commented on #68
I think that at this point it's only possible to test the new Python worker **locally** on your machine. You can find instructions on how to do that on [this](https://github.com/Azure/azure-functions-python-worker/wiki/Setting-up-development-environment) wiki page.

cc @asavaritayal

[2018-03-05 21:30] Krande commented on #68
Okay, that explains it:) thanks!

[2018-03-05 21:30] #68 closed

[2018-03-05 22:53] #67 closed

[2018-03-05 23:21] 1st1 commented on #66
### Context

The original motivation for this feature is to allow creating functions for binding types that are not yet fully supported by the worker.  The *current* behaviour is to simply reject them to be loaded with an error.

The proposed solution is to:

* add common base datatypes for trigger bindings and regular bindings;
* expose the underlying `TypedData` raw data like the nodejs worker.

[2018-03-06 00:51] brettcannon commented on #66
Could you expose the gRPC `TypedData` with a underscore-leading setup so that those who want to poke at it can, but that it isn't an officially supported part of the API?

[2018-03-06 17:03] pragnagopa opened #72 "Move ping test queue_functions to top dir"
[Ping](https://github.com/Azure/azure-functions-python-worker/tree/dev/tests/queue_functions/ping) test is generic not related to queues. Move to [tests](https://github.com/Azure/azure-functions-python-worker/tree/dev/tests) dir

[2018-03-06 17:08] 1st1 commented on #72
That's not possible to do, as it has to be with all other functions that the WebHost loads *at the same directory level*.

[2018-03-06 17:22] 1st1 commented on #66
Yes, we could do that. I'm still not sure why that would be useful though:

* IMO, exposing raw gRPC messages is only possible for "in" bindings.

  Exposing them for "out" bindings is outright dangerous: the Azure Functions Web Host can be easily crashed in case of a malformed message. Same as with CPython, we allow users to create "broken" code objects, but it's impossible to fully protect the i

[2018-03-06 17:38] brettcannon commented on #66
@1st1 neither do I, but you seemed to want to expose _something_ and I was trying to minimize the work to do that. 😉

[2018-03-06 17:41] 1st1 commented on #66
Yeah :)

So if @asavaritayal and @christopheranderson are OK with this, I'd prefer to close this issue and simply implement the remaining bindings properly, without exposing any of gRPC low-level messaging to the end-users.

[2018-03-06 17:47] asavaritayal opened #73 "Trigger Templates"
Templates are pre-defined functions that demonstrate a working scenario and can be used as a starting point for more complex ones.

Similar to C# and JavaScript, we want to provide function templates in Python for commonly used trigger scenarios -

- [ ] Http Trigger ([JS example](https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/Templates/HttpTrigger-JavaScript))

-

[2018-03-06 17:49] asavaritayal commented on #73
\cc @1st1, @elprans

[2018-03-06 18:09] 1st1 commented on #19
This can now be closed, the change has been implemented in the `master` branch.

[2018-03-06 18:09] #19 closed

[2018-03-06 18:43] 1st1 opened #74 "Returning from a function without $return or "out" bindings"
For a function with the following `function.json`:

[code]

and the following implementation:

[code]

The Web Host / Python worker currently return HTTP 204 No Content status. This is confusing, as a user would expect to see an HTTP 200 status with "OK" response.

I propose to raise an error in cases like this and return HTTP 500.

We've discussed an alternative solution of throwing a warning in

[2018-03-06 18:47] brettcannon commented on #74
["Errors should never pass silently"](https://www.python.org/dev/peps/pep-0020/) 😁

[2018-03-08 15:56] 1st1 commented on #72
Closing this one for now.

[2018-03-08 15:56] #72 closed

[2018-03-08 16:18] elprans commented on #2
It seems like the worker doesn't actually have a say in selecting the default `scriptFile`.  Instead, the host picks the file with the appropriate extension, if it's the only file in the directory; or the file called `run`, or `index.js`.

https://github.com/Azure/azure-functions-host/blob/1f243e9febc4d431af3f0341bc8af74975d51659/src/WebJobs.Script/Host/ScriptHost.cs#L1258-L1280

@christopherander

[2018-03-08 19:38] 1st1 commented on #74
Closing this one now.

[2018-03-08 19:38] #74 closed

[2018-03-08 19:41] 1st1 commented on #66
As per our conf call with @asavaritayal, @pragnagopa, and @paulbatum, we decided to postpone the final decision on this issue.  We'll continue implementing high-level rich Python types for bindings for now.  We'll reconsider adding a generic type that exposes raw JSON data based on user experience and our own experience implementing rich types.

[2018-03-13 04:21] davidobrien1985 opened #77 "Output logging"
Hey,

I'm trying to use the new Python runtime and managed to get to a point where I'm now running python 3.6.4, I managed to install dependencies via `requirements.txt` and my function runs. This was already quite a bit of trial and error.

However, I can't seem to get the function to log anything to the output stream.

[code]

The output only shows
[code]

Any pointers?

Thanks!

[2018-03-13 04:24] 1st1 commented on #77
Can you try `logger.error('hey')`?

[2018-03-13 04:30] davidobrien1985 commented on #77
Same outcome.

[2018-03-13 04:48] davidobrien1985 commented on #77
So, I do anything with `logger...` and it doesn't do anything.

I do:

[code]

and it does nothing.

I do:

[code]
without the `main` and it prints out as expected.

I add
`logger.info("hey") to that working snippet and get
[code]

[2018-03-13 04:51] 1st1 commented on #77
Ah, right, you have to define the `logger` variable:

[code]

[2018-03-13 04:55] davidobrien1985 commented on #77
Well, that's not throwing any errors any more, but also no output.

I assume `'my function'` is the name of the function?
So if my function is called `davidstest` then
`logger = logging.getlogger('davidstest')`

and then `logger.info("hey")` should work?

No output for me. Same with `.error`

[2018-03-13 05:12] 1st1 commented on #77
Can you try `logging.error`?  `logging.info` has a low priority and might not be displayed (which is a bug and will be fixed)

[2018-03-13 05:16] davidobrien1985 commented on #77
No luck.

This is the complete function:
[code]

and the output is:
[code]

[2018-03-13 06:20] 1st1 commented on #77
I've created PR #78 to preconfigure the logging system to log messages starting with `INFO` level and also fixed a related bug.  Please try it, it might fix things on your machine.

[2018-03-13 06:21] davidobrien1985 commented on #77
about to take off from LAX to Brisbane now.
Will test in 15hrs 😉
Thanks so far!

Sent from my iPhone

On 12 Mar 2018, at 11:20 pm, Yury Selivanov <notifications@github.com<mailto:notifications@github.com>> wrote:

I've created PR #78<https://github.com/Azure/azure-functions-python-worker/pull/78> to preconfigure the logging system to log messages starting with INFO level and also fixed a related b

[2018-03-13 06:21] 1st1 commented on #77
BTW, how did you configure your environment? Did you follow https://github.com/Azure/azure-functions-python-worker/wiki/Setting-up-development-environment?  If no, could you please create a new environment following that wiki page?

[2018-03-13 06:22] 1st1 commented on #77
Have a good flight :)

[2018-03-13 16:13] 1st1 commented on #77
The PR has been merged to the `dev` branch.

[2018-03-13 18:32] asavaritayal opened #79 "Creating the deployment package (BYOC)"
**bring-your-own-container**

Azure Functions lets you host your Python functions on Linux in your own custom container. You can use one of the following options to build the container:

## 1. Build locally

#### Download and customize the sample
Clone the sample app repository to your local machine, then change to the directory that contains the sample code.
[code]
#### Build the image from the D

[2018-03-14 02:45] asavaritayal commented on #73
The issue has been moved to [https://github.com/Azure/azure-functions-templates/issues/646](https://github.com/Azure/azure-functions-templates/issues/646)

[2018-03-14 02:45] #73 closed

[2018-03-14 04:48] asavaritayal commented on #79
\cc @1st1 @elprans

[2018-03-14 07:13] asavaritayal opened #80 "Isolation of user dependencies"
Currently, the Python worker implementation depends on the following libraries:
[code]
On start up, `workerenv` is bootstrapped with the latest version of the above packages.

### Problem Statement
If the user attempts to install a different version of one or more of the pre-installed packages, the runtime will get conflicted. For e.g. if the Python worker needs `requests == 2.18.4` but the user w

[2018-03-14 07:16] asavaritayal commented on #80
@elprans @1st1
\cc @christopheranderson @pragnagopa

[2018-03-14 07:21] #11 closed

[2018-03-14 19:13] asavaritayal opened #81 "Referencing modules"
Currently, any file / module references in `main.py` have to be with respect to the top level function app.

For e.g. -

[code]

[code]

Can we have relative paths instead? E.g.  - `f = open('model.pkl', 'rb')`

[2018-03-14 19:52] elprans commented on #81
The issue is that the current working directory is a global per-process setting.  It's impossible to do a `chdir` without affecting other functions that may be executing concurrently.

[2018-03-14 19:55] elprans commented on #81
The recommended way to reference local files in Python in general is to use `__file__`:

[code]

[2018-03-14 19:58] elprans commented on #80
There is no way to isolate, since the function is executed directly in the worker process.  However, the only actual runtime dependency is `grpcio`, all the other are development dependencies.  We can pin the `grpcio` version by appending it to user's `requirements.txt` (and document this).

[2018-03-14 20:02] asavaritayal commented on #81
Okay. Do you recommend the same for importing modules as well?

Here's the issue I'm running into:
[code]

[code]

[2018-03-14 20:10] asavaritayal commented on #80
Agreed, if `grpcio` is the only dependency.

Marking this as out of scope for now - let's revisit if the list of runtime dependencies grows in the future.

[2018-03-14 20:13] asavaritayal commented on #77
@christopheranderson Do we need to update the Python image to reflect these changes?

[2018-03-14 22:20] asavaritayal commented on #81
That works - thanks!

[2018-03-14 22:20] #81 closed

[2018-03-18 02:00] asavaritayal commented on #77
Reopening the issue since I'm still not seeing any logs.

[2018-03-18 10:37] davidobrien1985 commented on #77
@1st1 sorry, took me a few days to get back to this.
I also still don't see any log output.

I created the Function via the portal by creating an "experimental python" function. All I did was follow the portal to create the function, nothing else.
If the expectation is that users need to do more or something else then please remove the ability to create a python function via the UI.

[2018-03-19 17:04] elprans commented on #6
This should be the only supported way.  `pip wheel` works for pure-Python packages as well.

[2018-03-19 17:39] 1st1 commented on #77
@asavaritayal What branch are you running your code on? `dev`? Could you please share your function's code?

@davidobrien1985

The portal doesn't run the latest code, please give it some time.  We haven't even started any testing of the new worker officially.

Please keep in mind that this repo is WIP.  How exactly users should use this repo outside of the portal is still being worked on.

[2018-03-20 17:10] pragnagopa opened #85 "Add "alpha" to build number"
Update build scripts to add alpha tag to master builds as we are preview

[2018-03-21 17:18] asavaritayal opened #86 "Cosmos DB Bindings"
Add support for Cosmos DB as a:

- [x] Trigger

- [x] Input Binding

- [x] Output Binding

Goal is to enable the functionality and document the Python example here - [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb)

For now, we can add the docs and samples to the [developer refer

[2018-03-21 17:22] asavaritayal commented on #86
\cc @1st1 , @elprans

[2018-03-21 17:25] asavaritayal opened #87 "Event Grid Bindings"
Add support for Event Grid as a:

- [ ] Trigger

Goal is to enable the functionality and document the Python example here - [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid)

For now, we can add the docs and samples to the [developer reference](https://pythondeveloperguide.azu

[2018-03-21 17:25] asavaritayal commented on #87
\cc @1st1 @elprans

[2018-03-21 17:27] asavaritayal opened #88 "Blob Storage Bindings"
Add support for Azure Blob storage as a:

- [x] Trigger

- [x] Input Binding

- [x] Output Binding

Goal is to enable the functionality and document the Python example here - [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob)

For now, we can add the docs and samples to the

[2018-03-21 17:35] elprans commented on #88
@asavaritayal We already have support for input/output bindings as well.

[2018-03-21 18:11] asavaritayal commented on #2
From the offline discussion, we'll adopt `__init__.py` as the default script file for Python.

Let's update the docs - [https://pythondeveloperguide.azurewebsites.net/](https://pythondeveloperguide.azurewebsites.net/)before closing the issue.

[2018-03-21 18:27] asavaritayal commented on #6
Triage 3/21 - @asavaritayal to revisit the issue.

[2018-03-23 01:23] asavaritayal opened #89 "Improve logging"
Currently, we see the following output if a function fails to load -
![image](https://user-images.githubusercontent.com/8435148/37806473-65a0f86e-2dfd-11e8-8ce9-53f0b4ddef2f.png)

It's hard to tell from the GUID which function failed. Can we print the function name instead?

Additionally, there are no logs for the failure. How do I see errors from the Python runtime?

[2018-03-23 01:30] #88 closed

[2018-03-23 01:38] 1st1 commented on #89
We have no control over how this message is rendered, it's up to WebHost. I suggest to open an issue there.

[2018-03-23 20:37] pragnagopa commented on #89
I will look into it. If host needs to parse the function name, i will move the bug to [runtime issues](https://github.com/Azure/azure-functions-host/issues)

[2018-03-26 14:58] elprans commented on #87
@asavaritayal I can't seem to be able to create an eventGridTrigger function in the portal, there's no option for the binding.

[2018-03-26 17:22] elprans commented on #86
@asavaritayal @pragnagopa I'm having difficulty testing the CosmosDB bindings.

Locally, I have defined the following function (named `put_document`):

`function.json`:
[code]

`__init__.py`:
[code]

The host fails to load the function with the following error:
[code]

I have verified that "CosmosDB_connection" is set on the function app, and that both the database and the collection exist.

[2018-03-26 17:38] elprans commented on #86
Also, I tried adding a JavaScript CosmosDB trigger in the portal and it fails with:
[code]

[2018-03-26 17:40] pragnagopa commented on #86
All the extensions defined in [extensions repo](https://github.com/Azure/azure-webjobs-sdk-extensions) except HTTP, need to be explicitly installed on the runtime.  Installing  [CosmosDB extension](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-development-azure-functions-core-tools) should work

[2018-03-26 17:41] elprans commented on #86
@pragnagopa How do I do that on the portal?  I didn't get an install prompt as the docs say.

[2018-03-26 18:25] asavaritayal commented on #87
Currently, there's no experience to test the EventGrid binding in the portal for v2. @soninaren @agruning  to confirm.

Please use a local build of the host to develop and test the sample.

[2018-03-26 19:55] soninaren commented on #87
Event grid extension is not available for for v2 yet. Adding @watashiSHUN to comment on the status of EventGrid extension for V2.

[2018-03-26 21:35] pragnagopa commented on #86
@soninaren - Can you please send instructions on how to test this?

[2018-03-27 18:44] asavaritayal opened #92 "Match property names with Azure SDK for Blob and Storage bindings"
https://azure-storage.readthedocs.io/

[2018-03-27 18:45] asavaritayal opened #93 "Setup auto build for Sphinx docs"
Current docs are out of date - https://pythondeveloperguide.azurewebsites.net/

[2018-03-27 18:48] asavaritayal opened #94 "Missing reference for Blob binding"
The current API reference is missing Blob properties such as name, length, etc.

![image](https://user-images.githubusercontent.com/8435148/37988040-b5be2c8a-31b4-11e8-81b2-489beaf21ac2.png)

[2018-03-27 18:55] asavaritayal commented on #89
Closing the issue in favor of https://github.com/Azure/azure-functions-host/issues/2588

[2018-03-27 18:55] #89 closed

[2018-03-28 00:46] asavaritayal opened #97 "How to add a new binding type wiki"
Can we add the instructions here? - [Adding support for a new binding type](https://github.com/Azure/azure-functions-python-worker/wiki/Adding-support-for-a-new-binding-type)

[2018-03-28 23:18] mhoeger opened #98 "Http response sometimes ignores content-header"
An HTTP response created in code will not always return as the correct content-type. This can result in output being formatted incorrectly or a 406. Root cause: https://github.com/Azure/azure-functions-host/issues/2552

The issue is currently being addressed in azure-functions-host, and the workaround is to add the following property to the response: `isRaw: true`

[2018-03-28 23:33] 1st1 commented on #98
It looks like we already do that:

https://github.com/Azure/azure-functions-python-worker/blob/0e7acf09193e7ad94586180a92b389141f464117/azure/worker/bindings/http.py#L96-L101

[2018-03-28 23:48] mhoeger commented on #98
Awesome!! :) We'll be making a change soon to get rid of the "is_raw" flag and default it to true on the functions-host side.

I'll submit a PR for corresponding changes when the time comes, but wanted to file this issue in the meantime, since java and javascript have this issue.

[2018-03-28 23:48] #98 closed

[2018-03-29 20:55] asavaritayal commented on #77
I can confirm that logging works with the latest build.

@davidobrien1985 Just to clarify, we’re speaking about two different flavors of Python support in Functions.

V1 – Python support for the v1 runtime is experimental. It’s not recommended or ready for production scenarios. We’ll be deprecating it sometime this year. (I think this is the one you're currently trying.)

V2 – This repo is for fir

[2018-03-29 20:55] #77 closed

[2018-04-05 09:16] manapadu commented on #10
can any one help below task how can i do.

need to read/write/move raw file into azure, by using of azure data factory V2 and azure function with python.

i search all but i could not find the steps.

Guide me
thankyou

[2018-04-05 18:28] mhoeger opened #99 "Consume .proto file from separated repo"
Follow instructions in the repo's readme:
https://github.com/Azure/azure-functions-language-worker-protobuf

[2018-04-10 17:12] asavaritayal commented on #6
@elprans @1st1 - Once the user drops their modules / wheels into the `/functionapp/lib` directory, is the function code able to recognize these packages? Can the language worker hook up the lib directory to a global location?

[2018-04-11 22:08] ahmelsayed opened #100 "rename package entry from `azure` to something else."
If I understand correctly (and I might be wrong), the package is installed with `azure` as a name. we probably shouldn't take that namespace.

[2018-04-11 22:36] elprans commented on #100
@ahmelsayed We use a pure namespace package here (no ``__init__``), so we are not "taking" the root namespace.  The actual namespaces that we take are ``azure.worker`` and ``azure.functions``.

[2018-04-11 22:39] elprans commented on #6
@asavaritayal The only correct way to make a package available is to `pip install` it into the correct virtual env.  Thus, the host, upon unzipping the artifact should run `pip install` on the folder that contains the wheels.

[2018-04-12 16:59] asavaritayal commented on #100
Agree with @elprans . Since we're not taking the root `azure` anmespace, we should be okay. I will verify with the azure sdk team as well, before we publish the  package.

[2018-04-12 16:59] #100 closed

[2018-04-13 23:58] ahmelsayed commented on #6
unfortunately I think
[code]

is too slow to run on every instance start. this ` requirements.txt` takes 32 seconds to finish

[code]

[code]

[2018-04-16 20:00] zooba commented on #6
`pip install` is the correct way to do it, but using `pip install --target` is a perfectly good way to create a ZIP file containing the entire distro (provided you can do it in the same environment as you are going to deploy it to - works reliably for Windows, less so for other platforms but doable).

If you can do the `pip install` on deployment or when starting the first instance and then preser

[2018-04-16 20:08] brettcannon commented on #6
Only way would be to add `--only-binary` so that you don't do any source installation as installing wheels is just extracting a zip file (is the file system especially slow?).

[2018-04-16 23:23] cliveg opened #102 "Microsoft Azure SDK for Python modules conflict with azure.functions module"
Unable to use Azure SDK modules by referencing them as part of an import in the python code, or specifying the module to install as part of REQUIREMENTS.txt.

Adding 'azure-servicebus' or 'azure' (bundle) into REQUIREMENTS.TXT shows an error when the container is RUN: ModuleNotFoundError: No module named 'azure.functions'.
- When you specify azure==3.0.0 you also see an uninstall for azure:0.01 in

[2018-04-16 23:29] cliveg opened #103 "Unable to Reference IoTHub Modules"
Unable to use IoTHub Modules from Python
- Adding "azure-iothub-service-client" and "azure-iothub-device-client" to REQUIREMENTS.TXT
- Specifying in python code 'from iothub_client import IoTHubClient'

Function App when called gives error:
"Failure Exception: ImportError: libboost_python-py35.so.1.58.0: cannot open shared object file: No such file or directory"

[2018-04-17 14:38] elprans commented on #6
I think some sort of image caching would be the best approach with respect to performance and reliability.  We most commonly solve this by having a base image with requirements keyed by the hash of `requirements.txt` content.

[2018-04-17 14:59] elprans commented on #103
This seems like a package bug.  Properly packaged Linux wheels should include all their shared library dependencies: https://www.python.org/dev/peps/pep-0513/#bundled-wheels-on-linux

[2018-04-17 16:35] elprans commented on #102
@asavaritayal We need to tweak `setup.py` to omit the top-level namespace in the package descriptor.  I'll submit a PR shortly.

[2018-04-17 17:36] asavaritayal commented on #102
Great, thanks for explaining :)

[2018-04-19 22:34] elprans commented on #97
Initial version of the help page done.

[2018-04-19 22:42] elprans commented on #86
Initial support for CosmosDB bindings done in https://github.com/Azure/azure-functions-python-worker/pull/104

[2018-04-19 22:47] #102 closed

[2018-04-20 00:30] #103 closed

[2018-04-20 00:30] #97 closed

[2018-04-20 00:38] asavaritayal opened #106 "Swagger reference for APIs"
Can we generate a swagger reference for our binding APIs?

[2018-04-23 16:32] asavaritayal commented on #106
@elprans to advise :)

[2018-04-23 16:39] elprans commented on #106
@asavaritayal As far as I can see, Swagger is for RESTful APIs, I don't think it applies to our class interface documentation.

[2018-04-23 20:40] pragnagopa opened #107 "Release process"
Opening issue to track release process
- Merge dev to master
- Add Tag with the build number from master branch
- Add release notes specifically mentioning the version of the functions runtime host the release depends on
- Add documentation in wiki on how to release python worker

[2018-04-23 20:45] pragnagopa commented on #107
/cc: @asavaritayal
@elprans / @1st1  - We missed doing this before we started private preview.  Can you please tag the master branch with latest green buildnumber-alpha and also add release notes. Python worker preview depends on Function host V2.0.11651

[2018-04-24 01:43] soninaren commented on #87
Event Grid trigger and template has been added to portal now.  Here is the template
https://github.com/Azure/azure-functions-templates/tree/v2.x/Functions.Templates/Templates/EventGridTrigger-CSharp

[2018-04-24 20:43] pragnagopa commented on #107
@elprans / @1st1 - I tried merging dev into master, but there are merged conflicts. Could one you move the bits master?

[2018-04-24 20:53] elprans commented on #107
@pragnagopa The `dev` branch lost sync with master for some reason.  I had to rebase it onto `master` to straighten the history.  It might have been because of a force push.  Would it be possible to protect the master and the dev branch?

[2018-04-24 21:25] pragnagopa commented on #107
Any reason why you would want to preserve history on master? As we haven't officially tagged a release, let's push to master and going forward we need to follow a process to move bits from dev to master and not push directly to master.

[2018-04-24 21:26] pragnagopa commented on #107
Please note that we need this as prerequite to issue #101 to maintain a working combination of python worker and functions host in the functions dockerfile

[2018-04-24 21:32] elprans commented on #107
@pragnagopa We already are not pushing directly to master.  What I meant is that at some point `dev` and `master` diverged in a way that was causing conflicts.  I force-pushed into `dev` to fix that, but let's "protect" both dev and master to prevent future force pushes and ensure that we can always merge dev into master cleanly.

[2018-04-24 21:42] pragnagopa commented on #107
Great. I will add a tag: 1.0.0-alpha and release notes

[2018-04-25 22:27] asavaritayal commented on #106
Got it, thanks.

[2018-04-25 22:27] #106 closed

[2018-04-26 13:48] Rik-de-Kort opened #108 "FileNotFound Error on starting local webhost"
Following instructions from [here](https://github.com/Azure/azure-functions-python-worker/wiki/Setting-up-development-environment). In particular, I'm interested in having a local version of my Azure function available for development and testing. I'd like to use Python 3.x for this (why Python 2.7 is the default I'll never understand).
I'm quite new to Azure, so not always sure where to look for

[2018-04-26 16:47] pragnagopa opened #109 "Increase grpc max message size"
Functions Host is updated to send command line argument: [--grpcMaxMessageLength ](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/ProcessManagement/DefaultWorkerProcessFactory.cs#L35)
Python worker needs to be updated to set this value for grpc.max_send_message_length and grpc.max_receive_message_length on the channel

[2018-04-26 16:48] pragnagopa commented on #109
@1st1 / @elprans  - We are rolling out functions runtime soon.  It would be good to have the change on the worker sooner to support working with large blobs

[2018-04-26 17:15] elprans commented on #109
@pragnagopa Can you point me to the Host artifact that contains this please?

[2018-04-26 17:44] elprans commented on #109
Just to confirm, does 11709 also contain the `enable_content_negotiation` (#101) bit?

[2018-04-26 18:18] pragnagopa commented on #109
Yes. You can use these for proto changes as well!

[2018-04-26 19:15] pragnagopa opened #110 "Pin version of grpc"
Is it possible to include a specific version of grpc in Setup script [setup.py#L151](https://github.com/Azure/azure-functions-python-worker/blob/dev/setup.py#L151)? We would like to control when we take dependency on grpc updates

[2018-04-26 19:37] elprans commented on #108
@Rik-de-Kort Do you have [azure-functions-core-tools](https://github.com/Azure/azure-functions-core-tools) v2 installed?

[2018-04-28 00:44] ahmelsayed opened #113 "wiki uploads"
![peek 2018-04-27 17-41](https://user-images.githubusercontent.com/645740/39389947-ae6d51b2-4a42-11e8-841f-196becee23bf.gif)
![peek 2018-04-27 17-43](https://user-images.githubusercontent.com/645740/39389948-ae8cdc94-4a42-11e8-9e8e-7a2caa1ac9fb.gif)

[2018-04-28 00:44] #113 closed

[2018-04-30 06:28] Rik-de-Kort commented on #108
Yes. Exact versions:
Azure Functions Core Tools (220.0.0-beta.0)
Function Runtime Version: 2.0.11651.0

Sorry for the delay in response, long weekend due to King's Day here.

[2018-04-30 16:40] #109 closed

[2018-04-30 16:47] pragnagopa commented on #110
Sorry missed concluding on the version. We do want to stick to 1.0.x to be consistent worth other language workers. Tying the host and language workers version numbers might easier to track but does not make sense and they are version independently

[2018-04-30 16:57] elprans commented on #110
Fixed in dev.

[2018-04-30 16:57] #110 closed

[2018-04-30 19:11] brusMX opened #114 "Missing arg 'grpc_max_msg_len' running python function out of the box"
These are the errors that we had testing it right out of the box

https://github.com/Azure/azure-functions-docker-python-sample/wiki/Getting-started-using-Functions-Core-Tools

Using func build/2.0.1.294

My current error is the following (Could you help us debug it):

[code]

[2018-04-30 20:28] brusMX commented on #114
**FOUND THE FIX**
thanks to @ahmelsayed
Just do:
[code]

[2018-05-01 20:05] #99 closed

[2018-05-06 11:50] bacongobbler commented on #52
Just confirming, but you meant `runtime.txt`, not `requirements.txt`, right? The latter's commonly used to pin dependencies with `pip freeze > requirements.txt`.

e.g. https://github.com/heroku/heroku-buildpack-python#specify-a-python-runtime

[2018-05-12 15:55] asavaritayal opened #118 "Publish azure.functions package to PyPI"
## Requirements
- Library should have released a stable version (1.0 +)  on pypi(1)
- Cross platform (windows, linux, osx) (1)
- Library should follow below guidelines (1)
      - Library should be on par with service side features
      - Library should use industry standard libraries/implementations where applicable
      - Lists with iterators instead of lists
      - Should have Async pattern

[2018-05-12 16:01] #93 closed

[2018-05-12 16:01] #86 closed

[2018-05-12 16:04] asavaritayal commented on #87
Updating milestone to sprint 5.

[2018-05-12 16:06] asavaritayal opened #119 "Event Hubs Binding"
Add support for Event Hubs as a:

- [ ] Trigger
- [ ] Output Binding

Goal is to enable the functionality and document the Python example here - [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs)

For now, we can add the docs and samples to the [developer reference](https://pyt

[2018-05-12 16:11] asavaritayal commented on #93
Closing issue as it is no longer relevant. The final docs will be published to docs.microsoft.com

[2018-05-12 16:20] aluong opened #120 "Missing azure.functions.binding from setup.py"
Seeing the following error during runtime. **` ImportError: cannot import name 'bindings'`**

`info: Worker.python.b83e543d-602a-413b-a962-dcae68eb5f23[0]
        File "/azure-functions-host/workers/python/worker.py", line 36, in <module>
info: Worker.python.b83e543d-602a-413b-a962-dcae68eb5f23[0]
          main()
info: Worker.python.b83e543d-602a-413b-a962-dcae68eb5f23[0]
        File "/azure-fun

[2018-05-12 18:23] #120 closed, assigned to nobody

[2018-05-14 09:42] paolosalvatori opened #122 "Azure Cosmos DB output binding does not stored documents as expected"
I created a sample using Azure Functions in Python. The function works as expected both locally and on Azure. The function uses a HTTP trigger to receive a request and return a response. It also uses an Azure Cosmos DB outbound binding to store results to Azure Cosmos DB, but no document is stored in my Azure Cosmos DB collection.

**``__init__.py``**

[code]

**``function.json``**

[code]

**``lo

[2018-05-14 15:32] elprans commented on #122
@paolosalvatori Please attach the full log produced by the host.

We have an integration test that works, so this is likely a local host/configuration issue.

[2018-05-14 18:37] pragnagopa opened #123 "Consume latest proto file"
heads up: host will be updated to use latest proto file from https://github.com/Azure/azure-functions-language-worker-protobuf soon.
 Please update python worker to use the latest and let us know if there are any blockers.

[2018-05-15 06:59] asavaritayal commented on #122
I think you may be missing the step to install the Cosmos Db extension for functions:

[code]
I'll add this to the docs as well.

[2018-05-15 16:42] pragnagopa commented on #123
headers field in RpcHttp is updated to <string, object> pairs instead of <string, string>. This is going to be breaking change.

[2018-05-15 18:41] aluong opened #124 "BYOF requirements file's worker hash cannot be found"
I ran the [BYOF instructions](https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI)) to create a new Python function app.
The requirements.txt is referencing a commit hash that cannot be found for the azure-funtions-python-worker. It ends up hanging during publish step: `func azure functionapp publish myApp`

(func_venv) # cat requirements.txt
-e git+https://github.com/

[2018-05-16 06:11] aluong commented on #124
This is generated from running "func init MyFunctionProj --worker-runtime python".

[2018-05-16 06:22] #124 closed, assigned to nobody

[2018-05-16 09:29] kapilt opened #125 "grpcio use binary wheels in docker install"
for some reasons i'm getting grpcio compile from source behavior when getting the docker build, which is quite time consuming and cpu intensive to do per publish. it seems grpc is required for azure functions (ugh.), so at minimum consuming binary wheels would result in massive time improvement for publish clock time.. which at the moment for me is over 10m for me... (azure vm 2core/4gb)

[code]

[2018-05-16 19:48] asavaritayal commented on #125
This issue was moved to Azure/azure-functions-core-tools#480

[2018-05-16 19:48] #125 closed

[2018-05-16 19:48] asavaritayal commented on #125
Moving to the core-tools repo. /cc @ahmelsayed

[2018-05-16 20:05] asavaritayal commented on #108
@Rik-de-Kort please try the updated instructions here - https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI)

[2018-05-17 17:19] asavaritayal commented on #87
https://github.com/Azure/azure-webjobs-sdk-extensions
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventGrid

[2018-05-17 17:19] asavaritayal commented on #119
https://github.com/Azure/azure-webjobs-sdk-extensions
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventHubs

[2018-05-17 17:38] asavaritayal commented on #118
@asavaritayal to add list of fundamentals

[2018-05-17 17:44] asavaritayal commented on #107
5/17 - This is done.

[2018-05-17 17:44] #107 closed

[2018-05-17 20:56] pragnagopa commented on #123
Funtions Runtime artifacts with latest protobuf changes: [2.0.11782-tkfwfyhd artifacts](https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/build/2.0.11782-tkfwfyhd/job/7xxo9s73epmn9vx0/artifacts).
Let me know if you cannot access it.

[2018-05-17 22:26] paolosalvatori commented on #122
Thanks @asavaritayal! I proceeded as follows:

1. Ran the following command to add the Azure Cosmos DB extension as you suggested:

func extensions install --package Microsoft.Azure.WebJobs.Extensions.CosmosDB --version 3.0.0-beta7

2. Added the AzureWebJobsCosmosDBConnectionString with the Azure Cosmos DB connection string to the local.settings.json

{
  "IsEncrypted": false,
  "Values": {
    "F

[2018-05-17 22:32] #122 closed

[2018-05-18 16:47] asavaritayal opened #127 "Investigation : Test Python Functions E2E on Anatares on Windows"

[2018-05-18 16:49] asavaritayal commented on #108
@Rik-de-Kort can you confirm if you're unblocked here, so we can close the issue?

[2018-05-21 18:56] priyaananthasankar opened #128 "Missing tag error while deploying functions with core tools"
Followed instructions from:

and when executing func azure functionapp publish pypreviewapp, got the following error.

Running docker exec -t c042b8fecca82e433ecf220fff4794de4cca89d918e2c09d026d2e9b8ebdc7ba /python_docker_build.sh
Obtaining azure_functions_python from git+https://github.com/Azure/azure-functions-python-worker.git@549f40b8be07388fedbc5b706db6d14e5179bc6e#egg=azure_functions_python

[2018-05-21 19:01] aluong commented on #128
This looks like this issue that I filed: https://github.com/Azure/azure-functions-core-tools/issues/476

[2018-05-21 20:12] priyaananthasankar opened #129 "Recloning from git every time during consequent deployments"
When I published the app for the first time, it cloned from worker python git.
When I performed subsequent publishing, it reclones.

There can be a flag in the core tools command or there can be ways when subsequent deployments do not need to repeat the entire process.

For eg: redeployment for azure web app or other function apps only needs the updated target artifact and deploy only that when re

[2018-05-21 20:52] asavaritayal commented on #128
Is this a warning or an error?

[2018-05-21 21:07] priyaananthasankar commented on #128
This seems like an error and it doesn't proceed after this. As Andy says, if the requirements.txt is frozen, then it automatically adds this label to the pip install. So I suspect the func core tools that adds the venv.

[2018-05-22 00:36] asavaritayal commented on #129
This issue was moved to Azure/azure-functions-core-tools#483

[2018-05-22 00:36] #129 closed

[2018-05-22 00:37] asavaritayal commented on #128
This issue was moved to Azure/azure-functions-core-tools#484

[2018-05-22 00:37] #128 closed

[2018-05-22 07:16] Rik-de-Kort commented on #108
I've been away on vacation. Will have a go today and let you know. :)

Thanks for the help.

[2018-05-22 10:37] paolosalvatori commented on #81
What about if the function uses packages like helpers in the below sample?

[code]

Placing the package in the same folder of the python function is not enough. As a workaround, we had to explicitly add the current folder to the path as follows:

[code]

[2018-05-22 13:17] Rik-de-Kort commented on #108
1. I installed 2.0.1-beta26 via `npm i azure-functions-core-tools@core`. `npm ls` confirms this gives me 2.0.1-beta26
2. When creating a new function project via `func init`, it says I'm limited to C# or JavaScript as langs.
3. Trying to hack together an `__init__.py` with `function.json` as per [the programming model](https://github.com/Azure/azure-functions-python-worker/blob/dev/docs/index.rst)

[2018-05-22 13:31] elprans commented on #81
Use `from .helpers import jwt`

[2018-05-23 16:55] elprans commented on #119
I am having trouble configuring the `eventHubTrigger` binding.  The documentation and the templates seem to differ from what's the EventHub extension currently expects.  The documentation specifies the "path" and the "connection" as the configuration for the binding, but the extension is failing to load with this:

[code]

Here's the relevant CI [log link](https://ci.appveyor.com/project/appsvc/az

[2018-05-24 20:10] asavaritayal opened #132 "Optimizing publish from the core-tools"
A consistent theme across private preview has been the extended time taken to publish an app from the core-tools.

## Current Workflow
Behind the scenes the publish command will: [InternalPreparePythonDeployment Method](https://github.com/Azure/azure-functions-core-tools/blob/master/src/Azure.Functions.Cli/Helpers/PythonHelpers.cs)

 1. Pull and run `microsoft/azure-functions-python3.6:v2.0.11651-

[2018-05-24 20:13] #79 closed

[2018-05-24 20:13] #6 closed

[2018-05-24 20:17] asavaritayal commented on #132
/cc @pragnagopa , @priyaananthasankar

@elprans Here's a brain dump. I'll let you take it from here.

[2018-05-24 21:16] priyaananthasankar commented on #132
Adding another suggestion/question to the proposed workflow: When you pip install pure .py packages subsequently after a first installation - docker has a way to figure if it is a re-install or a fresh install, through a build context. Or maybe provide a flag if docker needs to forget and consider a re-install. Noticed that irrespective of first time or subsequent times, all the python packages ar

[2018-05-24 21:32] aluong commented on #132
Why is the docker container even necessary if we are doing a pip install outside the container already? Could you just zip up the current folder and zipdeploy it to the function app?

[2018-05-25 06:00] asavaritayal commented on #132
@aluong you're right, the docker step is not necessary. In the optimized workflow, step #3 would only be triggered if you're using a c extension package which does not have pre-build wheels available on PyPI. I don't have the data available but don't expect it to be a majority scenario. The whole idea behind using docker is to build the right binaries for our production environment.

[2018-05-29 23:13] asavaritayal opened #133 "Service Bus Binding"
Add support for Service Bus as a:

- [ ] Trigger
- [ ] Output Binding

Goal is to enable the functionality and document the Python example here - [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus)

For now, we can add the docs and samples to the [developer reference](https://

[2018-05-30 08:53] paolosalvatori commented on #81
Thanks @elprans

[2018-05-30 23:57] elprans commented on #87
I'm blocked here.
Followed the docs, here's my function:

*function.json*:

[code]

**__init__.py**:

[code]

Downloaded and configured the "Microsoft.Azure.WebJobs.Extensions.EventGrid" extension.

Run the host:

[code]

As shown above, the host loaded the extension and found the "eventgrid_trigger" function.  However, I'm unable to invoke the function.  The docs specify:

However, when I'm attem

[2018-05-31 00:02] elprans commented on #87
For reference, the WIP PR is #134

\cc @watashiSHUN

[2018-05-31 19:24] pragnagopa opened #135 "Do not expose protobuf to the bindings"
Tracking issue to investigate decoupling azure.functions and azure.functions.worker.

Use type annotations if the function expects a custom type such as
singnalRConnectionInfo which is not a basic type like: string or byte[] or rich binding type defined in azure-functions-python-library

[code]

Python worker needs to convert the input data sent by the functions host to the type requested by the f

[2018-05-31 21:00] pragnagopa commented on #119
Provided working C# sample in the PR

[2018-06-01 01:45] ahmelsayed commented on #132
@elprans  So I'm stuck because of this issue https://github.com/pypa/pip/issues/4390

I was testing with `pip install -r req.txt -t .packages`

I was thinking I'd install the packages in a folder `.packages` and then run python with `PYTHONPATH=$PYTHONPATH:/home/site/wwwroot/.packages python worker.py`

However it looks like `-e` is not compatible with `-t`.

[2018-06-01 16:12] priyaananthasankar opened #136 "Support for Anaconda environment"
Existing Anaconda environment with Python version 3.5/3.6
BYOC/BYOF instructions fail unless Anaconda path is removed.

While using the BYOF functions tools, the tools does not support a conda environment by itself. Supports only virtual environments. Conda support is useful for machine learning scenarios and in general python environment support.

(minor) This solution requires the user to use vi

[2018-06-01 16:19] priyaananthasankar opened #137 "HttpTrigger local func start keys issue"
HttpTrigger local func start gives the following error - anonymous function vs function keys – there was issue in the Kudu console.

Tried to use anonymous functions without keys and deployed using BYOF - the trigger did not work in azure.
Worked locally. Interchanging with and without keys caused errors in Kudu. - This was reproducible during serverless openhack.

[2018-06-01 16:22] priyaananthasankar opened #138 "BYOC BYOF documentation and portal issues"
Bring Your Own Container (BYOC)
This scenario is completely broken for Azure as of last week. You can run everything locally, but actually referencing a Docker image in Azure does not work. Debugging is very difficult and is not well documented.
It is super confusing to determine which base image should be used (latest, v2.0.11651-alpha, 2.0.0-jessie, dev-nightly). They reference multiple differen

[2018-06-01 16:25] priyaananthasankar opened #139 "BYOC - No support with ACS. Have to push image to public docker hub (if using custom docker image approach for deployment)"
This was the case during April last week. There was no support to upload own container into ACS and get the functions app to refer. If this is not the case today, it can be closed. Raised issue for tracking.

[2018-06-01 17:17] pragnagopa commented on #87
There is a mistake in the documentation to test locally.  Here is the documentation I followed: [local-testing-with-ngrok](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#local-testing-with-ngrok)
Correction in the URL:
https://{subdomain}.ngrok.io/runtime/webhooks/EventGridExtensionConfig?functionName=FunctionName

I will open issue to fix the documentation.

[2018-06-01 17:40] asavaritayal commented on #139
@Jen7714 @dariagrigoriu

[2018-06-01 18:17] pragnagopa commented on #127
@asavaritayal  -  I have a working sample with python functions running in Azure.
Setup (please fix python installation steps if I missed any)
- Create function app
- Go to Kudu
- Install Python 3.6 following instructions at [/running-python-code-on-azure-functions-app](https://ourwayoflyf.com/running-python-code-on-azure-functions-app/)
- Git clone https://github.com/Azure/azure-functions-python-

[2018-06-01 18:42] elprans commented on #87
@pragnagopa ngrok is only there to expose the local host to the internet, it simply forwards requests to the local host.  The documentation elsewhere says

What is that localhost URL? Neither `/api/{function_name}`, nor `/admin/extensions/EventGridExtensionConfig?functionName={functionname}` work,

[2018-06-01 18:44] pragnagopa commented on #87
Yes. I think it is the same issue. Url has typo. Can you try replacing admin/extensions with /runtime/webhooks?

[2018-06-01 19:04] elprans commented on #87
With `runtime/webhooks` I get a 401 instead of 404 and no log output.

[2018-06-01 20:49] pragnagopa commented on #87
Following works with the CLI:

URL:
[code]

Headers:
[code]

Sample Post data from [sample.dat](https://raw.githubusercontent.com/Azure/azure-functions-templates/dev/Functions.Templates/Templates/EventGridTrigger-CSharp/sample.dat)
Note: Input is Json Array
[code]

[2018-06-01 21:10] elprans commented on #87
@pragnagopa Which version of host does that use?

[2018-06-01 22:12] pragnagopa commented on #87
Did some more investigation. Invoking the API on the functions host, needs a system level key. In CLI this is taken care before starting the webhost. For now, please test E2E with a deployed Azure Function.  I need to look into this further to provide instructions on setting up SystemLevel key for testing via localhost.

[2018-06-01 22:21] watashiSHUN commented on #87
I don't have access to a laptop right now but in the past when I was working on eventgrid I did come across an issue https://github.com/Azure/azure-functions-host/issues/2360 @pragnagopa this might be helpful?

[2018-06-04 09:15] asavaritayal commented on #139
Closing as this was identified as not a Python issue.

[2018-06-04 09:15] #139 closed

[2018-06-04 09:26] asavaritayal commented on #138
Breaking this down -

This is caused due to a runtime regression - https://github.com/Azure/azure-functions-host/pull/2917. Fix here - https://github.com/Azure/azure-functions-docker-python-sample/pull/18#pullrequestreview-125492965

Please do not use any builds that are not documented.

Link 1 is bring-your-own-files. Link 2 is bring-your-custom-image. The docker option in BYOF is a feature of Ap

[2018-06-04 09:30] asavaritayal commented on #137
@priyaananthasankar can you provide the repro steps? Also, what version of the CLI were you using?

[2018-06-04 16:08] elprans commented on #132
@ahmelsayed You don't need `-e`.  In fact, installing the worker with `-e` creates conflicts with `azure-nspkg` due to how the latter is packaged.

[2018-06-04 17:01] ahmelsayed commented on #132
bare with me since I'm not very familiar with the python echo system :)

without `-e`, when I do `pip freeze` I get this

[code]

as oppose to
[code]

and when you do `pip install -r requirements.txt` on the former you get this error

[code]

[2018-06-04 17:16] asavaritayal commented on #136
@1st1 @elprans Is this a limitation of the language worker or core tools?

[2018-06-04 17:22] elprans commented on #132
Until we publish the worker on PyPi you need to install the worker from the git checkout, just without `-e`:

[code]

[2018-06-04 17:26] elprans commented on #132
@ahmelsayed @asavaritayal I decided to build a standalone Python module to create Python app packages for Azure.  It would take the `requirements.txt` and generate the correct `app.zip`:

[code]

core-tools would then simply need to add the above call.

[2018-06-04 19:37] asavaritayal commented on #108
@Rik-de-Kort for #2, since Python is still under private preview, you will need to specify `--worker-runtime python` with `func init`. Please refer to the instructions here - https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI)

`func new` should automatically populate the __init__.py and `function.json` for you.

It is recommended that you use the most recent version

[2018-06-04 19:38] #108 closed

[2018-06-04 19:38] asavaritayal commented on #136
This issue was moved to Azure/azure-functions-core-tools#509

[2018-06-04 19:38] #136 closed

[2018-06-04 22:04] asavaritayal opened #140 "Rename azure.worker to azure.functions.worker"
For publishing to PyPI.

[2018-06-04 22:40] pragnagopa opened #141 "Setup DevOps to publish to PyPI"
When generating azure.functions and azure.functions.worker packages, the version needs to match the release tag. We need something similar to [this](https://github.com/Azure/azure-functions-java-worker/blob/dev/appveyor.yml#L28) when generating packages.

[2018-06-04 22:44] elprans commented on #141
If the goal is to have git serve as a version tag source, then the recommended way in Python is to use `setuptools_scm`.

[2018-06-04 23:12] aluong commented on #118
Is the current recommended release tag for installing the Python worker?

[2018-06-05 00:35] asavaritayal commented on #132
How long does the `azure-functions-python-packer` module take to install  the base package, such as in the `requirements.txt` below? Additionally, will it always download the wheels only?

[code]

[2018-06-05 02:18] elprans commented on #132
The packer will download wheels if available, and if not, it will try to build them locally (using Docker for binary wheels).

Regarding the base requirements: why do we have to install them every time?  Can these be baked into the base image?  In fact, the docker-less deployment relies on the virtual Python environment already being present in the image.

[2018-06-05 16:48] pragnagopa commented on #141
We do want to control package versions from the code. Here is the flow for nodejs worker updates.
- Version for the pacakge is defined in [package.json](https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/package.json)
- Once we are ready to release,
  - Update version on package.json
  - Merge dev to master
  - Create a tag with the same name as version in package.json
  - Publish nug

[2018-06-05 16:52] elprans commented on #141
``setup.py``

[2018-06-05 17:09] pragnagopa commented on #141
Assuming the similar flow works here too. We would update package versions in setup.py and create tags for each release that match the package version

[2018-06-05 17:12] elprans commented on #141
Sounds good.

[2018-06-06 06:47] Jsans opened #143 "Easier way of accessing environment variables"
hey,
it will be good to see "applications settings" incorporated bit more seamlessly.

Currently it is:

`
import os
name=os.environ.get('name')

`

[2018-06-06 17:40] asavaritayal commented on #127
Work required to productionize Python on Windows -
- We will have to preinstall python3.6 on the workers.
- Dependency / package management: On Windows workers, we can leverage Kudu as a build server. Maybe it just builds the package, uploads it to storage, and return the sas url to the CLI that then updates app settings. Or we can get some work done to have kudu be able to set the WEBSITE_USE_ZIP

[2018-06-06 17:40] #127 closed

[2018-06-06 17:43] asavaritayal commented on #137
I can't repro this on the latest. I'll close this but let me know if you are still seeing issues.

[2018-06-06 17:47] asavaritayal commented on #138
No action required at this time. @priyaananthasankar RE: the logging issue -

Let us know if you have a screenshot of the logs being cut off so we can investigate further. Closing the current issue for now.

[2018-06-06 17:47] #138 closed

[2018-06-07 16:19] #119 closed

[2018-06-07 16:44] #123 closed

[2018-06-07 17:37] elprans commented on #140
We cannot move the worker under `azure.functions` as we are separating the packages, and `azure.functions` is not a pure namespace.  I suggest renaming the worker to `azure._functions.worker` instead.

[2018-06-11 21:51] mhoeger opened #146 "Update proto file and grpc packages"
We'll be updating the functions host to consume this breaking change (we have a naming conflict between package namespace and name of GRPC service): https://github.com/Azure/azure-functions-language-worker-protobuf/commit/a42a580e5211f89d5cc605a869a48425fccbd880

I'll update this issue with the latest version of the functions host that consumes the proto file changes when it is available!

[2018-06-11 22:34] #140 closed

[2018-06-12 16:09] elprans commented on #133
It looks like the ServiceBus extension messes up the messages somehow.  Instead of sending the actual message body, the host sends literally `"System.Byte[]"`.  Moreover, other bindings get messed up as well, so even http returns `"System.Byte[]"` instead of the actual function output.

I'm using "Microsoft.Azure.WebJobs.ServiceBus" version "3.0.0-beta5"

\cc @pragnagopa

[2018-06-12 21:29] pragnagopa commented on #146
@elprans _ please udpate grpc packages to the latest version 1.12.0

[2018-06-13 17:15] pragnagopa commented on #133
Moving to next milestone. Will investigate

[2018-06-13 17:38] pragnagopa commented on #141
Moving this to next milestone. We need to address this as part of repos split

[2018-06-13 17:39] pragnagopa commented on #87
Addressed: https://github.com/Azure/azure-functions-python-worker/commit/0800b4deb7641157ca8fd62563351ca54e20f552

[2018-06-13 17:39] #87 closed

[2018-06-14 15:43] pragnagopa opened #147 "Resolve conflicts and merge dev to master"
@elprans - Can you send a PR for this?

[2018-06-14 15:56] elprans commented on #147
Done.

[2018-06-14 15:56] #147 closed

[2018-06-14 16:09] pragnagopa commented on #147
@elprans - Can you please look at the test failures at https://ci.appveyor.com/project/appsvc/azure-functions-python-worker/build/1.0.289

[2018-06-14 16:22] elprans commented on #147
Eventhub failed to call the trigger within the timeout.  I can increase it, but it seems like a host issue. Travis is OK.

[2018-06-14 16:28] pragnagopa commented on #147
To avoid race conditions, can you use dedicated resources for CI?

[2018-06-14 16:58] elprans commented on #147
They are dedicated already.

[2018-06-15 22:19] pragnagopa commented on #146
Please find the artificats here- [2.0.11879](https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/build/2.0.11879/job/xmbu4p2g9c8a7utu/artifacts). This is a breaking change please address this ASAP as the functions runtime roll out will be starting next week.

[2018-06-15 22:21] pragnagopa commented on #146
@elprans - If you are already made progress on splitting the repos in dev branch, please submit fix for this issue in master branch.

[2018-06-18 14:31] elprans commented on #146
@pragnagopa  I'm having issues with the new host build:

[code]

Previous build works fine.  I have dotnetcore-sdk version 2.1.105 installed.

[2018-06-18 17:29] pragnagopa commented on #146
can you please install the latest from https://www.microsoft.com/net/download/windows
We need 2.1.300

[2018-06-18 18:05] elprans commented on #146
I'm on linux, and adter installing 2.1.300 I get:

[code]

[2018-06-18 18:06] elprans commented on #146
Here's the installation info:
[code]

[2018-06-18 18:06] pragnagopa commented on #146
@fabiocav - Any ideas?

[2018-06-18 21:04] fabiocav commented on #146
@elprans which one of the ZIP files are you using? You want to grab one of the `no-runtime` bits.

[2018-06-18 21:14] elprans commented on #146
@fabiocav OK, the `no-runtime` build seems to run, but it doesn't register any functions:

[code]

[2018-06-18 21:16] fabiocav commented on #146
I'm assuming what you have are Python functions, so I'll let @pragnagopa continue to assist as this is a different issue. Now that you have the runtime running, she should be able to help understand why those functions are not being loaded.

[2018-06-18 21:17] pragnagopa commented on #146
Yes. I will look into this.

[2018-06-18 22:01] pragnagopa commented on #146
@elprans - I cannot repro this issue. None of the functions are being indexed? or just the ones that need extensions?

[2018-06-18 23:28] elprans commented on #146
None of the functions get indexed on my end with https://ci.appveyor.com/api/buildjobs/xmbu4p2g9c8a7utu/artifacts/Functions.Binaries.2.0.11879-alpha.no-runtime.zip

[2018-06-19 16:37] pragnagopa commented on #146
@elprans - Please enable verbose logs by adding following in the host.json
[code]

[2018-06-19 17:49] elprans commented on #146
Here are the logs with trace level enaled:

[code]

I think the host doesn't find the Python worker.  Has the configuration protocol changed.  Currently, we set the `workers:config:path` and `workers:python:path` environment variable.  The first points to the root, and the second points to `${ROOT}/python/worker.py`

[2018-06-19 17:50] elprans commented on #146
Yes, I see the `Workers Directory set to` line is incorrect.

[2018-06-19 17:52] pragnagopa commented on #146
Yes. Correct. Sorry missed mentioning that. You need to set languageWorkers:python:workerDirectory

[2018-06-19 18:02] pragnagopa commented on #146
Here is the build for the current functions host release [2.0.11886](https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/build/2.0.11886/job/0exdyn0sak341kea/artifacts)

[2018-06-19 21:17] jiata opened #151 "no module named 'azure.functions'"
https://github.com/Azure/batch-scoring-for-dl-models/issues/2

[2018-06-19 21:42] jiata commented on #151
@asavaritayal @pragnagopa

[2018-06-19 21:44] pragnagopa commented on #151
can you give us more details? link you provided gives 404

[2018-06-19 21:56] jiata commented on #151
Keeps getting a message like "cannot find azure.functions module" even though I walked through the install instructions

![image](https://user-images.githubusercontent.com/16616215/41626386-1ea654b2-73ea-11e8-9b5e-265a37dd9553.png)

[2018-06-20 23:51] asavaritayal opened #152 "To be closed"
![image](https://user-images.githubusercontent.com/8435148/41690386-1b554abe-74aa-11e8-89d6-f5a9a75ae035.png)

[2018-06-20 23:51] #152 closed

[2018-06-21 17:33] asavaritayal commented on #146
Available in release -  [1.0.300-alpha](https://github.com/Azure/azure-functions-python-worker/releases/tag/1.0.300-alpha)

[2018-06-21 17:33] #146 closed

[2018-06-21 17:37] asavaritayal opened #153 "Publish azure-functions-worker to PyPI"

[2018-06-21 17:45] asavaritayal commented on #118
Closing issue as this is now available - https://pypi.org/project/azure-functions/

[2018-06-21 17:45] #118 closed

[2018-06-25 16:33] asavaritayal commented on #153
Closing since the package is now published /cc @elprans  - https://pypi.org/project/azure-functions-worker/

[2018-06-25 16:33] #153 closed

[2018-06-25 16:35] asavaritayal opened #156 "Add template for Event Hub"
https://github.com/Azure/azure-functions-templates/issues/646

[2018-06-25 16:36] asavaritayal opened #157 "Add template for Event Grid"
https://github.com/Azure/azure-functions-templates/issues/646

[2018-06-25 16:50] asavaritayal commented on #132
The `azure.functions` and `azure.functions.worker` packages are now published to PyPI. /cc @elprans

[code]

[2018-06-26 17:22] pragnagopa commented on #133
Here is a sample function.json with javascript functions
[Node/ServiceBusQueueTriggerAndOutput](https://github.com/Azure/azure-functions-host/tree/dev/test/WebJobs.Script.Tests.Integration/TestScripts/Node/ServiceBusQueueTriggerAndOutput)
Can you give share function code? and the test code you using to invoke the function?

[2018-06-26 17:35] asavaritayal commented on #151
Can you manually install -

[code]

[2018-06-26 17:42] asavaritayal commented on #141
Need instructions on how to publish to PyPI. @elprans

[2018-06-26 17:54] asavaritayal commented on #135
Brainstorming item, not currently scheduled. @pragnagopa to update objective and problem statement.

[2018-06-28 16:09] elprans commented on #157
https://github.com/Azure/azure-functions-templates/pull/703

[2018-06-28 16:09] elprans commented on #156
https://github.com/Azure/azure-functions-templates/pull/703

[2018-06-28 18:22] asavaritayal commented on #151
Closing due to no repro.

[2018-06-28 18:22] #151 closed

[2018-06-28 18:42] asavaritayal opened #159 "Default script file behavior"
If `scriptFile` tag is not provided in `function.json`, the runtime is unable to index the Python functions.

**Observed Behvaior**

If `"scriptFile": "{filename}.py"` is present in `function.json` , the worker uses `{filename}.py` as the script file.

Elif `run.py` is present, the worker defaults to it as the script file.

Else 404 : No job functions are found

**Expected Behavior**

If `"scriptF

[2018-06-28 18:47] elprans commented on #159
The described expected behavior used to be the case.  This is managed on the host side, so things must have changed.

[2018-06-28 20:37] asavaritayal commented on #159
This issue was moved to Azure/azure-functions-host#3073

[2018-06-28 20:37] #159 closed

[2018-07-02 19:51] priyaananthasankar commented on #137
Reopening this issue as it is observed even today. A simple get method with func new works locally, but gives 401 unauthorized after func core tools deploy.

[2018-07-02 19:56] mcollier commented on #137
I followed the instructions at https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI).  I could get the function to work locally at http://localhost:7071/api/HelloCherry.  After publishing it to Azure, I could not get the function to work.  I initially received an HTTP 401 response.  I changed the 'authLevel' in function.json to 'anonymous' and republished.  That resulte

[2018-07-03 16:38] asavaritayal commented on #137
@mcollier  Can you share your `function.json` file, app name and the endpoint you're calling to invoke your function?

[2018-07-03 17:23] mcollier commented on #137
App name: https://mcollier-func-py.azurewebsites.net/
Function name: HelloCherry

I've tried calling via https://mcollier-func-py.azurewebsites.net/api/HelloCherry and https://mcollier-func-py.azurewebsites.net/HelloCherry.

The function.json file I used is as follows:
[code]

I've tried changing the authLevel to 'anonymous'.  That resulted in an HTTP 500 error.

[2018-07-03 18:37] asavaritayal commented on #137
Have you tried the below?

![funckey](https://user-images.githubusercontent.com/8435148/42238323-5118529e-7eb5-11e8-9cfe-b247ca69d08e.gif)

[2018-07-03 18:57] asavaritayal commented on #137
Quick update - @mcollier and I synced offline. The issue is not a `404` but a `500`.

There is no repro on our end but I'll investigate and come back here.

[2018-07-06 23:24] ahmelsayed commented on #132
I'm having issues trying to get packapp.py script to work.

First I made a small change to copy the output to a folder under the current project `.python_packages`. My idea is that I can package that folder with the app, then add that to [`PYTHONPATH` before running the worker in the docker image](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/python3.6/start.sh

[2018-07-06 23:36] elprans commented on #132
Do you have steps to reproduce?

[2018-07-06 23:50] ahmelsayed commented on #132
[code]

[2018-07-06 23:52] ahmelsayed commented on #132
But make sure to wait until this image is done building https://hub.docker.com/r/microsoft/azure-functions-python3.6/builds/

[2018-07-09 16:34] elprans commented on #132
Works on my machine with the above steps.

[2018-07-10 16:01] asavaritayal commented on #157
Done.

[2018-07-10 16:01] #157 closed

[2018-07-10 16:01] asavaritayal commented on #156
Done. /cc @elprans

[2018-07-10 16:01] #156 closed

[2018-07-10 17:42] asavaritayal commented on #137
/cc @ahmelsayed

[2018-07-10 23:06] ahmelsayed commented on #132
running `packapp.py  --platform linux --python-version 36 `  on this req.txt on Windows  (works fine on Linux)

[code]

results in this error

[code]

[2018-07-10 23:50] elprans commented on #132
@ahmelsayed Should we move this script to a different repo to make improvements and fixes more straightforward?

[2018-07-10 23:55] ahmelsayed commented on #132
yes, I actually added it here https://github.com/Azure/azure-functions-core-tools/blob/master/tools/python/packapp.py to be included in the cli build

with the same change I mentioned earlier (not zipping) and adding a `--packages-dir-name`

[2018-07-11 21:21] asavaritayal opened #161 "Cache variables in memory"
Opening on behalf of /cc @phanisrinath

[2018-07-12 14:18] vbalbarin opened #163 "Python Function App Runs on Local Azure Function App Python Worker; Fails in Azure"
#### Investigative information

Please provide the following:

- Timestamp: 2018-07-11T16:18:55.925
- Function App version (1.0 or 2.0-beta):  2.0-beta
- Function App name: hello-fn
- Function name(s) (as appropriate):
- Invocation ID:  Id=a3d4f34c-5acc-406e-81d5-dc86bd1ffdf8)
- Region: eastus2

#### Repro steps

##### Testing Function on Local Worker

[code]

Testing in a separate terminal:

[cod

[2018-07-12 16:24] asavaritayal commented on #163
@pragnagopa can you investigate this?

[2018-07-12 16:24] asavaritayal commented on #137
@pragnagopa can you investigate this?

[2018-07-12 21:45] asavaritayal commented on #163
The issue is caused due to a breaking change in the v2 runtime (preview). Deployments are in progress - we'll send an update to this thread once the release is done.

[2018-07-12 21:45] asavaritayal commented on #137
The issue is caused due to a breaking change in the v2 runtime (preview). Deployments are in progress. We'll send an update to this thread once the release is done.

[2018-07-25 20:32] jeffhollan opened #164 "Unable to use azure SDKs with python"
Created a vanilla HTTP function (works):

[code]

I then installed the Azure SDK

[code]

When I try to reference one of these SDKs it throws errors for naming conficts

[code]

[code]

[2018-07-27 15:18] asavaritayal opened #165 "Consume Flask routes for HTTP triggered Azure Functions"
**Feature Idea - Looking for votes and/or user input to gauge traction.**

High level idea is to enable users to bring their Flask app and run each of the individual routes as HTTP triggered functions.

Can be implemented in either of two ways -

1. Add support for routes in the programming model, so user can maintain portability b/w Flask framework and Azure Functions.

2. Enable tooling support

[2018-07-27 15:51] asavaritayal opened #166 "Upgrade worker to support Python3.7"
Now that it's out of RC.

TBD - Investigate implications for the Azure SDK and other libraries that are only compatible with 3.6 so far.

[2018-07-28 07:29] asavaritayal commented on #137
This should now be resolved. @priyaananthasankar and @mcollier  go ahead and try again.

Please make sure that you upgrade the Azure Functions Core Tools to version `2.0.1-beta.33`

If you're not starting over from scratch, check that the `requirements.txt` file contains the following list of dependencies:

[code]

[2018-07-28 07:52] #163 closed

[2018-07-28 07:52] #137 closed

[2018-07-28 13:52] elprans commented on #164
I need a bit more context please.  How was the python worker installed?

[2018-07-28 14:07] jeffhollan commented on #164
Just following the [quickstart here](https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI))

[2018-07-28 14:08] jeffhollan commented on #164
Link didn’t work but it’s the “crest function via CLI” one

[2018-07-28 15:09] elprans commented on #164
Which version of core tools are you running?  @ahmelsayed can you confirm that we *do not* use the development mode install for the python worker (`pip install -e`) in the core tools script?

[2018-07-29 00:20] asavaritayal commented on #164
@jeffhollan what is the version of the core tools you're using? Can you also share your `requirements.txt` file?

[2018-07-29 00:27] #132 closed, assigned to elprans

[2018-07-29 00:36] asavaritayal commented on #66
Quick update on this issue -

Per feedback over the last couple of months, the high-level rich Python types are much easier to use than the basic types we have for node. Since the `azure.functions` package is now published to PyPI, rich types simplify development via type hints, intelli-sense, etc. making it easy to orchestrate data from the underlying binding sources.

Closing this issue for now.

[2018-07-31 14:26] kapilt commented on #143
not sure what could be easier, that is the standard python way of getting env variables, anything else would be non idiomatic.

[2018-07-31 14:31] kapilt commented on #166
fwiw, we're doing builds/tests of azure client lib usage with 3.7, seems to work well. https://travis-ci.org/capitalone/cloud-custodian/jobs/409066825

[2018-08-02 17:46] asavaritayal commented on #133
Pending:
- CI (App Veyor) resolution

[2018-08-02 17:51] pragnagopa commented on #135
https://github.com/Azure/azure-functions-host/issues/3140

[2018-08-03 15:49] asavaritayal opened #167 "How do I debug Python Functions in VS Code and PyCharm?"
I know we've had some changes around the port to use. Would be good to get clarity on the plan going forward.

/cc @priyaananthasankar

[2018-08-03 19:25] priyaananthasankar commented on #167
Thanks @asavaritayal for adding me. As of today VS code does not support attaching debugger to "pristine" processes (process threads starting outside of VS code) and Azure functions extension does not support Python. It would be great to add these to get more Python adoption.

[2018-08-04 00:58] asavaritayal opened #168 "AppVeyor Build Failure"
Issue seems to be with CosmosDB. @pragnagopa to investigate.

[2018-08-04 01:00] asavaritayal opened #169 "Travis Build Failure"
Details in the PR here - [https://github.com/Azure/azure-functions-python-worker/pull/158](https://github.com/Azure/azure-functions-python-worker/pull/158)

[2018-08-06 20:52] jeffhollan commented on #164
Tested this on latest func cli and it's working now so can close.  As any FYI my requirements.txt when **not working** had this:

[code]

But now has this

[code]

[2018-08-06 20:52] #164 closed

[2018-08-07 08:09] rvanmaanen commented on #164
I actually ran into this reference to GitHub too, had issues when publishing when this was still in the requirement.txt file. Wrote something about it [here](http://r-vm.com/python-on-azure-functions), where I was struggling as well.

Maybe someone can explain why it is setup like this and not just a normal reference as Jeff says here as well?

[2018-08-07 17:41] asavaritayal commented on #168
https://github.com/Azure/azure-functions-host/issues/3229

[2018-08-07 17:49] asavaritayal commented on #166
- Update CI to test for Python 3.7
- Updated underlying Docker image

[2018-08-07 20:08] asavaritayal commented on #164
@rvanmaanen thanks for blogging about this! Just ran through your post and most of the rough edges you ran into earlier should now be fixed. Let us know about your experience when you give it a shot next. Happy to connect further on any feedback and recommendations you might have :)

PS Python on v2 is not yet officially supported hence it's not mentioned on the docs. We're treating the feature as

[2018-08-07 22:00] #169 closed

[2018-08-07 23:54] priyaananthasankar commented on #143
Agree with @kapilt . I just used those to retrieve app settings. This is line with how we get app settings using C# interfaces as well that is idiomatic to C#.

[2018-08-08 00:04] priyaananthasankar opened #175 "Published app in Azure fails "Exception: ModuleNotFoundError: No module named 'nltk'""
Followed instructions to deploy Python functions on Linux Consumption Plan. Function uses NLTK, Spacy, Azure Storage Blob SDK, Azure Cosmos DB Python SDK etc to clean some data from documents.

Works fine locally. Publish does not show any errors - in fact NLTK wheel does get built and packaged as seen from logs

Saved /private/var/folders/8_/8m4c263132g8fwq0ql816zkw0000gn/T/azureworkerxahkly1z/mu

[2018-08-08 00:11] priyaananthasankar opened #176 "bdist_wheel is not found unless explicitly pip installed wheel"
Attached is requirements.txt file.

Steps to repro:

1) Create a fresh virtual environment and 'func new' a new app, can be a simple http trigger
2) Add the attached requirements.txt file.
3) Publish to Linux consumption plan app

Can notice in the publish logs that **bdist_wheel is not found.** Subsequently all the wheel installations failed.
[requirements.txt](https://github.com/Azure/azure-func

[2018-08-08 00:35] asavaritayal commented on #176
@elprans should we modify [packapp.py](https://github.com/Azure/azure-functions-core-tools/blob/master/tools/python/packapp.py) to always do a `pip install wheel` before installing other packages?

[2018-08-08 00:36] asavaritayal commented on #175
+1 I am experiencing the exact same issue with `nltk`. This seems odd as `nltk` does support manylinux wheels on PyPI.

[2018-08-08 00:45] asavaritayal commented on #169
Thanks Elvis!

[2018-08-08 02:46] elprans commented on #176
Yes, it should be a cli dependency. /cc @ahmelsayed

[2018-08-08 05:27] asavaritayal commented on #176
Got it. Can you please make a PR to the core tools repo?

[2018-08-08 06:13] ahmelsayed commented on #176
That’s right, I used to install it to get things to work, but wasn’t sure why. Then it started working without it, so I removed it. I’ll add it back. what is that package and why is it needed if it’s not a dependency of the 2 function packages?

[2018-08-08 12:58] elprans commented on #176
Packapp needs it to produce wheels for pure Python packages. Since packapp is part of core-tools, the dependency should be installed there, similarly to distlib.

[2018-08-08 19:06] #176 closed

[2018-08-08 19:07] ahmelsayed commented on #176
thanks @elprans

[2018-08-08 23:18] asavaritayal commented on #175
@elprans can you please investigate this?

[2018-08-08 23:44] elprans commented on #175
@asavaritayal, @ahmelsayed: https://github.com/Azure/azure-functions-core-tools/pull/622

[2018-08-08 23:48] #175 closed

[2018-08-09 02:56] #133 closed

[2018-08-09 06:12] asavaritayal opened #178 "Add template for Service Bus"
https://github.com/Azure/azure-functions-templates/issues/646

Last template of the lot :)

[2018-08-09 19:16] priyaananthasankar commented on #165
Great idea - Lambda provides a seamless experience with Flask today. Wrapping it with Nginx or a WSGI compliant server gives good performance.

[2018-08-09 20:24] asavaritayal commented on #166
Thanks @priyaananthasankar .

Posting the highlights here from standup:
1. Changes that @elprans made yesterday make the language worker agnostic of whether the user is on `3.6` or `3.7`. These changes will go out with the next release.
2. Additional work item required is to update the docker image to use 3.7 instead.

We'll hold back on #2 until `python3.7` is more stable.

[2018-08-09 20:34] asavaritayal opened #179 "Update shpinx docs"
Update [developer guide](https://pythondeveloperguide.azurewebsites.net/) to reflect:

- Info and examples for Event Hubs, Event Grid, Service Bus Queue and Service Bus Topics
- Example of logging (different levels e.g. info, warning and pointer to the logging module docs)

- Information about how to use bindings ([Java example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-refe

[2018-08-15 14:20] pragnagopa opened #181 "Add language worker consolelog key for system logs"
Console logs from language worker now need to be appended with
https://github.com/Azure/azure-functions-host/blob/a5a9b0d79a17670ba8e5b4a6f019637aaf1bfa42/src/WebJobs.Script/Rpc/LanguageWorkerConstants.cs#L37
To show up in functions Runtime systemlogs

[2018-08-15 14:40] elprans commented on #181
@pragnagopa Where do I put this?  `RpcLog.category`?

[2018-08-15 14:44] pragnagopa commented on #181
RpcLog is for user logs from function code. This issue is specifically for any logs
Written to stderr stdout streams from python worker

[2018-08-15 14:57] elprans commented on #181
Sorry, I don't understand.  Do you mean stderr/stdout redirection from the function code?

[2018-08-16 21:55] elprans commented on #181
@pragnagopa I need some clarification here. The worker is already doing all its logging through the  RpcLog proto, including the worker errors, there is no stdout logging.

[2018-08-16 22:05] pragnagopa commented on #181
no action item here if you are not python worker is not writing to console log using something like 'print'
This item is specifically for writing to stdout/stderr from the language worker before grpc channel is established.

[2018-08-18 09:11] asavaritayal commented on #161
Closing as this is now resolved. Thanks @elprans .

[2018-08-18 09:11] #161 closed

[2018-08-18 17:12] asavaritayal opened #182 "Provide Travis script for deployment"
If the function app requires a package that does not offer manylinux wheels on PyPI, the user should be able to sign up for a Linux based CI system (such as Travis) to build their final deployment package.

We need to recommend an example script for this purpose.

[2018-08-19 00:12] asavaritayal commented on #182
[code]

[2018-08-19 03:58] asavaritayal commented on #182
@ahmelsayed can you please review the logic above? Let me know if I missed anything and/or if there is room for optimization.

[2018-08-20 05:57] asavaritayal opened #183 "Core tools error on build failures"
Currently, the messaging around failed wheels is pretty confusing. Just because Functions can build the wheel doesn't mean it won't still outright reject your dependencies. For example -
[code]

Given the above output, it is unclear which packages failed to load.

### Proposed solution

It would help to have a final summary that explains:

1. Exactly which packages failed to load
2. Why each of th

[2018-08-20 20:18] zivraf opened #184 "CosmosDB extension - failed to install"
Failed to install the CosmosDB extension for Python 3.6.6 running Windows10
(I managed to repo this on two seperate machines)

(env) PS <C:\Users\zivr\OneDrive - Microsoft\LocalGit\Functions-Python\ServerlessAzureMgmt>> func extensions install --package Microsoft.Azure.WebJobs.Extensions.CosmosDB --version 3.0.0-beta7
Please specify one package reference to add.
Usage: dotnet add <PROJECT> package

[2018-08-20 21:22] ahmelsayed commented on #182
The script looks good to me overall. [`/home/site/wwwroot/worker_venv`](https://github.com/Azure/azure-functions-docker/blob/3f97e15c921750b50dbe9fdc7fa8383c576eb841/host/2.0/stretch/amd64/python3.6/start.sh#L14-L18) is the right location for a custom venv.

 One comment, change the image from `docker pull microsoft/azure-functions-python3.6` to `docker pull mcr.microsoft.com/azure-functions/pytho

[2018-08-20 22:20] asavaritayal commented on #182
Awesome, thanks for reviewing! I just updated the script with respect to your comments above. Will go ahead and include this in the docs.

[2018-08-21 16:01] asavaritayal opened #185 "PyYAML==3.13 failed to install"
If the `requirements.txt` contains `PyYAML==3.13`, the following error is received when publishing the function app -

[code]

The wheel error is odd since it seems that PyYAML indeed does offer wheel packages for version 3.13. See here - https://github.com/yaml/pyyaml/issues/49

[2018-08-21 16:01] asavaritayal commented on #185
@elprans can you please investigate this?

[2018-08-21 18:51] elprans commented on #185
@asavaritayal It only offers wheels for Windows, but not for Linux, which is a target platform.

[2018-08-21 20:27] asavaritayal commented on #185
Thanks for confirming! @elprans so in the future I can check myself, is there a way to determine from PyPI whether a package offers linux wheels or not?

[2018-08-21 20:30] asavaritayal commented on #185
Ah, never mind. I figured it out. Thanks :)

[2018-08-21 20:30] #185 closed

[2018-08-23 16:31] asavaritayal commented on #184
@zivraf can you share your `function.json` file?

What happens when you run `func extensions install` ?

/cc @soninaren

[2018-08-23 16:32] asavaritayal commented on #184
This issue was moved to Azure/azure-functions-host#3312

[2018-08-23 16:32] #184 closed

[2018-08-23 16:35] asavaritayal commented on #167
Closing as this is now done in VS Code.

[2018-08-23 16:35] #167 closed

[2018-08-23 18:00] asavaritayal commented on #178
Done and merged.

[2018-08-23 18:00] #178 closed

[2018-08-29 16:34] asavaritayal commented on #183
Additionally, when this error is thrown - 'binary dependencies without wheels are not supported`

Can we put a note about using `--build-native-deps` flag? This is the docker based build for dependencies that dont support wheels.

/cc @elprans @ahmedelsayed

[2018-08-29 20:27] asavaritayal commented on #183
This issue was moved to Azure/azure-functions-core-tools#671

[2018-08-29 20:27] #183 closed

[2018-08-30 09:15] asavaritayal opened #189 "entryPoint is not configurable"
I changed `entryPoint` in `function.json` to `main2` but the worker/runtime was still looking for `main`.

[code]

[code]

Error -

[code]

[2018-08-31 16:58] #189 closed

[2018-08-31 20:45] elprans commented on #181
@pragnagopa Should _every_ output line be prefixed with `LanguageWorkerConsoleLogPrefix`?  The only output the worker may generate outside of the normal grpc comm is if there is an exception in the initial startup, which will be a multiline Python exception message.

[2018-08-31 21:12] elprans commented on #181
@pragnagopa I opened https://github.com/Azure/azure-functions-host/pull/3369 to allow simplifying things and to obviate the need to ship a separate python file to launch the language worker.

[2018-09-08 00:37] asavaritayal opened #192 "Writing multiple messages to a single queue"
I tried the following function -

[code]

[code]

Received the error below -
[code]

I thought we were supporting multiple outputs via a tuple. Any idea what's wrong? @1st1 @elprans

[2018-09-11 19:42] Tealons opened #194 "Visual Studio en VSTS support?"
We have a solution which contains a C# Functions project and we also have several Azure Functions which are written in python. Is it or will it be possible to add a python based function project to my solution? We would prefer this to ensure that all code changes are tracked with version control in one solution.

Also, we want to use this to enable continuous integration scenarios. I did not check

[2018-09-11 22:26] pragnagopa commented on #181
Any logs, that need to show up in system logs, should append LanguageWorkerConsoleLogPrefix
For example, logs that indicate
-  python worker started
- Initialization completed after loading the functions
will help us during a CRI investigation.
@elvis - Can you please create a test app in azure and verify few error cases like throwing an unhandled exception from function code. I can verify the log

[2018-09-11 23:29] asavaritayal commented on #194
@Tealons Are you using Functions v1 or v2?

[2018-09-12 06:02] Tealons commented on #194
@asavaritayal I'm using v2. After some extra research it looks like I picked the wrong version? Any idea when support for Visual Studio will be implemented for v2?

[2018-09-12 13:00] JimXu199545 opened #195 "Can we use the consumption (serverless) plan to publish Phython Function?"
I want to know whether we can use use the consumption (serverless) plan to publish Phython Function?

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0-beta):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

[2018-09-13 20:01] priyaananthasankar opened #196 "Publish Azure Function App fails on 2.0.1-beta.38"
Attached requirements.txt. Noticed the following error.

There was an error restoring dependencies.ERROR: ['pip', 'download', '-r', '/Users/prananth/Projects/FunctioningPython/Gutenberg/TrainBook/requirements.txt', '--dest', '/var/folders/8_/8m4c263132g8fwq0ql816zkw0000gn/T/azureworker9pk49gcc'] failed with exit code 1

[requirements.txt](https://github.com/Azure/azure-functions-python-worker/file

[2018-09-13 20:04] asavaritayal commented on #196
@elprans can you please investigate this issue?

[2018-09-13 20:14] elprans commented on #196
Your `requirements.txt` contains a package which is not on PyPI:

[code]

[2018-09-13 20:17] priyaananthasankar commented on #196
Great! Is there a way to find out which don't exist on PyPI? Removed en-core-web-sm and it still fails. Also it would be great if a better error message gets thrown out.

[2018-09-13 20:34] elprans commented on #196
@ahmelsayed Is there a CLI mode which runs `packapp` with `--verbose`?

@priyaananthasankar There are multiple reasons why dependency resolution might fail.  Making extra requests to pypi is not necessary, we just need to show better diagnostics.

[2018-09-13 20:39] priyaananthasankar commented on #196
Removed en-core-web-sm. Checked if all other packages are in PyPI. Still fails.

[2018-09-13 20:49] elprans commented on #196
@priyaananthasankar

[2018-09-13 20:57] priyaananthasankar commented on #196
So sending requests to PyPI doesn't ensure there are wheels. It gave me 200 ok for wrapt. Removed wrapt and still received the same error.

[2018-09-13 21:16] asavaritayal commented on #196
@priyaananthasankar what's the error you're receiving now?

[2018-09-13 21:16] priyaananthasankar commented on #196
There was an error restoring dependencies.ERROR: ['pip', 'download', '-r', '/Users/prananth/Projects/FunctioningPython/Gutenberg/TrainBook/requirements.txt', '--dest', '/var/folders/8_/8m4c263132g8fwq0ql816zkw0000gn/T/azureworker9pk49gcc'] failed with exit code

[2018-09-13 22:50] priyaananthasankar commented on #196
Tried deploying with --build-native-deps: Fails. Works fine locally!

Command "/home/site/wwwroot/worker_venv/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-k96eir8q/spacy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-pnz5q8lu-record/install-record.txt --si

[2018-09-13 23:16] asavaritayal opened #197 "Error on installing dependencies"
I get the following error on publishing an app with the following dependencies -

[code]

Here is my requirements.txt :

[code]

Everything works locally so not sure what the issue is.

[2018-09-13 23:17] asavaritayal commented on #197
@elprans this looks similar to the issue @priyaananthasankar was facing. Any idea what the issue is?

[2018-09-13 23:28] priyaananthasankar commented on #196
Using azure-storage is causing issues, check out this link talking about cryptography library - https://github.com/Azure/azure-storage-python/issues/219

[2018-09-13 23:37] asavaritayal commented on #197
This issue was moved to Azure/azure-functions-core-tools#718

[2018-09-13 23:37] #197 closed

[2018-09-13 23:37] asavaritayal commented on #196
This issue was moved to Azure/azure-functions-core-tools#719

[2018-09-13 23:37] #196 closed

[2018-09-14 16:44] asavaritayal commented on #194
Functions v2 is already supported in Visual Studio. Here are some pointers for reference:
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio

[2018-09-14 16:44] #194 closed

[2018-09-15 06:19] eduardomourar opened #198 "Route path parameters cannot be retrieved easily"
#### Investigative information

Please provide the following:

- Timestamp: 2018-09-15
- Function App version (1.0 or 2.0-beta): 2.0-beta
- Function App name: Local
- Function name(s) (as appropriate): test-list
- Invocation ID: Local
- Region: Local

#### Repro steps

1. Create sample function based on source code below
2. Hit api `/api/list/product_a?validate=true`

#### Expected behavior

I exp

[2018-09-18 14:30] asavaritayal commented on #66
Resurrecting this thread per discussion with @anthonychu.

Is it possible that while we support rich types for first class bindings such as HTTP, Blob, Event Grid, etc. , we still allow users to bring their own binding (per our extensibility model) and use it as a basic data type object in their function code? We've got a few new bindings spring up lately - Signal R, Event Hubs, etc. and it seems

[2018-09-19 11:40] cfloressuazo opened #199 "Missing code for publishing functions to Azure Function App"
In this link: https://github.com/Azure/azure-functions-python-worker/wiki/Create-Function-(CLI), available in the README.me file, the title says "Build and publish using the Functions Core Tools", but in the link for the WIKI you only have the code up to running the function locally and not publishing it back to Azure.

I think the explanation needs to be added after the local testing and the code

[2018-09-20 06:53] asavaritayal opened #200 "test"
![image](https://user-images.githubusercontent.com/8435148/45800913-31ebf200-bc67-11e8-9e4e-de1e0bb18d69.png)

[2018-09-20 06:53] #200 closed

[2018-09-20 15:15] asavaritayal commented on #199
Thank you for filing an issue about this. The instructions were pulled out temporarily since we discovered a regression in the tools. The wiki is now updated -

- https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function
- https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide

[2018-09-20 15:15] #199 closed

[2018-09-20 15:16] asavaritayal commented on #198
@elprans can you please investigate this?

[2018-09-20 18:38] #198 closed

[2018-09-20 18:38] #192 closed

[2018-09-20 20:35] pragnagopa opened #203 "Add EndToEnd test that includes deploy to Azure"
We need a EndToEnd tests that mimi steps followed by users for creating python functions
- Create and Deploy using CLI with and without docker
- With and without requirements.txt

[2018-09-20 20:35] pragnagopa commented on #203
cc: @asavaritayal

[2018-09-21 21:48] asavaritayal commented on #182
Quick update on this - The `app.zip` gets built as expected but publishing doesn't quite work. Keeping the issue open since this will need some further investigation.

/cc @ahmelsayed @davidebbo

[2018-09-21 23:53] ahmelsayed commented on #182
Here is a travis script that works for my repo https://github.com/ahmelsayed/python-functions

[code]

[2018-09-21 23:56] asavaritayal commented on #203
@pragnagopa can you explain "with and without requirements.txt"? None of our apps will work without the requirements file.

[2018-09-21 23:57] asavaritayal commented on #179
Done - https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide

[2018-09-21 23:57] #179 closed

[2018-09-21 23:57] pragnagopa commented on #203
@asavaritayal - Please go ahead and correct the description. I meant just using default requirements.txt without user adding any additional packages.

[2018-09-21 23:58] asavaritayal commented on #168
@pragnagopa can you please follow up on the App Veyor CI issue next week?

[2018-09-21 23:58] ahmelsayed commented on #182
node is only needed for npm. Unfortunately travis uses Ubuntu 14.04, which we don't have an APT repo for. I tried with the 18.04 repo, but it's not working for some reason, and I didn't investigate it.

Alternatively we could just have

[code]

then use that cli, but you'll have to keep updating your build script with the exact version (2.0.3 above).

[2018-09-22 00:02] pragnagopa commented on #168
@elprans - Is it still an issue? There were bunch of changes that went to the latest runtime. CosomosDB extensions had few fixes as well. If the issue still reproes, I will look into https://github.com/Azure/azure-functions-host/issues/3229

[2018-09-22 01:42] elprans commented on #168
@pragnagopa It appears we're OK now: https://ci.appveyor.com/project/appsvc/azure-functions-python-worker/build/job/i9wbryd2jni2sev8

[2018-09-22 02:10] #168 closed

[2018-09-22 17:48] asavaritayal commented on #182
Thanks @ahmelsayed. I prefer the node version since the user doesn't have to constantly watch for new releases and manually upgrade the version each time. We can wait for feedback to see if the node aspect is problematic.

I've documented the script here as part of the docs - https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide#deploy-to-azure-using-travis-ci

[2018-09-22 17:48] #182 closed

[2018-09-22 17:55] asavaritayal opened #205 "Release required - 1.0.0a6"
https://github.com/Azure/azure-functions-python-worker/compare/master...dev?expand=1

@elprans
- Do a PyPI release from the master branch (1.0.0a5 to 1.0.0a6)
- Add release notes

@maiqbal11
- Core Tools release to pin `azure-functions==1.0.0a6` and `azure-functions-worker==1.0.0a6`

[2018-09-22 18:32] asavaritayal commented on #182
@priyaananthasankar @nzthiago  FYI this might be useful for the open hack.

[2018-09-24 16:06] pragnagopa commented on #205
When do we need this? post ignite?

[2018-09-24 16:12] ahmelsayed commented on #182
Also you don't really need the `az account get-access-token --query "accessToken" |` part because the core-tools should call that by default if you don't pass it one. I just tried it and it works

[2018-09-24 20:43] eduardomourar commented on #165
I have been working on similar approach to this library (https://pypi.org/project/lambdarest) for Azure Functions that is WSGI compliant.

[2018-09-25 09:11] benc-uk opened #206 "Host doesn't start on WSL due to Google.Protobuf error"
#### Summary
Starting the functions host with a Python runtime on Windows Subsystem for Linux causes error and host stops

#### Investigative information

- Timestamp: 25/09/2018
- Function App name: "Local function"
- Function name(s) (as appropriate): *HttpTriggerPython*
- Runtime: 2.0.12115.0

#### Repro steps

1. Install Azure Functions Core Tools v2.0.3
1. Use WSL Bash (with Python 3.6.6 inst

[2018-09-25 09:14] benc-uk commented on #143
The current approach is also in-step with Node.js Functions too, it's clean and platform/framework independent
It's also the same in App Service Web Apps

[2018-09-25 22:11] asavaritayal commented on #205
When is the next v2 / core tools release? Can you align it with that release?

[2018-09-25 22:47] pragnagopa commented on #205
cc : @maiqbal11

No ETA yet. But we will plan a release soon.

[2018-09-26 05:25] priyaananthasankar opened #207 "Deploying through VS Code shows Warmup api"
Linux Consumption Plan preview.

Created a simple HTTP trigger and deployed into azure function app through VS Code. It worked fine.
Added another HTTP trigger method that used Cosmos DB extension and redeployed to the same function app through VS Code. These were the output logs:

10:13:41 PM Honeydukes: Starting deployment...
10:13:42 PM Honeydukes: Uploading zip package to storage container...

[2018-09-26 05:54] priyaananthasankar opened #208 "Deployment through VS Code must do pip freeze from virtual environment"
Azure Functions Extensions in VS Code must auto pip freeze and deploy from virtual environment settings. While debugging etc it is able to run from virtual environment, but while deploy it isnt able to pip freeze and deploy - doing this will provide a seamless developer experience from core tools.

[2018-09-26 21:44] priyaananthasankar opened #209 "Zip deploy from VS Code does not reflect all the Http Trigger URL's"
Created 2 HTTP Triggers:
CreateRating
GetProduct.

Deployed successfully through VS Code.

Created another 2 triggers:
GetRatings
GetRating.

Redeployed. It shows only the previous two in the logs, but in Azure all four are deployed successfully. Basically it doesn't reflect the zip deployment contents accurately.

HTTP Trigger Urls:
  CreateRating: https://hogsmeade.azurewebsites.net/api/CreateRa

[2018-09-27 02:31] logachev opened #210 "Python function returns error 500 with empty body response"
If I create a regular HttpTriggered Python function, it behaves differently if the body response is present or absent.

This works via test in the portal or locally, but returns error 500 via postman
[code]

This works as expected:
[code]

[2018-09-27 21:28] asavaritayal commented on #208
@priyaananthasankar we made an intentional decision to not automatically pip freeze the dependencies since it ignores the edge cases for e.g. when a package is installed from a git link instead of PyPI. Instead, the guidance is is to add the required package to `requirements.txt` and then run `pip install -r requirements.txt` if you want to test locally.

+ @elprans who had more opinions on this :

[2018-09-27 21:31] elprans commented on #210
I cannot reproduce on a simple test (624aeb2e9).  @logachev please post your `function.json`, function source and any available logs.

[2018-09-27 21:31] elprans commented on #210
Please also post the source of the request you are making.

[2018-09-27 22:08] asavaritayal commented on #207
This issue was moved to Microsoft/vscode-azurefunctions#668

[2018-09-27 22:08] #207 closed

[2018-09-27 22:08] asavaritayal commented on #207
This issue was moved to Microsoft/vscode-azurefunctions#669

[2018-09-27 22:13] asavaritayal commented on #206
@elprans can you please look into this issue?

[2018-09-27 23:12] EricJizbaMSFT commented on #209
Looks like you were deploying to a Linux Consumption plan? We fixed an issue around that, but haven't released the fix yet. See https://github.com/Microsoft/vscode-azurefunctions/issues/657 for more info (The change was to sync triggers after deploying).

I'm not sure how the core tools handles deploying to linux consumption. Maybe they already sync the triggers? The linux consumption deployment t

[2018-09-27 23:59] elprans commented on #210
If it doesn't reproduce locally, it's unlikely to be a worker issue.  Do you have access to the logs?  @pragnagopa can you assist debugging this please?

[2018-09-28 05:19] logachev commented on #210
This is what I see in Worker logs (via kudu), it has a lot of records similar to this one with no details:
I don't see anything in Host or Function logs.

[code]

[2018-09-28 15:33] pragnagopa commented on #66
cc: @maiqbal11 @paulbatum

[2018-09-28 17:19] pragnagopa opened #211 "función en azure, no me muestra el lenguaje python. No permite instalar librerias en el servidor"
_From @Dennis0095 on September 27, 2018 16:31_

Buen día, he creado una función en azure con javascript, ya que no me permite crearlo .
No me permite realizar solicitudes con el REQUEST. Luego, intento instalarlo, pero no se puede
porque no tengo permisos para acceder al servidor.""

Alguien que le haya pasado lo mismo,? Alguien saber si una cuenta free de esos ciertos liits+

_Copied from origina

[2018-09-28 17:19] pragnagopa commented on #211
Translated to english:

 function in azure, it does not show me the python language. It does not allow to install libraries on the server

Good day, I created a function in azure with javascript, since it does not allow me to create it.
It does not allow me to make requests with the REQUEST. Then, I try to install it, but you can not
because I do not have permission to access the server. "

Someon

[2018-09-28 17:19] pragnagopa commented on #211
@asavaritayal - Any ideas?

[2018-09-28 21:28] paulbatum commented on #141
@pragnagopa is this work item still relevant?

[2018-09-28 21:39] asavaritayal commented on #209
@EricJizbaMSFT got it - thanks for clarifying. Do you have an estimate for when the next release is going to be? So we can give it another try then.

[2018-09-28 22:07] elprans commented on #141
@pragnagopa Can you describe the staging/production scenario please?

[2018-09-28 22:16] pragnagopa commented on #141
Functions V2 is GA, but language worker extensibility model is still in preview. If there are breaking changes in RPC layer, we need to be able to test end to end with staged packages in PyPI before moving them to production

[2018-09-28 22:35] pragnagopa commented on #141
Ahh !  Right.
- For production, adding a release tag should push to pypi
- For staging, can we make this publish step manual? Build should produce artifacts on every commit to the master but publishing to test.pypi is a manual action via Deploy

[2018-09-29 09:28] benc-uk commented on #206
Yes, just tried it with JavaScript `func init --worker-runtime javascript` and get the same error.
This must be very new, only a couple of weeks ago I was testing JavaScript functions on WSL and fixing some issues with the Core Tools CLI, so didn't even think to try it

Definitely seems to be a host problem

[2018-09-29 13:12] benc-uk commented on #206
I've raised this on the azure-functions-host repo https://github.com/Azure/azure-functions-host/issues/3537

[2018-10-01 11:05] ErlendFax opened #212 "When I create the function app I get: No module named '_cffi_backend'"
I followed the instructions on how to make a HttpTrigger with python, however, when I run:
`az functionapp createpreviewapp -n myFunc -g myRg -l "westeurope" -s myStorageAcc79245 --runtime python --is-linux`
I get this in return:

Looks like it uses my python 3.7 version? What causes this? Thank you!

[2018-10-01 11:34] ErlendFax commented on #212
lol, solved by: pip install cffi on python 3.7

[2018-10-01 11:34] #212 closed

[2018-10-01 14:15] pragnagopa commented on #210
@maiqbal11 - Please update the issue when you have more info.

[2018-10-01 20:55] priyaananthasankar opened #213 "Cannot load a pre trained Keras h5 model inside Python functions"
Inferencing from a Keras model seems impossible with this issue:

Keras has an api called load_model which loads a pre-trained model from disk. It does not support loading this from a blob or file storage. It can load this from a mounted disk.

Azure functions on Python must provide a facility to be able to load model files from mounted storage.

Ideally ML libraries must support loading models fr

[2018-10-01 21:12] priyaananthasankar commented on #211
Make sure you have the right function core tools. It happened to me as well (showed only C# and javascript) because my core tools library was pointing to an older one (older func core tools without python). Download latest azure func core tools in the instructions (which is in private preview) and it should show Python. Make sure when you type "func" its picking the right executable.

[2018-10-01 21:17] priyaananthasankar commented on #209
@asavaritayal  Haven't seen this with core tools.

[2018-10-01 22:37] asavaritayal commented on #209
Got it, thanks.

[2018-10-01 22:38] asavaritayal commented on #209
This issue was moved to Microsoft/vscode-azurefunctions#677

[2018-10-01 22:38] #209 closed

[2018-10-02 08:35] ErlendFax opened #214 ""func azure functionapp publish" gives error code 400"
I have followed every in the tutorial, but when I run `func azure functionapp publish myApp`, it returns:
`Response status code does not indicate success: 400 (Bad Request).`

What does this mean? How can I debug this error? Anyone else experiencing this?

EDIT:

Found out I can add `CLI_DEBUG=1` which gave me:

EDIT 2:

I tried pushing an that does not exist, `func azure functionapp publish myBSA

[2018-10-02 16:07] asavaritayal commented on #214
@ErlendFax Are you able to view the Function App in the Azure portal? If so, can you please share the app name?

/cc @ahmelsayed

[2018-10-02 16:13] ErlendFax commented on #214
Yes, I can see it. However, I can not enter/use Kudu, among a few other features under the Platform features in Portal.  Name: erlendapp

[2018-10-02 21:57] asavaritayal commented on #205
As discussed in the sync, we'll be doing a PyPI release this week.  /cc @maiqbal11 @paulbatum

[2018-10-02 22:08] priyaananthasankar commented on #213
Works when I did this:
model = load_model(os.path.join(os.getcwd(),"FUNC_APP_NAME","keras-gear.h5"))

But the model is now part of the function app and is uploaded along with function app.
As an alternative, tried the "Bring your own storage" option:

https://blogs.msdn.microsoft.com/appserviceteam/2018/09/24/announcing-bring-your-own-storage-to-app-service/

Did not work after mounting "models" f

[2018-10-03 01:39] asavaritayal opened #215 "VSTS build script for deployment to linux preview offering"

[2018-10-03 01:47] asavaritayal opened #216 "Support run-from-package on linux dedicated"
Currently, deployment time on Linux is huge due to the extended file system latency on Kudu. This especially affects Python due to the large number of files in the virtual environment. To reduce the deployment time, we need to support zip-deploy or run from zip for Functions on Linux Dedicated.

[2018-10-03 02:08] asavaritayal commented on #66
Open to comments on this but I think we should keep the function signature consistent for the end user regardless of whether the binding is of a "basic" or "rich" type.

For e.g.

if `req` is of type `azure.functions.HttpRequest` type but `msg` is of type `str`

[code]

[2018-10-03 02:30] asavaritayal commented on #214
This issue was moved to Azure/azure-functions-core-tools#778

[2018-10-03 02:30] #214 closed

[2018-10-03 02:31] elprans commented on #66
My point is that I think we shouldn't make it look like a regular binding.  Perhaps an explicit `func.RawData` type would be better, with a big fat warning to use it at own risk.

[2018-10-03 02:37] asavaritayal commented on #213
model = load_model(os.path.join(os.getcwd(),"FUNC_APP_NAME","keras-gear.h5"))

Good to know that this worked.

I don't think we have the ability to mount an external storage to the container today. Keeping the issue open, to gauge traction. /cc @davidebbo @ahmelsayed

[2018-10-03 02:40] asavaritayal commented on #211
Closing the issue due to inactivity from the creator. Please feel free to re-open the issue with information on how to reproduce the error.

[2018-10-03 02:40] #211 closed

[2018-10-03 02:50] 1st1 commented on #66
+1.

[2018-10-03 04:12] priyaananthasankar commented on #213
Serverless Python is mostly seen as an inferencing compute target for ML scenarios among the ML python community. This means it should load models that are stored in blob storage. Currently using Docker/Kubernetes, the model is explicitly downloaded from Blob storage into local disk path and ML libraries load models from local disk path.

While ML Libraries need to catch up and load models from Az

[2018-10-03 17:05] elprans commented on #205
Done: https://github.com/Azure/azure-functions-python-worker/releases/tag/1.0.0a6, https://pypi.org/project/azure-functions-worker/1.0.0a6/

[2018-10-03 17:07] pragnagopa commented on #205
Thanks @elprans . I have tagged the release as "Pre-Release" in the release notes.

[2018-10-04 07:07] asavaritayal commented on #205
Re-opening and assigning to @maiqbal11 for the core-tools update.

[2018-10-04 14:34] carltongibson commented on #165
This would be a version of the HTTP trigger and output.

If you could set the WSGI application as the script entry point, get given a WSGI request and automatically have the response handled as an HTTP output then you could use Flask/Django/... web framework.

[2018-10-04 14:40] nzthiago commented on #213
@asavaritayal  - the “Bring Your Own Storage” feature in that blog announcement from the team mentions it's for "App Service on Linux and Web App for Containers". Wouldn't it work for Functions in App Service Plans for now? I suspect Consumption plan would be a different story to implement...

[2018-10-06 21:59] tjhgit opened #217 "Error: Object reference not set to an instance of an object."
I followed the steps of https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function exactly.

The only thing I did differently is to use for the following command: " az functionapp createpreviewapp ..." not the location but the -plan (Here I used a basic app plan). The location parameter let to a 500 HTTP error.

So I get the HTTP function app running on azure BUT

[2018-10-07 00:35] asavaritayal commented on #143
The current experience is in line with the standard Python approach for env variables. Closing the issue since we have don't have enough feedback to enforce the need for a different experience.

[2018-10-07 00:35] #143 closed

[2018-10-07 14:44] tjhgit commented on #217
The azure function app is called: "hme1salesfc2".

The error is as described above:

Error:

Function (HttpTriggerPython) Error: Object reference not set to an instance of an object.
Session Id: f860b3f01bab4f70b4fe922d6ddd0f08

Timestamp: 2018-10-07T14:43:37.470Z

[2018-10-08 15:45] maiqbal11 opened #218 "Typo in Python Wiki"
Method | Description
-- | --
logging.critical(message) | Writes a message with level CRITICAL on the root logger.
logging.error(message) | Writes a message with level ERROR on the root logger.
logging.warning(message) | Writes a message with level WARNING on the root logger.
logging.info(message) | Writes a message with level INFO on the root logger.
logging.debug(message) | Writes a message with

[2018-10-08 15:46] maiqbal11 commented on #218
@asavaritayal could you make the change?

[2018-10-08 23:22] wbreza opened #219 "Error importing Shared Code into Python function"
Hack required to import Shared Code modules into Python functions

#### Investigative information

#### Repro steps

1. Create a folder `SharedCode` adjacent to your function folders
2. Added a python module into the `SharedCode` folder
3. Attempt to import your `SharedCode` modules into existing Python Azure Function
4. Run your Python Azure Function

#### Expected behavior

Module should be avai

[2018-10-09 02:04] elprans commented on #219
You don't need any hacks.  Import adjacent modules using the relative import syntax:

[code]

@asavaritayal Perhaps we should document this in a conspicuous fashion, since this is not the first time this issue has come up.

[2018-10-09 03:12] wbreza commented on #219
@elprans Not working for my case.

`from . import SharedCode` results in error `Exception: ImportError: cannot import name 'SharedCode'`

I would like to import a submodule using the following or similar syntax
`from SharedCode import MyTestClass` where `MyTestClass` is a class defined in `module1.py` for example.

Folder structure looks like the following

[code]

[2018-10-09 06:52] asavaritayal commented on #218
Done, thanks for pointing out!

[2018-10-09 06:52] #218 closed

[2018-10-09 19:09] tbarlow12 commented on #219
@elprans I changed all of our imports to relative imports like you indicated above:
[code]
I get the following error:
[code]
This does not occur when using the hack described above:
[code]

Just for reference, this is running on a clean `virtualenv` with the following dependencies:
[code]

[2018-10-10 23:30] wbreza commented on #219
@elprans - Thanks - this does work but based on Python best practices that I have read relative imports are frowned upon.  Some pros/cons and discussion @ https://realpython.com/absolute-vs-relative-python-imports/

I am not a python expert myself but in refactoring our project to support relative import it caused many downstream issue with how pytest and other modules are invoked.

Any idea how t

[2018-10-10 23:59] bala16 commented on #217
@tjhgit Is there a specific reason to use linux function app on dedicated app service plan or were you intending to use consumption linux app?

If either works for you can you try the consumption linux app using the instructions from https://functionscdn.azureedge.net/public/docs/linux-consumption-preview.html
( when creating the functionapp using az cli skip the plan and specify a region (East US

[2018-10-11 00:00] elprans commented on #219
@wbreza If you have a lot of shared code, the best approach would be to put it into a standalone pip-installable package and add that as a dependency of your function app.  This way you would be able to perform absolute imports.

[2018-10-11 04:49] priyaananthasankar commented on #219
@asavaritayal is there a plan to record these best practice recommendations in developer guide?

[2018-10-11 05:27] priyaananthasankar opened #221 "Functions hangs when trying to read stream from URL"
This issue happens on my Mac locally. I am unable to isolate the cause.
Attached is the zip file of my function, it inferences Tensorflow InceptionV3 model

Added sample code in __init__.py to read from img url (followed predict shark example) but when running the function, it hangs - breakpoint revealed it hangs while trying to do urllib read:

[code]

Unzip the attached file and just create a vi

[2018-10-11 15:31] wbreza commented on #219
@elprans  - Take your point, but keep in mind not all consumers of this will be able to push their IP to pypi unless they could host it privately.  We may unfortunately actually just stick with our path workaround mentioned above.

[2018-10-11 16:02] elprans commented on #219
@wbreza We can add support for building dependencies from local sources when publishing.  Pushing to PyPI should not be necessary, all you'll need to do is put a path in `requirements.txt`:

[code]

or, if you have pre-built wheels:

[code]

We chose against adding the function app folder to `sys.path` because the module namespace in Python is flat, so if you name your function `numpy`, you wouldn

[2018-10-11 18:12] priyaananthasankar commented on #221
Identified issue as being 403 forbidden when trying to read an image url without proper headers. I identified this by trying this out with Python shell which clearly tells me 403 forbidden, but python functions just hangs. Here is a snippet of code to try out:
**Scenario 1**

[code]
Now remove the user_agent header in the line in bold above and function hangs.

**Scenario 2**

Try to read a file w

[2018-10-12 16:38] pragnagopa opened #222 "Update CI to use latest CLI from storage account"
CLI builds that include the latest functions runtime  are available on

[code]

where platform in `linux-x64, osx-x64, win-x64, win-x86`

You can also get the version from

[code]

Update CI to use latest CLI. This will eliminate the need to send PRs for every runtime release.

[2018-10-12 16:38] pragnagopa commented on #222
cc: @asavaritayal @maiqbal11

[2018-10-12 17:01] elprans commented on #222
I'm on the fence about this. Pinning the dependency version explicitly gives certain consistency across the development environments and the CI.  If we always test against the latest it might be harder to pinpoint the breakages.

[2018-10-12 17:03] pragnagopa commented on #222
Unfortunately, the current process we have is too late to catch any regressions in the Functions Host.  Nightly scheduled CI runs with the latest host would help. Your thoughts?

[2018-10-12 17:58] pragnagopa commented on #222
CLI is uploaded to storage only for a release. This is a not a daily upload from the dev branch. Using this feed will gives us a heads up on any regressions before the host release.

[2018-10-12 17:58] soninaren commented on #222
@elprans , The latest bits has a corresponding version that you can find at `https://functionsclibuilds.blob.core.windows.net/builds/2/latest/version.txt`. You can always document the CLI version with the test run. That should enable us to pin point breakages

[2018-10-12 18:00] soninaren commented on #222
To clarify, we have 2 places where CLI is uploaded. One for CI tests, which is mentioned in this issue and second place for actual release.

[2018-10-12 21:10] tjhgit commented on #217
@bala16 my azure function is written in python. Does a consumption linux app work then? If yes, why is this better than the dedicated app service plan? Why would the former not lead to errors?

[2018-10-13 00:42] bala16 commented on #217
Yes. Python functions do work on consumption linux app. Refer to the following links to get started
https://functionscdn.azureedge.net/public/docs/linux-consumption-preview.html
https://github.com/Azure/azure-functions-python-worker/wiki

Here is some information on the differences between consumption and app service plans in general - https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2018-10-13 07:56] priyaananthasankar opened #223 "Perf issues - prelim solution for s400 customer"
Email thread

**Logs:**
[PythonFunctionsLogs.zip](https://github.com/Azure/azure-functions-python-worker/files/2475209/PythonFunctionsLogs.zip)

Hi @Ahmed ElSayed and @Asavari Tayal,

Apologies, after Ahmed sent out the local functions question, I realized I need to try load testing local as well. So I found some more interesting observations,

There seems to be two kinds of problems here:

Local

[2018-10-14 15:41] tjhgit commented on #217
Thanks. That works indeed! Is this also available and working in WestEurope?

[2018-10-14 17:45] bala16 commented on #217
Yes. It is available in West Europe. Right now they are running on one core per instance. We can definitely investigate if you notice any issues when running your app.

[2018-10-14 18:53] tjhgit commented on #217
For WestEurope however I get an http error, when issuing this command:
`az functionapp createpreviewapp -n ds1consumptionapp -g DataScienceIS -l "WestEurope" -s ds1consumptionappstorage --runtime python --is-linux`. No problems with WestUS.

`Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/93a43d93-10

[2018-10-14 23:10] bala16 commented on #217
Looks like the resource group already has some apps leading to conflict. Could you try again with a different(new) resource group.

[2018-10-15 16:15] elprans commented on #221
@priyaananthasankar Can you elaborate on what you mean by "function hangs".  The scenarios you listed generate a Python exception, which is propagated to the host as a `Microsoft.Azure.WebJobs.Host.FunctionInvocationException`, and the function execution is terminated.  We have a test for that in the suite:

https://github.com/Azure/azure-functions-python-worker/blob/659c9772c00c39f12dbf6117a698ad

[2018-10-15 19:48] tjhgit commented on #217
@bala16 ok that worked. The error code from python could be more intuitive ...

Now since I am using python packages that are not available as binaries, I tried to use:
func azure functionapp publish someappname --build-native-deps.

However the so deployed apps fails with the following error:

Also it takes quite some time until the azure function gets deployed.

Can I not somehow just use a dock

[2018-10-15 20:27] priyaananthasankar commented on #221
@elprans : No errors are thrown. Last seen log will be "Python HTTP trigger function processed a request" Basically nothing happens. The Postman or CURL will just be executing saying "Loading" etc without any response.

[2018-10-15 21:06] mbrat2005 opened #224 "Local debug with timer trigger on Python V2 Function fails to start listener"
#### Investigative information

Please provide the following:

- Timestamp: 10/15/2018 20:44:40
- Function App name: scom_alerting_test_proj
- Function name(s) (as appropriate): scom_alert_verifier

#### Repro steps

Provide the steps required to reproduce the problem:

1. Follow steps here https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function to create a ne

[2018-10-15 21:12] elprans commented on #221
This is indeed a bug in the worker.  Certain user exceptions crash the worker.  #225 should fix this.

[2018-10-15 22:46] asavaritayal commented on #224
@maiqbal11 can you please investigate this?

[2018-10-15 23:04] maiqbal11 commented on #224
Will do!

[2018-10-15 23:49] asavaritayal commented on #219
Yes, we should add this to the [developer guide](https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide). @elprans can you update the wiki?

[2018-10-15 23:54] asavaritayal commented on #206
@benc-uk noticed that you closed the issue on the host repo? Is the python issue resolved as well?

[2018-10-16 00:29] asavaritayal commented on #66
Summarizing our discussion from today's sync -

We should use the `dataType` property in `function.json` - https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#binding-data-type to determine the data type to expose the contents of a binding in. /cc @paulbatum

[2018-10-16 18:14] bala16 commented on #217
Are you also getting the error when running locally using the Azure Functions core tools? Can you also share the app name? Thanks.

[2018-10-16 18:24] #221 closed

[2018-10-17 22:53] maiqbal11 commented on #205
Core tools updated: https://github.com/Azure/azure-functions-docker/pull/42

[2018-10-17 22:53] #205 closed

[2018-10-18 20:34] tjhgit commented on #217
Actually I switched again to the managed plan and build my own docker container based off
FROM microsoft/azure-functions-base:2.0.12121.

I tested the docker image locally and it runs fine server_dns/api/forecast_func?name=func.

However when deploying the docker image I get the following error once the parallel part of the code starts:

Is concurrent futures not supported?

[2018-10-18 21:11] bala16 commented on #217
@tjhgit Please include app name so we can investigate. Did restarting the site help?

I would still like to understand why consumption plan didn't work for you. If possible could you deploy your app to consumption plan using the instructions above and let us know the app name.. Also verify if you are seeing the same issue when running locally using Azure functions core tools.

[2018-10-19 11:09] benc-uk commented on #206
It's resolved, but I don't know why. Closing

[2018-10-19 11:09] #206 closed

[2018-10-19 22:12] maiqbal11 opened #226 "Logging for Python Language Worker"
@elprans @1st1

Would it be possible to add some logging for when the worker initializes, functions are loaded and function invocations are processed? Currently, we only have logging from the Host which provides basic entry/exit point logging but nothing more granular from the language worker side.

This would be extremely helpful for debugging customer issues which we are now starting to encounte

[2018-10-19 22:13] maiqbal11 commented on #226
/cc @asavaritayal

[2018-10-20 19:11] asavaritayal opened #227 "Durable Functions Support for Python"
New Feature - Looking for votes and/or user input to gauge traction.

[2018-10-21 20:35] AlverezYari commented on #119
This is marked close but I don't see any examples of the eventhub python bindings but its labeled as supported in the docs here: https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide

[2018-10-21 22:18] priyaananthasankar commented on #227
+1 Absolutely needed. Working on a small sample with asyncio to simulate something similar.

[2018-10-22 05:51] yokawasa commented on #227
+1 Yes needed!  Python has many choice of data science libraries and it definitely has long running & stateful scenario!

[2018-10-22 15:45] asavaritayal commented on #217
@tjhgit Both dedicated and consumption use exactly the same underlying docker image. Here's the Dockerfile if you'd like more details - https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/python.Dockerfile. All the drivers required for `pyodbc` are pre-installed in this image. Please let us know if you still run into any issues though!

Thanks.

[2018-10-22 15:45] #217 closed

[2018-10-22 17:01] paulbatum commented on #66
I am struggling with this a little bit because in the case of JavaScript there is no abstraction, and we do not provide any warning. We expect the customer to code against the API surface area that is provided by the binding extension itself. If the binding makes a change to the format of the message, then the user needs to update their code when they update to the new major version of the extensi

[2018-10-22 17:42] asavaritayal commented on #181
@pragnagopa can you clarify if this applies to Rpc logs or the stdout logs? Additionally, do we need the prefix per trace line or each line or each message?

[2018-10-22 17:46] pragnagopa commented on #181
Adding @maiqbal11 - He is looking into what traces we need from python worker

[2018-10-23 21:02] maiqbal11 commented on #181
Hi Elvis,

Just wanted to put down a concrete example of what kinds of logging we've been referring to. Below is a code snippet from *worker.py*. I've added the `print("LanguageWorkerConsoleLog Executing main for worker", flush=True)` line to write to stdout. I had to set `flush=True` when writing this to get the log out to the host process. I see that the existing code `print(traceback.format_exc

[2018-10-23 21:11] elprans commented on #181
@maiqbal11 On POSIX flushing happens on EOL.  We do explicit output buffer flushing because the host doesn't respect that principle (I'm not sure if it's a bug or a feature).

We wouldn't be using stdout for regular logging messages, as those would go through gRPC.

[2018-10-24 06:17] sjwaight opened #228 "Add support for custom routes / URL segment values for HTTP Triggers."
It appears that the current WIP of the HTTP Trigger and Python v2 support doesn't yet allow developers to use custom routes that expose URL segments as values a developer can use in their Python Function.

Repro:

1. Create a HTTP Trigger with current in-preview tooling.
2. Modify route field in function.json (sample shown below):

[code]
3. Attempt to access any of the URL values as variables / p

[2018-10-25 20:10] tjhgit commented on #217
Thanks for the link to the Dockerfile.

[2018-10-25 20:13] tjhgit commented on #210
I also deployed a python consumption app and noticed that the first http request after some idle time returns a 500. Repeating the request immediately again then leads to success.
Does the underlying server take so long to start? I am currently using WestEuropeLinuxDynamicPlan (Consumption: 0 Small). Is a more expensive plan better in this respect or is the only option to choose the dedicated plan

[2018-10-25 20:15] tjhgit commented on #227
I am experimenting with triggering an azure batch job from an azure function. So this is completely asynchronous and you can also scale up the compute ressources easily in azure batch.

[2018-10-26 13:13] pragnagopa commented on #222
Ping! We have a runtime release coming up. Please address this soon. Adding a scheduled nightly build that uses the CLI works as well.

[2018-10-26 19:52] tbarlow12 commented on #182
@ahmelsayed or @asavaritayal any idea how to restrict the build/deployment to happen only on master?

[2018-10-29 15:18] fernandrez opened #229 "Failed to start language worker for: python."
I followed the steps in [AzureFunctions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local) to create a Python Function but when I tried to run it with ```func start``` I got:
[code]

#### Investigative information

Please provide the following:

- 29/10/2018 15:09:29
- Function App name Deployer
- Function name(s) (as appropriate): ARM

#### Repro steps

Provide the steps

[2018-10-29 16:51] maiqbal11 commented on #229
Looks like the Python language worker is unable to establish communication with the Functions host to be able to process messages. However, I am unable to repro given the instructions that you've shared. Is this the first function that you are running or have you previously run functions (in other languages) on your machine?

[2018-10-29 18:43] maiqbal11 commented on #222
Chatted with @soninaren  on some of the points that @elprans raised in today's Python sync.

Elvis, you mentioned that you are currently using the Debian/Ubuntu artifact (`linux-x64`) for the CLI. This should be generated automatically whenever someone commits to the CLI repo and would be placed in **https://functionsclibuilds.blob.core.windows.net/builds/2/latest/Azure.Functions.Cli.linux-64.zip*

[2018-10-29 18:51] fernandrez commented on #229
I was able to run the C# example, but as soon as I include ```using Microsoft.IdentityModel.Clients.ActiveDirectory;``` it stops working; I mean the function is not indexed, and I am not being able to register the extensions, because the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-development-azure-functions-core-tools) is not reall

[2018-10-29 18:53] fernandrez commented on #229
Actually even on the portal "IDE" I get:
[code]

[2018-10-29 19:42] maiqbal11 commented on #229
For referencing external assemblies, you would need to first include the NuGet package.

To accomplish this in the Portal IDE, you can use the following instructions: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages. Note that all v2 functions run on .NET Core, so would need to include the appropriate tags in the *project.json* to target .NET C

[2018-10-29 20:17] fernandrez commented on #229
thank you @maiqbal11. Apparently the *project.json* approach does not work anymore, and we have to do it with the **function.proj** approach. It just worked for me including this content in the **function.proj** file:
[code]

[2018-10-29 20:31] maiqbal11 commented on #229
Glad that you were able to get unblocked. We'll work on getting documentation up to date.

Are you still facing the original issue you had with Python?

[2018-10-29 20:59] fernandrez commented on #229
I am @maiqbal11. To deliver something by EOD today I went the C# way using the portal as my IDE. Though I am definitely commited to get the Python local development environment working during the week. What do you think I am missing? What can I do to prevent the Python worker from timing out? Appreciate your time and availability.

[2018-10-29 21:05] maiqbal11 commented on #181
@elprans @pragnagopa

Synced with Pragna briefly on the kinds of logging messages that should be added to help with debugging customer CRIs:

1. Message when connection with GRPC is initiated and completed. Can include server and port information here.
2. Worker init request and response sequence
3. Function load request and response
4. Function invocation request and response

We cannot include d

[2018-10-29 21:11] maiqbal11 commented on #229
It's hard to say exactly as each person's development environment may have slight variations that can cause issues. I see that you're using Python installed through Visual Studio. You could try re-installing and using Python 3.6 from here: https://www.python.org/downloads/release/python-367/. I've encountered some issues (not necessarily Functions related) when trying to use the Python that Visual

[2018-10-29 21:37] fernandrez commented on #229
alright will install Python 3.6 from scratch, and will avoid using the Python installed trhough VS.
Will come back with the results.

[2018-10-29 23:04] maiqbal11 commented on #210
Related to issue https://github.com/Azure/azure-functions-host/issues/3618. Fix will be released tomorrow

[2018-10-29 23:04] #210 closed

[2018-10-29 23:06] maiqbal11 commented on #224
Hi @mbrat2005, could you provide your function.json as well as the code you are using for the timer trigger? Thanks!

[2018-10-30 07:47] tjhgit commented on #210
Do I have to do anything on my end. Like re-deploy or will the bug fix happen automatically?

[2018-10-30 15:52] maiqbal11 commented on #66
@elprans @asavaritayal @paulbatum

During our sync yesterday, Elvis had wanted to know whether the `bytearray` was necessary as a `dataType`. I believe it is there for parity with the other language workers? I do not have enough context on the implementation of the other language workers (Node in particular) to be able to articulate if this is needed or if we our emphasizing consistency.

[2018-10-30 16:31] mbrat2005 commented on #224
Hi @maiqbal11,

I'm not modifying the function.json or _init_.py files at all from what is
created by 'func new' with a Timer trigger.

Here is function.json:
{
"scriptFile": "__init__.py",
"bindings": [
{
"name": "mytimer",
"type": "timerTrigger",
"direction": "in",
"schedule": "0 */5 * * * *"
}
]
}

and _init_.py:
import datetime
import logging

import azure.functions as func

def main(mytimer:

[2018-10-30 20:33] asavaritayal commented on #228
You can use the `route_params` property to obtain the values in the URL segments. Example below -

[code]

[2018-10-30 20:33] #228 closed

[2018-10-30 22:35] sjwaight commented on #228
Appreciate it's still in early preview, but some documentation for this in the Developer Guide would be awesome (I'm happy to write but it looks like the wiki can't be forked).

[2018-10-31 03:34] asavaritayal commented on #228
@sjwaight thanks for the feedback. I'll make sure to add the relevant points to the Developer Guide.

For future reference, here's a link to the azure.functions HTTP API - https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions.httprequest?view=azure-python

[2018-11-01 18:21] maiqbal11 commented on #210
You shouldn't need to do anything. The fix will be rolled out soon (should be within the next few days).

[2018-11-02 15:39] maiqbal11 commented on #229
@fernandrez, were you able to get the function working?

[2018-11-02 17:46] maiqbal11 commented on #224
HI @mbrat2005, sorry for the delay in getting to this. This is definitely some bug on our end. To put into concrete terms what the issue is, the {AzureWebJobsStorage} connection string entry in the `local.settings.json` is somehow mismatched in its format:

[code]

When I specify an actual connection string with the correct format, I am able to see the timer trigger running correctly without needi

[2018-11-02 18:11] maiqbal11 commented on #224
Closing as this is currently  part of the WebJobs SDK design. Please feel free to re-open/comment if you have concerns.

[2018-11-02 18:11] #224 closed

[2018-11-05 15:50] maiqbal11 commented on #229
Closing as I believe this issue is resolved (judging by the thumbs on my earlier comment). Please feel free to comment if this is not the case.

[2018-11-05 15:50] #229 closed

[2018-11-05 15:56] jmo808 opened #230 "InputStream BytesIO object missing seek operation."
I am unable to load serialized objects either with pickle or joblib as the InputStream object from the Blob extension does not expose the seek operation.

[code]

[2018-11-05 16:32] elprans commented on #219
@asavaritayal Done.

[2018-11-05 16:36] elprans commented on #222
I'm getting a 404 on the URL now.

[2018-11-05 18:43] asavaritayal commented on #66
Update from the sync - don't need to support `bytearray`.

[2018-11-05 18:55] asavaritayal commented on #222
Here's the revised URL - https://functionsclibuilds.blob.core.windows.net/builds/2/latest/Azure.Functions.Cli.linux-x64.zip

[2018-11-05 19:09] asavaritayal commented on #230
Update from sync: we won't be supporting seek as an in-built operation on InputStream, given the potential conflicts with real stream support in the future.

@elprans can you please provide guidance on how to configure this on the user side?

[2018-11-05 19:10] asavaritayal commented on #223
@priyaananthasankar there was a bug in the language worker related to exception handling from urllib. @elprans has checked in a fix here - https://github.com/Azure/azure-functions-python-worker/commit/6068092982479932f1d2d3c315ee6835cdeac8c1 . Should be available with the next PyPI release.

[2018-11-05 19:10] #223 closed

[2018-11-05 19:11] asavaritayal commented on #222
Update from sync: @fabiocav to provide more info on setting up secrets with the storage build.

[2018-11-05 19:31] jmo808 commented on #230
I worked around it by connecting to blob storage via the REST API but it’s obviously a bit more work than relying on the functions framework. Pickle and joblib require obj.seek(0) before loading the BytesIO object or they fail to load claiming a serialization error.  This prevents the loading of sklearn models from blob storage if you are using an InputStream. (And probably keras too).

Jules

Get

[2018-11-05 20:17] tjhgit opened #232 "MSI support for linux consumption"
I can set an identity (az functionapp identity assign) for my function app and register this identity with keyvault.

However when using MSIAuthentification() in the function app I get the error message:
* Getting error “MSI_ENDPOINT not in environment” when running the function app (method: MSIAuthentification())

What am I doing wrong?

[2018-11-06 18:58] maiqbal11 commented on #222
Further elaborating on what the purpose of using the CLI would be. Currently, the tests are being run with direct communication between the worker and the host (i.e. runtime). This requires the management of secrets so that endpoints can be called. Using the CLI to start the host (i.e. `func host start`) and then running against that host, however, is an anonymous scheme and would not require the

[2018-11-06 19:18] jmo808 commented on #213
I had Keras TF models working in functions in August but only in a container/locally as the 200MB model proved a challenge for the service. I recently got sklearn models working loading them from blob. Originally I wanted to have routes mapped to model versions but as per this issue: https://github.com/Azure/azure-functions-python-worker/issues/230

The inputStream object is missing the BytesIO me

[2018-11-06 22:13] tjhgit commented on #232
@asavaritayal : Is MSI also not supported for dedicated linux (docker) app plan? What is your suggestion on to how to access keyvault secrets from a linux app, then?

[2018-11-07 17:10] mattchenderson commented on #232
@tjhgit We're hoping to have it supported for dedicated Linux very soon. Certainly by end of year.

[2018-11-07 19:03] fernandrez commented on #229
Sorry for the delay, only today was I able to try this. And I keep getting the same error even using a newly installed Python 3.6.7 from the link

[2018-11-07 19:13] ankitkumarr opened #233 "Adding pathlib==1.0.1 to requirements.txt causes worker to fail with 500 in the server"
#### Investigative information
The error seen on the portal was:

[Error] Executed 'Functions.HttpTrigger' (Failed, Id=4dab531b-bebe-42f6-8f67-e391ee857b4f)
Result: Failure
Exception: TypeError: expected str, bytes or os.PathLike object, not PosixPath
Stack:   File "/home/site/wwwroot/worker_venv/lib/python3.6/site-packages/azure/functions_worker/dispatcher.py", line 203, in _handle__function_load

[2018-11-07 19:17] fernandrez commented on #229
`C:\path_to_folder\Deply>func start

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

Azure Functions Core Tools (2.1.748 Commit hash: 5db20665cf0c

[2018-11-07 19:29] fernandrez commented on #229
This is my local.settings.json:

`{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
	"AzureWebJobsStorage": "UseDevelopmentStorage=true"
  }
}`

[2018-11-07 23:00] asavaritayal commented on #233
@elprans can you investigate this?

[2018-11-07 23:45] elprans commented on #233
`pathlib` is a standard library module in Python 3.4+ and MUST NOT be installed on later versions.

[2018-11-07 23:48] ankitkumarr commented on #233
/cc @sjwaight

[2018-11-08 13:10] fernandrez opened #234 "Language Worker Process Exited"
I followed the steps in [AzureFunctions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local) to create a Python Function but when I tried to run it with ```func start``` I got:
[code]

#### Investigative information

Please provide the following:

- 29/10/2018 15:09:29
- Function App name Deployer
- Function name(s) (as appropriate): ARM

#### Repro steps

Provide the steps

[2018-11-08 18:44] ankitkumarr commented on #233
Thanks @elprans! I will close this issue.

Out of curiosity, would you know what specifically causes it to fail in the server but not locally?

[2018-11-08 18:44] #233 closed

[2018-11-09 17:54] asavaritayal commented on #66
@elprans do you have an update on this issue?

[2018-11-09 18:32] maiqbal11 commented on #234
Could you share the exact steps that you are following to set up the app? The current authoritative guide for setting up the function is here: https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function which is different from what you reference [AzureFunctions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local). Both should allow you to s

[2018-11-11 10:17] sjwaight opened #235 "Invoking local binary using call results in "PermissionError: 13""
The Python Function I am deploying has a custom-built C binary that is uploaded along with the Python code. When the Python Function code attempts to use 'call' to invoke the C binary to do some processing it results in an Exception (PermissionError 13).

As the Linux Consumption Preview doesn't yet have a functional bash / system prompt it's a bit hard to determine exact issue, but I am expecting

[2018-11-12 16:49] elprans commented on #66
@asavaritayal I'm working on the implementation of this.  Should be ready today or tomorrow.

[2018-11-12 18:49] asavaritayal commented on #230
Adding to the backlog. Two separate work items required here:

1. Document how to use seek with InputStream.
2. Add functionality for seek(0) as a special case.

[2018-11-12 18:58] asavaritayal commented on #235
To use custom C binaries, your code should be located in the shared code folder of a function app. More info here - https://github.com/Azure/azure-functions-python-worker/wiki/Developer-Guide#folder-structure

In order to call the C binary from your function, you'll need to use the CFFI interface for Python - https://cffi.readthedocs.io/en/latest/

[2018-11-12 18:59] #235 closed

[2018-11-12 23:36] maiqbal11 opened #236 "Enable concurrent execution of Python functions"
I've managed to isolate an issue where a queue trigger function is unable to call an http endpoint from a function with the same app. This behavior manifests when the functions are synchronous or asynchronous.

#### Repro steps

Provide the steps required to reproduce the problem:

1. The offending code is here: [QueueWithHttpCall.zip](https://github.com/Azure/azure-functions-python-worker/files/2

[2018-11-12 23:37] maiqbal11 commented on #236
\cc @asavaritayal  @1st1 @elprans

[2018-11-13 04:45] yokawasa opened #237 "Dependencies ERROR in publishing Python functions with func command"
I cannot publish Python functions with func command as I get  the following dependencies ERROR.

#### Errors  & Repro steps:

**ERRORS**

ed.  Use the --build-native-deps option to try building the binary dependencies using a Docker container.

Here are repo steps:

First of all, I tried to publish my functions with the following command:

[code]
Then, as instructed by error message, I tried to pu

[2018-11-13 08:35] asavaritayal commented on #237
@yokawasa can you please share your `requirements.txt` file?

[2018-11-13 08:37] asavaritayal commented on #236
@elprans can you investigate this issue?

[2018-11-13 10:00] yokawasa commented on #237
@asavaritayal
Here is `requirements.txt` file

[code]

[2018-11-13 18:46] asavaritayal commented on #237
@ankitkumarr I am able to reproduce the exact error using the requirements file above. Can you please investigate the underlying issue?

@carltongibson re:

This is exactly what `--build-native-deps` does, in a docker container to ensure that the wheel binaries are built in an environment similar to the host.

[2018-11-13 18:48] asavaritayal commented on #236
Also adding @1st1 since this seems to be related to how we're handling the thread pool.

[2018-11-13 19:08] ankitkumarr commented on #237
Hi,

This issue (similar to https://github.com/Azure/azure-functions-core-tools/issues/826) was fixed in https://github.com/Azure/azure-functions-core-tools/pull/850.

A new release of `azure-functions-core-tools` should be out soon with the fix in it.

[2018-11-13 22:48] elprans commented on #236
@maiqbal11 You async case does not work because you are making a blocking http request, which blocks the entire event loop.  Use aiohttp to make self-requests and it would work.

As for the sync case, I don't think we can handle this safely.  Increasing `max_workers` to a value greater than `1` opens a huge can of worms, since it makes user code essentially multi-threaded with all the consequences

[2018-11-13 22:55] elprans commented on #222
@asavaritayal @maiqbal11 What about the extensions we currently install to test various bindings?  Currently, we pin these to specific versions, since `func extensions install` seems to require a specific version.  It seems inconsistent that we test on the latest CLI/host, but not the latest extensions.

[2018-11-13 22:59] pragnagopa commented on #222
@elprans - Good point. If extensions.csproj is not present, `func extensions install` will get the latest versions.

[2018-11-13 23:03] elprans commented on #222
@pragnagopa We have multiple test apps and we symlink the compiled extensions to each app.  We need a way to install the latest versions of the extensions by name.

[2018-11-14 00:51] asavaritayal commented on #237
Thanks @ankitkumarr ! I tried again and was able to successfully publish using the same requirements as before.

@yokawasa I'm closing the issue for now. Please feel free to re-open if you still see any issues. Thanks for trying this feature in preview.

[2018-11-14 00:51] #237 closed

[2018-11-14 16:58] maiqbal11 commented on #236
@elprans Works as expected when using `aiohttp`. Thanks for the clarification! Since the sync case can't be handled safely, the recommendation would be to use async constructs when sending requests to the same function app.

[2018-11-14 19:01] maiqbal11 commented on #236
\cc @fabiocav @paulbatum

[2018-11-14 22:25] bowdenk7 opened #238 "CORS issue"
Having trouble with CORS.

#### Investigative information

Please provide the following:

- Timestamp: 2:14PM November 14th 2018
- Function App name: recommender-test-4
- Function name(s) (as appropriate): GetRecommendations

#### Repro steps

Provide the steps required to reproduce the problem:

1. Deployed [this app](https://github.com/bowdenk7/connect2018-function).
- Returns json as expected:

[2018-11-14 23:40] maiqbal11 commented on #236
Re-opening as there is some pending discussion on, potentially, raising the number of workers in the thread pool executor.

[2018-11-15 00:20] asavaritayal commented on #238
Here's the API reference for `azure.functions.HttpResponse` - https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions.httpresponse?view=azure-python

[2018-11-15 01:30] maiqbal11 commented on #238
You can try adding the headers to specify the missing information as @asavaritayal suggested. If this does not solve the issue, we can look into it some more.

[2018-11-15 16:09] pragnagopa commented on #222
@elprans - You can use command `func extensions install --force` to force the cli to fetch the latest extensions.

[2018-11-15 22:35] maiqbal11 commented on #236
Based on a conversation with @paulbatum who had a few questions/ideas about changing the thread pool size. The basic question is whether we should trade off some of the safety guarantees of having single-threaded user code in favor of allowing (potentially non-proficient) users to write sync code that can run more concurrently.

For more context, the issue in this thread was raised by an internal

[2018-11-16 03:12] #238 closed

[2018-11-16 03:52] sjwaight commented on #235
As an addendum - we're assuming we can write / read to /tmp on Function hosts in Azure - is this valid, or is there another path we should be using for scratch files?

[2018-11-16 19:13] asavaritayal commented on #234
Closing issue due to inactivity. Please feel free to re-open with more details.

[2018-11-16 19:13] #234 closed

[2018-11-17 17:05] Chan9390 commented on #234
Hey @asavaritayal I am facing the same issue on Ubuntu 16.04.

[2018-11-17 17:11] Chan9390 commented on #234
I have followed the steps mentioned in https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function.

Here is the output when I run `func host start`:

[code]

[2018-11-19 17:32] pragnagopa commented on #66
@elprans - `dataType` is used by the functions host to serialize input trigger data. When this data is sent to the language worker, [TypedData](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L260)  is already set to right type.

[2018-11-19 17:38] elprans commented on #66
Also, "bytes" seems not to be a correct setting for "dataType":

[code]

[2018-11-19 17:42] pragnagopa commented on #66
Correct. For bytes, 'dataType` needs to be set to `binary`. See [DataType.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Binding/DataType.cs). Both Stream and Binary convert to `bytes` in TypedData

[2018-11-19 17:53] elprans commented on #66
Ideally, `dataType` should be exposed.  Serialization/de-serialization is a symmetric process, so the same logic applies to the worker.  We cannot reliably infer the desired intent from the incoming `TypedData` at runtime in all cases.

[2018-11-19 17:58] pragnagopa commented on #66
The intention of communication over grpc layer to provide all the necessary details a language worker needs to execute a function. Can you please give an example where the current information in TypedData is misrepresented? We should fix host to provide the right information.

If the scenario does demand `dataType` to be passed along, we should update the protobuff.

[2018-11-19 18:09] elprans commented on #66
Without `dataType` it is impossible to determine the correct Python type for the blob binding if the user didn't provide an explicit type annotation. And even _with_ an explicit Python annotation it would be impossible to detect the discrepancy with `function.json`.

For example, this:

[code]

would send the exact same `TypedData` as this:

[code]

Since the Python type annotations are optional,

[2018-11-19 19:18] asavaritayal commented on #222
Update from sync: You should be able to create an extensions.csproj with dummy version numbers. `func extensions install --force` will ignore the versions and install the latest versions of all the listed extensions.

[2018-11-19 19:20] maiqbal11 commented on #222
I believe this should be possible but still need to confirm and also see if this is the official way of achieving this.

[2018-11-19 19:44] pragnagopa commented on #222
Yes. `func extensions install --force` is the way to get the latest extensions.

[2018-11-19 20:10] brettcannon commented on #236
Since I was cc'ed I will say my opinion is to agree with Elvis and say to not up the number of workers and push users towards `async`/`await` to both keep the worker simpler and to help users not shoot themselves in the foot with threaded code.

[2018-11-19 21:04] paulbatum commented on #236
Hey @brettcannon thanks for weighing in. I am trying to figure out how to follow your advice, balancing that with the promises we make around functions regarding dynamic scaling, and effective utilization of our hardware. For example, I have concerns that many python users will write their functions using synchronous APIs, and this will result in very poor per-instance throughput (e.g the entire a

[2018-11-20 21:20] brettcannon commented on #236
No, there's nothing special here in regards to Python and threads. The only thing to be aware of is CPython's GIL means that CPU-bound code won't see any benefit through threading, only I/O-bound code.

[2018-11-21 01:32] #181 closed

[2018-11-21 01:32] #226 closed

[2018-11-21 09:41] mataralhawiti commented on #227
+1 Absolutely

[2018-11-21 19:55] paulbatum commented on #236
Several other languages have APIs and surface area that is not threadsafe - C# and Java are both good examples. We don't force those to run single threaded. We rely on customers to either stay in the stateless programming model (and not worry about threadsafety), or to be careful when they go outside the bounds of the stateless model (such by using static variables).

I am not sure I understand wh

[2018-11-21 20:37] brettcannon commented on #236
Threading is just not as big of a thing in the Python community as it is in C# and Java. The GIL is enough of a thing that most people simply don't bother. This means you can't rely on libraries to not stuff things into global state that won't fall over badly in a multi-threaded situation because they never cared about race conditions. I don't know how the worker runs multiple functions, but if yo

[2018-11-21 22:17] paulbatum commented on #236
@brettcannon Thanks Brett, this helps. Following on a little from your point about what it might make sense to start with and what we could change later, I'm concerned that starting with single threaded mode will tie our hands somewhat in that we could not really switch the default to multiple threads at a later point in time, without the risk of suddenly breaking lots of code that was written wit

[2018-11-25 07:45] priyaananthasankar opened #240 "Event Grid Trigger not working"
Event Grid Trigger does not work, crashes when `func host start` command is issued:

Logs:

Azure Functions Core Tools (2.0.3)
Function Runtime Version: 2.0.12115.0
: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/Users/prananth/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
info: Host.General[0]

[2018-11-25 15:48] elprans commented on #240
This doesn't look like a worker issue:

[code]

[2018-11-26 07:52] SaschaSchlemmer commented on #227
+1 for long running analytics/ML jobs

[2018-11-26 15:49] maiqbal11 commented on #240
Hi Priya, Are you specifying a valid storage account for your app? This is needed for all triggers except for HTTP. Someone had a similar issue as this, but with a timer trigger: #224.

[2018-11-26 18:41] asavaritayal opened #241 "Test logging on Linux dedicated"

[2018-11-26 19:14] asavaritayal opened #242 "Release 1.0.0b1"
Public preview release candidate for the language worker and library.

[2018-11-26 19:18] priyaananthasankar commented on #240
No I haven't specified a valid connection string. However this has to be mentioned in documentation or such if Webjobs SDK cannot be fixed, because it looks like a bug and the message is not intuitive either.

[2018-11-26 20:45] asavaritayal commented on #240
/cc @ggailey777 for docs feedback

@priyaananthasankar can you please confirm if your app works with the storage setting?

[2018-11-27 00:19] elprans commented on #242
Done.

[2018-11-27 00:19] #242 closed

[2018-11-27 01:36] asavaritayal opened #243 "Add worker.config.json to package metadata"
Currently, the `worker.py` and `worker.config.json` files are not published to the `azure-functions-worker` package on PyPI.  This causes confusion in the tooling since it has to install the package from PyPI but pull these specific files from GitHub.

Ideally, everything should be part of the same package on PyPI.

@pragnagopa is there a reason this isn't already the case?

/cc @ankitkumarr @ahme

[2018-11-27 01:56] pragnagopa commented on #243
I have raised this concern earlier. Yes we should include these files.
@elprans - any blockers to include these files?

[2018-11-27 03:05] elprans commented on #243
I was hoping we could get https://github.com/Azure/azure-functions-host/pull/3369 merged so that `worker.py` is not necessary.

[2018-11-27 03:11] elprans commented on #243
Also, bundling non-Python stuff with Python packages does not exactly make them easily accessible for outside programs.  The CLI would still have to call into `pkg_resources` to obtain the JSON file path.

[2018-11-27 04:40] pragnagopa commented on #243
Can you rebase the PR? Do you have any suggestions for distributing worker.config.json?

[2018-11-27 17:16] asavaritayal opened #244 "Provide guidance for unit testing"

[2018-11-27 17:42] elprans commented on #243
The worker itself does not need `worker.config.json`, its format is specified and consumed by the host, so it would make sense to keep and distribute it together with the host/CLI builds.  Given the differences in packaging for different languages it seems to be more hassle than it's worth to keep `worker.config.json` with the worker implementation.

[2018-11-27 17:46] pragnagopa commented on #243
`worker.config.json` is used by the host to discover language workers. Information provided in this file is specific to the language worker implementation. This is not a stand alone file we can include in host/cli.
Is there a concept of resource files in a pypi package? If yes, we should include `worker.config.json` and we will update the tools to fetch the file from the package

[2018-11-27 18:12] elprans commented on #243
The most reliable way to do this with Python would be to distribute `worker.config.json` as part of the package metadata and access it with `pkg_resources`.

[2018-11-27 18:32] pragnagopa commented on #243
@maiqbal11 - Once this issue is addressed, CLI and docker images need to be updated to pull `worker.config.json` from pkg_resources

PR https://github.com/Azure/azure-functions-host/pull/3369 needs to be merged as well.

[2018-11-28 00:01] asavaritayal commented on #219
@elprans, @brettcannon ran into the same issue yesterday. Is there a way we can work around the relative import syntax for shared modules?

[2018-11-28 00:11] elprans commented on #219
@asavaritayal, @brettcannon What exactly is wrong with relative imports?

[2018-11-28 21:01] brettcannon commented on #219
@elprans it leads to an odd project layout. For instance, my project is now laid out as:
- `pvscbot`
  - `__init__.py` (needed, else pytest isn't happy)
  - `requirements.txt`
  - `github/`
    - `__init__.py`
    - ...
  - `ghutils/`
    - `__init__.py`
    - ...

I'm working entirely within the pvscbot directory. So I have `pvscbot` opened as the directory in VS Code, but I'm needing to run `pyt

[2018-11-28 21:47] elprans commented on #219
OK, but the function app directory layout isn't really dictated by the worker, it's how host/CLI expect it to be.  The issue at hand is how you address the Python modules that comprise your function app (which is currently to import them using the relative import syntax).  Am I missing something?

[2018-11-28 22:40] elprans commented on #219
I think that's reasonable.  But then again, it's not up to the worker how the code is laid out.  The host dictates the path to the function directory, and that's it.

[2018-11-28 22:51] elprans commented on #219
To clarify, we currently employ this importlib hackery to make even the relative imports work properly:

https://github.com/Azure/azure-functions-python-worker/blob/5ce1d218dcfd8560b665df06103c210a7a285826/azure/functions_worker/loader.py#L23-L29

Again, this is because we can't really rely on the layout or the setting of `PYTHONPATH`.

[2018-11-29 15:28] pragnagopa opened #246 "Python worker 1.0.0b1 is a breaking change from 1.0.0a6"
Worker.py needs to be backward compatible with  1.0.0a6

[2018-11-29 19:42] brettcannon commented on #219
@elprans thanks for the details!

@asavaritayal not sure if these layout requirements can change, but that's my feedback about where you are currently asked to place files.

[2018-11-30 17:35] brettcannon opened #248 "logging.debug() doesn't seem to make it to the logs"
`info()`, `warning()`, and `error()` all show up in Application Insights, but `debug()` does not. Not sure if this is a worker issue or an Application Insights issue.

[2018-11-30 21:05] elprans commented on #248
The default log level is `INFO`, you need to run the worker with `--log-level=DEBUG` to get the debug messages.

[2018-11-30 21:37] monteledwards opened #249 "Unable to import pyodbc - even with --build-native-deps"
For the sake of simplicity, i've shortnened function to as follows

[code]

I deploy to Azure with `func azure functionapp publish myfunctionapp --build-native-deps --additional-packages "python3-dev libevent-dev unixodbc-dev "`

And I still get issues when trying to execute the function. HTTP responds with 500 and the portal tells me

In our actual project where this import statement lives in sha

[2018-12-01 00:57] maiqbal11 commented on #249
Hi @monteledwards, could you share your requirements.txt file?

[2018-12-01 07:09] ashfondu opened #250 "python setup.py webhost step fails"
I have run into the same issue as #108  when running 'python setup.py webhost' - i get the following error. i am fairly new to Python so my ability to self resolve is basic
_Downloading Azure Functions Web Host...
Extracting Azure Functions Web Host binaries...
error: [WinError 2] The system cannot find the file specified_

The alternative instructions also makes little sense. i did download the z

[2018-12-01 09:30] monteledwards commented on #249
azure-functions
azure-functions-worker
pyodbc

[2018-12-01 21:35] asavaritayal commented on #246
1.0.0b1 has been held off from the release due to the possibility of a breaking change.

[2018-12-01 21:36] asavaritayal commented on #249
@monteledwards what specific versions of azure-functions and azure-functions-worker ?

[2018-12-01 21:37] asavaritayal commented on #250
@ashfondu can you please share exact repro steps?

[2018-12-01 21:42] ashfondu commented on #250
i followed the following guide - got to section 'setup development environment' without any errors but received the error on step 5 (run python setup.py webhost).
_Downloading Azure Functions Web Host...
Extracting Azure Functions Web Host binaries...
error: [WinError 2] The system cannot find the file specified_
https://github.com/Azure/azure-functions-python-worker/wiki/Contributor-Guide

lmk wh

[2018-12-02 00:18] elprans commented on #250
@ashfondu Make sure you have https://github.com/Azure/azure-functions-core-tools installed

[2018-12-02 00:29] ashfondu commented on #250
Azure-function-core-tools were installed using _[npm i -g azure-functions-core-tools --unsafe-perm true]_ and the following prerequisites were also satisfied

    Python 3.6.x
    dotnetcore-sdk 2.x
    azure-functions-core-tools 2.x

[2018-12-03 05:44] ashfondu commented on #250
Just providing an update - i was able to resolve this although not sure how but i think the error could be due to hard requirement of Python 3.6.
I used Choclatey this time to install Azure Core Functions tool.
Used WSL instead of PowerShell.
Thanks hope it helps.